@model Sampoerna.EMS.Website.Models.MonthClosing.MonthClosingIndexViewModel

<table id="MonthClosingTable" class="table cell-border display no-wrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> Filter </th>
            <th>Plant</th>
            <th>Day</th>
            <th>Month</th>
            <th>Year</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Action</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MonthClosingList.Count(); i++)
        {
            <tr>

                <td class="action">
                    <a href="@Url.Action("Detail", "MonthClosing", new { id = Model.MonthClosingList[i].MonthClosingId })" data-toggle=" tooltip" data-placement="top" title="Detail"><i class="fa fa-eye"></i></a>
                    @if (Model.IsNotViewer)
                    {
                        <a href="@Url.Action("Edit", "MonthClosing", new { id = Model.MonthClosingList[i].MonthClosingId })" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-pencil-square-o"></i></a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => model.MonthClosingList[i].PlantId)-@Html.DisplayFor(model => model.MonthClosingList[i].PlantName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MonthClosingList[i].ClosingDay)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MonthClosingList[i].ClosingMonth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MonthClosingList[i].ClosingYear)
                </td>

            </tr>
        }

    </tbody>
</table>