@model Sampoerna.EMS.Website.Models.PRODUCTION.ProductionDetail
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Production", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Daily Production Edit</h3>
                <div class="action-button">
                    <button class="btn btn-blue" id="btnSave">Save</button>
                    <a href="@Url.Action("Index", "Production")" class="btn btn-grey">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="information" class="tab-pane active" role="tabpanel">
                            <div class="">
                                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                                    <div class="panel panel-default">
                                        <div id="headingOne" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                                    CK-4C Daily Production Edit
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                                            <div class="panel-body">
                                                <div role="form" class="form-excise">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Company<span class="red">*</span></label>
                                                                @Html.HiddenFor(model => model.CompanyCodeX)
                                                                @Html.HiddenFor(model => model.CompanyName)
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.CompanyCode, Model.CompanyCodeList, "Select", new { @class = "form-control " })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Plant<span class="red">*</span></label>
                                                                @Html.HiddenFor(model => model.PlantWerksX)
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.PlantWerks, Model.PlantWerkList, "Select", new { @class = "form-control ", id = "SearchInput_PlantId" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Date<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.HiddenFor(model => model.ProductionDateX)
                                                                    <div class="input-group date">
                                                                        @Html.TextBoxFor(model => model.ProductionDate, new { @class = "form-control" })
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Finish Good<span class="red">*</span></label>
                                                                @Html.HiddenFor(model => model.FaCodeX)
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.FaCode, Model.FacodeList, null, new { @class = "form-control", id = "SearchInput_BrandCe" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Description</label>
                                                                <div class="col-md-8">
                                                                    @Html.HiddenFor(model => model.BrandDescription)
                                                                    @Html.TextAreaFor(model => model.BrandDescription, new { @class = "form-control", disabled = "disabled", id = "test" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Quantity Packed<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.HiddenFor(model => model.QtyPackedStr)
                                                                    @if (Model.IsBrandFromSap)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.QtyPackedStr, new { @class = " form-control", disabled = "disabled", id = "QtyPacked" })
                                                                        
                                                                    }
                                                                    else
                                                                    {
                                                                        
                                                                        @Html.TextBoxFor(model => model.QtyPackedStr, new { @class = " form-control",  id="QtyPacked" })    
                                                                    }
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div id="remarkRow" class="row">
                                                                <label class="col-md-4">Remark</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextAreaFor(model => model.Remark, 6, 20, new { @class = "form-control", id = "remark" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div id="zbRow" class="row">
                                                                <label class="col-md-4"> ZB<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @*@Html.HiddenFor(model => model.ZbStr)*@
                                                                    @Html.TextBoxFor(model => model.ZbStr, new { @class = "decimal form-control" })
                                                                </div>
                                                            </div>
                                                            <div id="packedAdjustedRow" class="row">
                                                                <label class="col-md-4"> Packed-Adjusted</label>
                                                                <div class="col-md-8">
                                                                    @*@Html.HiddenFor(model => model.PackedAdjustedStr)*@
                                                                    @Html.TextBoxFor(model => model.PackedAdjustedStr, new { @class = "decimal form-control" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <label class="col-md-4"> Produced Qty</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.QtyStr, new { @class = "decimal form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Uom<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.Uom, Model.UomList, "Select", new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Product Quantity Stick</label>
                                                                <div class="col-md-8">
                                                                    @Html.HiddenFor(model => model.ProdQtyStickStr)
                                                                    @Html.TextBoxFor(model => model.ProdQtyStickStr, new { @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4"> Bundle </label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.Bundle, new { @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4"> Market </label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.Market, new { @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4"> Material Document Number </label>
                                                                <div class="col-md-8">
                                                                    @Html.HiddenFor(model => model.Batch)
                                                                    @Html.TextBoxFor(model => model.MatDoc, new { @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4"> Created By </label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = " form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4"> Created Date </label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.CreatedDate, new { @class = " form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="red" id="ClosingMonthText"></span>
                                </div>
                            </div>

                            <div id="ModalCloseMonth" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Error</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <span id="modalBodyMessage">Please check closing date.</span>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script src="~/Scripts/thousand-separator.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuCk4cDailyProduction').addClass('active');

        $('#QtyPackedStr').val(ThausandSeperator($('#QtyPackedStr').val(), 2));
        $('#ProdQtyStickStr').val(ThausandSeperator($('#ProdQtyStickStr').val(), 2));
        $('#QtyStr').val(ThausandSeperator($('#QtyStr').val(), 2));
        $('#ZbStr').val(ThausandSeperator($('#ZbStr').val(), 2));
        $('#PackedAdjustedStr').val(ThausandSeperator($('#PackedAdjustedStr').val(), 2));
        $('#packedAdjustedRow').hide();
        $('#remarkRow').hide();
        $('#zbRow').hide();


        $(document).ready(function() {
            var cpy = $("#CompanyCode").find("option:selected").val();

            $('#SearchInput_PlantId option').remove();
            $('#SearchInput_BrandCe option').remove();

            ajaxSelectCompany('@Url.Action("CompanyListPartialProduction", "Production")', { companyId: cpy });
            
        });


        $("#CompanyCode").change(function() {
            if ($("#CompanyCode").length) {
                var cpy = $(this).find("option:selected").val();
                $('#SearchInput_PlantId option').remove();
                if (cpy == '' || $(this).find("option:selected").val() == '') {
                    $('#SearchInput_PlantId option').append('<option value="">Select</option>');

                } else {
                    ajaxSelectCompany('@Url.Action("CompanyListPartialProduction", "Production")', { companyId: cpy });
                }
            }
        });


        function ajaxSelectCompany(url, formData) {
            if (formData.companyId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        var listPlant = data.PlantWerkList;
                        $('#SearchInput_PlantId').append('<option value="" selected>Select</option>');
                        if (listPlant.length > 0) {
                            //alert("test");
                            for (var i = 0; i < listPlant.length; i++) {
                                $('#SearchInput_PlantId').append('<option value=' + listPlant[i].Value + '>' + listPlant[i].Text + '</option>');
                            }

                        }
                        var listPlantX = '@Model.PlantWerks';
                        var exist = 0 != $('#SearchInput_PlantId option[value=' + listPlantX + ']').length;
                        if (exist) $('#SearchInput_PlantId').val(listPlantX);

                        ajaxSelectPlantWerks('@Url.Action("GetBrandCeByPlant", "Production")', { plantWerk: listPlantX });
                        $('#SearchInput_BrandCe option').remove();
                    }
                });
            }
        }

        $("#FaCode").change(function() {
            if ($("#FaCode").length) {
                var FaDesc = $(this).find("option:selected").val();
                
                if (FaDesc == '') {
                    $('#BrandDescription').val('');
                } else {
                    ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "Production")', { faCode: FaDesc });
                }
            }

        });

        function ajaxFaCodeDescription(url, formData) {
            if (formData.faCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#BrandDescription').val(data.BRAND_CE);
                        if (!data.IS_FROM_SAP) {
                            $('#QtyPackedStr').prop('disabled', false);
                        } else {
                            $('#QtyPackedStr').val('');
                            $('#QtyPackedStr').prop('disabled', true);
                        }
                    }
                });
            }

        }

        $("#SearchInput_PlantId").change(function() {
            if ($("#SearchInput_PlantId").length) {
                var ce = $(this).find("option:selected").val();
                var date = $("#ProductionDate").val();
                $('#SearchInput_BrandCe option').remove();
                $('#btnSave').prop('disabled', false);
                $('#ClosingMonthText').html('');
                if (ce == '' || $(this).find("option:selected").val() == '') {
                    $('#SearchInput_BrandCe option').append('<option value="">Select</option>');

                } else {
                    ajaxSelectPlantWerks('@Url.Action("GetBrandCeByPlant", "Production")', { plantWerk: ce });
                    checkClosingDate('@Url.Action("CheckClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
                    displayClosingDate('@Url.Action("DisplayClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
                }
            }
        });

        function ajaxSelectPlantWerks(url, formData) {
            if (formData.plantWerk) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        var facodeList = data.FacodeList;
                        $('#SearchInput_BrandCe').append('<option value="">Select</option>');
                        if (facodeList.length > 0) {
                            for (var i = 0; i < facodeList.length; i++) {
                                $('#SearchInput_BrandCe').append('<option value=' + facodeList[i].Value + '>' + facodeList[i].Text + '</option>');
                            }
                        }

                        var facodeListX = '@Model.FaCode';
                        $('#SearchInput_BrandCe').val(facodeListX);

                        ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "Production")', { plantWerk: formData.plantWerk, faCode: facodeListX });
                    }
                });
            }
        }

        $("#SearchInput_BrandCe").change(function () {
            if ($("#SearchInput_BrandCe").length) {
                var FaDesc = $(this).find("option:selected").val();
                var Plant = $('#SearchInput_PlantId').val();
                if (FaDesc == '') {
                    $('#test').val('');
                } else {
                    ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "Production")', { plantWerk: Plant, faCode: FaDesc });
                }
            }

        });

        function ajaxFaCodeDescription(url, formData) {
            if (formData.plantWerk, formData.faCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#BrandDescription').val(data.BRAND_CE);
                        $('#test').val(data.BRAND_CE);
                        
                        if (!data.IS_FROM_SAP) {
                            $('#QtyPacked.form-control').prop('disabled', false);
                        } else {
                            $('#QtyPacked.form-control').val('');
                            $('#QtyPacked.form-control').prop('disabled', true);
                        }

                        if (data.PROD_CODE=="01") {
                            $('#zbRow').show();
                        } else {
                            $('#zbRow').hide();
                        }
                        if (data.PROD_CODE=="05" && data.EXC_GOOD_TYP=="02") {
                            $('#packedAdjustedRow').show();
                            $('#remarkRow').show();
                        } else {
                            $('#packedAdjustedRow').hide();
                            $('#remarkRow').hide();
                        }

                        if (data.PACKED_ADJUSTED == 0 || data.PACKED_ADJUSTED == null || data.PACKED_ADJUSTED == false) {
                            $('#PackedAdjusted').prop("disabled", true);
                        } else {
                            $('#PackedAdjusted').prop("disabled", false);
                        }
                    }
                });
            }
        }

        $('#QtyPacked.form-control').change(function (obj) {
            var data = $('#QtyPacked.form-control').val().replace(',', '');
            $('#QtyPackedStr').val(ThausandSeperator(data, 2));
            
        });

        $('#ZbStr.form-control').change(function (obj) {
            var data = $('#ZbStr.form-control').val().replace(',', '');
            $('#ZbStr').val(ThausandSeperator(data, 2));

        });

        $('#PackedAdjusted.form-control').change(function (obj) {
            var data = $('#PackedAdjusted.form-control').val().replace(',', '');
            $('#PackedAdjustedStr').val(ThausandSeperator(data, 2));

        });

        $("#ProductionDate").change(function () {
            var ce = $("#SearchInput_PlantId").find("option:selected").val();
            var date = $(this).val();
            $('#btnSave').prop('disabled', false);
            $('#ClosingMonthText').html('');
            checkClosingDate('@Url.Action("CheckClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
            displayClosingDate('@Url.Action("DisplayClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
        });

        function checkClosingDate(url, formData) {
            if (formData.plantWerk) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        if (data.MonthClosingId > 0) {
                            $('#btnSave').prop('disabled', true);
                            $('#ModalCloseMonth').modal('show');
                        }
                    }
                });
            }
        }

        function displayClosingDate(url, formData) {
            if (formData.plantWerk) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        if (data.MonthClosingId > 0) {
                            $('#ClosingMonthText').html(data.DisplayDate);
                        }
                    }
                });
            }
        }
        
    </script>
}
