@model Sampoerna.EMS.Website.Models.ChangeRequest.ChangeRequestModel
<style>
    .watermark {
        opacity: 0.1;
        color: BLACK;
        position: fixed;
        top: auto;
        left: 40%;
        top: 60%;
        font-size: 50pt;
        z-index: 1;
        /* Safari */
        -webkit-transform: rotate(-45deg);
        /* Firefox */
        -moz-transform: rotate(-45deg);
        /* IE */
        -ms-transform: rotate(-45deg);
        /* Opera */
        -o-transform: rotate(-45deg);
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
</style>
@{
    ViewBag.Title = "Create";

    var DetailIndex = Model.DetailCount;

    var HtmlDisabled = "";
    var closeHtmlDisabled = "";
    if (Model.IsFormReadOnly)
    {
        HtmlDisabled = "<fieldset disabled='disabled'>";
        closeHtmlDisabled = "</fieldset>";
    }
    var actionName = "Create";
    if (Model.ButtonCombination == "SubmitSKEP")
    {
        actionName = "SubmitSkep";
    }
}

@using (Ajax.BeginForm("ChangeLog", "ChangeRequest", 
                        new AjaxOptions
                        {
                           
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contenttable_changelog",
                            OnComplete = ""
                        }, new { @class = "form-excise", role = "form", @id = "ChangeLogForm" }))
{

}

@using (Html.BeginForm(actionName, "MLChangeRequest", FormMethod.Post, new { @id = "ChangeRequestForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        //////////// INIT START ////////////
        @Html.HiddenFor(model => model.Id, new { @id = "txt_hd_id" })
        @Html.HiddenFor(model => model.DocumentNumber)
        @Html.HiddenFor(model => model.File_Size, new { @id = "txt_hd_filesize" })
        @Html.HiddenFor(model => model.CreatedBy, new { @id = "txt_hd_createdby" })

        @Html.HiddenFor(model => model.LastApprovedStatus, new { @id = "txt_hd_status" })
        @Html.HiddenFor(model => model.IsFormReadOnly, new { @id = "txt_hd_isformreadonly" })
    //////////// INIT END ////////////
        <input type="hidden" id="hd_toggle" />
        <input type="hidden" id="hd_toggle_otherdoc" />
        <input type="hidden" id="hd_detail_index" value="@DetailIndex" />


        @Html.Partial("_ChangeRequestActionButtons", Model)


        <div class="container-wrap div_changerequest_utama">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" style="padding-left: 30px; display:none;" id="div_alert"></div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#print" id="btn-tab-printout" aria-controls="print" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation"><a href="#changes" id="btn-tab-changelog" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="info">
                            @if (Model.IsFormReadOnly)
                            {
                                <fieldset disabled="disabled">
                                    @Html.Partial("_NewChangeRequestForm", Model)
                               </fieldset>
                            }
                            else
                            {
                                @Html.Partial("_NewChangeRequestForm", Model)
                            }

                            @if ((Model.ButtonCombination == "SubmitSKEP") || (Model.ButtonCombination == "ApproveRejectFinal"))
                            {
                            <!-- SKEP-->
                                <div class="panel-group" id="accordionFour" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                    Fill SKep Section
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="form-excise" role="form">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <label class="col-md-4">Government Status</label>
                                                                <div class="col-md-8">
                                                                    @if ((Model.IsDetail) || (Model.ButtonCombination == "ApproveRejectFinal"))
                                                                    {
                                                                        @Html.DropDownListFor(model => model.DecreeStatus, Model.GovStatus_List, "Select", new { @class = "form-control", @id = "opt_govstatus", @disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.DecreeStatus, Model.GovStatus_List, "Select", new { @class = "form-control", @id = "opt_govstatus"  })
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <label class="col-md-4">SKep Number</label>
                                                                <div class="col-md-8">
                                                                    @if ((Model.IsDetail) || (Model.ButtonCombination == "ApproveRejectFinal"))
                                                                    {
                                                                        @Html.TextBoxFor(model => model.DecreeNumber, new { @class = "form-control", @type = "text", @id = "txt_decree_number", @disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.DecreeNumber, new { @class = "form-control", @type = "text", @id = "txt_decree_number" })
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <label class="col-md-3">Attachment</label>
                                                                @if ((Model.IsDetail) || (Model.ButtonCombination != "ApproveRejectFinal"))
                                                                {
                                                                    <div class="col-md-9 div_file div_file_badoc">
                                                                        <div class="col-md-4">
                                                                            <input type="text" id="txt_bafile_name" class="form-control" placeholder="File Name" />
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <input type="text" id="txt_badocfile_name" class="form-control txt_file_name" readonly placeholder="Select file">
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <button id="btn_browsebaDoc_file" class="btn_browse_file btn btn btn-blue" type="button">Browse</button>
                                                                            <button class="btn btn-blue" type="button" id="btn_add_badoc">Add</button>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>

                                                            <div class="col-md-12">
                                                                <table class="display table table-bordered table-striped" cellspacing="0" id="BaDocs">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="toggle-row" width="5%">#</th>
                                                                            <th width="40%">File</th>
                                                                            <th width="40%">File Name</th>
                                                                            @if ((Model.IsDetail) || (Model.ButtonCombination != "ApproveRejectFinal"))
                                                                            {
                                                                                <th width="15%">Actions</th>
                                                                            }
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="div_body_ba_doc">
                                                                        @{var baIndex = 0;
                                                                        }
                                                                        @foreach (var _file in Model.File_BA_Path_Plus)
                                                                        {
                                                                            baIndex++;                                                                            
                                                                            <tr>
                                                                                <td class="td_filename_number">@baIndex</td>
                                                                                <td class="td_filename">
                                                                                    <i class="fa fa-file"></i>&nbsp;<a href="@_file.Path" target="_blank" download>@_file.Name</a>
                                                                                </td>
                                                                                <td>
                                                                                    @_file.FileName
                                                                                </td>
                                                                                @if (!Model.IsDetail && Model.IsFormSkep)
                                                                                {
                                                                                    <td><button type="button" class="btn btn-blue btn_remove_badoc" data-fileuploadid="@_file.FileId">Delete</button></td>
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>


                                                            @*<br />
                                                            <div id="div_body_ba_doc">
                                                                @foreach (var _file in Model.File_BA_Path_Plus)
                                                                {
                                                                    var filename = _file.Replace("/files_upload/", "");
                                                                    var arrfileext = filename.Split('.');
                                                                    var countext = arrfileext.Count();
                                                                    var fileext = "";
                                                                    if (countext > 0)
                                                                    {
                                                                        fileext = arrfileext[countext - 1];
                                                                    }
                                                                    filename = filename.Replace("=MLIR=", "/");
                                                                    var arrfilename = filename.Split('/');
                                                                    if (arrfilename.Count() > 0)
                                                                    {
                                                                        filename = arrfilename[0] + "." + fileext;
                                                                    }
                                                                    <i class="fa fa-file"></i> <a href="@_file" download>@filename</a><br /><br />
                                                                }
                                                            </div>*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Workflow-->
                            <div class="panel-group" id="accordionFive" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                Workflow History
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="panel-body">
                                            <div class="table-container">
                                                @Html.Partial("_WorkflowHistoryTable", Model.WorkflowHistory)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div role="tabpanel" class="tab-pane" id="print">
                            <button type="button" class="btn btn-blue pull-right" id="btn_download_printout">Download Printout</button>
                            @if ((Model.IsApprover) || (Model.IsCreator))
                            {
                                <button type="button" id="btn_show_printouteditor" class="btn btn-blue pull-right" data-toggle="modal" data-target=".modal_editprintout">Edit Layout</button>
                            }
                            <div class="col-lg-12 table-container">
                                <div class="white-wrapper">
                                    <div class="row">
                                        @if (Model.Status == "DRAFT_NEW_STATUS" || Model.Status == "DRAFT_EDIT_STATUS" || Model.Status == "WAITING_POA_APPROVAL")
                                        {
                                            <div class="watermark">DRAFTED</div>
                                        }
                                        <div id="div-printout" style="padding:50px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="changes">
                            <div class="table-container contenttable_changelog" id="divChangeLog">
                                @*@Html.Partial("_ChangesHistoryTable", Model)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade in modal_ChangeStatus ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"><label id="txt_label_forchangestatus"></label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" style="padding-left: 30px; display:none;" id="div_alert_revise"></div>
                        <div class="form-group">
                            <label>Note for Creator <span class="red">*</span></label>
                            <textarea id="txt_changestatus_comment" class="form-control" rows="5" data-val="true" data-val-required="Rejection message should not be empty!" placeholder="Write the reason of rejection to creator" required="required" name="Comment"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="display:none;" type="button" class="btn btn-warning pull-right btn_changestatus_submit" data-action="revise" id="btn_changestatus_revise">Revise</button>
                        <button style="display:none;" type="button" class="btn btn-danger pull-right btn_changestatus_submit" data-action="reject" id="btn_changestatus_reject">Reject</button>
                        <button style="display:none;" type="button" class="btn btn-danger pull-right btn_changestatus_submit" data-action="finalreject" id="btn_finalreject">Revise</button>
                        <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
                    </div>


                    @*<div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-container">
                                    <div class="alert alert-danger" style="padding-left: 30px; display:none;" id="div_alert_revise"></div>
                                    <label>Comment<span class="red">*</span></label><br />
                                    <textarea id="txt_changestatus_comment" class="form-control" rows="5" data-val="true" data-val-required="Rejection message should not be empty!" placeholder="Write the reason of rejection to creator" required="required" name="Comment"></textarea>
                                    <button style="display:none;" type="button" class="btn btn-warning pull-right btn_changestatus_submit" data-action="revise" id="btn_changestatus_revise">Revise</button>
                                    <button style="display:none;" type="button" class="btn btn-danger pull-right btn_changestatus_submit" data-action="reject" id="btn_changestatus_reject">Reject</button>
                                    <button style="display:none;" type="button" class="btn btn-danger pull-right btn_changestatus_submit" data-action="finalreject" id="btn_finalreject">Revise</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="modal ems-modal fade modal_editprintout" tabindex="-1" role="dialog" aria-labelledby="EditorModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"><label>Edit Printout Layout</label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button type="button" class="btn btn-blue pull-right" data-toggle="modal" data-target=".restoredefault-modal.changerequest">Restore to Default</button>
                            <button type="button" class="btn btn-blue pull-right" id="btn_change_printoutlayout">Save Layout</button>
                        </div>
                        <div class="form-group">
                            <textarea id="txt_printoutlayout" class="form-control tinymce-editor"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

using (Html.BeginForm("DownloadPrintOut", "MLChangeRequest", FormMethod.Post, new { @id = "form_DownloadPrintout" }))
                                                                            {
    @Html.HiddenFor(model => model.Id, new { @id = "txt_hd_id_forprint" })
    @Html.HiddenFor(model => model.DocumentNumber, new { @id = "txt_hd_formnumber_forprint" })
}
                                                                            }
<div id="ck1List" style="display:none;"></div>

@foreach (var confirmation in Model.Confirmation)
{
    @Html.Partial("_ConfirmDialog", confirmation)
}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/autoNumeric.min.js"></script>
    <script src="~/Scripts/manufacture-license/changerequest-main.js?v=0.8.65"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">

        $('#MenuManufactureLicenseChangeRequestOpenDocument').addClass('active');
        $('#MenuManufactureLicenseLicenseRequestOpenDocument').removeClass('active');
        $('#MenuManufactureLicenseLicenseRequestOpenDocument').removeClass('open');
        $('#MenuManufactureLicenseInterviewRequestOpenDocument').removeClass('active');
        $('#MenuManufactureLicenseInterviewRequestOpenDocument').removeClass('open');


        $(document)
            .on("ready", EntryPoint)
            .on("unload", Cleanup);

        function TinyMceInit() {
            tinyMCE.init({
                mode: "specific_textareas",
                editor_selector: "tinymce-editor",
                theme: "modern",
                plugins: 'code nonbreaking pagebreak',
                menubar: false,
                statusbar: false,
                toolbar: "undo redo | removeformat | pagebreak nonbreaking | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent",
                pagebreak_separator: "<br />",
                width: '100%',
                height: "500",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: true,
                setup: function (ed) {
                    ed.on('keydown', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        window.event.cancelBubble = true
                    });
                }
            });
        }

        function EntryPoint() {
            //alert("Entry point!");
            init();
            TinyMceInit();
            attachEvents();

        }

        function getUrl(ActionName) {
            var BaseUrl = '@Url.Action("", "MLChangeRequest")';
            var URL = BaseUrl + "/" + ActionName;
            return URL;
        }


        var ckUrl = '@Url.Action("GetCalculationDetail", "ExciseCredit")';
        var countUrl = '@Url.Action("GetCurrentDocumentId", "ExciseCredit")';
        var uploadUrl = '@Url.Action("UploadFiles", "ExciseCredit")';
        // action handlers
        function nppbkcSelectionChanges() {
            var _url = '@Url.Action("GetNppbkc", "MLChangeRequest")';
            var _id = nppbkc.val();
            var _fsUrl = '@Url.Action("GetFinancialStatements", "ExciseCredit")';
            var _year = new Date(submitDate.val()).getYear() + 1990;
            var _sdUrl = '@Url.Action("GetSupportingDocuments", "MLChangeRequest")';
            var _ckUrl = '@Url.Action("GetCalculationDetail", "ExciseCredit")';
            loadNppbkc(_url, _id, _sdUrl);
            //loadFinancialStatement(_fsUrl, _company, _year);
            //var _company = companyId.val();
            //alert(_company);
            //loadSupportingDocuments(_sdUrl, _company);
            //loadCk1Calculation(_ckUrl);
        }

        function submitDateSelectionChanges() {
            var _url = '@Url.Action("GetFinancialStatements", "ExciseCredit")';
            var _company = companyId.val();
            var _year = new Date(submitDate.val()).getYear() + 1990;
            updateDocumentNumbering(new Date(submitDate.val()));
        }

    </script>
}