@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexViewModel

    <div class="row">
        <div class="col-sm-12">
            <div id="contenttable" class="table-container">
                <table id="DailyProduction" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="toggle-row"> Action </th>
                            <th> Date </th>
                            <th> Company </th>
                            <th> Plant</th>
                            <th> Finish Goods </th>
                            <th> Description </th>
                            <th> Quality </th>
                            <th> Uom </th>
                        </tr>

                    </thead>
                    <thead class="filters">
                        <tr>
                            <th> Filter </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Detail)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportedOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlantId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinishGoods)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Uom)
                                </td>
                                <td class="action">
                                    <a href="#" data-tooggle="tooltip" data-placement="top" title="Edit"><i class=" fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
