@model Sampoerna.EMS.Website.Models.CK4C.Ck4CSummaryReportsViewModel

<table id="ck4CTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>

            <th style="min-width: 220px">CK-4C Number</th>
            <th style="min-width: 80px">Company</th>
            <th style="min-width: 55px">Plant</th>
            <th style="min-width: 170px">Plant Description</th>
            <th style="min-width: 250px">Nppbkc</th>
            <th style="min-width: 120px">Report Period</th>
            <th style="min-width: 130px">Production Date</th>
            <th style="min-width: 180px">Tobacco Product Type</th>
            <th style="min-width: 250px">Brand Description</th>
            <th style="min-width: 80px">HJE</th>
            <th style="min-width: 100px">Tariff</th>
            <th style="min-width: 120px">Produced QTY</th>
            <th style="min-width: 120px">Packed QTY</th>
            <th style="min-width: 130px">Content per Pack</th>
            <th style="min-width: 120px">Unpacked QTY</th>
            <th style="min-width: 150px">Status</th>

        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td>@row</td>
                    <td>@Html.DisplayFor(model => item.Ck4CNo)</td>
                    <td>@Html.DisplayFor(model => item.CeOffice)</td>
                    <td>@Html.DisplayFor(model => item.PlantId)</td>
                    <td>@Html.DisplayFor(model => item.PlantDescription)</td>
                    <td>@Html.DisplayFor(model => item.LicenseNumber)</td>
                    <td>@Html.DisplayFor(model => item.ReportPeriod)</td>
                    <td>
                        <ol>
                            @foreach (var data in item.ProductionDate)
                            {
                                <li>@data</li>
                            }
                        </ol>
                    </td>
                    <td>
                        <ol>
                            @foreach (var data in item.TobaccoProductType)
                            {
                                <li>@data</li>
                            }
                        </ol>
                    </td>
                    <td>
                        <ol>
                            @foreach (var data in item.BrandDescription)
                            {
                                <li>@data</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.Hje)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.Tariff)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.ProducedQty)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.PackedQty)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.Content)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="number">
                        <ol>
                            @foreach (var data in item.UnPackQty)
                            {
                                <li>@string.Format("{0:N2}", data)</li>
                            }
                        </ol>
                    </td>
                    <td class="last">@Html.DisplayFor(model => item.Status)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>

