@model Sampoerna.EMS.Website.Models.CK4C.Ck4CSummaryReportsViewModel

<table id="ck4CTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            
            <th>CK-4C Number</th>
            <th>Ce Office</th>
            <th>Plant</th>
            <th>Plant Description</th>
            <th>License Number</th>
            <th>Report Period</th>
            <th>Production Date</th>
            <th>Tobacco Product Type</th>
            <th>Brand Description</th>
            <th>HJE</th>
            <th>Tariff</th>
            <th>Produced QTY</th>
            <th>Packed QTY</th>
            <th>Content per Pack</th>
            <th>Unpacked QTY</th>
            <th>Status</th>

        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td>@row</td>
                    <td>@Html.DisplayFor(model => item.Ck4CNo)</td>
                    <td>@Html.DisplayFor(model => item.CeOffice)</td>
                    <td>@Html.DisplayFor(model => item.PlantId)</td>
                    <td>@Html.DisplayFor(model => item.PlantDescription)</td>
                    <td>@Html.DisplayFor(model => item.LicenseNumber)</td>
                    <td>@Html.DisplayFor(model => item.ReportPeriod)</td>
                    <td>@Html.DisplayFor(model => item.ProductionDate)</td>
                    <td>@Html.DisplayFor(model => item.TobaccoProductType)</td>
                    <td>@Html.DisplayFor(model => item.BrandDescription)</td>
                    <td>@Html.DisplayFor(model => item.Hje)</td>
                    <td>@Html.DisplayFor(model => item.Tariff)</td>
                    <td>@Html.DisplayFor(model => item.ProducedQty)</td>
                    <td>@Html.DisplayFor(model => item.PackedQty)</td>
                    <td>@Html.DisplayFor(model => item.Content)</td>
                    <td>@Html.DisplayFor(model => item.UnPackQty)</td>
                    <td class="last">@Html.DisplayFor(model => item.Status)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>

