@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexDocumentListViewModel
@using Sampoerna.EMS.Website.Helpers

<div id="information" class="tab-pane active" role="tabpanel">
    <div class="">
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                            CK-4C Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-4C No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Details.Number, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported On</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Details.ReportedOn, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company Code</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.CompanyId, Model.CompanyNameList, "All", new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported Period</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.ReportedPeriod, Model.PeriodList, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Details.PoaList, new { @class = "form-control", @disabled = "disabled", @id = "displayPoaList" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported Month</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.ReportedMonth, Model.MonthList, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported Year</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.ReportedYears, Model.YearList, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Based on</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4"><input name="based-on" type="radio" checked> Plant Id</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.PlantId, Model.PlanList, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4"><input name="based-on" type="radio"> NPPBKC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Details.NppbkcId, Model.NppbkcIdList, "", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-blue full">Generate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div aria-multiselectable="true" role="tablist" id="accordion-7" class="panel-group not-upload">
        <div class="panel panel-default">
            <div id="heading7" role="tab" class="panel-heading">
                <h4 class="panel-title">
                    <a aria-controls="collapse7" aria-expanded="true" href="#collapse7" data-parent="#accordion-7" data-toggle="collapse">
                        Workflow History
                        <i class="fa fa-caret-down"></i>
                    </a>
                </h4>
            </div>
            <div aria-labelledby="heading7" role="tabpanel" class="panel-collapse collapse" id="collapse7">
                <div class="panel-body">
                    <div class="table-container">
                        <table class="table table-bordered table-striped js-options-table">
                            <thead>
                                <tr>
                                    <th>Account Name</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                    <th>Date</th>
                                    <th>Comment</th>
                                    <th>Created by</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>