@model Sampoerna.EMS.Website.Models.CK4C.Ck4cCreateViewModel
@{
    ViewBag.Title = "Ck4CCreateDailyProduction";
}

@using (Html.BeginForm("Ck4CCreateDailyProduction", "CK4C"))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Dialy Production Form</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <button class="btn btn-grey">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="information" class="tab-pane active" role="tabpanel">
                            <div class="">
                                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                                    <div class="panel panel-default">
                                        <div id="headingOne" role="tab" class="panel-heading">
                                            <h4 class="panel-title">
                                                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                                    CK-4C Detail
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                                            <div class="panel-body">
                                                <div role="form" class="form-excise">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Company<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.CompanyCode, Model.CompanyList, null, new { @class = "form-control " })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Plant<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.PlantId, Model.PlantList, null, new { @class = "form-control ", id = "SearchInput_PlantId" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Date</label>
                                                                <div class="col-md-8">
                                                                    <div class="input-group date">
                                                                        <input type="text" class="form-control">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Finish Good<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.FinishGoods, Model.FinishGoodList, null, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Description</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Qty Packed<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.QtyPacked, new { @class = "form-control selectpicker" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Qty Unpacked<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(model => model.QtyUnpacked, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Uom<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(model => model.Uom, Model.UomList, null, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-multiselectable="true" role="tablist" id="accordion-7" class="panel-group not-upload">
                                <div class="panel panel-default">
                                    <div id="heading7" role="tab" class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-controls="collapse7" aria-expanded="true" href="#collapse7" data-parent="#accordion-7" data-toggle="collapse">
                                                Workflow History
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div aria-labelledby="heading7" role="tabpanel" class="panel-collapse collapse" id="collapse7">
                                        <div class="panel-body">
                                            <div class="table-container">
                                                <table class="table table-bordered table-striped js-options-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Account Name</th>
                                                            <th>Role</th>
                                                            <th>Action</th>
                                                            <th>Date</th>
                                                            <th>Comment</th>
                                                            <th>Created by</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts
{
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuCk4cDailyProduction').addClass('active');


        $("#CompanyCode").change(function () {
            if ($("#CompanyCode").length) {
                var cpy = $(this).find("option:selected").val();
                $('#SearchInput_PlantId option').remove();
                if (cpy == '' || $(this).find("option:selected").val() == '') {
                    $('#SearchInput_PlantId option').append('<option value="">All</option>');

                } else {
                    ajaxSelectCompany('@Url.Action("CompanyListPartialCk4C", "CK4C")', { companyId: cpy });
                }
            }
        });

        function ajaxSelectCompany(url, formData) {
            if (formData.companyId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var listPlant = data.PlanIdList;
                        $('#SearchInput_PlantId').append('<option value="">All</option>');
                        if (listPlant.length > 0) {
                            for (var i = 0; i < listPlant.length; i++) {
                                $('#SearchInput_PlantId').append('<option value=' + listPlant[i].Value + '>' + listPlant[i].Text + '</option>');
                            }
                        }

                    }
                });
            }
        }
        
        $("#FinishGoods").change(function () {
            if ($("#FinishGoods").length) {
                var FaDesc = $(this).find("option:selected").val();
                if (FaDesc == '') {
                    $('#Description').val('');
                } else {
                    ajaxGetGoodTypeDescription('@Url.Action("GetFaCodeDescription", "CK4C")', { faCode: FaDesc });
                }
            }

        });

        function ajaxGetGoodTypeDescription(url, formData) {
            if (formData.faCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#Description').val(data);
                    }
                });
            }

        }

    </script>
}
