@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexDocumentListViewModel
@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Ck4CCreateDocumentList", "CK4C", FormMethod.Post, new { @id = "CreateForm" }))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>CK-4C Form</h3>
                <label class="status">@Model.Details.StatusName</label>
                <div class="action-button">
                    @if (Model.AllowApproveAndReject)
                    {
                        <input type="button" class="btn btn-blue" value="Approve" id="btnApprove" />

                        <input type="button" class="btn btn-danger" value="Reject" id="btnReject" />
                    }
                    else
                    {
                        if (Model.AllowManagerReject)
                        {
                            <input type="button" class="btn btn-danger" value="Reject" id="btnReject" />
                        }
                    }

                    <input type="button" value="Back" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeDetails")
                        @Html.Partial("_PrintOut")
                        @Html.Partial("_ChangeLog")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Pbck1Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3><span id="lblTitleModal">Approval</span> </h3>
                </div>
                <div class="modal-body">
                    <span id="lblMessageModal">Approve Documents ?</span>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnConfirm" class="btn btn-blue" value="Yes" />
                    <input type="button" id="btnConfirmGovApprove" class="btn btn-blue" value="Yes" />
                    <input type="button" id="btnConfirmGovPartApprove" class="btn btn-blue" value="Yes" />
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
                </div>
            </div>
        </div>
    </div>

}

<div id="Pbck1ModalReject" class="modal fade in reject-doc ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Reject document</h4>
            </div>
            @using (Html.BeginForm("RejectDocument", "CK4C"))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Details.Ck4CId)
                    <div class="form-excise" role="form">
                        <div class="row">
                            <label class="col-md-3">Add Comment<span class="red">*</span></label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Details.Comment, new { @rows = "5", @class = "col-md-9" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="Reject" disabled id="btnConfirmReject" />
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/ck4cscript.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("DocumentList", "CK4C")';
            });

            SetBasedOn();

            $("#btnApprove").click(function () {

                $('#btnConfirm').show();
                $('#btnConfirmGovApprove').hide();
                $('#btnConfirmGovPartApprove').hide();
                $("#lblTitleModal").text('Approval');
                $("#lblMessageModal").text('Approve Documents ?');
                $('#Pbck1Modal').modal('show');

            });

            $("#btnReject").click(function () {
                $('#btnConfirmReject').attr('disabled', 'disabled');

                $('#Detail_Comment').val('');

                $('#Pbck1ModalReject').modal('show');

            });

            $("#btnConfirm").click(function () {
                window.location = "@Url.Action("ApproveDocument", "CK4C", new { id = @Model.Details.Ck4CId })";
            });
        });

        $('#MenuCk4cDocumentList').addClass('active');

        function SetBasedOn() {
            var nppbkc = '@Model.Details.NppbkcId';
            var plantId = $('#Details_PlantId').val();
            var plantName = $('#Details_PlantName').val();

            if(nppbkc != '')
            {
                $('#basedNppbkc').prop('checked', true);
            }

            if(plantId != '')
            {
                $('#Details_PlantName').val(plantId + '-' + plantName);
            }
        }

    </script>
}

