@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexDocumentListViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>CK-4C Document List</h3>
            <div class="action-button new">
                <a href="@Url.Action("Ck4CCreateDocumentList", "CK4C")"><button class="btn btn-blue">NEW</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterDocumentListIndex", "CK4C",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables",
                    }, new { @class = "form-excise", role = "form" }))
                {

                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">CK-4C No</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Ck4cNumber, Model.DocumentNumberList, "All", new { @class = " form-control selectreset" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Company</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.CompanyName, Model.CompanyNameList, "All", new { @class = " form-control selectreset" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">NPPBKC</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.NppbkcId, Model.NppbkcIdList, "All", new { @class = "form-control selectreset", id = "SearchInput_PlantId" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="last-form">
                            <div class="col-md-4 col-md-offset-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-blue full" value="FILTER" />
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="btn-reset-filter" class="btn btn-blue full">RESET</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="contenttable" class="table-container">
                @Html.Partial("_CK4CTableDocumentList")
            </div>
        </div>

    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setupDataTables();
        });

        $('#MenuCk4cDocumentList').addClass("active");

        function setupDataTables() {
            $('#btn-reset-filter').click(function () {
                $(".selectreset").val($(".selectreset option:first").val());
            });

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#DailyProduction')) {
                table = $('#DailyProduction').DataTable();
                table.destroy();
            }

            table = $('#WasteProduction').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });

            // Setup - add a text input to each footer cell
            $('#WasteProduction .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });

            // Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

        }

        function ajaxSelectCompany(url, formData) {
            if (formData.companyId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var listPlant = data.PlanIdList;
                        $('#SearchInput_PlantId').append('<option value="">All</option>');
                        if (listPlant.length > 0) {
                            for (var i = 0; i < listPlant.length; i++) {
                                $('#SearchInput_PlantId').append('<option value=' + listPlant[i].Value + '>' + listPlant[i].Text + '</option>');
                            }
                        }
                    }
                });
            }
        }

        function ReloadDataTables() {
            $('.toggle-row').click(function () {

                var filter = $(".filters");
                filter.slideToggle(100).promise().done(function () {

                });
            });
            setupDataTables();
        }

        $("#CompanyName").change(function () {
            $('#SearchInput_PlantId').html('');
            $('#SearchInput_PlantId').append('<option value="">All</option>');
            if ($("#CompanyName").length) {
                var cpy = $(this).find("option:selected").val();
                if (cpy != '') {
                    ajaxGetNppbkcByCompany(cpy);
                }
                else {
                    ajaxGetAllNppbkc();
                }
            }
            $('#SearchInput_PlantId').val('');
        });

        function ajaxGetNppbkcByCompany(company) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetNppbkcByCompanyId", "CK4C")',
                data: { companyId: company },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#SearchInput_PlantId').append('<option value=' + data[i].NPPBKC_ID + '>' + data[i].NPPBKC_ID + '</option>');
                    }
                }
            });
        }

        function ajaxGetAllNppbkc() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllNppbkc", "CK4C")',
                success: function (data) {
                    var listPlant = data.NppbkcIdList;
                    if (listPlant.length > 0) {
                        for (var i = 0; i < listPlant.length; i++) {
                            $('#SearchInput_PlantId').append('<option value=' + listPlant[i].Value + '>' + listPlant[i].Text + '</option>');
                        }
                    }
                }
            });
        }

    </script>
}

