@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.CK4C.Ck4CIndexDocumentListViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(Model.ActionType, "CK4C", FormMethod.Post, new { @id = "EditForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>CK-4C Form</h3>
                <label class="status">@Model.Details.StatusName</label>
                <div class="action-button">
                    @if (Model.AllowGovApproveAndReject)
                    {
                        <input type="button" class="btn btn-blue" value="Save" id="btnSaveGovStatus" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-blue" value="Save" id="btnSaveCk4c" />
                    }
                    
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.EncryptedAction("PrintPreview", "CK4C", new { id = @Model.Details.Ck4CId })')" />
                    <input type="button" value="Back" class="btn btn-grey" id="btnCancel" />
                    @if (Model.Details.Status == Enums.DocumentStatus.Draft)
                    {
                        <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @if (Model.Details.Status == Enums.DocumentStatus.WaitingGovApproval && Model.AllowGovApproveAndReject)
                        {
                             @Html.Partial("_HomeGovApproval")
                        }
                        else
                        {
                            @Html.Partial("_HomeEdit")
                        }
                        
                        @Html.Partial("_PrintOut")
                        @Html.Partial("_ChangeLog")
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div id="Ck4cModal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>Submit</h3>
            </div>
            <div class="modal-body">
                Submit Documents  ?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnSubmitConfirm" class="btn btn-blue" value="Yes" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
            </div>
        </div>
    </div>
</div>

<div id="Ck4cUploadModal" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="lblTitleInputManual">Edit Remarks</span></h4>
            </div>
            <div class="modal-body form-excise">
                <p></p>
                <input id="uploadItemRow" type="hidden" value="">
                <div class="row">
                    <div class="col-md-12">
                        <label>Remarks</label>
                        <textarea class="form-control" id="uploadRemarks" cols="20" rows="5" maxlength="100"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="button" class="btn btn-blue" value="Save" id="btnSaveRemarks" />
            </div>
        </div>
    </div>
</div>

<div id="ModalCk4cDoc" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Decree Doc is required.</span>
                </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/ck4cscript.js"></script>
    @if (Model.Details.Status == Enums.DocumentStatus.WaitingGovApproval && Model.AllowGovApproveAndReject)
    {
        <script src="~/Scripts/ck4c/docupload.js"></script>
    }
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            SetBasedOn();

            SetDataByCompany();

            $('#divComment').hide();

            $('#Details_StatusGoverment').on('change', function (e) {
                var valueSelected = this.value;

                $('#divComment').hide();

                if (valueSelected == 'Rejected') {
                    $('#divComment').show();
                    $('#Details_GovApprovalActionType').val('@Enums.ActionType.GovReject');
                }
                else if (valueSelected == 'Approved') {
                    $('#Details_GovApprovalActionType').val('@Enums.ActionType.GovApprove');
                }
            });

            $("#Details_CompanyId").change(function () {
                ChangeCompany($(this).find("option:selected").val(), '', '');
            });

            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("DocumentList", "CK4C")';
            });

            $("input[name='based-on']").click(function (e) {
                ChangeBasedOn(this.value);
            });

            $('#btnGenerate').click(function (e) {
                getProductionData('@Url.Action("GetProductionData", "CK4C")');
            });

            $("#btnSaveCk4c").click(function () {
                if (ValidateInput()) {
                    $('#EditForm').submit();
                }
            });

            $("#btnSaveGovStatus").click(function () {
                if (ValidateGovInput()) {
                    $('#EditForm').submit();
                }
            });

            $("#btnSubmitDocument").click(function () {
                $('#Ck4cModal').modal('show');
            });

            $("#btnSubmitConfirm").click(function () {
                $('#Details_IsSaveSubmit').val('submit');
                $('#EditForm').submit();
            });

            $("#btnSaveRemarks").click(function () {
                UpdateRow();
            });
        });

        function ChangeCompany(comp, plant, nppbkc) {
            $('#Details_PlantId').html('');
            $('#Details_PlantId').append('<option value="">select</option>');
            $('#Details_NppbkcId').html('');
            $('#Details_NppbkcId').append('<option value="">select</option>');
            if ($("#Details_CompanyId").length) {
                var cpy = comp;
                if (cpy != '') {
                    ajaxSelectPlant('@Url.Action("CompanyListPartialCk4CDocument", "CK4C")', { companyId: cpy }, plant);
                    ajaxGetNppbkcByCompany('@Url.Action("GetNppbkcByCompanyId", "CK4C")', cpy, nppbkc);
                }
            }
        }

        function SetBasedOn() {
            var nppbkc = '@Model.Details.NppbkcId';
            var plantId = $('#Details_PlantId').val();
            var plantName = $('#Details_PlantName').val();
            var docStatus = '@Model.Details.Status.ToString()';
            var isAllow = '@Model.AllowGovApproveAndReject';

            if (nppbkc != '') {
                $('#basedNppbkc').prop('checked', true);
                if (docStatus != '@Enums.DocumentStatus.WaitingGovApproval.ToString()' && isAllow.toLowerCase() != 'true') {
                    $('#Details_NppbkcId').prop('disabled', false);
                    $('#Details_PlantId').prop('disabled', true);
                }
            }
        }

        function SetDataByCompany() {
            var nppbkc = '@Model.Details.NppbkcId';
            var plant = '@Model.Details.PlantId';
            ChangeCompany($("#Details_CompanyId").find("option:selected").val(), plant, nppbkc);
        }

        function printPreview(url) {
            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');
        }
    </script>
}