@model Sampoerna.EMS.Website.Models.GOODSTYPE.GoodsTypeGroupEditViewModel


@using (Html.BeginForm("Edit", "GoodsTypeGroup", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3> Excisable Goods Type Group</h3>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    @*<a href="@Url.Action("Index", "GoodsTypeGroup")">
                        <button class="btn btn-grey">Cancel</button>
                    </a>*@
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>


    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Update Excisable Goods Type Group
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>

                            @Html.HiddenFor(model => model.Id)

                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="form-excise" role="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-3">Group Name<span class="red">*</span></label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-3">Excise Group Type</label>
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            @for (int i = 0; i < Model.Details.Count; i++)
                                                            {
                                                                @Html.HiddenFor(x => x.Details[i].GoodTypeId)
                                                                @Html.HiddenFor(x => x.Details[i].GoodTypeName)
                                                               

                                                                <div class="col-md-12">
                                                                    @Html.EditorFor(x => x.Details[i].IsChecked)
                                                                    @Html.Label(Model.Details[i].GoodTypeName)
                                                                </div>

                                                            }

                                                            @Html.ValidationMessageFor(model => model.Details)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#MenuMasterGoodType').addClass('active');

            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("Index", "GoodsTypeGroup")';
            });
        });

    </script>
}