@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.ProductDevelopment.PDSummaryReportViewModel
<table id="proDevTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> Filter </th>
            <th>Request for</th>
            <th>Form Number</th>
            <th nowrap>Requestor</th>
            <th>Requestor Mail</th>
            <th>Request Date</th>
            @*<th>Brand Registration Status / Penetapan SKEP Status</th>*@
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th> Action</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductOpenDoc)
        {
            <tr>
                <td class="action">
                    <a href="@Url.Action("DetailProduct", "BrandRegistrationTransaction", new { id = item.PD_ID })" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-eye"></i></a>
                    @*@if (Model.IsNotViewer && item.IsCreator && !item.IsApproved)*@
                    @*@if (Model.IsNotViewer && !item.IsSubmitted)*@
                    @if (Model.IsNotViewer)
                    {
                        <a href="@Url.Action("EditProductDevelopment", "BrandRegistrationTransaction", new { id = item.PD_ID })" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-pencil-square-o"></i></a>
                    }
                    @if (Model.IsExciser)
                    {
                        <a href="@Url.Action("ApproveProduct", "BrandRegistrationTransaction", new { id = item.PD_ID })" data-toggle="tooltip" data-placement="top" title="Approve"> <i class="fa  fa-check"></i></a>
                    }

                </td>
                <td>@Sampoerna.EMS.Utils.EnumHelper.GetDescription((Enum)Enum.Parse(typeof(Sampoerna.EMS.Core.Enums.ProductDevelopmentAction), item.Next_Action.ToString()))</td>
                <td>@item.PD_NO</td>
                <td>@item.Created_By</td>
                <td>@item.Email</td>
                <td>@item.Created_Date.ToString("dd MMM yyyy")</td>
                @*<td>@item.ApprovalStatusDescription.Value</td>*@
            

            </tr>
        }

    </tbody>
</table>

