
@using Microsoft.Ajax.Utilities
@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.MapSKEP.ReceivedDecreeViewModel
@section scripts {

    <script src="~/Scripts/js/scripts.min.js"></script>
    <script type="text/javascript">
        $(document).ready(entryPoint);

        function entryPoint() {
            $('#MenuPenetapanSKEP').addClass('active');
            $('#ApproveButtonConfirm').on('click', function () {
                $("#ApproveFormSKEP").submit();
            });
        }

    </script>
}
@{
    ViewBag.Title = "Detail Penetapan SKEP";
}
@Html.Partial("_ActionButtonMap", Model)
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">
                            <div class="white-wrapper">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Detail Penetapan SKEP
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Forms -->
            @using (Html.BeginForm("ApprovePenetapanSKEP", "BrandRegistrationTransaction", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", @id = "ApproveFormSKEP" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ViewModel.ProdCode)
            }
            <!-- Modals -->
            @Html.Partial("_ConfirmDialog", Model.ApproveConfirm)
            @Html.Partial("_ReviseModal", Model);
        </div>
    </div>
</div>
