@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.ProductDevelopment.ProductDevelopmentViewModel
<style>
    fieldset {
        margin: 10px;
        border: 1px solid silver;
        padding: 10px;
        border-radius: 4px;
    }

    legend {
        width: 38%;
        padding: 2px;
        font-size: 16px !important;
        text-align: left;
    }
</style>
@{
    ViewBag.Title = "Approve Product Development";
}

@Html.HiddenFor(model => model.ViewModel.PD_ID, new { @id = "PD_ID" })
@Html.Partial("_ActionButtonProduct", Model)
@Html.Partial("_DetailModalLock")
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-3"><label>First Name</label></div>
                                <div class="col-md-6">@Html.TextBoxFor(model => model.ViewModel.Creator.FirstName, new { @class = "form-control", @maxlength = "22", disabled = "disabled" })</div>
                            </div>
                            &nbsp;
                            <div class="col-md-6">
                                <div class="col-md-3"><label>Last Name</label></div>
                                <div class="col-md-6">@Html.TextBoxFor(model => model.ViewModel.Creator.LastName, new { @class = "form-control", @maxlength = "22", disabled = "disabled" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-3"><label>Email</label></div>
                                <div class="col-md-6">@Html.TextBoxFor(model => model.ViewModel.Creator.Email, new { @class = "form-control", @maxlength = "22", disabled = "disabled" })</div>
                            </div>
                        </div>
                        <hr width="100%" />
                        <div class="row"></div>
                        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                            Next Action
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <div class="row">
                                            @foreach (var action in Enum.GetValues(typeof(Sampoerna.EMS.Core.Enums.ProductDevelopmentAction)))
                                            {
                                                <div class="col-md-3">
                                                    @if (Model.ViewModel.Next_Action == (int)action)
                                                    {
                                                        @Html.RadioButton("Action", ((int)action).ToString(), new { @checked = "true", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("Action", ((int)action).ToString(), new { @disabled = "disabled" })
                                                    }
                                                    @Sampoerna.EMS.Utils.EnumHelper.GetDescription((Enum)Enum.Parse(typeof(Sampoerna.EMS.Core.Enums.ProductDevelopmentAction), action.ToString()))
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="overflow-x: scroll;">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Product Development
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @*<button type="button" id="uploadItem" class="btn btn-primary btn-sm"> Upload </button>*@
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 text-right">                                              
                                                @if (Model.IsExciser)
                                                {
                                                    <button type="button" class="btn btn-primary btn-sm" id="ApproveButton">Approve</button>
                                                    <button type="button" class="btn btn-primary btn-sm" id="ReviseButton" >Revise</button>
                                                }
                                            </div>
                                        </div>
                                        <div class="table-container" id="contenttableproduct">
                                            @Html.Partial("_ProductListItem")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                        <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                            Notes Action
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <div class="table-container">
                                            <p>New Brand Registration: Using Brand Registration Form for New Brand Request</p>
                                            <p>Update HJE: Using Brand Registration for Update HJE</p>
                                            <p>Map SKEP: Mapping Brand Registration</p>
                                            <p>Penetapan SKEP: Penetapan SKEP Form</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ApproveModal");
@Html.Partial("_ReviseModalProduct", Model);
@section scripts {

    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/brand-registration-trans/main_product.js"></script>
    <script type="text/javascript" language="javascript" class="init">
     

        $(document).ready(function () {
           
            $('#MenuProduct').addClass('open');
            $('#MenuProductDevelopment').addClass('active');
          
        });

        $(".itemDisplayLock").click(function () {
            var idItem = $(this).data('id');
            console.log("id item : " + idItem);
            getDetailItem(idItem);
            loadOtherDocs(idItem);
          //  mapBrowseAction();
        });

        function getDetailItem(idVal) {
            console.log("modal lock");
            var docsItemLock = $("#DetailItemLock");
            console.log(idVal);

            $.ajax({
                url: '@Url.Action("GetDetailItemLock", "BrandRegistrationTransaction")',
                type: 'POST',
                data: {
                    detailID: Number(idVal)
                },
            })
            .success(function (partialResult) {
                console.log("load item");
                docsItemLock.html(partialResult);
                $('#myModalItemLock').modal('show');
                setupDataTables();
            })
            .error(function (error) {
                console.log("failed load item");

            });
        }
        function setupDataTables() {
            $('#btn-reset-filter').click(function () {
                $('.loading').show();
            });
            $('#btn-filter').click(function () {
                $('.loading').show();
            });

            var table = null;
            if ($.fn.dataTable.isDataTable('#changesHistoryTable')) {
                table = $('#changesHistoryTable').DataTable();
                table.destroy();
            }

            table = $('#changesHistoryTable').DataTable(
                  {
                      "sDom": "Rlfrtip",
                      "language": {
                          "zeroRecords": "No records found",
                          "infoFiltered": "(filtered from _MAX_ total records)"
                      },
                  
                  });


            $('#changesHistoryTable .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });


            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }
        function ReloadDataTables() {
            $('.toggle-row').click(function () {

                var filter = $(".filters");
                filter.slideToggle(100).promise().done(function () { });
            });
            $('.loading').hide();
            setupDataTables();
        }
        function loadOtherDocs(detailID) {

            $("#customloader").show();
            $.ajax({
                url: '@Url.Action("GetOtherDocsProduct", "BrandRegistrationTransaction")',
                type: 'POST',
                data: JSON.stringify({
                    detailID: Number(detailID),
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#customloader").hide();
                    if (response && response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            otherDocs[i] = response[i];
                            otherDocsName[i] = response[i].File_Name;
                            var parts = response[i].Path_Url.split('/');
                            otherDocs[i].name = parts[parts.length - 1];
                            otherDocs[i].url= response[i].Path_Url;

                        }
                        _renderFileList();

                    }
                },
                error: function () {
                    $("#customloader").hide();
                }
            });
        }


        function _renderFileList() {

            var container = $("#otherDocsBody");
            var content = '';
            if (!otherDocs || otherDocs.length <= 0) {
                content += '<tr id="noOtherFileMsg">' +
                            '<td colspan="4"><div class="alert alert-info">No Additional Documents</div>' + '</td></tr>';
            }
            for (var i = 0; i < otherDocs.length; i++) {
                var url = undefined;
                var linkOpen ="";
                var linkClose ="";
                if(otherDocs[i].url){
                    url = '@string.Format("{0}://{1}{2}", Request.Url.Scheme,Request.Url.Authority, Url.Content("~"))';
                    url = url + otherDocs[i].url.replace("~/", "");
                    linkOpen ='<a href="'+url+'" title="' + otherDocs[i].name+ '" target="_blank"><i class="fa fa-file-o"></i>';
                    linkClose ='</a>';
                }
                content +=
                    '<tr>' +
                    '<td>' + (i + 1) + '</td>' +
                    '<td>' + linkOpen + otherDocs[i].name + linkClose +'</td>' +
                    '<td>' + otherDocsName[i] + '</td>' +
                    '<td></td>' +
                    '</tr>';
            }
            container.html(content);
        }


        $('input:checkbox').click(function () {
            if ($(this).is(':checked')) {
                var idDetail = $(this).val();
                tempItem.push(idDetail);
                console.log(tempItem.length);
            } else {
                var idItem = $(this).val();
                var index = tempItem.indexOf(idItem);

                if (index > -1) {
                    tempItem.splice(index, 1);
                }
                console.log("temp: "+tempItem.length);
            }
        });

        function CheckItemAll() {
            var tbodies = document.getElementsByTagName("tbody");
            for (var i = 1 ; i <= tbodies.length ; i++) {
                if (document.getElementById('check-' + i).disabled) {
                    $('#check-' + i + '').prop('checked', false);
                }
                else {
                    $('#check-' + i + '').prop('checked', true);
                    var idItem = $('#check-' + i + '').val();
                    tempItem.push(idItem);
                }
            };
        }

        $(document).on('click', '#ApproveButton', function (e) {
            approve();
        });

        $(document).on('click', '#ReviseButton', function (e) {
            revise();
        });

        function approve() {
            if (!tempItem.length) {
                alert("Choose Item to be Approve.");
                console.log("no item selected");
            }
            else {
                $('#modalApprove').modal('show');
            }
        }

        $(document).on('click', '#ApproveButtonSubmit', function (e) {
            console.log("Click Approve");
            approveProcess();
        });

        function revise() {
            if (!tempItem.length) {
                alert("Choose Item to be Revised.");
                console.log("no item selected");
            }
            else {
                $('#modalRevise').modal('show');
            }
        }

        $(document).on('click', '#ReviseButtonSubmit', function (e) {
            console.log("Click Reject");
            reviseProcess();
        });


        function approveProcess() {

                var homeUrl = '@Url.Action("IndexProductDevelopment", "BrandRegistrationTransaction")';
                var urlApprove = '@Url.Action("ApproveDetail", "BrandRegistrationTransaction")';

                $("#ApproveButton").prop('disabled', true);
                $("#ReviseButton").prop('disabled', true);

                for (var i = 0; i < tempItem.length; i++) {
                    var objDetail = { ProductDetailID: tempItem[i] };
                    arrayDetail.push(objDetail);

                }
                var pd_id = $('#PD_ID').val();

                $('#modalApprove').modal('hide');
                $("#customloader").show();
                $.ajax({
                    type: 'POST',
                    url: urlApprove,
                    data: {
                        model: JSON.stringify(arrayDetail),
                        PD_ID: Number(pd_id)
                    },
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            console.log("Approved.");
                            window.location.href = window.location.href;
                            $("#ApproveButton").prop('disabled', false);
                            $("#ReviseButton").prop('disabled', false);
                            $("#customloader").hide();

                        } else {
                            showErrorDialog("Approve failed!");
                            saveButton.prop("disabled", false);
                            $("#customloader").hide();
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        showErrorDialog(err);
                        $("#customloader").hide();
                    }
                });

        }

        $('#commentText').on('input', function (e) {
            var validRevise = $("#commentText").val();
            if (validRevise == "" || validRevise == null) {
                reviseElm.html("<span>Please fill reason to reject.</span>");
                reviseElm.show();
            }
            else {
                reviseElm.hide();
            }
        });

        function reviseProcess() {
            var homeUrl = '@Url.Action("IndexProductDevelopment", "BrandRegistrationTransaction")';
            var myText = document.getElementById('commentText').value;
            var urlRevise = '@Url.Action("ReviseProduct", "BrandRegistrationTransaction")';

            $("#ApproveButton").prop('disabled', true);
            $("#ReviseButton").prop('disabled', true);

            for (var i = 0; i < tempItem.length; i++) {
                var objDetail = { ProductDetailID: tempItem[i] };
                arrayDetail.push(objDetail);
            }

            var pd_id = $('#PD_ID').val();
            console.log(pd_id);
            if (myText == null || myText == "")
            {
                reviseElm.html("<span>Please fill reason to reject this item.</span>");
                reviseElm.show();
            }
            else
            {
                reviseElm.hide();
                $('#modalRevise').modal('hide');
                $("#customloader").show();

                $.ajax({
                    type: 'POST',
                    url: urlRevise,
                    data: {
                        model: JSON.stringify(arrayDetail),
                        PD_ID: Number(pd_id),
                        comment: myText
                    },
                    success: function (result) {

                        if (result) {
                            console.log("Rejected.");
                            window.location.href = window.location.href;
                            $("#ApproveButton").prop('disabled', false);
                            $("#ReviseButton").prop('disabled', false);
                            $("#customloader").hide();
                        } else {
                            showErrorDialog("Reject failed!");
                            saveButton.prop("disabled", false);
                            $("#customloader").hide();
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        showErrorDialog(err);
                        $("#customloader").hide();
                    }
                });
            }
        }

</script>
}