@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.MapSKEP.ReceivedDecreeViewModel
@Html.Partial("_ActionButtonMap", Model)

<div class="modal fade" id="myModalListItem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" id="addItem" data-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
            <div class="modal-body">
                <div class="container-wrap">
                    <div class="modal-body">
                        <div class="container-wrap">
                            <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                List Item
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            <div id="contenttable" class="table-container">
                                                <table id="skepTableModal" class="table table-bordered table-striped js-options-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="toggle-row"></th>
                                                            <th>Action</th>
                                                            <th nowrap>Request Number</th>
                                                            <th nowrap>FA Code (OLD)</th>
                                                            <th nowrap>FA Code (OLD) Description</th>
                                                            <th nowrap>FA Code (NEW)</th>
                                                            <th nowrap>FA Code (NEW) Description</th>
                                                            <th nowrap>Company</th>
                                                            <th>HL Code</th>
                                                            <th>Market</th>
                                                            <th nowrap>Production Center</th>
                                                        </tr>
                                                    <thead class="filters">
                                                        <tr>
                                                            <th> Action</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalItem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Item</h4>
            </div>
            <div class="modal-body">
                <div class="container-wrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>Company</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>Brand Request No</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>FA Code (Old)</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>FA Code Desc (Old)</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>FA Code (New)</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>FA Code Desc (New)</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>HL Code</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>Market</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>Plant</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-7"><label>Check Box Here</label></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>      

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="home-tab" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#printout" aria-controls="profile" role="tab" data-toggle="tab">Print Out</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="tab-wrapper">
                            <div class="white-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                           <label>NPPBKC</label> 
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.ViewModel.Nppbkc_ID, Model.NppbkcList, null, new { @class = " selectpicker form-control", @id = "NppbkcSelector" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.NPPBKC.KppbcId, "KPPBC")
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.NPPBKC.KppbcId, new { @class = "form-control", @type = "text", @readonly = true, @id = "KppbcText" })
                                        </div>
                                    </div>
                                    
                                </div>   
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.NPPBKC.Company, "Company")
                                            </div>
                                            <div class="col-md-6">
                                                @Html.HiddenFor(model => model.NPPBKC.Company.Id)
                                                @Html.TextBoxFor(model => model.NPPBKC.Company.Name, new { @class = "form-control", @type = "text", @readonly = true, @id = "CompanyText" })
                                            </div>
                                        </div>    
                                        <div class="col-md-6">
                                            <div class="col-md-6"><label>Address Plant</label></div>
                                            <div class="col-md-6">@Html.TextAreaFor(model => model.Plant.Address, new { @class = "form-control", @type = "text", @readonly = true, @id = "AddressPlant", rows = "4", columns = "50" })</div>
                                        </div>
                                      
                                       
                                    </div>                                 
                                </div>
                              
                               
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    SKEP
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <form class="form-excise">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="col-md-7"><label>Decree Number</label></div>
                                                            <div class="col-md-5">@Html.TextBoxFor(model => model.ViewModel.Decree_No, new { @class = "form-control", @type = "text", @readonly = true, @id = "DecreeNumber" })</div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-7"><label>Decree Date</label></div>
                                                            <div class="col-md-5">
                                                                <div class="input-group date">
                                                                    @Html.TextBoxFor(model => model.ViewModel.Decree_Date, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="col-md-7"></div>
                                                            <div class="col-md-5"></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-7"><label>Start Date</label></div>
                                                            <div class="col-md-5">
                                                                <div class="input-group date">
                                                                    @Html.TextBoxFor(model => model.ViewModel.Decree_StartDate, "{0:dd MMM yyyy}", new { @class = "form-control"})
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>            
                                                    <hr width="100%" />  
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input name="SkepExcelfile" class="form-control" id="SkepExcelfile" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input id="UploadSKEPGenerateBtn" type="button" class="btn btn-primary btn-sm" value="Generate" />
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-4">
                                                            <button type="button" id="myModalListItem" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalListItem">Add Item</button>
                                                            <button type="button" id="delItem" onclick="DeleteItem()" class="btn btn-danger btn-sm">Del</button>
                                                            <button type="button" onclick="CheckAllItem()" class="btn btn-primary btn-sm">Check All</button>
                                                        </div>
                                                    </div> 
                                                    @Html.Partial("_SKEPListItem")
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading1">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                    Attachment Document
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body">
                                                <form role="form">
                                                    <div class="form-excise">

                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label>Supporting Documents</label>
                                                            </div>

                                                            <div class="col-md-12" id="SupportingDocs">
                                                            </div>
                                                            <div class="alert alert-danger" style="padding-left: 30px" id="SupportingError">
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr width="100%" />
                                                            <div class="col-md-4">
                                                                <label>Additional Documents</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="col-md-8">
                                                                    <div class="form-group">
                                                                        <input id="browseOtherDocFile" type="file" name="otherDocs[]" class="file" accept="application/pdf">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-10">
                                                                                <input type="text" id="browseOtherDocText" class="form-control" disabled placeholder="Select file">
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <span class="input-group-btn">
                                                                                    <button id="browseOtherDoc" class="browse btn btn-primary" type="button">Browse</button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <button class="btn btn-success" type="button" id="addOtherDocBtn">Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <table class="display table table-bordered table-striped" cellspacing="0" id="OtherDocs">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="toggle-row" width="5%">#</th>
                                                                            <th width="80%">File Name</th>
                                                                            <th width="15%">Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="otherDocsBody"></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading2">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                    Workflow History
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body">
                                                <div class="table-container">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="printout">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/brand-registration-trans/main_skep.js"></script>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            $('#MenuPenetapanSKEP').addClass('active');

            var urlSKEPNumber = '@Url.Action("GetLastRecordReceivedDecree", "BrandRegistrationTransaction")';
            var uploadUrlSKEP = '@Url.Action("UploadFilesSKEP", "BrandRegistrationTransaction")';
            attach();
            setupDataTables();

            $('#UploadSKEPGenerateBtn').click(function () {
                //   skepGenerateClick('@Url.Action("UploadFileConversionSKEP", "BrandRegistrationTransaction")');
                skepGenerateClick();
            });
        });

        function nppbkcSelectionChanges() {
            var _url = '@Url.Action("GetNppbkc", "BrandRegistrationTransaction")';
            var selectedNppbkc = nppbkc.val();
            var _company = companyId.val();
            var _sdUrl = '@Url.Action("GetSupportingDocumentsSKEP", "BrandRegistrationTransaction")';
            var urlPlant = '@Url.Action("GetPlant", "BrandRegistrationTransaction")';

            ajaxNppbkcInfo(_url, selectedNppbkc);
            ajaxPlantInfo(urlPlant, selectedNppbkc);
            loadSupportingDocuments(_sdUrl, _company);
        }



        function formatDocNumber(companyAlias, cityAlias, submitDate) {
            var date = new Date();
            var months = ["I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X", "XI", "XII"];
            var month = date.getMonth();
            var year = date.getYear() + 1900;
            var count = 0;

            $("#customloader").show();
            $.ajax({
                url: '@Url.Action("GetLastRecordReceivedDecree", "BrandRegistrationTransaction")',
                type: 'POST',
                success: function (response) {
                    $("#customloader").hide();
                    count = parseInt(response) + 1;
                    var resultNumber = Pad(count, 10) + "/" + companyAlias + "/" + cityAlias + "/" + months[month] + "/" + year;
                    skepNumber.html(resultNumber);
                    console.log(resultNumber);

                },
                error: function () {
                    $("#customloader").hide();
                }
            });
        }


        function setupDataTables() {

            var table = null;
            if ($.fn.dataTable.isDataTable('#skepTableModal')) {
                table = $('#skepTableModal').DataTable();
                table.destroy();
            }

            table = $('#skepTableModal').DataTable(
                  {
                      "sDom": "Rlfrtip",
                      "language": {
                          "zeroRecords": "No records found",
                          "infoFiltered": "(filtered from _MAX_ total records)"
                      }
                  });


            $('#skepTableModal .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });


            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }
    </script>
}