@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.BrandRegistrationTransaction.ProductDevelopment.PDSummaryReportViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Summary Report Product Development</h3>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterSummaryReports", "BrandRegistrationTransaction",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "ReloadDataTables"
                }, new { @class = "form-excise", role = "form" }))
                {

                    <div class="form-excise" role="form">
                        <div class="row">                                                                                  
                            <div class="last-form">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div id="divPoaList" class="col-md-8 ui-widget">
                                            @Html.DropDownListFor(model => model.Filter.POA, Model.PoaList, "All", new { @class = "form-control selectpicker", @id = "opt_poa" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="col-md-4">Creator</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Filter.Creator, Model.CreatorList, "All", new { @class = "form-control selectpicker", @id = "opt_creator" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="btn-filter" class="btn btn-blue full" >FILTER</button>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @using (Html.BeginForm("ExportXlsSummaryReports", "BrandRegistrationTransaction", FormMethod.Post, new { @id = "ExportSummaryReportsForms" }))
            {

                @*@Html.HiddenFor(model => model.ExportModel.Filter.KPPBC, new { @id = "txt_filter_kppbc" })
                @Html.HiddenFor(model => model.ExportModel.Filter.CompanyType, new { @id = "txt_filter_companytype" })
                @Html.HiddenFor(model => model.ExportModel.Filter.Year, new { @id = "txt_filter_year" })*@
                @Html.HiddenFor(model => model.ExportModel.Filter.POA, new { @id = "txt_filter_poa" })
                @Html.HiddenFor(model => model.ExportModel.Filter.Creator, new { @id = "txt_filter_creator" })

                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">
                                    <div>
                                        <div class="row toggle">

                                            <div class="toggle-title">
                                               Product Development Columns <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.PD_NO, new { @id = "checkboxDefault1", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1" })Forms Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Next_Action, new {@id = "checkboxDefault2", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })Next Action
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CreatedDate, new { @id = "checkboxDefault3", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "3" })Created Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CreatedBy, new { @id = "checkboxDefault4", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "4" })Creator
                                                    </label>
                                                </div>
                                               
                                            </div>
                                            <div class="toggle-title">
                                                Product &amp; Detail Columns <i class="fa fa-chevron-down"></i>
                                            </div>
                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Hl_Code, new { @id = "checkboxDefault5", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "5" })HL Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Bukrs, new {  @class = "checkbox checkexport", @datacolumn = "6" })Company
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Market_Id, new { @class = "checkbox checkexport", @datacolumn = "7" })Market
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Fa_Code_Old, new { @class = "checkbox checkexport", @datacolumn = "8" })Fa Code Old
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Fa_Code_New, new { @class = "checkbox checkexport", @datacolumn = "9" })Fa Code New
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Fa_Code_Old_Desc, new { @class = "checkbox checkexport", @datacolumn = "10" })Fa Code Old Desc
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Fa_Code_New_Desc, new {  @class = "checkbox checkexport", @datacolumn = "11" })Fa Code New Desc
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Is_Import, new { @class = "checkbox checkexport", @datacolumn = "12" })Import
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Request_No, new {  @class = "checkbox checkexport", @datacolumn = "13" })Request Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Werks, new {   @class = "checkbox checkexport", @datacolumn = "14" })Plant Name
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DetailExportModel.Status, new {  @class = "checkbox checkexport", @datacolumn = "15" })Status
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_PDSummaryReportTable")
    </div>
</div>

<div class="loading"></div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    @*<script src="~/Scripts/ChangeRequestScripts.js"></script>*@
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            setupDataTables(true);

            $('#MenuSKEP').removeClass('open');
            $('#MenuBrand').removeClass('open');

            $('#MenuProduct').addClass('open');
            $('#MenuProductDevelopmentSummaryReports').addClass('active');
            $('#selecctall').prop('checked', false);
            $('.checkexport').each(function () {
                this.checked = false;
            });
            //setupDataTables();

            $('#checkboxDefault1').prop('checked', true);
            $('#checkboxDefault2').prop('checked', true);
            $('#checkboxDefault3').prop('checked', true);
            $('#checkboxDefault4').prop('checked', true);
            $('#checkboxDefault5').prop('checked', true);

            });

        function setupDataTables(blFirst) {

            $('#btn-filter').click(function () {
                $('.loading').show();
            });

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#productTable')) {
                table = $('#productTable').DataTable();
                table.destroy();
            }

            table = $('#productTable').DataTable(
                {
                    "order": [[0, 'asc'], [3, 'asc']],
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });



            $('.checkexport').on('click', function (e) {
                //e.preventDefault();
                table.column(0).visible(true);

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());
                $('#productTable').parents('div.dataTables_wrapper').first().show();
            });

            if (blFirst) {
                for (var i = 1; i < 17; i++) {
                    table.column(i).visible(false);
                }

                table.column(1).visible(true);
                table.column(2).visible(true);
                table.column(3).visible(true);
                table.column(4).visible(true);
                table.column(5).visible(true);
               
            } else {
                $('.checkexport').each(function () {

                    // Get the column API object
                    var column = table.column($(this).attr('datacolumn'));

                    // Toggle the visibility
                    column.visible(false);
                    if ($(this).is(':checked')) {
                        // Toggle the visibility
                        column.visible(true);
                    }

                });
            }

            $('#selecctall').change(function () {
                if ($(this).is(':checked')) {
                    $('.checkexport').prop('checked', this.checked);
                    // Show a column
                    $('#productTable').parents('div.dataTables_wrapper').first().show();
                    var table = $('#productTable').DataTable();
                    for (var i = 0; i < 17; i++) {
                        table.column(i).visible(true);

                    }
                    table.column(0).visible(true);
                    // Show a column
                    $('#productTable').parents('div.dataTables_wrapper').first().show();

                } else {
                    $('.checkexport').each(function () {
                        this.checked = false;

                    });
                    var table = $('#productTable').DataTable();
                    for (var i = 0; i < 17; i++) {
                        table.column(i).visible(false);

                    }
                    $('#productTable').parents('div.dataTables_wrapper').first().hide();
                }
            });
            //// Setup - add a text input to each footer cell
            //$('#productTable .filters th').each(function () {
            //    var idx = $(this).index();
            //    if (idx != 0) {
            //        $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
            //    }
            //});

            //// Apply the search
            //table.columns().eq(0).each(function (colIdx) {
            //    $('input', $('.filters th')[colIdx]).on('keyup change', function () {
            //        table
            //            .column(colIdx)
            //            .search(this.value)
            //            .draw();
            //    });
            //});
        };

        $("#btnExport").click(function () {
            // $('#Ck5Modal').modal('show');
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();
        });

        function GetSearchSummaryReports() {
            //$('#txt_filter_kppbc').val($('#opt_kppbc').find("option:selected").val());
            //$('#txt_filter_companytype').val($('#opt_companytype').find("option:selected").val());
            //$('#txt_filter_year').val($('#opt_year').find("option:selected").val());
            $('#txt_filter_poa').val($('#opt_poa').find("option:selected").val());
            $('#txt_filter_creator').val($('#opt_creator').find("option:selected").val());
        }

        //function ReloadDataTables() {
        //    $('.toggle-row').click(function () {

        //        var filter = $(".filters");
        //        filter.slideToggle(100).promise().done(function () { });
        //    });
        //    $('.loading').hide();
        //    setupDataTables();
        //}

        function ReloadDataTables() {
            setupDataTables(false);         
            $('.loading').hide();
        }


    </script>
}
