@model Sampoerna.EMS.Website.Models.BaseModel

<table id="changesHistoryTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row">Date</th>
            <th>Field</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>User</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChangesHistoryList.OrderByDescending(x=>x.MODIFIED_DATE))
        {
            <tr>
                <td>@item.MODIFIED_DATE.Value.ToString("dd MMMM yyyy hh:mm:ss")</td>
                <td>@item.FIELD_NAME
                <td>
                    @Html.Raw(item.OLD_VALUE)
                </td>
                <td>
                    @Html.Raw(item.NEW_VALUE)
                 
                </td>
                <td class="last">@item.USERNAME</td>
            </tr>
        }
    </tbody>
</table>
