@model Sampoerna.EMS.Website.Models.BaseModel

<table id="changesHistoryTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row">Date</th>
            <th>Field</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>User</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChangesHistoryList)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.MODIFIED_DATE)</td>
                <td>@Html.DisplayFor(model => item.FIELD_NAME)
                <td>
                    @Html.Raw(item.OLD_VALUE)
                </td>
                <td>
                    @Html.Raw(item.NEW_VALUE)
                </td>
                <td class="last">@Html.DisplayFor(model => item.USERNAME)</td>
            </tr>
        }
    </tbody>
</table>

