@model Sampoerna.EMS.Website.Models.Reversal.ReversalIndexViewModel
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm("", "Reversal"))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Reversal Production Detail</h3>
                <div class="action-button">
                    <a href="@Url.Action("Index", "Reversal")" class="btn btn-grey">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" id="tab-information" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeDetail")

                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/thousand-separator.js"></script>
    <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        SetExistingData();
    });

    $('#MenuCk4cReversalProduction').addClass('active');

    function ajaxSetPlantAndFacode() {
        var plant = $("#SearchInput_PlantId").find("option:selected").val();
        var facode = $("#SearchInput_FaCode").find("option:selected").val();

        var url = '@Url.Action("GetZaapData", "Reversal")';

        ajaxSelectZaapShift(url, { plantWerk: plant, faCode: facode });
    }

    function ajaxSelectPlantWerks(url, formData) {
        if (formData.plantWerk) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    var facodeList = data.FaCodeList;
                    $('#SearchInput_FaCode').append('<option value="">Select</option>');
                    if (facodeList.length > 0) {
                        for (var i = 0; i < facodeList.length; i++) {
                            $('#SearchInput_FaCode').append('<option value=' + facodeList[i].Value + '>' + facodeList[i].Text + '</option>');
                        }

                        if (formData.faCode) {
                            ajaxSelectZaapShift('@Url.Action("GetZaapData", "Reversal")', { plantWerk: formData.plantWerk, faCode: formData.faCode, zaapShift: formData.zaapShift });
                        }
                    }
                }
            });
        }
    }

    function ajaxSelectZaapShift(url, formData) {
        if (formData.plantWerk && formData.faCode) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    var zaapShiftList = data.ZaapShiftList;
                    $('#SearchInput_Zaap').append('<option value="">Select</option>');
                    if (zaapShiftList.length > 0) {
                        for (var i = 0; i < zaapShiftList.length; i++) {
                            $('#SearchInput_Zaap').append('<option value=' + zaapShiftList[i].Value + '>' + zaapShiftList[i].Text + '</option>');
                        }

                        if (formData.zaapShift) {
                            $('#SearchInput_FaCode').val(formData.faCode);
                            $('#SearchInput_Zaap').val(formData.zaapShift);
                        }
                    }
                }
            });
        }
    }

    function SetExistingData() {
        var plant = '@Model.Details.Werks';
        var facode = '@Model.Details.FaCode';
        var zaap = '@Model.Details.ZaapShiftId';

        $('#SearchInput_FaCode option').remove();
        $('#SearchInput_Zaap option').remove();

        ajaxSelectPlantWerks('@Url.Action("GetFaCodeByPlant", "Reversal")', { plantWerk: plant, faCode: facode, zaapShift: zaap });
    }

    </script>
}