@model Sampoerna.EMS.Website.Models.Reversal.ReversalIndexViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Reversal"))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Reversal Production Edit</h3>
                <div class="action-button">
                    <button class="btn btn-blue" id="btnSave">Save</button>
                    <a href="@Url.Action("Index", "Reversal")" class="btn btn-grey">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" id="tab-information" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeEdit")

                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/thousand-separator.js"></script>
    <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        SetExistingData();
    });

    $('#MenuCk4cReversalProduction').addClass('active');

    $("#SearchInput_PlantId").change(function () {
        if ($("#SearchInput_PlantId").length) {
            var ce = $(this).find("option:selected").val();
            var date = $("#SearchInput_ProdDate").val();
            $('#SearchInput_FaCode option').remove();
            $('#SearchInput_Zaap option').remove();
            $('#SearchInput_InventoryMovement option').remove();
            $('#btnSave').prop('disabled', false);
            $('#ClosingMonthText').html('');
            if (ce == '' || $(this).find("option:selected").val() == '') {
                $('#SearchInput_FaCode option').append('<option value="">Select</option>');
                $('#SearchInput_Zaap option').append('<option value="">Select</option>');
                $('#SearchInput_InventoryMovement option').append('<option value="">Select</option>');
            } else {
                ajaxSelectPlantWerks('@Url.Action("GetFaCodeByPlant", "Reversal")', { plantWerk: ce });
                ajaxSetPlantAndFacode();
                ajaxSelectPackedQty();
                checkClosingDate('@Url.Action("CheckClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
                displayClosingDate('@Url.Action("DisplayClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
            }
        }
    });

    $("#SearchInput_FaCode").change(function () {
        if ($("#SearchInput_FaCode").length) {
            $('#SearchInput_Zaap option').remove();
            $('#SearchInput_InventoryMovement option').remove();
            if ($(this).find("option:selected").val() == '') {
                $('#SearchInput_Zaap option').append('<option value="">Select</option>');
                $('#SearchInput_InventoryMovement option').append('<option value="">Select</option>');
            } else {
                ajaxSetPlantAndFacode();
                ajaxSelectPackedQty();
                var plant = $("#SearchInput_PlantId").find("option:selected").val();
                var facode = $("#SearchInput_FaCode").find("option:selected").val();
                ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "Production")', { plantWerk: plant, faCode: facode });
            }
        }
    });

    function ajaxFaCodeDescription(url, formData) {
        if (formData.plantWerk, formData.faCode) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    if (data.PROD_CODE == "05" && data.EXC_GOOD_TYP == "02") {
                        $('#SearchInput_InventoryMovement').show();
                        $('#SearchInput_Zaap').hide();
                    } else {
                        $('#SearchInput_Zaap').show();
                        $('#SearchInput_InventoryMovement').hide();
                    }
                }
            });
        }
    }

    $("#SearchInput_ProdDate").change(function () {
        if ($("#SearchInput_ProdDate").length) {
            if ($(this).find("option:selected").val() == '') {
                $('#Details_PackedQty').val(0);
            } else {
                ajaxSelectPackedQty();
            }
        }
    });

    $("#SearchInput_Zaap").change(function () {
        var formData = { zaapShift: $(this).find("option:selected").val(), inventoryMovement: 0 };
        var zaap = '@Model.Details.ZaapShiftId';
        var qty = '@Model.Details.ReversalQty';

        if (formData.zaapShift == '') {
            $('#Details_ReversalQty').val(0);
            $('#Details_ReversalRemaining').val(0);
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRemainingQuota", "Reversal")',
                data: formData,
                success: function (data) {
                    if (zaap == formData.zaapShift) {
                        data = parseInt(data) + parseInt(qty);
                    }

                    $('#Details_ReversalQty').val(data);
                    $('#Details_ReversalRemaining').val(data);
                }
            });
        }
    });

    $("#SearchInput_InventoryMovement").change(function () {
        var formData = { inventoryMovement: $(this).find("option:selected").val(), zaapShift: 0 };
        var inventoryMovement = '@Model.Details.InventoryMovementId';
        var qty = '@Model.Details.ReversalQty';

        if (formData.inventoryMovement == '') {
            $('#Details_ReversalQty').val(0);
            $('#Details_ReversalRemaining').val(0);
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRemainingQuota", "Reversal")',
                data: formData,
                success: function (data) {
                    if (inventoryMovement == formData.inventoryMovement) {
                        data = parseInt(data) + parseInt(qty);
                    }

                    $('#Details_ReversalQty').val(data);
                    $('#Details_ReversalRemaining').val(data);
                }
            });
        }
    });

    function ajaxSetPlantAndFacode() {
        var plant = $("#SearchInput_PlantId").find("option:selected").val();
        var facode = $("#SearchInput_FaCode").find("option:selected").val();

        var url = '@Url.Action("GetZaapData", "Reversal")';

        ajaxSelectZaapShift(url, { plantWerk: plant, faCode: facode });

        var url = '@Url.Action("GetInventoryMovementData", "Reversal")';
        ajaxSelectInventoryMovement(url, { plantWerk: plant, faCode: facode });
    }

    function ajaxSelectPlantWerks(url, formData) {
        if (formData.plantWerk) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    var facodeList = data.FaCodeList;
                    $('#SearchInput_FaCode').append('<option value="">Select</option>');
                    if (facodeList.length > 0) {
                        for (var i = 0; i < facodeList.length; i++) {
                            $('#SearchInput_FaCode').append('<option value=' + facodeList[i].Value + '>' + facodeList[i].Text + '</option>');
                        }
                        if (formData.faCode) {
                            ajaxSelectZaapShift('@Url.Action("GetZaapData", "Reversal")', { plantWerk: formData.plantWerk, faCode: formData.faCode, zaapShift: formData.zaapShift });
                            ajaxSelectInventoryMovement('@Url.Action("GetInventoryMovementData", "Reversal")', { plantWerk: formData.plantWerk, faCode: formData.faCode, inventoryMovement: formData.inventoryMovement });
                            ajaxSelectPackedQty();
                        }
                    }
                }
            });
        }
    }

    function ajaxSelectZaapShift(url, formData) {
        if (formData.plantWerk && formData.faCode) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    var zaapShiftList = data.ZaapShiftList;
                    $('#SearchInput_Zaap').append('<option value="">Select</option>');
                    if (zaapShiftList.length > 0) {
                        for (var i = 0; i < zaapShiftList.length; i++) {
                            $('#SearchInput_Zaap').append('<option value=' + zaapShiftList[i].Value + '>' + zaapShiftList[i].Text + '</option>');
                        }

                        if (formData.zaapShift) {
                            $('#SearchInput_FaCode').val(formData.faCode);
                            $('#SearchInput_Zaap').val(formData.zaapShift);
                        }
                    }
                }
            });
        }
    }

    function ajaxSelectInventoryMovement(url, formData) {
        if (formData.plantWerk && formData.faCode) {
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (data) {
                    var inventoryMovementList = data.InventoryMovementList;
                    $('#SearchInput_InventoryMovement').append('<option value="">Select</option>');
                    if (inventoryMovementList.length > 0) {
                        for (var i = 0; i < inventoryMovementList.length; i++) {
                            $('#SearchInput_InventoryMovement').append('<option value=' + inventoryMovementList[i].Value + '>' + inventoryMovementList[i].Text + '</option>');
                        }

                        if (formData.inventoryMovement) {
                            $('#SearchInput_FaCode').val(formData.faCode);
                            $('#SearchInput_InventoryMovement').val(formData.inventoryMovement);
                        }
                    }
                }
            });
        }
    }

    function SetExistingData() {
        var plant = '@Model.Details.Werks';
        var facode = '@Model.Details.FaCode';
        var zaap = '@Model.Details.ZaapShiftId';
        var inventoryMovement = '@Model.Details.InventoryMovementId';
        
        $('#SearchInput_FaCode option').remove();
        $('#SearchInput_Zaap option').remove();
        $('#SearchInput_InventoryMovement option').remove();

        ajaxSelectPlantWerks('@Url.Action("GetFaCodeByPlant", "Reversal")', { plantWerk: plant, faCode: facode, zaapShift: zaap, inventoryMovement: inventoryMovement });
        ajaxFaCodeDescription('@Url.Action("GetFaCodeDescription", "Production")', { plantWerk: plant, faCode: facode });

        var formData = { zaapShift: '@Model.Details.ZaapShiftId', inventoryMovement: '@Model.Details.InventoryMovementId' };
        var zaap = '@Model.Details.ZaapShiftId';
        var inventoryMovement = '@Model.Details.InventoryMovementId';
        var qty = '@Model.Details.ReversalQty';

        $('#Details_ReversalRemaining').val(0);

        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetRemainingQuota", "Reversal")',
            data: formData,
            success: function (data) {
                if (zaap == formData.zaapShift || inventoryMovement == formData.inventoryMovement) {
                    data = parseInt(data) + parseInt(qty);
                }

                $('#Details_ReversalRemaining').val(data);
            }
        });
        

        var formData = {
            plantWerk: plant,
            faCode: facode,
            prodDate: '@Model.Details.ProductionDate'
        };

        if (formData.prodDate == '' || formData.plantWerk == '' || formData.faCode == '') {
            $('#Details_PackedQty').val(0);
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPackedData", "Reversal")',
                data: formData,
                success: function (data) {

                    $('#Details_PackedQty').val(data);
                }
            });
        }
    }

    function ajaxSelectPackedQty() {
        var formData = {
            plantWerk: $("#SearchInput_PlantId").find("option:selected").val(),
            faCode: $("#SearchInput_FaCode").find("option:selected").val(),
            prodDate: $("#SearchInput_ProdDate").val()
        };

        if (formData.prodDate == '' || formData.plantWerk == '' || formData.faCode == '') {
            $('#Details_PackedQty').val(0);
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPackedData", "Reversal")',
                data: formData,
                success: function (data) {
                    
                    $('#Details_PackedQty').val(data);
                }
            });
        }
    }

        $("#SearchInput_ProdDate").change(function () {
            var ce = $("#SearchInput_PlantId").find("option:selected").val();
            var date = $(this).val();
            $('#btnSave').prop('disabled', false);
            $('#ClosingMonthText').html('');
            checkClosingDate('@Url.Action("CheckClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
            displayClosingDate('@Url.Action("DisplayClosingMonth", "Production")', { plantWerk: ce, prodDate: date });
        });

        function checkClosingDate(url, formData) {
            if (formData.plantWerk) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        if (data.MonthClosingId > 0) {
                            $('#btnSave').prop('disabled', true);
                            $('#ModalCloseMonth').modal('show');
                        }
                    }
                });
            }
        }

        function displayClosingDate(url, formData) {
            if (formData.plantWerk) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        if (data.MonthClosingId > 0) {
                            $('#ClosingMonthText').html(data.DisplayDate);
                        }
                    }
                });
            }
        }

</script>
}