@model IEnumerable<Sampoerna.EMS.Website.Models.PBCK4.Pbck4UploadViewModel>

    
            @{
                int counter = 1;

                if (Model != null)
                {
                    foreach (var row in Model)
                    {
                        <tr>
                            <td class="action">
                                <a href="#" onclick=" RemoveRow($(this));" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o"></i></a>
                                <a href="#" onclick=" EditRow($(this)); " data-toggle=" tooltip" data-placement="top" title="Edit"> <i class="fa fa-pencil-square-o"></i></a>
                            </td>
                            <td style="display: none">@counter</td>
                            <td>@row.FaCode</td>
                            <td>@row.StickerCode</td>
                            <td>@row.Ck1No</td>
                            <td>@row.Ck1Date</td>
                            <td>@row.SeriesCode</td>
                            <td>@row.BrandName</td>
                            <td>@row.ProductAlias</td>
                            <td>@row.Content</td>
                            <td>@row.Hje</td>
                            <td>@row.Tariff</td>
                            <td>@row.Colour</td>

                            <td>@row.ReqQty</td>
                            <td>@row.TotalHje</td>
                            <td>@row.TotalStamps</td>
                            <td>@row.NoPengawas</td>
                            <td>@row.ApprovedQty</td>
                            <td>@row.Remark</td>

                            <td>@row.Message</td>
                            <td style="display: none">@row.CK1_ID</td>
                            <td style="display: none">@row.BlockedStockRemaining</td>
                        </tr>

                        counter = counter + 1;
                    }
                }
            }



