@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK4.Pbck4FormViewModel

<div role="tabpanel" class="tab-pane active" id="information">
    <div class="tab-wrapper">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            PBCK-4 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-4 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck4Number, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company Name</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "Select", new { @class = "form-control" })
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.Poa, new { @rows = "5",@disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant Desc</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PlantDesc, new { @rows = "5", @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported On<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ReportedOn, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NppbkcId, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC Desc</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NppbkcDesc, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionThree" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree" aria-expanded="true" aria-controls="collapse6">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        
                        <input type="button" class="btn btn-blue" id="btnUploadInfo" value="Upload" disabled />

                        <div class="table-container">
                            <table id="pbck4TableItem" class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>FA Code</th>
                                        <th>Sticker Code</th>
                                        <th>CK-1 No</th>
                                        <th>CK-1 Date</th>
                                        <th>Series Code</th>
                                        <th>Brand Name</th>
                                        <th>Product Alias</th>
                                        <th>Content</th>
                                        <th>HJE</th>
                                        <th>Tariff</th>
                                        <th>Colour</th>
                                        <th>Requested Qty</th>
                                        <th>Total HJE</th>
                                        <th>Total Stamps</th>
                                        <th>No Pengawas</th>
                                        <th>BACK-1 Qty</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.UploadItemModels.Count(); i++)
                                    {
                                        @Html.HiddenFor(model => model.UploadItemModels[i].FaCode)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].StickerCode)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Ck1No)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Ck1Date)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].SeriesCode)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].BrandName)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].ProductAlias)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Content)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Hje)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Tariff)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Colour)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].ReqQty)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].TotalHje)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].TotalStamps)
                                         @Html.HiddenFor(model => model.UploadItemModels[i].NoPengawas)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].ApprovedQty)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].Remark)
                                        @Html.HiddenFor(model => model.UploadItemModels[i].CK1_ID)
                                        <tr>
                                            
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].FaCode)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].StickerCode)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Ck1No)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Ck1Date)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].SeriesCode)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].BrandName)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].ProductAlias)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Content)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Hje)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Tariff)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Colour)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].ReqQty)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].TotalHje)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].TotalStamps)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].NoPengawas)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].ApprovedQty)</td>
                                            <td>@Html.DisplayFor(model => model.UploadItemModels[i].Remark)</td>
                                            
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="red">*</span> ) This Field Required
        </div>
    </div>
</div>
