@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK4.Pbck4FormViewModel

<div role="tabpanel" class="tab-pane active" id="information">
    <div class="tab-wrapper">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            PBCK-4 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-4 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck4Number, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company Name</label>
                                        <div class="col-md-8">
                                           @Html.TextBoxFor(model => model.CompanyName, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "Select", new { @class = "form-control" })
                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div class="col-md-8">
                                           @Html.TextBoxFor(model => model.Poa, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant Desc</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PlantDesc, new { @rows = "5", @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Reported On</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ReportedOn, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NppbkcId, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC Desc</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NppbkcDesc, new { @disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionThree" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree" aria-expanded="true" aria-controls="collapse6">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <a href="#upload"><button class="btn btn-blue">Upload</button></a>
                        <div class="table-container">
                            <table class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>FA Code</th>
                                        <th>Sticker Code</th>
                                        <th>CK-1 No</th>
                                        <th>CK-1 Date</th>
                                        <th>Series Code</th>
                                        <th>Brand Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
</div>
