@model Sampoerna.EMS.Website.Models.PBCK4.Pbck4FormViewModel

@using (Html.BeginForm("SavePbck4", "PBCK4", FormMethod.Post, new { @id = "SavePbck4Forms" }))
{
    @Html.AntiForgeryToken()

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>PBCK-4 Form</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        @*<li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>*@
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.HiddenFor(model => model.CompanyName)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.PlantDesc)
                        @Html.HiddenFor(model => model.NppbkcId)
                        @Html.HiddenFor(model => model.NppbkcDesc)
                        @Html.HiddenFor(model => model.Poa)

                        @Html.Partial("_Pbck4InformationCreate")
                        @*@Html.Partial("_Pbck4Printout")*@
                        @Html.Partial("_Pbck4UploadCreate")

                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div id="ModalPbck4Items" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">PBCK-4 Items</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div id="Pbck4UploadModal" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="lblTitleInputManual">Add Row</span></h4>
            </div>
            <div class="modal-body form-excise">
                <p></p>
                <input id="uploadMaterialRow" type="hidden" value="">
                <input id="uploadCk1Id" type="hidden" value="">
                <div class="row">
                    <div class="col-md-4">
                        <label>Plant</label>
                        <input class="form-control" id="uploadPlant" type="text" value="" disabled>
                    </div>
                    
                    <div class="col-md-4">
                        <label>FA Code<span class="red">*</span></label>
                        <select class="form-control" id="uploadFaCode">
                            <option value="">Select</option>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <label>CK-1 No<span class="red">*</span></label>
                        <select class="form-control" id="uploadCk1No" name="uploadCk1No">
                            <option value="">Select</option>
                        </select>

                    </div>
                   
                </div>
                
                <div class="row">
                   
                    <div class="col-md-4">
                        <label>Sticker Code</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadStickerCode", @disabled = "disabled" })

                    </div>
                  
                    <div class="col-md-4">
                        <label>Series Code</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadSeriesCode", @disabled = "disabled" })

                    </div>
                    
                    <div class="col-md-4">
                        <label>CK-1 Date</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadCk1Date", @disabled = "disabled" })

                    </div>
                </div>

                <div class="row">
                   
                    <div class="col-md-4">
                        <label>Brand Name</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadBrandName", @disabled = "disabled" })

                    </div>
                    <div class="col-md-4">
                        <label>Product Alias</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadProductAlias", @disabled = "disabled" })

                    </div>

                    <div class="col-md-4">
                        <label>Content</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadContent", @disabled = "disabled" })

                    </div>
                </div>
             

                <div class="row">
                    <div class="col-md-4">
                        <label>HJE</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadHje", @disabled = "disabled" })

                    </div>

                    <div class="col-md-4">
                        <label>Tariff</label>
                        @Html.TextBoxFor(model => model.Ck1Date, new { @class = "form-control", @id = "uploadTariff", @disabled = "disabled" })

                    </div>
                    
                    <div class="col-md-4">
                        <label>Colour</label>
                        <textarea class="form-control" id="uploadColour" cols="20" rows="3" disabled></textarea>

                    </div>
                </div>

                <div class="row">
                   

                    <div class="col-md-4">
                        <label>Requested Qty<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.RequestedQty, new { @class = "form-control", @id = "uploadReqQty", @maxlength = "15" })

                    </div>
                    
                    <div class="col-md-4">
                        <label>Approved Qty<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.ApprovedQty, new { @class = "form-control", @id = "uploadApprovedQty", @maxlength = "15" })

                    </div>

                    <div class="col-md-4">
                        <label>No Pengawas</label>
                        @Html.TextBoxFor(model => model.NoPengawas, new { @class = "form-control", @id = "uploadNoPengawas", @maxlength = "10" })


                    </div>
                </div>

           


                <div class="row">
                    <div class="col-md-4">
                        <label>Remarks</label>
                        <textarea class="form-control" id="uploadRemarks" cols="20" rows="5"></textarea>
                    </div>
                  
                    <div class="col-md-4">
                        <label>Blocked Stock</label>
                        @Html.TextBoxFor(model => model.ApprovedQty, new { @class = "form-control", @id = "uploadBlockedStocked", @disabled = "disabled" })

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="button" class="btn btn-blue" value="Save" id="btnSaveMaterial" />
                <input type="button" class="btn btn-blue" value="Update" id="btnUpdateMaterial" />
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/Pbck4Script.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/Pbck4InputManual.js"></script>

  <script type="text/javascript">

    $(document).ready(function () {
        
        $("#btnSave").click(function () {

            if (ValidatePbck4Form()) {
                $('#SavePbck4Forms').submit();
            }
        });
        
        $('#Pbck4UploadSubmitBtn').click(function () {
            GenerateXlsPbck4Items('@Url.Action("UploadFile", "PBCK4")');
        });

        OnReadyFunction();
    });

    $("#PlantId").change(function () {
        if ($("#PlantId").length) {
            var plant = $(this).find("option:selected").val();

            //remove table
            try {
                RemovePbck4ItemsTable();
            } catch (e) {

            }
            if (plant == '') {
                $("input[name='CompanyName']").val('');
                $("input[name='CompanyId']").val('');
                $("*[name='PlantDesc']").val('');
                $("input[name='Poa']").val('');
                $("input[name='NppbkcId']").val('');
                $("input[name='NppbkcDesc']").val('');
                
                $('#btnUploadInfo').enable(false);
                $('#Pbck4UploadSubmitBtn').enable(false);

            } else {

                ajaxGetPlantDetails('@Url.Action("GetPlantDetails", "PBCK4")', { plantId: plant });
            }
        }
    });


      
      function EditRow(o) {

          var nRow = o.parents('tr');

          $('#btnSaveMaterial').hide();
          $('#btnUpdateMaterial').show();

          var sourcePlant = $("#PlantId").find("option:selected").val();
          var nppbkcId = $("#NppbkcId").val();

          $("#uploadPlant").val(sourcePlant);

          ajaxGetListFaCode('@Url.Action("GetListFaCode", "PBCK4")', { plantId: sourcePlant }, nRow.find("td").eq(2).html());


          ajaxGetListCk1('@Url.Action("GetListCk1", "PBCK4")', { nppbkcId: nppbkcId }, nRow.find("td").eq(4).html());


          //set value
          $('#uploadMaterialRow').val(nRow.find("td").eq(1).html());

          ClearInputForm();
          ClearValidation();

          $('#uploadStickerCode').val(nRow.find("td").eq(3).html());
          $('#uploadCk1Date').val(nRow.find("td").eq(5).html());
          $('#uploadSeriesCode').val(nRow.find("td").eq(6).html());
          $('#uploadBrandName').val(nRow.find("td").eq(7).html());
          $('#uploadProductAlias').val(nRow.find("td").eq(8).html());
          $('#uploadContent').val(nRow.find("td").eq(9).html());
          $('#uploadHje').val(nRow.find("td").eq(10).html());
          $('#uploadTariff').val(nRow.find("td").eq(11).html());
          $('#uploadColour').val(nRow.find("td").eq(12).html());
          $('#uploadReqQty').val(nRow.find("td").eq(13).html());
          $('#uploadApprovedQty').val(nRow.find("td").eq(17).html());
          $('#uploadNoPengawas').val(nRow.find("td").eq(16).html());
          $('#uploadRemarks').val(nRow.find("td").eq(18).html());

          $('#uploadBlockedStocked').val(nRow.find("td").eq(21).html());

          $("#lblTitleInputManual").text('Edit Input');

          $('#Pbck4UploadModal').modal('show');


      }
      
      $("#btnAddRow").click(function () {
          var sourcePlant = $("#PlantId").find("option:selected").val();
          var nppbkcId = $("#NppbkcId").val();
          
          $("#uploadPlant").val(sourcePlant);

          ajaxGetListFaCode('@Url.Action("GetListFaCode", "PBCK4")', { plantId: sourcePlant },'');

         
          ajaxGetListCk1('@Url.Action("GetListCk1", "PBCK4")', { nppbkcId: nppbkcId },'');
          
          $('#btnSaveMaterial').show();
          $('#btnUpdateMaterial').hide();

          ClearInputForm();
          ClearValidation();
          $("#lblTitleInputManual").text('New Input');

          $('#Pbck4UploadModal').modal('show');
      });
      
      $("#uploadFaCode").change(function () {
          if ($("#uploadFaCode").length) {
              var faCode = $(this).find("option:selected").val();
              
            
              if (faCode == '') {
                  $("#uploadStickerCode").val('');
                  $("#uploadSeriesCode").val('');
                  $("#uploadBrandName").val('');
                  $("#uploadProductAlias").val('');
                  $("#uploadContent").val('');
                  $("#uploadHje").val('');
                  $("#uploadTariff").val('');
                  $("#uploadColour").val('');
                  $("#uploadBlockedStocked").val('0');
                
              } else {

                  var plant = $("#uploadPlant").val();
                  ajaxGetBrandItems('@Url.Action("GetBrandItems", "PBCK4")', { plantId: plant, faCode: faCode });
              }
          }
      });
      
      $("#uploadCk1No").change(function () {
          if ($("#uploadCk1No").length) {
              var ck1Id = $(this).find("option:selected").val();

              if (ck1Id == '') {
               
                  $("#uploadCk1Date").val('');
                  $("#uploadCk1Id").val('');

              } else {

                  ajaxGetCk1Date('@Url.Action("GetCk1Date", "PBCK4")', { ck1Id: ck1Id });
              }
          }
      });
      
      $("#btnSaveMaterial").click(function () {
          AddRowPbck4();
      });
      
      $("#btnUpdateMaterial").click(function () {

          UpdateRowPbck4();
      });
      
    </script>

}