@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK4.Pbck4SummaryReportsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Summary Report</h3>
        </div>
    </div>
</div>



<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">

              <div class="form-excise" role="form">
                    <div class="row">
                        @using (Ajax.BeginForm("SearchSummaryReports", "PBCK4",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contenttable",
                                OnComplete = "ReloadDataTables"

                            }))
                        {
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">PBCK-4 No</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.Pbck4NoList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.Pbck4No, Model.SearchView.Pbck4NoList, "All", new { @class = "form-control selectreset" }))

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Year From</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.YearFromList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                      : Html.DropDownListFor(model => model.SearchView.YearFrom, Model.SearchView.YearFromList, "All", new { @class = "form-control selectreset" }))

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Year To</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.YearToList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                      : Html.DropDownListFor(model => model.SearchView.YearTo, Model.SearchView.YearToList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Sticker Code</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.StickerCodeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.StickerCode, Model.SearchView.StickerCodeList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">FA code</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.FaCodeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.FaCode, Model.SearchView.FaCodeList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.NppbkcList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.Nppbkc, Model.SearchView.NppbkcList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Plant</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.PlantIdList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                              : Html.DropDownListFor(model => model.SearchView.PlantId, Model.SearchView.PlantIdList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Company Name</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.CompNameList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.CompName, Model.SearchView.CompNameList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.PoaList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.Poa, Model.SearchView.PoaList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">CK-1 number</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.Ck1NoList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.Ck1No, Model.SearchView.Ck1NoList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.CreatorList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                      : Html.DropDownListFor(model => model.SearchView.Creator, Model.SearchView.CreatorList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>

                         

                            <div class="col-md-2 col-md-offset-8">
                                <button class="btn btn-blue full">FILTER</button>
                            </div>
                            <div class="col-md-2">
                                <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                            </div>


                        }
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("ExportXlsSummaryReports", "PBCK4", FormMethod.Post, new { @id = "ExportSummaryReportsForms" }))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">
                                    
                                    <div>
                                        
                                        @Html.HiddenFor(model => model.ExportModel.Pbck4No)
                                        @Html.HiddenFor(model => model.ExportModel.YearFrom)
                                        @Html.HiddenFor(model => model.ExportModel.YearTo)
                                        @Html.HiddenFor(model => model.ExportModel.PlantId)
                                        @Html.HiddenFor(model => model.ExportModel.StickerCode)
                                        @Html.HiddenFor(model => model.ExportModel.FaCode)
                                        @Html.HiddenFor(model => model.ExportModel.Nppbkc)
                                        @Html.HiddenFor(model => model.ExportModel.CompName)
                                        @Html.HiddenFor(model => model.ExportModel.Poa)
                                        @Html.HiddenFor(model => model.ExportModel.Ck1No)
                                        @Html.HiddenFor(model => model.ExportModel.Creator)
                                        
                                        <div class="row toggle">

                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Pbck4Number, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1" })PBCK-4 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Pbck4Date, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })PBCK-4 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectNppbkc, new {@checked = "checked", @class = "checkbox checkexport", @datacolumn = "3" })NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CeOffice, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "4" })KPPBC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPlantId, new { @class = "checkexport", @datacolumn = "5" })Plant ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPlantDescription, new { @class = "checkexport", @datacolumn = "6" })Plant Desc
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCompanyName, new { @class = "checkexport", @datacolumn = "7" })Company
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectStickerCode, new { @checked = "checked", @class = "checkexport", @datacolumn = "8" })Sticker Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectFaCode, new { @class = "checkexport", @datacolumn = "9" })FA Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Brand, new { @class = "checkbox checkexport", @datacolumn = "10" })Brand
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Content, new { @class = "checkbox checkexport", @datacolumn = "11" })Content
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Hje, new {  @class = "checkbox checkexport", @datacolumn = "12" })HJE
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Tariff, new {  @class = "checkbox checkexport", @datacolumn = "13" })Tariff
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ProductType, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "14" })Product Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.FiscalYear, new { @class = "checkbox checkexport", @datacolumn = "15" })Fiscal Year
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SeriesCode, new {  @class = "checkbox checkexport", @datacolumn = "16" })Series Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.RequestedQty, new { @class = "checkbox checkexport", @datacolumn = "17" })Requested Qty
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExciseValue, new { @class = "checkbox checkexport", @datacolumn = "18" })Excise Value
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCk1No, new { @class = "checkexport", @datacolumn = "19" })CK-1 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCk1Date, new { @class = "checkexport", @datacolumn = "20" })CK-1 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.PaymentDate, new { @class = "checkbox checkexport", @datacolumn = "21" })Payment Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Remarks, new { @class = "checkbox checkexport", @datacolumn = "22" })Remarks
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Back1Number, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "23" })BACK-1 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Back1Date, new { @class = "checkbox checkexport", @datacolumn = "24" })BACK-1 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Ck3Number, new { @class = "checkbox checkexport", @datacolumn = "25" })CK-3 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Ck3Date, new { @class = "checkbox checkexport", @datacolumn = "26" })CK-3 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Ck3Value, new { @class = "checkbox checkexport", @datacolumn = "27" })CK-3 Value
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.PrintingCost, new { @class = "checkbox checkexport", @datacolumn = "28" })Printing Cost
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompensatedCk1Date, new { @class = "checkbox checkexport", @datacolumn = "29" })Compensated CK-1 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompensatedCk1Number, new { @class = "checkexport", @datacolumn = "30" })Compensated CK-1 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Status, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "31" })Status
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompletedDate, new { @class = "checkexport", @datacolumn = "32" })Completed Date
                                                    </label>
                                                </div>                                                
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPoa, new { @class = "checkexport", @datacolumn = "33" })POA Approved by
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCreator, new { @class = "checkexport", @datacolumn = "34" })Creator
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_Pbck4ListSummaryReport")
    </div>
</div>






@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">

      
        $(document).ready(function () {

            setupDataTables(true);
            
            $('#liPbck4OpenDocument').removeClass('active');
          //  $('#menuPbck4OpenDocuments').removeClass('active');
            $('#menuPbck4OpenDocuments').removeClass('open');

            $('#menuPbck4Report').addClass('open');
            $('#MenuPbck4SummaryReports').addClass('active');
           
            



        });


        function setupDataTables(blFirst) {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#pbck4Table')) {
                table = $('#pbck4Table').DataTable();
                table.destroy();
            }

            table = $('#pbck4Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });

            $('#selecctall').change(function () {
                if ($(this).is(':checked')) {
                    $('.checkexport').each(function () {
                        this.checked = true;
                    });
                    for (var i = 0; i < 35; i++) {
                        table.column(i).visible(true);
                    }
                    $('#pbck4Table').parents('div.dataTables_wrapper').first().show();


                } else {
                    $('.checkexport').each(function () {
                        this.checked = false;
                    });
                    for (var i = 0; i < 35; i++) {
                        table.column(i).visible(false);
                    }
                    $('#pbck4Table').parents('div.dataTables_wrapper').first().hide();
                }
            });
            $('.checkexport').on('click', function (e) {
                // e.preventDefault();
                table.column(0).visible(true);

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());

                $('#pbck4Table').parents('div.dataTables_wrapper').first().hide();

                for (var i = 0; i < 16; i++) {
                    if (table.column(i).visible()) {
                        $('#pbck4Table').parents('div.dataTables_wrapper').first().show();
                        return;
                    }
                }

            });
            if (blFirst) {
                for (var i = 1; i < 35; i++) {
                    table.column(i).visible(false);
                }

                table.column(1).visible(true);
                table.column(2).visible(true);
                table.column(3).visible(true);
                table.column(4).visible(true);
                table.column(8).visible(true);
                table.column(14).visible(true);
                table.column(23).visible(true);
                table.column(31).visible(true);
            } else {
                $('.checkexport').each(function () {

                    // Get the column API object
                    var column = table.column($(this).attr('datacolumn'));

                    // Toggle the visibility
                    column.visible(false);
                    if ($(this).is(':checked')) {
                        // Toggle the visibility
                        column.visible(true);
                    }

                });
            }
            
           
          
        }

        function ReloadDataTables() {
            setupDataTables(false);
        }

        function OnReset() {

            $(".selectreset").val($(".selectreset option:first").val());
        }

        $("#btnExport").click(function () {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();
        });

        function GetSearchSummaryReports() {
            $('#ExportModel_Pbck4No').val($('#SearchView_Pbck4No').find("option:selected").val());
            $('#ExportModel_PlantId').val($('#SearchView_PlantId').find("option:selected").val());

            $('#ExportModel_YearFrom').val($('#SearchView_YearFrom').find("option:selected").val());
            $('#ExportModel_YearTo').val($('#SearchView_YearTo').find("option:selected").val());
         
            $('#ExportModel_StickerCode').val($('#SearchView_StickerCode').find("option:selected").val());
            $('#ExportModel_FaCode').val($('#SearchView_FaCode').find("option:selected").val());
            $('#ExportModel_Nppbkc').val($('#SearchView_Nppbkc').find("option:selected").val());
            $('#ExportModel_CompName').val($('#SearchView_CompName').find("option:selected").val());
            $('#ExportModel_Poa').val($('#SearchView_Poa').find("option:selected").val());
            $('#ExportModel_Ck1No').val($('#SearchView_Ck1No').find("option:selected").val());
            $('#ExportModel_Creator').val($('#SearchView_Creator').find("option:selected").val());
        }


        $("#btnConfirm").click(function () {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();


        });

    </script>
}
