@model Sampoerna.EMS.Website.Models.FinanceRatio.FinanceRatioViewModel

@{
    ViewBag.Title = "Add New Financial Ratio Entry";
}
@using (Html.BeginForm("Create", "FinanceRatio", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ActionButtons", Model)

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Create Financial Ratio Entry
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form role="form" >
                                        @Html.Partial("_Form", Model)
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/autoNumeric.min.js"></script>
    <script src="~/Scripts/master/financeratio.js"></script>
    <script type="text/javascript">
        // register events
        $(document)
            .on("ready", EntryPoint)
            .on("unload", Cleanup);

        function EntryPoint() {
            //alert("Entry point!");
            init();
            attachEvents();

            companyElm.on("change", CheckRatioExistence);
            periodElm.on("change", CheckRatioExistence);

            CheckRatioExistence();
            $.extend($.fn.autoNumeric.defaults, {
                aSep: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator',
                aDec: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator',
                aSign: '',
                vMin: '0.00',
                vMax: '999999999999999999999.99',
                lZero: 'allow',
                wEmpty: 'press'
            });
            inititeAutoNumeric();
            CalculateLiquidity();
            CalculateRentability();
            CalculateSolvability();
            //$("#ExistModal").hide();

        }

        function switchToEdit(id) {
            var url = '@Url.Action("Edit", "FinanceRatio", new { @id = -1 })';
            console.log("Old Url: " + url);
            url = url.replace('-1', id);
            console.log("New Url: " + url);
            document.location.href = url;
        }

        function Cleanup() {
            detachEvents();
            companyElm.off("change", CheckRatioExistence);
            periodElm.off("change", CheckRatioExistence);
        }

        function CheckRatioExistence() {
            var company = companyElm.val();
            var period = periodElm.val();
            if (!isNaN(company) && !isNaN(period)) {
                var data = {
                    'company': company.toString(),
                    'period': period.toString()
                };
                $("#customloader").show();
                $.ajax({
                    url: '@Url.Action("IsExist", "FinanceRatio")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        response = JSON.parse(response);
                        log(response);
                        if (response.exist) {
                            if (response.detail.Submitted) {
                                checkerElm.html("<span>Financial Ratio data for " + $("#CompanySelector option:selected").html() + " " + $("#PeriodSelector option:selected").html() + " period already exist and awaiting for approval</span>");
                            }
                            else {
                                checkerElm.html("<span>Financial Ratio data for " + $("#CompanySelector option:selected").html() + " " + $("#PeriodSelector option:selected").html() + " period already exist</span><br /><br /><button class='btn btn-info' type='button' onclick='switchToEdit(" + response.detail.Id + ")'>Edit</button>");
                            }
                            checkerElm.show();
                        } else {
                            
                            checkerElm.hide();
                        }
                        saveButton.prop('disabled', response.exist);
                        $("#customloader").hide();
                    },
                    error: function () {
                        alert("error");
                        $("#customloader").hide();
                    }
                });
            }
        }

    </script>
}
