@using Microsoft.Ajax.Utilities
@model Sampoerna.EMS.Website.Models.FinanceRatio.FinanceRatioViewModel
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/autoNumeric.min.js"></script>
    <script src="~/Scripts/master/financeratio.js"></script>
    <script type="text/javascript">
        // register events
        $(document)
            .on("ready", EntryPoint)
            .on("unload", Cleanup);
        var idElm = idToElement("ViewModel_Id");
        function EntryPoint() {
            init();
            attachEvents();

            companyElm.on("change", CheckRatioExistence);
            periodElm.on("change", CheckRatioExistence);
            //saveButton.on('click', submit);

            CheckRatioExistence();
            $.extend($.fn.autoNumeric.defaults, {
                aSep: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator',
                aDec: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator',
                aSign: '',
                vMin: '0.00',
                vMax: '999999999999999999999.99',
                lZero: 'allow',
                wEmpty: 'press'
            });
            inititeAutoNumeric();
            CalculateLiquidity();
            CalculateRentability();
            CalculateSolvability();
            $("#SubmitButton").on("click", submit);

        }
        

        function submit() {
            //alert("Submit!");
            $("#SubmitFormTariff").submit();
            $("#SubmitButton").prop('disabled', true);
        }

        function switchToEdit(id) {
            var url = '@Url.Action("Edit", "FinanceRatio", new { @id = -1 })';
            console.log("Old Url: " + url);
            url = url.replace('-1', id);
            console.log("New Url: " + url);
            document.location.href = url;
        }

        function Cleanup() {
            detachEvents();
            companyElm.off("change", CheckRatioExistence);
            periodElm.off("change", CheckRatioExistence);
            $("#SubmitButton").off("click", submit);
        }

        function CheckRatioExistence() {
            var company = companyElm.val();
            var period = periodElm.val();
            if (!isNaN(company) && !isNaN(period)) {
                var data = {
                    'company': company.toString(),
                    'period': period.toString()
                };
                $("#customloader").show();
                $.ajax({
                    url: '@Url.Action("IsExist", "FinanceRatio")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        $("#customloader").hide();
                        response = JSON.parse(response);
                        log(response);
                        if (response.exist && response.detail.Id != Number(idElm.val())) {
                            if (response.detail.Submitted) {
                                checkerElm.html("<span>Financial Ratio data for " + $("#CompanySelector option:selected").html() + " " + $("#PeriodSelector option:selected").html() + " period already exist and awaiting for approval</span>");
                            }
                            else {
                                checkerElm.html("<span>Financial Ratio data for " + $("#CompanySelector option:selected").html() + " " + $("#PeriodSelector option:selected").html() + " period already exist</span><br /><br /><button class='btn btn-info' type='button' onclick='switchToEdit(" + response.detail.Id + ")'>Edit</button>");
                            }
                            checkerElm.show();
                            saveButton.prop('disabled', true);
                        } else {
                            checkerElm.hide();
                            saveButton.prop('disabled', false);
                        }
                        
                    },
                    error: function () {
                        alert("error");
                        $("#customloader").hide();
                    }
                });
            }
        }

    </script>
}


@{
    ViewBag.Title = "Edit Financial Ratio";
}
@using (Html.BeginForm("Edit", "FinanceRatio", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ActionButtons", Model);
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="information">
                            <div class="tab-wrapper">
                                <div class="white-wrapper">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Edit Financial Ratio
                                                        <i class="fa fa-caret-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <form class="form-excise">
                                                    <div class="panel-body">
                                                        @Html.Partial("_Form", Model)
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-group" id="accordion-7" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading7">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-7" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                                        Workflow History
                                                        <i class="fa fa-caret-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                                <div class="panel-body">
                                                    <div class="table-container">
                                                        @Html.Partial("_WorkflowHistoryNewModule", Model.WorkflowHistory)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="changes">
                            <div class="table-container">
                                @Html.Partial("_ChangesHistoryTable", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Submit", "FinanceRatio", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", @id = "SubmitFormTariff" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ViewModel.Id)
}


