
@model Sampoerna.EMS.Website.Models.SupportDoc.SupportDocViewModel

@{ 
    string state = "";
    var i = 0;
 }
<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Supporting Document</h3>
            @if (Model.IsNotViewer)
            {
                <div class="action-button new">
                    <a href="@Url.Action("Create", "SupportDoc")">
                        <button class="btn btn-blue">NEW</button>
                    </a>                 
                </div>
            }
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div id="contenttable" class="table-container">
                <table id="supportDocTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="toggle-row"> Filter </th>
                            <th>#</th>
                            <th>Company</th>
                            <th>Form Name</th>
                            <th>Supporting Document Name</th>
                            <th>Approval Status</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <thead class="filters">
                        <tr>
                            <th> Action</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>              
                            <th></th>              
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListSupportDocs)
                        {
                            i++;
                            <tr>
                                <td class="action">
                                    <a href="@Url.Action("Detail", "SupportDoc", new { id = item.DocumentID })" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-eye"></i></a>
                                    @*@if (Model.IsNotViewer && item.IsCreator && !item.IsApproved)*@
                                    @if (Model.IsNotViewer && !item.IsSubmitted)
                                    {
                                        <a href="@Url.Action("Edit", "SupportDoc", new { id = item.DocumentID })" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-pencil-square-o"></i></a>
                                    }
                                    @if (Model.IsAdminApprover && !item.IsApproved && item.IsSubmitted)
                                    {
                                        <a href="@Url.Action("Approve", "SupportDoc", new { id = item.DocumentID })" data-toggle="tooltip" data-placement="top" title="Approve"> <i class="fa  fa-check"></i></a>
                                    }
                                </td>
                                <td>@i</td>
                                <td>@Html.DisplayFor(model => item.Company.Name)</td>                                
                                <td>@Sampoerna.EMS.Utils.EnumHelper.GetDescription((Enum)Enum.Parse(typeof(Sampoerna.EMS.Core.Enums.FormList), item.FormID.ToString()))</td>
                                <td>@Html.DisplayFor(model => item.SupportDocName)</td>
                                <td>@Html.DisplayFor(model => item.ApprovalStatusDescription.Value)</td>
                                <td>@if (item.IsActive == true)
                                { state = "Yes"; }
                                else
                                { state = "No"; }
                                @state   </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            $('#MenuSupportingDocument').addClass('active');

            setupDataTables();
        });

        function setupDataTables() {
            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#supportDocTable')) {
                table = $('#supportDocTable').DataTable();
                table.destroy();
            }

            table = $('#supportDocTable').DataTable(
                  {
                      "order": [[1,"asc"]],
                      "sDom": "Rlfrtip",
                      "language": {
                          "zeroRecords": "No records found",
                          "infoFiltered": "(filtered from _MAX_ total records)"
                      }
                  });

            $('#supportDocTable .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
                }
            });

            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

        }

        function ReloadDataTables() {
            setupDataTables();
        }



    </script>
}