@model Sampoerna.EMS.Website.Models.LACK2.Lack2DetailReportsViewModel

<table id="lack2Table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>LACK-2 Number</th>
            <th>Excisable Goods Type</th>
            <th>Supplier Plant ID</th>
            <th>Supplier Plant Desc</th>
            <th>Supplier NPPBKC</th>
            <th>Supplier KPPBC</th>
            <th>Supplier Company</th>
            <th>Supplier Plant Address</th>
            <th>CK-5 Registration Number</th>
            <th>CK-5 Unpaid Excise Facility Number</th>
            <th>CK-5 Registration Date</th>
            <th>CK-5 GI Date</th>
            <th>CK-5 Total of Excisable Goods</th>
            <th>Converted UOM</th>
            <th>Receiver Plant ID</th>
            <th>Receiver Plant Desc</th>
            <th>Receiver NPPBKC</th>
            <th>Receiver KPPBC</th>
            <th>Receiver Company</th>
            <th>Receiver Plant Address</th>
            <th>POA Approved by</th>
            <th>Creator</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td>@row</td>
                    <td>@Html.DisplayFor(model => item.Lack2Number)</td>
                    <td class="last">@Html.DisplayFor(model => item.TypeExcisableGoodsDesc)</td>
                    <td>@Html.DisplayFor(model => item.Ck5SendingPlant)</td>
                    <td>@Html.DisplayFor(model => item.Ck5SendingPlantDesc)</td>
                    <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                    <td>@Html.DisplayFor(model => item.KppbcId)</td>
                    <td>@Html.DisplayFor(model => item.CompanyName)</td>
                    <td>@Html.DisplayFor(model => item.SendingPlantAddress)</td>
                    <td>@Html.DisplayFor(model => item.Ck5RegistrationNumber)</td>
                    <td>@Html.DisplayFor(model => item.Ck5UnpaidExcise)</td>
                    <td>@Html.DisplayFor(model => item.Ck5RegistrationDate)</td>
                    <td>@Html.DisplayFor(model => item.Ck5GiDate)</td>
                    <td>@Html.DisplayFor(model => item.Ck5Total)</td>
                    <td>@Html.DisplayFor(model => item.Ck5ConvertedUom)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantId)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantDesc)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingNppbkc)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingKppbc)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingCompanyName)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingAddress)</td>
                    <td>@Html.DisplayFor(model => item.Poa)</td>
                    <td>@Html.DisplayFor(model => item.Creator)</td>
                    <td>@Html.DisplayFor(model => item.Status)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>



