@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK2.Lack2EditViewModel

@{
    ViewBag.Title = "Edit LACK2";
}

@using (@Html.BeginForm(@Model.ControllerAction, "LACK2", FormMethod.Post, new { @id = "form-lack2-edit", @class = "form-excise", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>LACK-2 Form</h3>
                <label class="status">@Model.StatusName</label>
                <div class="action-button">
                    @if (Model.AllowGovApproveAndReject)
                    {
                        <input type="button" class="btn btn-blue" value="Save" id="btnSaveGovStatus" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-blue" value="Save" onclick="saveEditClick()" />
                    }
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.EncryptedAction("PrintPreview", "Lack2", new { id = @Model.Lack2Id })')" />
                    <input type="button" value="Back" class="btn btn-grey" id="btn-back" />

                    @if (Model.Status == Enums.DocumentStatus.Draft)
                    {
                        <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        }
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.IsSaveSubmit)
                        @Html.HiddenFor(x => x.Lack2Id)
                        @Html.HiddenFor(x => x.CreatedBy)
                        @Html.HiddenFor(x => x.CreatedDate)
                        @Html.HiddenFor(x => x.Status)
                        @if (Model.Status == Enums.DocumentStatus.WaitingGovApproval && Model.AllowGovApproveAndReject)
                        {
                            @Html.Partial("_HomeGovApproval")
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.GovStatus)
                            @Html.HiddenFor(model => model.GovStatusName)
                            @Html.Partial("_HomeEdit")
                        }
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            @Html.Partial("_PrintOut")
                        }
                        @Html.Partial("_ChangesLog")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
        
}
