@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK2.Lack2EditViewModel

@{
    ViewBag.Title = "Edit LACK2";
}

@using (@Html.BeginForm(@Model.ControllerAction, "LACK2", FormMethod.Post, new { @id = "form-lack2-edit", @class = "form-excise", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>LACK-2 Form</h3>
                <label class="status">@Model.StatusName</label>
                <div class="action-button">
                    @if (Model.AllowGovApproveAndReject)
                    {
                        <input type="button" class="btn btn-blue" value="Save" id="btnSaveGovStatus" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-blue" value="Save" onclick="saveEditClick()" />
                    }
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.EncryptedAction("PrintPreview", "Lack2", new { id = @Model.Lack2Id })')" />
                    <input type="button" value="Back" class="btn btn-grey" id="btn-back" />

                    @if (Model.Status == Enums.DocumentStatus.Draft)
                    {
                        <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        }
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.IsSaveSubmit)
                        @Html.HiddenFor(x => x.Lack2Id)
                        @Html.HiddenFor(x => x.CreatedBy)
                        @Html.HiddenFor(x => x.CreatedDate)
                        @Html.HiddenFor(x => x.Status)
                        @if (Model.Status == Enums.DocumentStatus.WaitingGovApproval && Model.AllowGovApproveAndReject)
                        {
                            @Html.Partial("_HomeGovApproval")
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.GovStatus)
                            @Html.HiddenFor(model => model.GovStatusName)
                            @Html.Partial("_HomeEdit")
                        }
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            @Html.Partial("_PrintOut")
                        }
                        @Html.Partial("_ChangesLog")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    <script src="~/Scripts/lack2/form.js"></script>
    <script type="text/javascript">

        var initialEditNppbkc = true;
        var initialEditPlant = true;
        var initialEditGoodtype = true;

        $('#MenuLack2OpenDocument').addClass('active');

        $('#btn-changelog-export-xls').click(function () {
            location.href = '@Url.Action("ExportClientsListToExcel", "Lack2", new { id = Model.Lack2Model.Lack2Id })';
        });

        $(function () {
            openPanel();
            //$('#Lack2Model_LevelPlantId').html('');
            //$('#Lack2Model_NppbkcId').html('');

            // $('#Lack2Model_ExGoodTyp').html('');

            //$('#Lack2Model_Burks').change();

        });
        $('#btnCancel').click(function (e) {
            location.href = '@Url.Action("Index", "Lack2")';
        });
        $("#btnSubmitConfirm").click(function () {
            $('#IsSaveSubmit').val('true');
            $('#form-lack2-edit').submit();
        });

        $('#btnSubmitDocument').click(function () {

            $('#lack2Modal').modal('show');
        });
        $('#Lack2Model_NppbkcId').change(function () {

            if ($(this).length) {
                var nppbkc = $(this).find("option:selected").val();

                $('#Lack2Model_LevelPlantId').html('');
                if (nppbkc != '') {
                    ajaxGetPlantByNppbkc(nppbkc);
                    ajaxGetGoodsTypeByNppbkc(nppbkc);
                    ajaxGetPoaByNppbkc(nppbkc);
                }
            }

        });

        $('#Lack2Model_Burks').change(function () {

            if ($(this).length) {
                var company = $(this).find("option:selected").val();
                if (company !== '') {
                    ajaxGetNppbkcByCompany(company);


                }
            }
        });

        function ajaxGetNppbkcByCompany(company) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetNppbkcByCompanyId", "LACK2")',
                data: { companyId: company },
                success: function (data) {
                    $('#Lack2Model_NppbkcId').html('');
                    if (initialEditNppbkc) {
                        var nppbkcId = '@Model.Lack2Model.NppbkcId';
                        if (nppbkcId != '') {

                            for (var k = 0; k < data.length; k++) {

                                $('#Lack2Model_NppbkcId').append('<option value=' + data[k].NPPBKC_ID + '>' + data[k].NPPBKC_ID + '</option>');

                            }
                            $('#Lack2Model_NppbkcId').val(nppbkcId);
                            ajaxGetPlantByNppbkc(nppbkcId);
                            ajaxGetPoaByNppbkc(nppbkcId);
                            ajaxGetGoodsTypeByNppbkc(nppbkcId);
                        }
                        initialEditNppbkc = false;
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            $('#Lack2Model_NppbkcId').append('<option value=' + data[i].NPPBKC_ID + '>' + data[i].NPPBKC_ID + '</option>');
                        }
                    }

                }
            });

        }

        function ajaxGetPlantByNppbkc(nppbkc) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPlantByNppbkcId", "LACK2")',
                data: { nppbkcid: nppbkc },
                success: function (data) {
                    $('#Lack2Model_LevelPlantId').html('');

                    if (initialEditPlant) {
                        var plantId = '@Model.Lack2Model.LevelPlantId';
                        if (plantId != '') {

                            for (var i = 0; i < data.length; i++) {

                                $('#Lack2Model_LevelPlantId').append('<option value=' + data[i].Value + '>' + data[i].Value + '-' + data[i].Text + '</option>');

                            }
                            $('#Lack2Model_LevelPlantId').val(plantId);
                        }
                        initialEditPlant = false;
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            $('#Lack2Model_LevelPlantId').append('<option value=' + data[i].Value + '>' + data[i].Value + '-' + data[i].Text + '</option>');

                        }
                    }


                }
            }
            );

        }

        function ajaxGetPoaByNppbkc(nppbkc) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPoaByNppbkcId", "LACK2")',
                data: { nppbkcid: nppbkc },
                success: function (data) {
                    $('#displayPoaList').html('');
                    var poalist = '';
                    for (var i = 0; i < data.length; i++) {

                        poalist += data[i].PRINTED_NAME;
                        if (data.length - 1 != i) {
                            poalist += ', ';
                        }
                    }
                    $('#displayPoaList').html(poalist);
                }
            });

        }

        function ajaxGetGoodsTypeByNppbkc(nppbkc) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGoodsTypeByNPPBKC", "LACK2")',
                data: { nppbkcid: nppbkc },
                success: function (data) {

                    $('#Lack2Model_ExGoodTyp').html('');

                    if (initialEditGoodtype) {
                        var exgoodtyp = '@Model.Lack2Model.ExGoodTyp';

                        if (exgoodtyp !== '') {
                            for (var i = 0; i < data.length; i++) {


                                $('#Lack2Model_ExGoodTyp').append('<option value="' + data[i].ValueField + '">' + data[i].TextField + '</option>');

                            }
                            $('#Lack2Model_ExGoodTyp').val(exgoodtyp);
                        }
                        initialEditGoodtype = false;
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            $('#Lack2Model_ExGoodTyp').append('<option value=' + data[i].ValueField + '>' + data[i].TextField + '</option>');
                        }
                    }

                }
            });

        }

        function openPanel() {
            $('.panel-collapse').removeClass('collapse').addClass('in');

        }

        function printPreview(url) {

            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

        }

        $("#btnSaveGovStatus").click(function () {
            if (ValidateGovInput()) {
                $('#form-lack2-edit').submit();
            }
        });

        function ValidateGovInput() {
            var result = true;
            var govStatus = $('#Lack2Model_StatusGov').find("option:selected").val();


            if (govStatus == '') {
                AddValidationClass(false, 'Lack2Model_StatusGov');
                result = false;
            }

            if ($('#Lack2Model_DecreeDate').val() == '') {
                AddValidationClass(false, 'Lack2Model_DecreeDate');
                result = false;
            }

            if ($('#Lack2Model_StatusGov').val() == 'Rejected') {
                if ($('#Comment').val() == '') {
                    AddValidationClass(false, 'Comment');
                    result = false;
                }
            }

            return result;
        }

        function AddValidationClass(isValid, objName) {
            if (isValid) {
                $('#' + objName).removeClass('input-validation-error');
                $('#' + objName).addClass('valid');
            } else {
                $('#' + objName).removeClass('valid');
                $('#' + objName).addClass('input-validation-error');
            }
        }

        function GetCk5ByPeriod() {
            var month = parseInt($('#Lack2Model_PeriodMonth').val());
            var year = parseInt($('#Lack2Model_PeriodYear').val());
            var goodstype = $('#Lack2Model_ExGoodTyp').find("option:selected").val();
            var sendPlantId = $('#Lack2Model_LevelPlantId').find("option:selected").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCK5ByLack2Period", "LACK2")',
                data: { month: month, year: year, sendPlantId: sendPlantId, goodstype: goodstype },
                success: function (data) {

                    if (data.length > 0) {
                        $('#tb-body-ck5-lack2').html("");
                        for (var i = 0; i < data.length; i++) {
                            var tableCk5Item = '<tr><td><input type="hidden" id="Lack2Model_Items[' + i + ']__Ck5Id" name="Lack2Model.Items[' + i + '].Ck5Id" value=' + data[i].CK5_ID + '></input>' + (parseInt(i) + parseInt(1)) + '</td>' +
                                '<td>' + data[i].SUBMISSION_NUMBER + '</td>' +
                                '<td>' + data[i].GIDateStr + '</td>' +
                                '<td>' + data[i].GRAND_TOTAL_EX + '</td>' +
                                '<td>' + data[i].DEST_PLANT_COMPANY_NAME + '</td>' +
                                '<td>' + data[i].DEST_PLANT_NPPBKC_ID + '</td>' +
                                '<td>' + data[i].DEST_PLANT_ADDRESS + '</td></tr>';
                            $('#tb-body-ck5-lack2').append(tableCk5Item);
                        }
                    }
                }
            });


        }
    </script>
}
