@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK2.Lack2SummaryReportsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Summary Report</h3>
        </div>
    </div>
</div>



<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">

                <div class="form-excise" role="form">
                    <div class="row">
                        @using (Ajax.BeginForm("SearchSummaryReports", "LACK2",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contenttable",
                                OnComplete = "ReloadDataTables"

                            }))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company Code</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.CompanyCodeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.CompanyCode, Model.SearchView.CompanyCodeList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC</label>
                                        <div class="col-md-8">

                                            @(Model.SearchView.NppbkcIdList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.NppbkcId, Model.SearchView.NppbkcIdList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Sending Plant ID</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.SendingPlantIdList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                                  : Html.DropDownListFor(model => model.SearchView.SendingPlantId, Model.SearchView.SendingPlantIdList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Excisable Goods Type</label>
                                        <div class="col-md-8">

                                            @(Model.SearchView.GoodTypeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                                  : Html.DropDownListFor(model => model.SearchView.GoodType, Model.SearchView.GoodTypeList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">LACK-1 Period</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @(Model.SearchView.PeriodMonthList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PeriodMonth, Model.SearchView.PeriodMonthList, "All", new { @class = "form-control selectreset" }))

                                                </div>
                                                <div class="col-md-6">
                                                    @(Model.SearchView.PeriodYearList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PeriodYear, Model.SearchView.PeriodYearList, "All", new { @class = "form-control selectreset" }))

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Document Status</label>
                                        <div class="col-md-8">
                                            @Html.EnumDropDownListFor(model => model.SearchView.DocumentStatus, Model.SearchView.DocumentStatusList, "All", new { @class = "form-control selectreset" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Created Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.SearchView.CreatedDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Created By</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.CreatedByList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.CreatedBy, Model.SearchView.CreatedByList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Approved Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.SearchView.ApprovedDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Approved By</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.ApprovedByList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.ApprovedBy, Model.SearchView.ApprovedByList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Creator</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.Creator == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.Creator, Model.SearchView.CreatorList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Approver</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.ApproverList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.Approver, Model.SearchView.ApproverList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-2 col-md-offset-8">
                                <button class="btn btn-blue full">FILTER</button>
                            </div>
                            <div class="col-md-2">
                                <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                            </div>


                        }
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("ExportXlsSummaryReports", "PBCK4", FormMethod.Post, new { @id = "ExportSummaryReportsForms" }))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">

                                    <div>

                                        @Html.HiddenFor(model => model.ExportModel.CompanyCode)
                                        @Html.HiddenFor(model => model.ExportModel.NppbkcId)
                                        @Html.HiddenFor(model => model.ExportModel.SendingPlantId)
                                        @Html.HiddenFor(model => model.ExportModel.GoodType)
                                        
                                        @Html.HiddenFor(model => model.ExportModel.PeriodMonth)
                                        @Html.HiddenFor(model => model.ExportModel.PeriodYear)
                                        @Html.HiddenFor(model => model.ExportModel.DocumentStatus)
                                        @Html.HiddenFor(model => model.ExportModel.CreatedDate)
                                        @Html.HiddenFor(model => model.ExportModel.CreatedBy)
                                        @Html.HiddenFor(model => model.ExportModel.ApprovedDate)
                                        @Html.HiddenFor(model => model.ExportModel.ApprovedBy)
                                        @Html.HiddenFor(model => model.ExportModel.Creator)
                                        @Html.HiddenFor(model => model.ExportModel.Approver)

                                        <div class="row toggle">

                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">

                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Lack2Number, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1" })LACK-2 Number
                                                    </label>
                                                </div>

                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DocumentType, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })Document Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompanyCode, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "3" })Company Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompanyName, new { @class = "checkbox checkexport", @datacolumn = "4" })Company Name
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.NppbkcId, new { @class = "checkbox checkexport", @datacolumn = "5" })NPPBKC ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Ck5SendingPlant, new { @class = "checkbox checkexport", @datacolumn = "6" })CK-5 Sending Plant
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SendingPlantAddress, new { @class = "checkbox checkexport", @datacolumn = "7" })Sending Plant Address
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Lack2Period, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "8" })LACK-2 Period
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Lack2Date, new { @class = "checkbox checkexport", @datacolumn = "9" })LACK-2 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.TypeExcisableGoods, new { @class = "checkbox checkexport", @datacolumn = "10" })Type of Excisable Goods
                                                    </label>
                                                </div>
                                               
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Status, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "23" })Status
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_Lack2ListSummaryReport")

    </div>
</div>






@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">


        $(document).ready(function () {

            setupDataTables();

            $('#liPbck4OpenDocument').removeClass('active');
            //  $('#menuPbck4OpenDocuments').removeClass('active');
            $('#menuPbck4OpenDocuments').removeClass('open');

            $('#menuPbck4Report').addClass('open');
            $('#MenuPbck4SummaryReports').addClass('active');





        });


        function setupDataTables() {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#pbck4Table')) {
                table = $('#pbck4Table').DataTable();
                table.destroy();
            }

            table = $('#pbck4Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });


            $('.checkexport').on('click', function (e) {
                // e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());
            });

            for (var i = 1; i < 23; i++) {
                table.column(i).visible(false);
            }

            table.column(1).visible(true);
            table.column(2).visible(true);
            table.column(3).visible(true);
            table.column(23).visible(true);

        }

        function ReloadDataTables() {
            setupDataTables();
        }

        function OnReset() {

            $(".selectreset").val($(".selectreset option:first").val());
        }

        $("#btnExport").click(function () {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();
        });

        function GetSearchSummaryReports() {
            $('#ExportModel_Pbck4No').val($('#SearchView_Pbck4No').find("option:selected").val());
            $('#ExportModel_PlantId').val($('#SearchView_PlantId').find("option:selected").val());

            $('#ExportModel_YearFrom').val($('#SearchView_YearFrom').find("option:selected").val());
            $('#ExportModel_YearTo').val($('#SearchView_YearTo').find("option:selected").val());

        }


        $("#btnConfirm").click(function () {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();


        });

    </script>
}
