@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK2.Lack2DetailReportsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">LACK-2 Detail Report</h3>
        </div>
    </div>
</div>



<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">

                <div class="form-excise" role="form">
                    <div class="row">
                        @using (Ajax.BeginForm("SearchDetailReports", "LACK2",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contenttable",
                                OnComplete = "ReloadDataTables"

                            }))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company Code</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.CompanyCodeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.CompanyCode, Model.SearchView.CompanyCodeList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC</label>
                                        <div class="col-md-8">

                                            @(Model.SearchView.NppbkcIdList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.NppbkcId, Model.SearchView.NppbkcIdList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Sending Plant ID</label>
                                        <div class="col-md-8">
                                            @(Model.SearchView.SendingPlantIdList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                                  : Html.DropDownListFor(model => model.SearchView.SendingPlantId, Model.SearchView.SendingPlantIdList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Excisable Goods Type</label>
                                        <div class="col-md-8">

                                            @(Model.SearchView.GoodTypeList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                                  : Html.DropDownListFor(model => model.SearchView.GoodType, Model.SearchView.GoodTypeList, "All", new { @class = "form-control selectreset" }))

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">LACK-2 Period</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @(Model.SearchView.PeriodMonthList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PeriodMonth, Model.SearchView.PeriodMonthList, "All", new { @class = "form-control selectreset" }))

                                                </div>
                                                <div class="col-md-6">
                                                    @(Model.SearchView.PeriodYearList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PeriodYear, Model.SearchView.PeriodYearList, "All", new { @class = "form-control selectreset" }))

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                           

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Gi Date From</label>
                                        <div class="col-md-8">
                                           
                                                @(Model.SearchView.DateFromList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.DateFrom, Model.SearchView.DateFromList, "All", new { @class = "form-control selectreset" }))
                                                
                                           
                                        </div>
                                    </div>

                                </div>
                               
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Gi Date To</label>
                                        <div class="col-md-8">
                                         
                                                @(Model.SearchView.DateToList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.DateTo, Model.SearchView.DateToList, "All", new { @class = "form-control selectreset" }))


                                           
                                        </div>
                                    </div>

                                </div>
                            </div>

                           

                            <div class="col-md-2 col-md-offset-8">
                                <button class="btn btn-blue full">FILTER</button>
                            </div>
                            <div class="col-md-2">
                                <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                            </div>


                        }
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("ExportXlsDetailReports", "LACK2", FormMethod.Post, new { @id = "ExportSummaryReportsForms" }))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">

                                    <div>

                                        @Html.HiddenFor(model => model.ExportModel.CompanyCode)
                                        @Html.HiddenFor(model => model.ExportModel.NppbkcId)
                                        @Html.HiddenFor(model => model.ExportModel.SendingPlantId)
                                        @Html.HiddenFor(model => model.ExportModel.GoodType)
                                        @Html.HiddenFor(model => model.ExportModel.PeriodMonth)
                                        @Html.HiddenFor(model => model.ExportModel.PeriodYear)
                                        @Html.HiddenFor(model => model.ExportModel.DateFrom)
                                        @Html.HiddenFor(model => model.ExportModel.DateTo)
                                        
                                        <div class="row toggle">

                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">

                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BLack2Number, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1" })LACK-2 Number
                                                    </label>
                                                </div>

                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCk5GiDate, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })CK-5 GI Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCk5RegistrationNumber, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "3" })CK-5 Registration Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCk5RegistrationDate, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "4" })CK-5 Registration Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCk5Total, new { @class = "checkbox checkexport", @datacolumn = "5" })CK-5 Total
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BReceivingCompanyCode, new { @class = "checkbox checkexport", @datacolumn = "6" })Receiving Company Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BReceivingCompanyName, new { @class = "checkbox checkexport", @datacolumn = "7" })Receiving Company Name
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BReceivingNppbkc, new { @class = "checkbox checkexport", @datacolumn = "8" })Receiving NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BReceivingAddress, new { @class = "checkbox checkexport", @datacolumn = "9" })Receiving Address
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCk5SendingPlant, new { @class = "checkbox checkexport", @datacolumn = "10" })CK-5 Sending Plant
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BSendingPlantAddress, new { @class = "checkbox checkexport", @datacolumn = "11" })Sending Plant Address
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCompanyCode, new { @class = "checkbox checkexport", @datacolumn = "12" })Company Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BCompanyName, new { @class = "checkbox checkexport", @datacolumn = "13" })Company Name
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BNppbkcId, new { @class = "checkbox checkexport", @datacolumn = "14" })NPPBKC ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BTypeExcisableGoods, new { @class = "checkbox checkexport", @datacolumn = "15" })Type of Excisable Goods
                                                    </label>
                                                </div>
                                               
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_Lack2ListDetailReport")

    </div>
</div>






@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {

            setupDataTables(true);

            $('#MenuLack2OpenDocument').removeClass('open');
            $('#MenuLack2Report').addClass('open');
            $('#MenuLack2DetailReport').addClass('active');


        });


        function setupDataTables(blFirst) {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#lack2Table')) {
                table = $('#lack2Table').DataTable();
                table.destroy();
            }

            table = $('#lack2Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });


            $('.checkexport').on('click', function (e) {
                // e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());
            });

            if (blFirst) {
                for (var i = 1; i < 16; i++) {
                    table.column(i).visible(false);
                }

                table.column(1).visible(true);
                table.column(2).visible(true);
                table.column(3).visible(true);
                table.column(4).visible(true);
            } else {
                $('.checkexport').each(function () {

                    // Get the column API object
                    var column = table.column($(this).attr('datacolumn'));

                    // Toggle the visibility
                    column.visible(false);
                    if ($(this).is(':checked')) {
                        // Toggle the visibility
                        column.visible(true);
                    }

                });
            }

        }

        function ReloadDataTables() {
            setupDataTables(false);

        }

        function OnReset() {

            $(".selectreset").val($(".selectreset option:first").val());
        }

        $("#btnExport").click(function () {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();
        });

        function GetSearchSummaryReports() {
            $('#ExportModel_CompanyCode').val($('#SearchView_CompanyCode').find("option:selected").val());
            $('#ExportModel_NppbkcId').val($('#SearchView_NppbkcId').find("option:selected").val());
            $('#ExportModel_SendingPlantId').val($('#SearchView_SendingPlantId').find("option:selected").val());
            $('#ExportModel_GoodType').val($('#SearchView_GoodType').find("option:selected").val());
            $('#ExportModel_PeriodMonth').val($('#SearchView_PeriodMonth').find("option:selected").val());
            $('#ExportModel_PeriodYear').val($('#SearchView_PeriodYear').find("option:selected").val());
            $('#ExportModel_DateFrom').val($('#SearchView_DateFrom').find("option:selected").val());
            $('#ExportModel_DateTo').val($('#SearchView_DateTo').find("option:selected").val());

        }
        
    </script>
}
