@model Sampoerna.EMS.Website.Models.POA.POAFormModel
@section scripts {
    <script type="text/javascript" language="javascript" src="../../Scripts/js/scripts.min.js"></script>
    <script type="text/javascript">
        $('#MenuPOA').addClass('active');
        var deletePoa = function() {
            if (confirm('Are You Sure')) {
                window.location = "@Url.Action("Delete", "POA", new {id = @Model.Detail.PoaId})";
            }
            
        };
    </script>
}
    @{
        ViewBag.Title = "Detail POA (Power of Attorney)";
    }
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Update POA</h3>
                <div class="action-button">
                    <a href="@Url.Action("Index", "POA")">
                        <button class="btn btn-grey">Back</button>
                    </a>
                    @if (Model.Detail.Is_Deleted.Equals("No"))
                    {
                        <a href="javascript:void(0);" onclick=" deletePoa() " class="btn btn-grey">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>


<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Create New POA
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-excise" role="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">ID Card</label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.Detail.PoaIdCard, new { @class = "form-control", @disabled="disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.PoaIdCard)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">User Account</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownListFor(model => model.Detail.User.USER_ID, Model.Users, "select", new { @class = "form-control", @disabled = "disabled" })

                                                    @Html.ValidationMessageFor(model => model.Detail.User.USER_ID)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Manager</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownListFor(model => model.Detail.Manager.USER_ID, Model.Users, "select", new { @class = "form-control", @disabled = "disabled" })

                                                    @Html.ValidationMessageFor(model => model.Detail.Manager.USER_ID)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Printed Name</label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.Detail.PoaPrintedName, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.PoaPrintedName)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">




                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Phone</label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.Detail.PoaPhone, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.PoaPhone)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Email</label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.Detail.Email, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.Email)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Title</label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(model => model.Detail.Title, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.Title)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-3">Address</label>
                                                <div class="col-md-9">
                                                    @Html.TextAreaFor(model => model.Detail.PoaAddress, new { @class = "form-control", rows = "5", id = "comment", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Detail.PoaAddress)
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



