@model Sampoerna.EMS.Website.Models.POA.POAFormModel

@{
    ViewBag.Title = "Update POA (Power of Attorney)";
}
@using (Html.BeginForm("Edit", "POA", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Update POA</h3>
                <div class="action-button">
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <a href="@Url.Action("Index", "POA")" class="btn btn-grey">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Edit POA
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form class="form-excise" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">ID Card<span class="red">*</span></label>
                                                    <div class="col-md-9">
                                                        @Html.HiddenFor(x=>x.Detail.PoaId)
                                                        @Html.TextBoxFor(model => model.Detail.PoaIdCard, new { @class = "form-control", @maxlength = "22" })
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Login As<span class="red">*</span></label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.Detail.UserId, Model.Users, "select", new {  @class = "selectpicker form-control" })

                                                                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Manager<span class="red">*</span></label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.Detail.ManagerId, Model.Managers, "select", new { @class = "selectpicker form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Printed Name</label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.PoaPrintedName, new { @class = "form-control", @maxlength = "50" })
                                               </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">




                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Phone</label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.PoaPhone, new { @class = "form-control", @maxlength = "15" })
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Email<span class="red">*</span></label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.Email, new { @class = "form-control", @maxlength = "35" })
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Title<span class="red">*</span></label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.Title, new { @class = "form-control", @maxlength = "50" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Address</label>
                                                    <div class="col-md-9">
                                                        @Html.TextAreaFor(model => model.Detail.PoaAddress, new { @class = "form-control", rows = "5", id = "comment", @maxlength = "200" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="red">*</span> ) This Field Required
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
    $('#MenuPOA').addClass('active');
    </script>

}


