
@model Sampoerna.EMS.Website.Models.Tariff.TariffViewModel

@{
    ViewBag.Title = "Add New Master Tariff Entry";
}
@using (Html.BeginForm("Create", "Tariff", null, FormMethod.Post, new { @class = "form-excise", role = "form", enctype = "multipart/form-data", id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ActionButtons", Model)

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Create Master Tariff Entry
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form role="form">
                                        @Html.Partial("_Form", Model)
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/autoNumeric.min.js"></script>
    <script src="~/Scripts/master/tariff.js"></script>

    <script type="text/javascript">
        // register events
        $(document)
            .on("ready", EntryPoint)
            .on("unload", Cleanup);

        function EntryPoint() {
            init();
            attachEvents();

            $.extend($.fn.autoNumeric.defaults, {
                aSep: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator',
                aDec: '@System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator',
                aSign: '',
                vMin: '0.00',
                vMax: '999999999999999999999.99',
                lZero: 'allow',
                wEmpty: 'press'
            });
            inititeAutoNumeric();
        }

        function Cleanup() {
            detachEvents();
        }


    </script>
}
