@model Sampoerna.EMS.Website.Models.VirtualMappingPlant.VirtualMappingPlantDetailsViewModel

@{
    ViewBag.Title = "Virtual Plant Mapping";
}

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>View Virtual Plant Mapping</h3>
                <div class="action-button">
                    <a href="@Url.Action("Index", "VirtualMappingPlant")">
                        <button class="btn btn-grey">Back</button>
                    </a>
                    @if (!Model.IsDeleted)
                    {
                        <a href="javascript:void(0);" onclick="deleteData() " class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Virtual Plant Mapping
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <form class="form-excise" role="form">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <label class="col-md-2">Company Name</label>
                                                            <div class="col-md-4">
                                                                @Html.DisplayFor(model => model.CompanyName, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <label class="col-md-2">Import Virtual Plant</label>
                                                            <div class="col-md-4">
                                                                @Html.DisplayFor(model => model.ImportPlanName, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <label class="col-md-2">Export Virtual Plant</label>
                                                            <div class="col-md-4">
                                                                @Html.DisplayFor(model => model.ExportPlanName, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="changes">
                        <div class="table-container">
                            @Html.Partial("_ChangesHistoryTable", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#MenuMasterVirtualMappingPlant').addClass('active');

          
        });

        var deleteData = function () {
            if (confirm('Are You Sure')) {
                window.location = "@Url.Action("Delete", "VirtualMappingPlant", new { id = @Model.VirtualMapId })";
            }

        };
    </script>
}