@model Sampoerna.EMS.Website.Models.VirtualMappingPlant.VirtualMappingPlantEditViewModel


@{
    ViewBag.Title = "Virtual Plant Mapping";
}

@using (Html.BeginForm("Edit", "VirtualMappingPlant", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3> Virtual Plant Mapping</h3>
                <div class="action-button">
                    @if (Model.IsAllowDelete) {
                        <button class="btn btn-blue">Save</button>
                        <a href="javascript:void(0);" onclick=" confirmDeleteData() " class="btn btn-danger">DEACTIVATE</a>
                    }
                    else {
                        <a href="javascript:void(0);" onclick=" confirmDeleteData() " class="btn btn-danger">ACTIVATE</a>
                    }
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Update Virtual Plant Mapping
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            @Html.HiddenFor(model=>model.VirtualMapId)
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form class="form-excise" role="form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-2">Company Name<span class="red">*</span></label>
                                                    <div class="col-md-4">
                                                        @if (Model.IsAllowDelete) {
                                                            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyNameList, "Select", new {@class = "form-control"})
                                                        }
                                                        else {
                                                            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyNameList, "Select", new { @class = "form-control", @disabled="disabled" })
                                                        }
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-2">Import Virtual Plant<span class="red">*</span></label>
                                                    <div class="col-md-4">
                                                        @if (Model.IsAllowDelete) {
                                                            @Html.DropDownListFor(model => model.ImportPlantId, Model.ImportPlanNameList, "Select", new {@class = "selectpicker form-control"})
                                                        }
                                                        else {
                                                            @Html.DropDownListFor(model => model.ImportPlantId, Model.ImportPlanNameList, "Select", new { @class = "selectpicker form-control", @disabled = "disabled" })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-2">Export Virtual Plant<span class="red">*</span></label>
                                                    <div class="col-md-4">
                                                        @if (Model.IsAllowDelete) {
                                                            @Html.DropDownListFor(model => model.ExportPlantId, Model.ExportPlanNameList, "Select", new {@class = "selectpicker form-control"})
                                                        }
                                                        else {
                                                            @Html.DropDownListFor(model => model.ExportPlantId, Model.ExportPlanNameList, "Select", new { @class = "selectpicker form-control", @disabled = "disabled" })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-2">Status Active</label>
                                                    <div class="col-md-4">
                                                        @if (Model.IsAllowDelete) {
                                                            <span>ACTIVE</span>
                                                        }
                                                        else {
                                                            <span>DEACTIVE</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="red">*</span> ) This Field Required
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
    <!--delete-->
    <input id="btn-delete-virtualplantmap" style="display: none" type="submit" class="btn btn-grey" data-toggle="modal" data-target=".delete-modal.poa" value="delete">
    <div class="modal ems-modal fade delete-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">
                        @if (Model.IsAllowDelete) {
                            <span>DEACTIVATE</span>
                        }
                        else {
                            <span>ACTIVATE</span>
                        }
                    </h4>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    @if (Model.IsAllowDelete)
                    {
                        <button type="button" class="btn btn-danger" onclick="deleteData();">DEACTIVATE</button>
                    }
                    else
                    {
                         <button type="button" class="btn btn-danger" onclick="deleteData();">ACTIVATE</button>
                    }
                    <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#MenuMasterVirtualMappingPlant').addClass('active');

            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("Index", "VirtualMappingPlant")';
            });
        });
        var deleteData = function () {

            window.location = "@Url.Action("Delete", "VirtualMappingPlant", new { id = @Model.VirtualMapId })";


        };


        var confirmDeleteData = function () {
            $('#btn-delete-virtualplantmap').click();
        };
    </script>
}