@model Sampoerna.EMS.Website.Models.BrandRegistration.BrandRegistrationCreateViewModel

@using (Html.BeginForm("Create", "BrandRegistration", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{


    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>New Brand</h3>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />

                </div>
            </div>
        </div>
    </div>

    @*@Html.ValidationSummary(false);*@
    
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="scroll">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Brand Registration
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Stiker Code</label>
                                                        <div class="col-md-8">
                                                            @*@Html.TextBoxFor(model => model.StickerCode, new { @class = "form-control", @maxlength = "18" })*@
                                                            @Html.DropDownListFor(model => model.StickerCode, Model.StickerCodeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Plant</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">FA Code</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.FaCode, new { @class = "form-control", @maxlength = "18" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Personalization Code</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.PersonalizationCode, Model.PersonalizationCodeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Product Code</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.ProductCode, Model.ProductCodeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Personalization Code Description</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.PersonalizationCodeDescription, new { @rows = "5", @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Data Element for Product Type</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.ProductType, new { @rows = "5", @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Brand Name Registration by CE Office</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.BrandName, new { @rows = "5", @class = "form-control", @maxlength = "60" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Data Element for Product Type Alias</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.ProductAlias, new { @rows = "5", @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">SKEP No</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.SkepNo, new { @class = "form-control", @maxlength = "30" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">SKEP Date</label>
                                                        <div class="col-md-8">
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.SkepDate, new { @class = "form-control" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Series Code</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.SeriesId, Model.SeriesList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Series Value</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.SeriesValue, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Content</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Content, new { @class = "form-control", @maxlength = "50" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Market Code</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.MarketId, Model.MarketCodeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Market Description</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.MarketDescription, new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Country Key</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.CountryId, Model.CountryCodeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">HJE</label>
                                                        <div class="col-md-8">
                                                            <input type="text" onkeyup="this.value = ThausandSeperator($(this).val(), 2)" />
                                                            @Html.TextBoxFor(model => model.HjeValue, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">HJE Currency</label>
                                                        <div class="col-md-8">
                                                           
                                                            @Html.DropDownListFor(model => model.HjeCurrency, Model.HjeCurrencyList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Tariff</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Tariff, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Tariff Currency</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.TariffCurrency, Model.TariffCurrencyList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Exciseable Goods Type</label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.GoodType, Model.GoodTypeList, "Select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Colour</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ColourName, new { @class = "form-control", @maxlength = "70" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Exciseable Goods Type Description</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.GoodTypeDescription, new { @rows = "5", @class = "form-control", @disabled = "disabled" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Start Date</label>
                                                        <div class="col-md-8">

                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">End Date</label>
                                                        <div class="col-md-8">

                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Printing Price</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.PrintingPrice, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Convertion</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Conversion, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Status</label>
                                                        <div class="col-md-8">
                                                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control" }) Active
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Cut Filler Code</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.CutFilterCode, new { @class = "form-control", @maxlength = "25" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {

            $('.input-group.date').datepicker({
                dateFormat: 'dd mmm yyyy',
                toggleActive: true,
                defaultViewDate: { year: 2015, month: 06, day: 28 }
            });

            $('#MenuMasterBrandRegistration').addClass('active');

            $('#btnCancel').click(function(e) {
                location.href = '@Url.Action("Index", "BrandRegistration")';
            });

        });


        $("#PersonalizationCode").change(function() {
            if ($("#PersonalizationCode").length) {
                var personalizationCode = $(this).find("option:selected").val();
                if (personalizationCode == '') {
                    $('#PersonalizationCodeDescription').val('');
                } else {
                    ajaxGetPersonalizationCodeDescription('@Url.Action("PersonalizationCodeDescription", "BrandRegistration")', { personalizationId: personalizationCode });
                }
            }

        });

        function ajaxGetPersonalizationCodeDescription(url, formData) {
            if (formData.personalizationId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#PersonalizationCodeDescription').val(data);
                    }
                });
            }
        }

        $("#ProductCode").change(function() {
            if ($("#ProductCode").length) {
                var productCode = $(this).find("option:selected").val();
                if (productCode == '') {
                    $('#ProductType').val('');
                    $('#ProductAlias').val('');
                } else {
                    ajaxGetProductCodeDetails('@Url.Action("ProductCodeDetail", "BrandRegistration")', { productId: productCode });
                }
            }

        });

        function ajaxGetProductCodeDetails(url, formData) {
            if (formData.productId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#ProductType').val(data.PRODUCT_TYPE);
                        $('#ProductAlias').val(data.PRODUCT_ALIAS);
                    }
                });
            }
        }


        $("#SeriesId").change(function() {
            if ($("#SeriesId").length) {
                var seriesCode = $(this).find("option:selected").val();
                if (seriesCode == '') {
                    $('#SeriesValue').val('');
                } else {
                    ajaxGetSeriesValue('@Url.Action("SeriesCodeDescription", "BrandRegistration")', { seriesId: seriesCode });
                }
            }

        });

        function ajaxGetSeriesValue(url, formData) {
            if (formData.seriesId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#SeriesValue').val(data);
                    }
                });
            }
        }


        $("#MarketId").change(function() {
            if ($("#MarketId").length) {
                var marketCode = $(this).find("option:selected").val();
                if (marketCode == '') {
                    $('#MarketDescription').val('');
                } else {
                    ajaxGetMarketDescription('@Url.Action("MarketCodeDescription", "BrandRegistration")', { marketId: marketCode });
                }
            }

        });

        function ajaxGetMarketDescription(url, formData) {
            if (formData.marketId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#MarketDescription').val(data);
                    }
                });
            }

        }

        $("#GoodType").change(function() {
            if ($("#GoodType").length) {
                var goodTypeCode = $(this).find("option:selected").val();
                if (goodTypeCode == '') {
                    $('#GoodTypeDescription').val('');
                } else {
                    ajaxGetGoodTypeDescription('@Url.Action("GoodTypeDescription", "BrandRegistration")', { goodTypeId: goodTypeCode });
                }
            }

        });

        function ajaxGetGoodTypeDescription(url, formData) {
            if (formData.goodTypeId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        $('#GoodTypeDescription').val(data);
                    }
                });
            }

        }

        function addThousandsSeparator(nStr) {
            var retVal = x ? parseFloat(x.replace(/,/g, '')) : 0;
            //console.log(retVal);
            ////apply formatting

            return retVal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            

        }
        function removeCharacter(v, ch) {
            var tempValue = v + "";
            var becontinue = true;
            while (becontinue == true) {
                var point = tempValue.indexOf(ch);
                if (point >= 0) {
                    var myLen = tempValue.length;
                    tempValue = tempValue.substr(0, point) + tempValue.substr(point + 1, myLen);
                    becontinue = true;
                } else {
                    becontinue = false;
                }
            }
            return tempValue;
        }

        /*
        *  using by function ThausandSeperator!!
        */
        function characterControl(value) {
            var tempValue = "";
            var len = value.length;
            for (i = 0; i < len; i++) {
                var chr = value.substr(i, 1);
                if ((chr < '0' || chr > '9') && chr != '.' && chr != ',') {
                    chr = '';
                }

                tempValue = tempValue + chr;
            }
            return tempValue;
        }

       
        function ThausandSeperator(value, digit) {
            var thausandSepCh = ",";
            var decimalSepCh = ".";

            var tempValue = "";
            var realValue = value + "";
            var devValue = "";
            realValue = characterControl(realValue);
            var comma = realValue.indexOf(decimalSepCh);
            if (comma != -1) {
                tempValue = realValue.substr(0, comma);
                devValue = realValue.substr(comma);
                devValue = removeCharacter(devValue, thausandSepCh);
                devValue = removeCharacter(devValue, decimalSepCh);
                devValue = decimalSepCh + devValue;
                if (devValue.length > 3) {
                    devValue = devValue.substr(0, 3);
                }
            } else {
                tempValue = realValue;
            }
            tempValue = removeCharacter(tempValue, thausandSepCh);

            var result = "";
            var len = tempValue.length;
            while (len > 3) {
                result = thausandSepCh + tempValue.substr(len - 3, 3) + result;
                len -= 3;
            }
            result = tempValue.substr(0, len) + result;
            return result + devValue;
        }

       
        function allCharsToUpper(value) {
            var tempValue = "";
            var len = value.length;
            for (i = 0; i < len; i++) {
                var chr = value.substr(i, 1);
                chr = chr.toUpperCase();
                if (chr == 'İ') { chr = 'I'; }
                else if (chr == 'Ğ') { chr = 'G'; }
                else if (chr == 'Ö') { chr = 'O'; }
                else if (chr == 'Ü') { chr = 'U'; }
                else if (chr == 'Ş') { chr = 'S'; }
                else if (chr == 'Ç') { chr = 'C'; }

                tempValue = tempValue + chr;
            }
            return tempValue;
        }

    </script>
    }