@model Sampoerna.EMS.Website.Models.BrandRegistration.BrandRegistrationDetailsViewModel


<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>View Brand</h3>
            <div class="action-button">
                <a href="@Url.Action("Index", "BrandRegistration")">
                    <button class="btn btn-grey">Back</button>
                </a>
                @if (Model.IsDeleted.Equals("No"))
                {
                    <a href="javascript:void(0);" onclick=" deleteBrand() " class="btn btn-grey">Delete</a>
                }
            </div>
        </div>
    </div>
</div>


<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div class="scroll">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Brand Registration
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form class="form-excise" role="form">
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Stiker Code</label>
                                                    <div class="col-md-8">
                                                       @Html.TextBoxFor(model => model.StickerCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Plant</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PlantName, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">FA Code</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.FaCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Personalization Code</label>
                                                    <div class="col-md-8">
                                                       @Html.TextBoxFor(model => model.PersonalizationCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Product Code</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 long">Personalization Code Description</label>
                                                    <div class="col-md-8">
                                                       @Html.TextAreaFor(model => model.PersonalizationCodeDescription, new { @rows = "5", @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 long">Data Element for Product Type</label>
                                                    <div class="col-md-8">
                                                        @Html.TextAreaFor(model => model.ProductType, new { @rows = "5", @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 long">Brand Name Registration by CE Office</label>
                                                    <div class="col-md-8">
                                                        @Html.TextAreaFor(model => model.BrandName, new { @rows = "5", @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 long">Data Element for Product Type Alias</label>
                                                    <div class="col-md-8">
                                                        
                                                        @Html.TextAreaFor(model => model.ProductAlias, new { @rows = "5", @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">SKEP No</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.SkepNo, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">SKEP Date</label>
                                                    <div class="col-md-8">
                                                       @Html.TextBoxFor(model => model.SkepDate, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Series Code</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.SeriesCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Series Value</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.SeriesValue, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Content</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Content, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Market Code</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.MarketCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Market Description</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.MarketDescription, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Country Key</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">HJE</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.HjeValue, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">HJE Currency</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.HjeCurrency, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Tariff</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Tariff, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Tariff Currency</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.TariffCurrency, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Exciseable Goods Type</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.GoodType, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Colour</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.ColourName, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 long">Exciseable Goods Type Description</label>
                                                    <div class="col-md-8">
                                                        @Html.TextAreaFor(model => model.GoodTypeDescription, new { @rows = "5", @class = "form-control", @disabled = "false" })
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Start Date</label>
                                                    <div class="col-md-8">
                                                        <div class="col-md-5">
                                                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @disabled = "false" })
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>to</label>
                                                        </div>
                                                        <div class="col-md-5">
                                                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @disabled = "false" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Printing Price</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PrintingPrice, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Convertion</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Convertion, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Status</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model=>model.Status,new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Cut Filler Code</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.CutFilterCode, new { @class = "form-control", @disabled = "false" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('.check-box').attr('disabled', 'disabled');
            $('#MenuMasterBrandRegistration').addClass('active');
        });

        var deleteBrand = function() {
            if (confirm('Are You Sure')) {
                window.location = "@Url.Action("Delete", "BrandRegistration", new { id = @Model.BrandId })";
            }
            
        };
    </script>
}