@model Sampoerna.EMS.Website.Models.BrandRegistration.BrandRegistrationDetailsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Brand Registration</h3>
            <div class="action-button">
                <a href="@Url.Action("Index", "BrandRegistration")">
                    <button class="btn btn-grey">Back</button>
                </a>
                @if (Model.IsDeleted.Equals("No"))
                {
                     <a href="javascript:void(0);" onclick="confirmDeleteBrand() " class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">
                            <div class="white-wrapper">

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Detail Brand Registration
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <form class="form-excise" role="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Stiker Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("sticker_code", Model.StickerCode, new { @class = "form-control", @maxlength = "18", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Plant<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("plant", Model.PlantName,new { @class = "form-control", disabled = "disabled" })
                                                                   
                                                                    @*@Html.DropDownListFor(model => model.PlantId, Model.PlantList, "Select", new { @class = "selectpicker form-control" })*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">FA Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    
                                                                        @Html.TextBox("facode", Model.FaCode, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Personalization Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                      @Html.TextBox("percode", Model.PersonalizationCode + "-" + Model.PersonalizationCodeDescription, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Product Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                      @Html.TextBox("prodcode", Model.ProductCode + "-" + Model.ProductType + " [" + Model.ProductAlias + "]", new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">


                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4 long">Brand Name Registration by KPPBC<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                        @Html.TextArea("brandname", Model.BrandName, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                    </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">SKEP No<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                         @Html.TextBox("skepno", Model.SkepNo, new { @class = "form-control", disabled = "disabled" })
                                                                 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">SKEP Date<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                       <div class="input-group">

                                                                            @Html.TextBox("skep-date", Model.SkepDate == null ? null : Convert.ToDateTime(Model.SkepDate).ToString("dd MMM yyyy"), new { @class = "form-control", disabled = "disabled" })
                                                                        </div>
                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Series Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                        @Html.TextBox("seriescode", Model.SeriesCode + "-" + Model.SeriesValue, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Content<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                     @Html.TextBox("content", Model.Content, new { @class = "form-control", disabled = "disabled" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Market Code<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                     @Html.TextBox("marketcode", Model.MarketDescription, new { @class = "form-control", disabled = "disabled" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Country<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                     @Html.TextBox("country", Model.CountryCode, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">HJE<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("hje", Model.HjeValueStr, new { @id = "hje", @class = "decimal form-control", disabled = "disabled" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">HJE Currency<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                   @Html.TextBox("hjecurrency", Model.HjeCurrency, new { @class = "form-control", disabled = "disabled" })
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Tariff<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                      @Html.TextBox("tariffvalue", Model.Tariff, new { @class = "form-control", @id = "tariff", disabled = "disabled" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Tariff Currency<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                     @Html.TextBox("tariffcurr", Model.TariffCurrency, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Exciseable Goods Type<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("goodtype", Model.GoodType + "-" + Model.GoodTypeDescription, new { @class = "form-control", disabled = "disabled" })
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Colour<span class="red">*</span></label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("colour", Model.ColourName, new { @class = "form-control", disabled = "disabled" })
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Start Date<span class="red">*</span></label>
                                                                <div class="col-md-8">

                                                                        <div class="input-group">

                                                                             @Html.TextBox("start-date", Model.StartDate == null ? null : Convert.ToDateTime(Model.StartDate).ToString("dd MMM yyyy"), new { @class = "form-control", disabled = "disabled" })
                                                                        </div>
                                                                   


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">End Date<span class="red">*</span></label>
                                                                <div class="col-md-8">

                                                                                         
                                                                        <div class="input-group">

                                                                            @Html.TextBox("start-date", Model.EndDate == null ? null : Convert.ToDateTime(Model.StartDate).ToString("dd MMM yyyy"), new { @class = "form-control", disabled = "disabled" })
                                                                        </div>
                                                                    
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Printing Price</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("printing-price",Model.PrintingPrice, new { @class = "decimal form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Convertion</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("convertion", Model.Conversion, new { @class = "decimal form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Status</label>
                                                                <div class="col-md-8">
                                                                    @*@Html.Editor("active", Model.IsActive, new { @class = "form-control" }) Active*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-4">Cut Filler Code</label>
                                                                <div class="col-md-8">
                                                                    @Html.TextBox("cut-fillar", Model.CutFilterCode, new { @class = "form-control", @maxlength = "25" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="red">*</span> ) This Field Required
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="changes">
                        <div class="table-container">
                            @Html.Partial("_ChangesHistoryTable", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--delete-->
<input id="btn-delete-brand" style="display: none" type="submit" class="btn btn-grey" data-toggle="modal" data-target=".delete-modal.brand" value="delete">
<div class="modal ems-modal fade delete-modal brand" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteBrand();">Delete</button>
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" language="javascript">
        
    @*console.log(@Model.FaCode);*@
    $(document).ready(function () {
        $('.check-box').attr('disabled', 'disabled');
        $('#MenuMasterBrandRegistration').addClass('active');
    });
    var confirmDeleteBrand = function () {
        $('#btn-delete-brand').click();
    };
    var deleteBrand = function () {
        var faCode = '@Model.FaCode';
        window.location = "@Url.Action("Delete", "BrandRegistration", new { plant = @Model.PlantName, facode = '"' + @Model.FaCode + '"' })";


    };

    </script>
}

