@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
<div class="panel-group" id="accordionFour" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    BACK-1
                    <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4">PBCK7 Gov Status<span class="red">*</span></label>
                            <div class="col-md-8">
                                @if (Model.AllowGovApproveAndReject)
                                {
                                    @Html.EnumDropDownListFor(x => x.Pbck7GovStatus, Model.Pbck7GovStatusList, "select", new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Pbck7GovStatusDesc, new { @disabled = "disabled", @class = "form-control" })

                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 No</label>
                                <div class="col-md-8">
                                    @if (Model.AllowGovApproveAndReject)
                                    {
                                        @Html.TextBoxFor(x => x.Back1Dto.Back1Number, new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Back1Dto.Back1Number, new { @disabled = "disabled", @class = "form-control" })
                                        @*@Html.TextBox("back1_number", Model.Back1Dto.Back1Number, new { @class = "form-control", @disabled = "disabled" })*@

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div id="divComment">
                                <div class="row">
                                    <label class="col-md-4">Add Comment<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9 GovReject" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 Date</label>
                                <div class="col-md-8">

                                    @if (Model.AllowGovApproveAndReject)
                                    {
                                        <div class="input-group date">
                                            @Html.TextBoxFor(x => x.Back1Dto.Back1Date, new { @class = "form-control" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.Back1Dto.Back1Date, "{0:dd MMM yyyy}", new { @disabled = "disabled", @class = "form-control" })

                                    }


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4"></label>
                                <div class="col-md-8">


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                @if (Model.AllowGovApproveAndReject)
                                {
                                    <label class="col-md-4">Back1 Document</label>
                                    <div class="col-md-8">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="file-upload" id="poa-files">

                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary full" data-toggle="modal" data-target=".back-1">Add File</button>
                                            </div>


                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4"></label>
                                <div class="col-md-8">


                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                @if (!Model.AllowGovApproveAndReject)
                                {
                                    <label class="col-md-4"></label>
                                    <div class="col-md-8">

                                        @if (Model.Back1Dto != null && Model.Back1Dto.Documents != null)
                                        {
                                            foreach (var file in Model.Back1Dto.Documents)
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <i class="fa fa-file"></i>
                                                        <a href="@Url.Content(file.FILE_PATH)">@file.FILE_NAME</a>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>


                    </div>

                    @if (Model.AllowGovApproveAndReject)
                    {
                        @Html.Partial("_FileUploadBack1")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal upload dialog *@

<div class="modal fade in upload-file ems-modal back-1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">BACK-1 Doc Attachment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="file-sk-container" class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary full add-files">Add Files</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="file" class="file-inputs" data-filename-placement="inside" id="DocumentsPostBack_0_" name="DocumentsPostBack[0]">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" id="upload-file-sk" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

@* end Modal upload dialog *@
