@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
<div class="panel-group" id="accordionFour" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    BACK-1
                    <i class="fa fa-caret-down"></i>
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Goverment Status</label>
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(x=>x.Back1GovStatus, Model.Back1GovStatusList, "select", new { @class="form-control" })
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 No</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x=>x.Back1Dto.Back1Number, new  {@class = "form-control", @disabled="disabled"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">BACK-1 Date</label>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                       @Html.TextBoxFor(x=>x.Back1Dto.Back1Date, new  {@class = "form-control"})
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Back1 Document</label>
                                <div class="col-md-8">
                                    <div class="file-upload" id="back1-files">
                                        @if (Model.Back1Dto != null)
                                        {
                                            if (Model.Back1Dto.Documents != null)
                                            {

                                                foreach (var file in Model.Back1Dto.Documents)
                                                {

                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <a href="@Url.Content(file.FILE_PATH)">@file.FILE_NAME</a>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <button class="btn btn-danger full" type="button" onclick=" removeDocBack1(@file.BACK1_DOCUMENT_ID, '@Url.Action("RemoveDocBack1", "Pbck7AndPbck3")', this) "><i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @if (Model.Pbck7Status == Enums.DocumentStatus.Completed)
                                            {
                                                <button class="btn btn-primary full" type="button" data-toggle="modal" data-target=".upload-file-back1">Add File</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary full" type="button">Add File</button>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    @Html.Partial("_FileUploadBack1")

                </div>
            </div>
        </div>
    </div>
</div>
