@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@{
   
}

<div id="information" class="tab-pane active" role="tabpanel">
    <div class="tab-wrapper">
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="">
                            PBCK-7 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" style="">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 No</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x => x.Id)
                                            @Html.HiddenFor(x=>x.Pbck7Number)
                                            @Html.TextBox("pbck7_no", Model.Pbck7Number, new {@class = "form-control", @disabled = "disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBox("pbck7_date", Model.Pbck7Date, new { @class = "form-control", @disabled = "disabled", @Value = Model.Pbck7Date.Value.ToString("dd MMM yyyy") })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                               
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Document Type</label>
                                        <div class="col-md-8">
                                           @Html.EnumDropDownListFor(model => model.DocumentType, Model.DocumentTypeList, "Select", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date From</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.HiddenFor(x => x.ExecDateFrom)
                                                @Html.TextBox("exec_date_from", Model.ExecDateFrom, new {@class = "form-control", @disabled="disabled", @Value = Model.ExecDateFrom.HasValue ? Model.ExecDateFrom.Value.ToString("dd MMM yyyy") : null})
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date To</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.HiddenFor(x=>x.ExecDateTo)
                                                @Html.TextBox("exec_date_to", Model.ExecDateTo, new {@class = "form-control", @disabled="disabled",@Value = Model.ExecDateFrom.HasValue ? Model.ExecDateFrom.Value.ToString("dd MMM yyyy") : null})
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x=>x.NppbkcId)
                                            @Html.DropDownList("_nppbck", Model.NppbkIdList, Model.NppbkcId, new {@class = "form-control", @disabled="disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Lampiran</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x=>x.Lampiran)
                                            @Html.TextBox("_lampiran", Model.Lampiran, new { @class = "form-control", @disabled="disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant ID</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x=>x.PlantId)
                                            @Html.DropDownList("_plantid", Model.PlantList, Model.PlantId, new {@class = "form-control", @disabled="disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("poalist", null, new { @class = "form-control", @disabled = "disabled", @id = "displayPoaList" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK7 Gov Status</label>
                                        <div class="col-md-8">
                                            @if (Model.Pbck7Status == Enums.DocumentStatus.WaitingGovApproval)
                                            {
                                                @Html.EnumDropDownListFor(x => x.Pbck7GovStatus, Model.Pbck7GovStatusList, "select", new { @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.EnumDropDownListFor(x => x.Pbck7GovStatus, Model.Pbck7GovStatusList, "select", new { @class = "form-control", @disabled = "disabled" })

                                            }
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionThree" class="panel-group">
            <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapse6" aria-expanded="true" href="#collapseThree" data-parent="#accordionThree" data-toggle="collapse">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" style="">
                    <div class="panel-body">
                        <a href="javascript:void(0)"  class="btn btn-blue">Upload</a>
                        <div class="table-container" id="table-upload">
                            <table class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>FA Code</th>
                                        <th>Product Type Alias</th>
                                        <th>Brand</th>
                                        <th>Content</th>
                                        <th>PBCK-7 QTY</th>
                                        <th>BACK-1 QTY</th>
                                        <th>Series Value</th>
                                        <th>HJE</th>
                                        <th>Tariff</th>
                                        <th>Fiscal Year</th>
                                        <th>Excise Value</th>
                                    </tr>
                                </thead>
                                <tbody id="body-tb-upload">
                                    @if (Model.UploadItems != null)
                                    {
                                        for (int i = 0; i < Model.UploadItems.Count; i++)
                                        {
                                            <tr>
                                                <td>@Html.HiddenFor(x=>x.UploadItems[i].Id)
                                                    @(i+1)</td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].FaCode)
                                                    @Model.UploadItems[i].FaCode
                                                </td> 
                                                <td>@Html.HiddenFor(x => x.UploadItems[i].ProdTypeAlias)
                                                    @Model.UploadItems[i].ProdTypeAlias 
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Brand)
                                                    @Model.UploadItems[i].Brand
                                                </td> 
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Content)
                                                    @Model.UploadItems[i].Content
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Pbck7Qty)
                                                    @Model.UploadItems[i].Pbck7Qty
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Back1Qty)
                                                    @Model.UploadItems[i].Back1Qty
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].SeriesValue)
                                                    @Model.UploadItems[i].SeriesValue
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Hje)
                                                    @Model.UploadItems[i].Hje
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].Tariff)
                                                    @Model.UploadItems[i].Tariff
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].FiscalYear)
                                                    @Model.UploadItems[i].FiscalYear
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(x => x.UploadItems[i].ExciseValue)
                                                    @Model.UploadItems[i].ExciseValue
                                                </td>
                                            </tr>
                                        }
                                    }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Back1", Model)
        <div aria-multiselectable="true" role="tablist" id="accordionSix" class="panel-group">
            <div class="panel panel-default">
                <div id="headingSix" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseSix" aria-expanded="true" href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="">
                            PBCK-3 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingSix" role="tabpanel" class="panel-collapse collapse in" id="collapseSix" style="">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck3Dto.Pbck3Number, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Pbck3Dto.Pbck3Date, new { @class = "form-control", @disabled = "disabled" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK3 Gov Status</label>
                                        <div class="col-md-8">
                                           @Html.EnumDropDownListFor(x => x.Pbck3Dto.Pbck3GovStatus, Model.Pbck3GovStatusList, "select", new { @class = "form-control", @disabled = "disabled" })
                                           
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_Back", Model)
        @Html.Partial("_WorkflowHistoryPbck7", Model)
        @Html.Partial("_WorkflowHistoryPbck3", Model)
    </div>
</div>

