@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel
@using Sampoerna.EMS.Website.Helpers
@{
   
}

<div id="information" class="tab-pane active" role="tabpanel">
    <div class="tab-wrapper">
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="">
                            PBCK-3 PBCK-7 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" style="">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck7Number, new {@class = "form-control", @disabled = "disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-7 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Pbck7Date, new {@class = "form-control"})
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Pbck3Number, new {@class = "form-control", @disabled = "disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">PBCK-3 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Pbck3Date, new {@class = "form-control"})
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Document Type</label>
                                        <div class="col-md-8">
                                            @Html.EnumDropDownListFor(model => model.DocumentType, Model.DocumentTypeList, "Select", new { @class = "form-control" })
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date From</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ExecDateFrom, new {@class = "form-control"})
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="row">
                                        <label class="col-md-4">Exec Date To</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ExecDateTo, new {@class = "form-control"})
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.NppbkcId, Model.NppbkIdList, "select", new {@class = "form-model"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Lampiran</label>
                                        <div class="col-md-8">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant ID</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.PlantId, Model.PlantList, "select", new {@class = "form-model"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionThree" class="panel-group">
            <div class="panel panel-default">
                <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapse6" aria-expanded="true" href="#collapseThree" data-parent="#accordionThree" data-toggle="collapse">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse in" id="collapseThree" style="">
                    <div class="panel-body">
                        <a href="javascript:void(0)"  class="btn btn-blue" aria-controls="printout" onclick="toUploadTab()">Upload</a>
                         <div class="table-container" id="table-upload">
                            <table class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>FA Code</th>
                                        <th>Product Type Alias</th>
                                        <th>Brand</th>
                                        <th>Content</th>
                                        <th>PBCK-7 QTY</th>
                                        <th>BACK-1 QTY</th>
                                        <th>Series Value</th>
                                        <th>HJE</th>
                                        <th>Tariff</th>
                                        <th>Fiscal Year</th>
                                        <th>Excise Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                    </tr>
                                    <tr>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                    </tr>
                                    <tr>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                        <td> &nbsp; </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="true" role="tablist" id="accordionFour" class="panel-group">
            <div class="panel panel-default">
                <div id="headingFour" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                        <a aria-controls="collapseFour" aria-expanded="true" href="#collapseFour" data-parent="#accordionFour" data-toggle="collapse" class="collapsed">
                            BACK-1
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour" style="height: 0px;">
                    <div class="panel-body">
                        <div role="form" class="form-excise">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Goverment Status</label>
                                        <div class="col-md-8">
                                            @Html.TextBox("back1_gov_status", null, new { @class="form-class", @disabled="disabled" }) 
                                             })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 No</label>
                                        <div class="col-md-8">
                                             @Html.TextBox("back1_no", null, new { @class = "form-class", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">BACK-1 Doc</label>
                                        <div class="col-md-8">
                                            <input type="file" multiple="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Back", Model)
        @Html.Partial("_WorkflowHistory", Model)
    </div>
</div>

