@*@model List<Sampoerna.EMS.BusinessObject.DTOs.Pbck3Dto>*@

@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck3SummaryReportModel

<table id="pbck3-summary" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row">PBCK-3 Number</th>
            <th>PBCK-7 Number</th>
            <th>CK-5 Number</th>
            <th>NPPBKC</th>
            <th>KPPBC</th>
            <th>Plant ID</th>
            <th>Plant Desc</th>
            <th>Date</th>
            <th>BACK-3 Number</th>
            <th>Back-3 Date</th>
            <th>CK-2 Number</th>
            <th>CK-2 Date</th>
            <th>CK-2 Value</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.ReportItems)
            {
                <tr>

                    <td>@Html.DisplayFor(model => item.Pbck3Number)</td>
                    <td>@Html.DisplayFor(model => item.Pbck7Number)</td>
                    <td>@Html.DisplayFor(model => item.Ck5Number)</td>
                    <td>@Html.DisplayFor(model => item.Nppbkc)</td>
                    <td>@Html.DisplayFor(model => item.Kppbc)</td>
                    <td>@Html.DisplayFor(model => item.PlantId)</td>
                    <td>@Html.DisplayFor(model => item.PlantName)</td>
                    <td>@Html.DisplayFor(model => item.Pbck3Date)</td>
                    <td>@Html.DisplayFor(model => item.Back3No)</td>
                    <td>@Html.DisplayFor(model => item.Back3Date)</td>
                    <td>@Html.DisplayFor(model => item.Ck2No)</td>
                    <td>@Html.DisplayFor(model => item.Ck2Date)</td>
                    <td>@Html.DisplayFor(model => item.Ck2Value)</td>
                    <td>@Html.DisplayFor(model => item.Pbck3Status)</td>
                    @*<td>@item.Pbck3Number</td>
                    <td>@item.Pbck7Number</td>
                    <td>@item.Ck5Number</td>
                    <td>@item.NppbckId</td>
                    <td>@item.Plant</td>
                    <td>@item.Pbck3Date.Value.ToString("dd MMM yyyy")</td>
                    <td>@Sampoerna.EMS.Utils.EnumHelper.GetDescription(item.Pbck3Status)</td>
                    <td>@(item.Back3Dto != null ? item.Back3Dto.Back3Number : string.Empty)</td>
                    <td>@(item.Back3Dto != null && item.Back3Dto.Back3Date.HasValue ? item.Back3Dto.Back3Date.Value.ToString("dd MMM yyyy") : null)</td>
                    <td>@(item.Ck2Dto != null ? item.Ck2Dto.Ck2Number : string.Empty)</td>
                    <td>@(item.Ck2Dto != null && item.Ck2Dto.Ck2Date.HasValue ? item.Ck2Dto.Ck2Date.Value.ToString("dd MMM yyyy") : null)</td>
                    <td>@(item.Ck2Dto != null ? item.Ck2Dto.Ck2Value : 0)</td>*@
                </tr>
            }
        }

    </tbody>
</table>



