@model List<Sampoerna.EMS.BusinessObject.DTOs.Pbck7AndPbck3Dto>

<table id="pbck7-summary" class="table-condensed display compact nowrap">
    <thead>
        <tr>

            <th class="toggle-row">Number</th>
            <th>NPPBKC</th>
            <th>Plant</th>
            <th>Date</th>
            <th>Doc.Type</th>
            <th>Status</th>
            <th>Exec From</th>
            <th>Exec To</th>
            <th>Back-1 No</th>
            <th>Back-1 Date</th>
        </tr>
    </thead>
    
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>@item.Pbck7Number</td>
                    <td>@item.NppbkcId</td>
                    <td>@(item.PlantId + "-" + item.PlantName)</td>
                    <td>@item.Pbck7Date.ToString("dd MMM yyyy")</td>
                    <td>@Sampoerna.EMS.Utils.EnumHelper.GetDescription(item.DocumentType)</td>
                    <td>@Sampoerna.EMS.Utils.EnumHelper.GetDescription(item.Pbck7Status)</td>
                    <td>@(item.ExecDateFrom.HasValue?item.ExecDateFrom.Value.ToString("dd MMM yyyy") : string.Empty)</td>
                    <td>@(item.ExecDateTo.HasValue ? item.ExecDateTo.Value.ToString("dd MMM yyyy") : string.Empty)</td>
                    <td>@(item.Back1Dto != null ? item.Back1Dto.Back1Number : string.Empty)</td>
                    <td>@(item.Back1Dto != null ? item.Back1Dto.Back1Date.Value.ToString("dd MMM yyyy") : string.Empty)</td>
                </tr>
            }
        }

    </tbody>
</table>

