@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel

<div id="table-upload-preview">
    <table class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>FA Code</th>
                <th>Product Type Alias</th>
                <th>Brand</th>
                <th>Content</th>
                <th>PBCK-7 QTY</th>
                <th>BACK-1 QTY</th>
                <th>Series Value</th>
                <th>HJE</th>
                <th>Tariff</th>
                <th>Fiscal Year</th>
                <th>Excise Value</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UploadItems != null)
            {
                for(int i=0; i<Model.UploadItems.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model.UploadItems[i].FaCode</td>
                        <td>@Model.UploadItems[i].ProdTypeAlias</td>
                        <td>@Model.UploadItems[i].Brand</td>
                        <td>@Model.UploadItems[i].Content</td>
                        <td>@Model.UploadItems[i].Pbck7Qty </td>
                        <td>@Model.UploadItems[i].Back1Qty </td>
                        <td>@Model.UploadItems[i].SeriesValue </td>
                        <td>@Model.UploadItems[i].Hje</td>
                        <td>@Model.UploadItems[i].Tariff </td>
                        <td>@Model.UploadItems[i].FiscalYear </td>
                        <td>@Model.UploadItems[i].ExciseValue </td>
                    </tr>
                }

            }
       
        </tbody>
    </table>
</div>