@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel

@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm(Model.ActionType, "PBCK7AndPBCK3", FormMethod.Post, new {@id = "form-pbck7-detail", @class = "form-excise", role = "form", enctype = "multipart/form-data"}))
{
  
    
    
  
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                @*<h3>PBCK-3</h3>
                <label class="status">@Model.Pbck3StatusName</label>*@
                <h3>PBCK-7</h3>
                <label class="status">@Model.Pbck7StatusName</label>
                <div class="action-button">
                  
                        @if (Model.AllowApproveAndReject)
                        {
                            <input type="button" class="btn btn-blue" value="Approve" id="btnApprove" />

                            <input type="button" class="btn btn-danger" value="Reject" id="btnRejectPbck7" />
                        }
                        else
                        {
                            if (Model.AllowGovApproveAndReject)
                            {
                                <input type="button" class="btn btn-blue" value="Save" id="btnSaveGovStatus" />
                            }

                            if (Model.AllowManagerReject)
                            {
                                <input type="button" class="btn btn-danger" value="Reject" id="btnRejectPbck7" />
                            }
                        }
                    
                  
                    <input type="button" class="btn btn-grey" value="Print Preview PBCK-7" onclick="printPreview('@Url.EncryptedAction("PrintPreviewPbck7", "Pbck7AndPbck3", new { id = @Model.Id })')" />
                  
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active" id="tab-information" role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Information</a></li>
                        <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="printoutpbck7" href="#printoutpbck7">Print Out PBCK-7</a></li>
                        @*<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="printoutpbck3" href="#printoutpbck3">Print Out PBCK-3</a></li>*@
                        @*<li role="presentation" id="tab-upload" ><a data-toggle="tab" role="tab" aria-controls="upload" href="#upload">Upload</a></li>*@
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>

                    </ul>
                    @Html.HiddenFor(x => x.ActionType)
                    @Html.HiddenFor(x => x.IsSaveSubmit)
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Pbck7Number)
                    @Html.HiddenFor(x => x.CreatedBy)
                    @Html.HiddenFor(x => x.CreatedDate)
                    @Html.HiddenFor(x => x.Pbck7Status)
                    @Html.HiddenFor(x => x.Pbck7StatusName)
                    
                  
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeDetail")
                        @Html.Partial("_PrintOutPbck7")
                        @*@Html.Partial("_PrintOutPbck3")*@  
                        @*@Html.Partial("_Upload")*@
                        @Html.Partial("_Pbck7ChangeLog")
                       

                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
}

    <div id="pbck7ApproveModal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3>Approve</h3>
                </div>
                <div class="modal-body">
                    Approve Documents  ?
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnApproveConfirm" class="btn btn-blue" value="Yes" />
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
                </div>
            </div>
        </div>
    </div>
    <div id="pbck7RejectModal" class="modal fade in reject-doc ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Reject PBCK-7 document</h4>
                </div>
                @using (Html.BeginForm("RejectDocumentPbck7", "Pbck7AndPbck3"))
                {
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-excise" role="form">
                            <div class="row">
                                <label class="col-md-3">Add Comment<span class="red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                        <input type="submit" class="btn btn-danger" value="Reject" disabled id="btnConfirmRejectPbck7" />
                    </div>
                }
            </div>
        </div>
    </div>

    

<div id="ModalPbck7ValidateGov" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing attach files</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/Pbck7Script.js"></script>
    <script src="~/Scripts/Pbck7ScriptDocUpload.js"></script>
   




    <script type="text/javascript">
        
        $('#btn-changelog-export-xls').click(function () {
            location.href = '@Url.Action("ExportXls", "PBCK7AndPBCK3", new { pbckId = Model.Id })';
        });
        
        $("#btnApproveConfirm").click(function () {
            //$('#ActionType').val('Approve');
            //$('#form-pbck7-detail').submit();
            window.location = "@Url.Action("ApproveDocument", "PBCK7AndPBCK3", new { id = @Model.Id })";
        });

        $("#btnSaveGovStatus").click(function () {
            if (ValidateGovInput()) {
                $('#form-pbck7-detail').submit();
                @*window.location = "@Url.Action("GovApproveDocument", "PBCK7AndPBCK3", new { id = @Model.Id })";*@
            }
        });

        $('#divComment').hide();
        
        $('#Pbck7GovStatus').on('change', function (e) {
            var valueSelected = this.value;

            $('#divComment').hide();

         
            if (valueSelected == 'Rejected') {
                $('#divComment').show();

            }

        });
        
     
        $("#btnApproveConfirmPbck3").click(function () {
            $('#ActionType').val('ApprovePbck3');
            $('#form-pbck7-detail').submit();
        });
        $('#btnApprove').click(function () {

            $('#pbck7ApproveModal').modal('show');
        });
        $('#btnApprovePbck3').click(function () {

            $('#pbck3ApproveModal').modal('show');
        });
        $("#btnSubmitConfirm").click(function() {
            $('#IsSaveSubmit').val('true');
            $('#form-pbck7-edit').submit();
        });
        $('#btnSubmitDocument').click(function() {

            $('#pbck7Modal').modal('show');
        });
        $('#btn-generate-upload').click(function() {
            uploadXmlFile();
        });
     
        
        function printPreview(url) {

            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

        }
        
        function PrintOutClick(reportUrl, addHistoryUrl, id) {

            window.open(reportUrl, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

            $.ajax({
                type: 'POST',
                url: addHistoryUrl,
                data: { id: id },
                success: function (response) {
                    $('#PrintOutHistoryTable').html("");
                    $('#PrintOutHistoryTable').html(response);
                    ResetPrintHistoryDataTable();
                }
            });
        }
        function ResetPrintHistoryDataTable() {
            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#printHistoryTable')) {
                table = $('#printHistoryTable').DataTable();
                table.destroy();
            }

            table = $('#printHistoryTable').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });


        }
        $('#btnRejectPbck7').click(function () {
            $('#btnConfirmRejectPbck7').attr('disabled', 'disabled');

            $('#pbck7RejectModal').modal('show');
        });
      
        $('#Comment').bind('input propertychange', function () {

            $('#btnConfirmRejectPbck7').attr('disabled', 'disabled');
           
            if (this.value.length) {
                $('#btnConfirmRejectPbck7').removeAttr('disabled');
              
            }
        });
        $('#Pbck3Dto_Comment').bind('input propertychange', function () {

            $('#btnConfirmRejectPbck3').attr('disabled', 'disabled');

            if (this.value.length) {
                $('#btnConfirmRejectPbck3').removeAttr('disabled');

            }
        });
    </script>
}
