@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7Pbck3CreateViewModel

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("Edit", "PBCK7AndPBCK3", FormMethod.Post, new { @id = "form-pbck7-edit", @class = "form-excise", role = "form", enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(x => x.ActionType)
    @Html.HiddenFor(x => x.IsSaveSubmit)
    @*@Html.HiddenFor(x => x.ActionTypePbck3)
    @Html.HiddenFor(x => x.IsSaveSubmitPbck3)*@
    @Html.HiddenFor(x => x.Id)
    @*@Html.HiddenFor(x => x.Pbck3Dto.Pbck3Id)*@
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.CreatedDate)
    @*@Html.HiddenFor(x => x.ModifiedBy)
    @Html.HiddenFor(x => x.ModifiedDate)
    @Html.HiddenFor(x => x.ApprovedBy)
    @Html.HiddenFor(x => x.ApprovedDate)
    @Html.HiddenFor(x => x.ApprovedByManager)
    @Html.HiddenFor(x => x.ApprovedDateManager)
    @Html.HiddenFor(x => x.RejectedBy)
    @Html.HiddenFor(x => x.RejectedDate)*@
    @Html.HiddenFor(x => x.Pbck7Status)
    @Html.HiddenFor(x => x.Pbck7StatusName)
    
    @*@Html.HiddenFor(x => x.Pbck3Dto.Pbck3Status)
    @Html.HiddenFor(x => x.Pbck3Dto.CreatedBy)
    @Html.HiddenFor(x => x.Pbck3Dto.CreateDate)
    @Html.HiddenFor(x => x.Pbck3Dto.ModifiedBy)
    @Html.HiddenFor(x => x.Pbck3Dto.ModifiedDate)
    @Html.HiddenFor(x => x.Pbck3Dto.ApprovedBy)
    @Html.HiddenFor(x => x.Pbck3Dto.ApprovedDate)
    @Html.HiddenFor(x => x.Pbck3Dto.ApprovedByManager)
    @Html.HiddenFor(x => x.Pbck3Dto.ApprovedDateManager)
    @Html.HiddenFor(x => x.Pbck3Dto.RejectedBy)
    @Html.HiddenFor(x => x.Pbck3Dto.RejectedDate)*@

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                @*<h3>PBCK-3</h3>
                <label class="status">@Model.Pbck3StatusName</label>*@
                <h3>PBCK-7</h3>
                <label class="status">@Model.Pbck7StatusName</label>
                <div class="action-button">
                    <input type="button" value="Back" class="btn btn-blue" id="btnBack" />
                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                    <input type="button" class="btn btn-grey" value="Print Preview PBCK-7" onclick="printPreview('@Url.EncryptedAction("PrintPreviewPbck7", "Pbck7AndPbck3", new { id = @Model.Id })')" />
                    <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />

                </div>
               
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul role="tablist" class="nav nav-tabs">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeEdit")
                        @Html.Partial("_Upload")
                        @Html.Partial("_Pbck7ChangeLog")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pbck7Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3>Submit PBCK7</h3>
                </div>
                <div class="modal-body">
                    Submit Documents  ?
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnSubmitConfirm" class="btn btn-blue" value="Yes" />
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
                </div>
            </div>
        </div>
    </div>
    if(Model.Pbck7Status == Enums.DocumentStatus.Completed)
    {
        <div id="pbck3Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3>Submit PBCK3</h3>
                    </div>
                    <div class="modal-body">
                        Submit Documents  ?
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnSubmitConfirmPbck3" class="btn btn-blue" value="Yes" />
                        <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
                    </div>
                </div>
            </div>
        </div>
    }

}

<div id="ModalPbck7Items" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">PBCK-7 Items</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Pbck7InputManual")


@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/pbck7/form.js"></script>
    <script src="~/Scripts/Pbck7Script.js"></script>
    <script src="~/Scripts/Pbck7InputManual.js"></script>
    <script type="text/javascript">

        $('#MenuPBCK7Index').addClass('active');
        
        $('#btn-generate-upload').click(function() {
            uploadXmlFile('@Url.Action("UploadFile", "PBCK7AndPBCK3")');
        });


        $('#btnBack').click(function(e) {
            location.href = '@Url.Action("Index", "PBCK7AndPBCK3")';
        });

        $("#btnSave").click(function() {

            if (ValidatePbck7Form()) {
                $('#form-pbck7-edit').submit();
            }
        });

        $("#btnSubmitDocument").click(function() {
            if (ValidatePbck7Form()) {
                $('#pbck7Modal').modal('show');
            }

        });

        $("#btnSubmitConfirm").click(function() {
            if (ValidatePbck7Form()) {
                $('#IsSaveSubmit').val('true');
                $('#form-pbck7-edit').submit();
            }
        });        
       

        $('#NppbkcId').change(function() {

            if ($(this).length) {
                var nppbkc = $(this).find("option:selected").val();
                //remove table
                try {
                    RemovePbck7ItemsTable();
                } catch(e) {
                }
                
                $('#PlantId').html('');
                if (nppbkc != '') {
                    //ajaxGetPlantByNppbkc(nppbkc);
                    //ajaxGetPoaByNppbkc(nppbkc);
                    ajaxGetPlantByNppbkc(nppbkc, '@Url.Action("GetPlantByNppbkcId", "PBCK7AndPBCK3")');
                    ajaxGetPoaByNppbkc(nppbkc, '@Url.Action("GetPoaByNppbkcId", "PBCK7AndPBCK3")');
                }
            }

        });

        function printPreview(url) {

            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

        }

        $("#btnAddRow").click(function() {
            var sourcePlant = $("#PlantId").find("option:selected").val();

            $("#uploadPlant").val(sourcePlant);

            ajaxGetListFaCode('@Url.Action("GetListFaCode", "PBCK7AndPBCK3")', { plantId: sourcePlant }, '');

            $('#btnSaveMaterial').show();
            $('#btnUpdateMaterial').hide();

            ClearInputForm();
            ClearValidation();
            $("#lblTitleInputManual").text('New Input');

            $('#Pbck7UploadModal').modal('show');
        });

        $("#uploadFaCode").change(function() {
            if ($("#uploadFaCode").length) {
                var faCode = $(this).find("option:selected").val();


                if (faCode == '') {
                    $("#uploadProductTypeAlias").val('');
                    $("#uploadBrand").val('');
                    $("#uploadContent").val('');
                    $("#uploadSeriesValue").val('');
                    $("#uploadHje").val('');
                    $("#uploadTariff").val('');
                } else {

                    var plant = $("#uploadPlant").val();
                    ajaxGetBrandItems('@Url.Action("GetBrandItems", "PBCK7AndPBCK3")', { plantId: plant, faCode: faCode });
                }
            }
        });


        function EditRow(o) {

            var nRow = o.parents('tr');

            $('#btnSaveMaterial').hide();
            $('#btnUpdateMaterial').show();

            var sourcePlant = $("#PlantId").find("option:selected").val();

            var faCode = nRow.find("td").eq(2).html();
            $("#uploadPlant").val(sourcePlant);

            ajaxGetListFaCode('@Url.Action("GetListFaCode", "PBCK7AndPBCK3")', { plantId: sourcePlant }, faCode);

            //set value
            $('#uploadMaterialRow').val(nRow.find("td").eq(1).html());

            ClearInputForm();
            ClearValidation();

            $("#uploadProductTypeAlias").val('');
            $("#uploadBrand").val('');

            $("#uploadContent").val('');
            $("#uploadPbck7Qty").val('0');
            $("#uploadBack1Qty").val('');
            $("#uploadSeriesValue").val('');

            $("#uploadHje").val('');
            $("#uploadTariff").val('');
            $("#uploadFiscalYear").val('');
            $("#uploadExciseValue").val('');

            $('#uploadProductTypeAlias').val(nRow.find("td").eq(3).html());
            $('#uploadBrand').val(nRow.find("td").eq(4).html());
            $('#uploadContent').val(nRow.find("td").eq(5).html());
            $('#uploadPbck7Qty').val(nRow.find("td").eq(6).html());
            //7 back1 qty
            $('#uploadSeriesValue').val(nRow.find("td").eq(8).html());
            $('#uploadHje').val(nRow.find("td").eq(9).html());
            $('#uploadTariff').val(nRow.find("td").eq(10).html());

            $('#uploadFiscalYear').val(nRow.find("td").eq(11).html());
            $('#uploadExciseValue').val(nRow.find("td").eq(12).html());


            $("#lblTitleInputManual").text('Edit Input');

            $('#Pbck7UploadModal').modal('show');


        }

    </script>
    }
