@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7SummaryReportModel
@using Sampoerna.EMS.Website.Helpers
@{
    ViewBag.Title = "Pbck7SummaryReport";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Summary Report</h3>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterPbck7SummaryReport", "PBCK3_PBCK7",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables",
                    }, new {@class = "form-excise", role = "form"}))
                {
                    <form class="form-excise" role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK No</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNumber, Model.Pbck7List, "All", new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNppbkc, Model.NppbkcList, "All", new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-2">From</label>
                                    <div class="col-md-4">
                                        <div class="input-group date">
                                           @Html.TextBoxFor(x=>x.From, new { @class="form-control"})
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-md-2">To</label>
                                    <div class="col-md-4">
                                        <div class="input-group date">
                                           @Html.TextBoxFor(x => x.To, new { @class = "form-control" })
                                          <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4 long">Plant</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedPlant, Model.PlantList, "All", new {@class = "form-control"})


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="last-form">
                                <div class="col-md-4 col-md-offset-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full">VIEW</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full">EXPORT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="table-container">
                <div id="pbck-1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_length" id="pbck-1_length"><label>Show <select name="pbck-1_length" aria-controls="pbck-1" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="pbck-1_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="pbck-1"></label></div><div class="dataTables_scroll">
                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 997px; padding-right: 17px;">
                                <table class="display dataTable no-footer" cellspacing="0" width="100%" role="grid" style="margin-left: 0px; width: 997px;">
                                    <thead>
                                        <tr role="row"><th class="sorting" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 97px;" aria-label="No: activate to sort column ascending">No</th><th class="sorting_asc" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 173px;" aria-sort="ascending" aria-label="KPPBC: activate to sort column descending">KPPBC</th><th class="sorting" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 206px;" aria-label="NPPBKC: activate to sort column ascending">NPPBKC</th><th class="sorting" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 142px;" aria-label="Plant: activate to sort column ascending">Plant</th><th class="sorting" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 133px;" aria-label="Date: activate to sort column ascending">Date</th><th class="sorting" tabindex="0" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 167px;" aria-label="Status: activate to sort column ascending">Status</th></tr>
                                    </thead>
                                </table>
                            </div>
                        </div><div class="dataTables_scrollBody" style="overflow: auto; height: 54px; width: 100%;">
                            <table id="pbck-1" class="display dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="pbck-1_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" style="height: 0px;"><th class="sorting" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 97px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="No: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">No</div></th><th class="sorting_asc" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 173px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="KPPBC: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">KPPBC</div></th><th class="sorting" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 206px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="NPPBKC: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">NPPBKC</div></th><th class="sorting" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 142px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Plant: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Plant</div></th><th class="sorting" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 133px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Date: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Date</div></th><th class="sorting" aria-controls="pbck-1" rowspan="1" colspan="1" style="width: 167px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Status: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Status</div></th></tr>
                                </thead>

                                <tbody>





                                    <tr role="row" class="odd">
                                        <td></td>
                                        <td class="sorting_1"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td></td>
                                        <td class="sorting_1"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td></td>
                                        <td class="sorting_1"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td></td>
                                        <td class="sorting_1"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td></td>
                                        <td class="sorting_1"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><div class="dataTables_info" id="pbck-1_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div><div class="dataTables_paginate paging_simple_numbers" id="pbck-1_paginate"><a class="paginate_button previous disabled" aria-controls="pbck-1" data-dt-idx="0" tabindex="0" id="pbck-1_previous">Previous</a><span><a class="paginate_button current" aria-controls="pbck-1" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="pbck-1" data-dt-idx="2" tabindex="0" id="pbck-1_next">Next</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}