@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7SummaryReportModel
@using Sampoerna.EMS.Website.Helpers
@{
    ViewBag.Title = "Pbck7SummaryReport";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Summary Report</h3>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterPbck7SummaryReport", "PBCK3_PBCK7",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables",
                    }, new { @class = "form-excise", role = "form" }))
                {
                    <form class="form-excise" role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK No</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNumber, Model.Pbck7List, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNppbkc, Model.NppbkcList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">From-To</label>
                                    <div class="col-md-8 year-from">
                                        @Html.DropDownListFor(x => x.From, Model.FromYear, "All", new { @class = "form-control selectreset" })
                                        @Html.DropDownListFor(x => x.To, Model.ToYear, "All", new { @class = "form-control selectreset" })


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4 long">Plant</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedPlant, Model.PlantList, "All", new { @class = "form-control" })


                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">FA Code</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.FaCode, Model.FaCodeList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Brand</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Brand, Model.BrandList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Content</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Content, Model.ContentList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">HJE</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Hje, Model.HjeList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Tariff</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Tariff, Model.TariffList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK-7 Qty</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Pbck7Qty, Model.Pbck7QtyList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Fiscal Year</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.FiscalYear, Model.FiscalYearList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Excise Value</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.ExciseValue, Model.ExciseValueList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Poa, Model.PoaList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Creator, Model.CreatorList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK-3 No</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Pbck3No, Model.Pbck3NoList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK-3 Status</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Pbck3Status, Model.Pbck3StatusList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">CK-2 No</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Ck2No, Model.Ck2NoList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">CK-2 Value</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.Ck2Value, Model.Ck2ValueList, "All", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="last-form">
                                <div class="col-md-4 col-md-offset-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full" id="btnFILTER">VIEW</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full" id="btnExport">EXPORT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                }
            </div>
            <div>
            @using (Html.BeginForm("Pbck7ExportSummaryReports", "Pbck7AndPbck3", FormMethod.Post, new {@id = "ExportSummaryReportsForms"}))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">
                                    <div>
                                        @Html.HiddenFor(model => model.ExportModel.Pbck7No)
                                        @Html.HiddenFor(model => model.ExportModel.NppbkcId)
                                        @Html.HiddenFor(model => model.ExportModel.Plant)
                                        @Html.HiddenFor(model => model.ExportModel.FromYear)
                                        @Html.HiddenFor(model => model.ExportModel.ToYear)
                                        
                                        @Html.HiddenFor(model => model.ExportModel.FaCode)
                                        @Html.HiddenFor(model => model.ExportModel.Brand)
                                        @Html.HiddenFor(model => model.ExportModel.Content)
                                        @Html.HiddenFor(model => model.ExportModel.Hje)
                                        @Html.HiddenFor(model => model.ExportModel.Tariff)
                                        @Html.HiddenFor(model => model.ExportModel.Pbck7Qty)
                                        @Html.HiddenFor(model => model.ExportModel.FiscalYear)
                                        @Html.HiddenFor(model => model.ExportModel.ExciseValue)
                                        @Html.HiddenFor(model => model.ExportModel.Poa)
                                        @Html.HiddenFor(model => model.ExportModel.Creator)
                                        @Html.HiddenFor(model => model.ExportModel.Pbck3No)
                                        @Html.HiddenFor(model => model.ExportModel.Pbck3Status)
                                        @Html.HiddenFor(model => model.ExportModel.Ck2No)
                                        @Html.HiddenFor(model => model.ExportModel.Ck2Value)


                                        <div class="row toggle">
                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPbck7No, new {@id = "checkboxDefault1", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "0"})Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectNppbkc, new {@id = "checkboxDefault2", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1"})NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPlant, new { @id = "checkboxDefault3", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })Plant
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectDate, new { @class = "checkbox checkexport", @datacolumn = "3" })Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectDocType, new { @class = "checkbox checkexport", @datacolumn = "4" })Doc.Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectStatus, new { @class = "checkbox checkexport", @datacolumn = "5" })Status
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectExecFrom, new { @class = "checkbox checkexport", @datacolumn = "6" })Exec From
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectExecTo, new { @class = "checkbox checkexport", @datacolumn = "7" })Exec To
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectBack1No, new { @class = "checkbox checkexport", @datacolumn = "8" })Back1 No
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectBack1Date, new { @class = "checkbox checkexport", @datacolumn = "9" })Back1 Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectFaCode, new { @class = "checkbox checkexport", @datacolumn = "10" })FA Code
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectBrand, new { @class = "checkbox checkexport", @datacolumn = "11" })Brand
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectContent, new { @class = "checkbox checkexport", @datacolumn = "12" })Content
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectHje, new { @class = "checkbox checkexport", @datacolumn = "13" })HJE
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectTariff, new { @class = "checkbox checkexport", @datacolumn = "14" })Tariff
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPbck7Qty, new { @class = "checkbox checkexport", @datacolumn = "15" })PBCK-7 Qty
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectFiscalYear, new { @class = "checkbox checkexport", @datacolumn = "16" })Fiscal Year
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectExciseValue, new { @class = "checkbox checkexport", @datacolumn = "17" })Excise Value
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPoa, new { @class = "checkbox checkexport", @datacolumn = "18" })POA
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCreator, new { @class = "checkbox checkexport", @datacolumn = "19" })Creator
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPbck3No, new { @class = "checkbox checkexport", @datacolumn = "20" })PBCK-3 No
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPbck3Status, new { @class = "checkbox checkexport", @datacolumn = "21" })PBCK-3 Status
                                                    </label>
                                                </div>
                                                
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCk2No, new { @class = "checkbox checkexport", @datacolumn = "22" })CK-2 No
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCk2Value, new { @class = "checkbox checkexport", @datacolumn = "23" })CK-2 Value
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCompletedDate, new { @class = "checkbox checkexport", @datacolumn = "24" })CompletedDate
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
                </div>
            <div class="table-container">
                <div id="contenttable" class="dataTables_wrapper no-footer">
                    @Html.Partial("_Pbck7SummaryIndex")
                </div>
            </div>
        </div>
    </div>
</div>

            
            @section scripts {
                <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
                <script type="text/javascript">
                    // DataTable
                    var table = null;

                    $(document).ready(function() {
                        setupDataTables(true);
                        
                        $('#MenuPbck7OpenDocument').removeClass('open');
                        $('#MenuPbck7Report').addClass('open');
                        $('#MenuPbck7SummaryReport').addClass('active');
                     
                    });


                    function setupDataTables(blFirst) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#pbck7-summary')) {
                            table = $('#pbck7-summary').DataTable();
                            table.destroy();
                        }

                        table = $('#pbck7-summary').DataTable(
                            {
                                "order": [[0, 'asc'], [2, 'asc']],
                                "sDom": "Rlfrtip",
                                "language": {
                                    "zeroRecords": "No records found",
                                    "infoFiltered": "(filtered from _MAX_ total records)"
                                }
                            });


                        $('#selecctall').change(function() {
                            if ($(this).is(':checked')) {
                                $('.checkexport').each(function () {
                                    this.checked = true;
                                });
                                for (var i = 0; i < 25; i++) {
                                    table.column(i).visible(true);
                                }
                                $('#pbck7-summary').parents('div.dataTables_wrapper').first().show();
                                
                            
                            } else {
                                $('.checkexport').each(function() {
                                    this.checked = false;
                                });
                                for (var i = 0; i < 25; i++) {
                                    table.column(i).visible(false);
                                }
                                $('#pbck7-summary').parents('div.dataTables_wrapper').first().hide();
                            }
                        });

                        $('.checkexport').on('click', function(e) {
                            var column = table.column($(this).attr('datacolumn'));

                            column.visible(!column.visible());

                            $('#pbck7-summary').parents('div.dataTables_wrapper').first().hide();

                            for (var i = 0; i < 25; i++) {
                                if (table.column(i).visible()) {
                                    $('#pbck7-summary').parents('div.dataTables_wrapper').first().show();
                                    return;
                                }
                            }

                        });

                        if (blFirst) {

                            for (var i = 3; i < 25; i++) {
                                table.column(i).visible(false);
                            }

                        } else {
                            $('.checkexport').each(function() {

                                // Get the column API object
                                var column = table.column($(this).attr('datacolumn'));

                                // Toggle the visibility
                                column.visible(false);
                                if ($(this).is(':checked')) {
                                    // Toggle the visibility
                                    column.visible(true);
                                }

                            });
                        }                        


                    }

                    function ReloadDataTables() {
                        //$('.toggle-row').click(function() {

                        //    var filter = $(".filters");
                        //    filter.slideToggle(100).promise().done(function() {

                        //    });
                        //});
                        setupDataTables(false);
                    }


                    $("#btnExport").click(function() {
                        $('#ExportModel_Pbck7No').val($('#SelectedNumber').find("option:selected").val());
                        $('#ExportModel_NppbkcId').val($('#SelectedNppbkc').find("option:selected").val());
                        $('#ExportModel_Plant').val($('#SelectedPlant').find("option:selected").val());
                        $('#ExportModel_FromYear').val($('#FromYear').find("option:selected").val());
                        $('#ExportModel_ToYear').val($('#ToYear').find("option:selected").val());
                        
                        $('#ExportModel_FaCode').val($('#FaCode').find("option:selected").val());
                        $('#ExportModel_Brand').val($('#Brand').find("option:selected").val());
                        $('#ExportModel_Content').val($('#Content').find("option:selected").val());
                        $('#ExportModel_Hje').val($('#Hje').find("option:selected").val());
                        $('#ExportModel_Tariff').val($('#Tariff').find("option:selected").val());
                        $('#ExportModel_Pbck7Qty').val($('#Pbck7Qty').find("option:selected").val());
                        $('#ExportModel_FiscalYear').val($('#FiscalYear').find("option:selected").val());
                        $('#ExportModel_ExciseValue').val($('#ExciseValue').find("option:selected").val());
                        $('#ExportModel_Poa').val($('#Poa').find("option:selected").val());
                        $('#ExportModel_Creator').val($('#Creator').find("option:selected").val());
                        $('#ExportModel_Pbck3No').val($('#Pbck3No').find("option:selected").val());
                        $('#ExportModel_Pbck3Status').val($('#Pbck3Status').find("option:selected").val());
                        $('#ExportModel_Ck2No').val($('#Ck2No').find("option:selected").val());
                        $('#ExportModel_Ck2Value').val($('#Ck2Value').find("option:selected").val());
                        

                        $('#ExportSummaryReportsForms').submit();
                    });

                </script>
            }
