@model Sampoerna.EMS.Website.Models.PBCK7AndPBCK3.Pbck7SummaryReportModel
@using Sampoerna.EMS.Website.Helpers
@{
    ViewBag.Title = "Pbck7SummaryReport";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Summary Report</h3>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterPbck7SummaryReport", "PBCK3_PBCK7",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables",
                    }, new {@class = "form-excise", role = "form"}))
                {
                    <form class="form-excise" role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">PBCK No</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNumber, Model.Pbck7List, "All", new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedNppbkc, Model.NppbkcList, "All", new {@class = "form-control"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-2">From</label>
                                    <div class="col-md-4">
                                        <div class="input-group date">
                                           @Html.TextBoxFor(x=>x.From, new { @class="form-control"})
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-md-2">To</label>
                                    <div class="col-md-4">
                                        <div class="input-group date">
                                           @Html.TextBoxFor(x => x.To, new { @class = "form-control" })
                                          <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4 long">Plant</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.SelectedPlant, Model.PlantList, "All", new {@class = "form-control"})


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="last-form">
                                <div class="col-md-4 col-md-offset-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full">VIEW</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-blue full">EXPORT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="table-container">
                <div id="contenttable" class="dataTables_wrapper no-footer">
                    @Html.Partial("_Pbck7SummaryIndex", Model.ReportItems)
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function ReloadDataTables() {
        }
    </script>
    
}