
@model Sampoerna.EMS.Website.Models.ExciseCredit.ExciseCreditViewModel
@using Sampoerna.EMS.Core
<table id="exciseTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th> Filter </th>
            <th>Type</th>
            <th>Submit Date</th>
            <th>POA</th>
            <th>NPPBKC ID</th>
            <th>Excise Number</th>
            <th>Amount</th>
            <th>Last Update</th>
            <th>Status</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Action</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExciseCreditDocuments)
            {
            <tr>
                <td class="action">
                    @if (item.IsWaitingForGovernment || item.IsWaitingSkepApproval)
                    {
                        <a href="@Url.Action("DetailSkep", "ExciseCredit", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Detail"><i class="fa fa-eye"></i></a>
                    }
                    else
                    {

                        <a href="@Url.Action("Detail", "ExciseCredit", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Detail"><i class="fa fa-eye"></i></a>
                    }

                    @if (!item.IsCanceled)
                    {
                        var editable = !item.IsSubmitted && !item.IsWaitingForGovernment && !item.IsWaitingSkepApproval;
                        if (Model.IsNotViewer && item.IsCreator && editable)
                        {
                            <a href="@Url.Action("Edit", "ExciseCredit", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                        }

                        if (Model.IsNotViewer && item.IsWaitingForGovernment && item.IsCreator)
                        {
                            <a href="@Url.Action("InputSkep", "ExciseCredit", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Input SKEP"><i class="fa fa-pencil-square-o"></i></a>
                        }
                        if (Model.IsNotViewer && item.IsApprover &&  item.IsSubmitted)
                        {
                            <a href="@Url.Action("Approve", "ExciseCredit", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Approve"><i class="fa fa-check"></i></a>
                        }

                        if (Model.IsNotViewer && item.IsApprover && item.IsWaitingSkepApproval)
                        {
                            <a href="@Url.Action("ApproveSkep", "ExciseCredit", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Approve"><i class="fa fa-check"></i></a>
                        }
                    }
                </td>
                <td>@Html.DisplayFor(model => item.RequestType)</td>
                <td>@String.Format("{0:dd MMMM yyyy}", item.SubmissionDate)</td>
                <td>@Html.DisplayFor(model => item.CreatedBy)</td>
                <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                <td>@Html.DisplayFor(model => item.DocumentNumber)</td>
                <td class="number">@Html.DisplayFor(model => item.AmountDisplay)</td>
                @if (item.ModifiedDate != null)
                {
                    <td>@String.Format("{0:dd MMMM yyyy HH:mm:ss}", item.ModifiedDate)</td>
                }
                else
                {
                    <td>@String.Format("{0:dd MMMM yyyy HH:mm:ss}", item.CreatedDate)</td>
                }
                <td class="last">@Html.DisplayFor(model => item.ApprovalStatus.Value)</td>
            </tr>
        }
    </tbody>
</table>
