@model Sampoerna.EMS.Website.Models.ExciseCredit.ExciseCreditPrintoutModel
<style type="text/css">
    #LayoutContainer {
        background-color: white !important;
    }
</style>

@section script
{
    <script type="text/javascript">
        function init() {
            var restoreButton = $('@String.Format("#RestoreButton{0}", Model.Layout.LayoutId)');
            restoreButton.off('click', resetLayout);
            restoreButton.on('click', resetLayout);
            console.log("init");
        }

        init();
    </script>
}


<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="@String.Format("printoutHeading{0}", Model.Layout.LayoutId)">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordionPrintout" href="#@String.Format("printoutCollapse{0}", Model.Layout.LayoutId)" aria-expanded="true" aria-controls="@String.Format("printoutCollapse{0}", Model.Layout.LayoutId)">
                @Model.PrintoutName
                <i class="fa fa-caret-down"></i>
            </a>
        </h4>
    </div>
    <div id="@String.Format("printoutCollapse{0}", Model.Layout.LayoutId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@String.Format("printoutHeading{0}", Model.Layout.LayoutId)">
        <div class="panel-body">
            <div class="row">
                <button type="button" class="btn btn-blue pull-right" id="@String.Format("DownloadLayout{0}Button", Model.Layout.LayoutId)">Download Printout</button>
                @if (Model.IsAllowedToEdit)
                {
                    <button type="button" id="@String.Format("EditLayout{0}Button", Model.Layout.LayoutId)" class="btn btn-blue pull-right" data-toggle="modal" data-target=".@String.Format("excise-modal-edit-{0}", Model.Layout.LayoutId)">Edit Layout</button>
                }
            </div>
            @if (Model.IsDrafted)
            {
                <div class="watermark col-md-offset-1">DRAFTED</div>
            }

            <div class="col-lg-12 table-container">
                <div class="row">
                    <div class="white-wrapper">
                        <div class="col-md-10 col-md-offset-1" id="@String.Format("LayoutContainer{0}", Model.Layout.LayoutId)">
                            @Html.Raw(Model.Layout.CompleteLayout)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal ems-modal fade @String.Format("excise-modal-edit-{0}", Model.Layout.LayoutId)" tabindex="-1" role="dialog" aria-labelledby="EditorModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><label>Edit Printout Layout</label></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button type="button" class="btn btn-blue pull-right" data-toggle="modal" data-target="@String.Format(".restore-modal.excise-printout-{0}", Model.Layout.LayoutId)">Restore to Default</button>
                    <button type="button" class="btn btn-blue pull-right" id="@String.Format("SaveLayout{0}Button", Model.Layout.LayoutId)">Save Layout</button>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.Layout.LayoutId, new { id = String.Format("Printout{0}Id", Model.Layout.LayoutId) })
              
                    @Html.TextAreaFor(model => model.Layout.Layout, new { @class = "form-control tinymce-editor", @required = true, id = String.Format("Printout{0}Layout", Model.Layout.LayoutId) })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ConfirmDialog", Model.Confirmation)


