@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Models.SchedulerSetting
@model Sampoerna.EMS.Website.Models.SchedulerSetting.SchedulerSettingModel
@{
    ViewBag.Title = "Index";

}
@section scripts {
    <script type="text/javascript" language="javascript">
        $('#MenuScheduler').addClass('active');


    </script>
}

@using (Html.BeginForm("Index", "SchedulerSetting", null, System.Web.Mvc.FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Scheduler Settings</h3>
                <div class="action-button">
                    @if (Model.IsNotViewer)
                    {
                        <button class="btn btn-blue">Save</button>
                    }

                    @*<input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />*@
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="scroll">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Scheduler Settings
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-md-2">Daily Scheduler</label>
                                                        <div class="col-md-2">
                                                            @if (Model.IsNotViewer)
                                                            {
                                                                @Html.TextBoxFor(model => model.DailyMinutes, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.DailyMinutes, new { @class = "form-control btn-grey", @disabled = "disabled" })
                                                            }

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="col-md-2">Minutes</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-6">
                                                            <span>
                                                                Interval which daily scheduler will run.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-md-2">Monthly Scheduler</label>
                                                        <div class="col-md-2">
                                                            @if (Model.IsNotViewer)
                                                            {
                                                                @Html.TextBoxFor(model => model.MonthlyMinutes, new { @class = "form-control" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.MonthlyMinutes, new { @class = "form-control btn-grey", @disabled = "disabled" })
                                                            }

                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="col-md-2">Minutes</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-6">
                                                            <span>
                                                                Interval which monthly scheduler will run.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Scheduler On / Off
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Poa</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.POA, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.POA, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Poa Map</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.POAMAP, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.POAMAP, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Brand Registration</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BRANDREG, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BRANDREG, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">CK5</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.CK5, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.CK5, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Inventory Movement</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.InvMovement, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.InvMovement, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">BOM Map</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BOMMAP, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BOMMAP, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Block Stock</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BLOCKSTOCK, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.BLOCKSTOCK, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Zaap Shift Report</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PRDOUTPUT, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PRDOUTPUT, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">CK1</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.CK1, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.CK1, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Payment CK1</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PAYMENT, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PAYMENT, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">User (IMDL)</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.USER, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.USER, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Company (T001)</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.COY, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.COY, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">T001K</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.T001K, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.T001K, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Uom</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.UOM, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.UOM, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">NPPBKC</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.NPPBKC, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.NPPBKC, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">KPPBC</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.KPPBC, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.KPPBC, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Vendor</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.VENDOR, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.VENDOR, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Market</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.MARKET, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.MARKET, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Product Type</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PRODTYP, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PRODTYP, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Product Code</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PCODE, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.PCODE, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Series</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.SERIES, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.SERIES, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Plant</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.T001W, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.T001W, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Good Types</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.GOODTYP, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.GOODTYP, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <label class="col-md-4">Material</label>
                                                    <div class="col-md-2">
                                                        @if (Model.IsNotViewer)
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.MATERIAL, new { @class = "" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.ConfigJson.IsRead.MATERIAL, new { @class = " btn-grey", @disabled = "disabled" })
                                                        }

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}