@model Sampoerna.EMS.Website.Models.LACK1.Lack1EditViewModel
@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers

<div role="tabpanel" class="tab-pane active" id="information">
    <div class="tab-wrapper">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            LACK-1 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">LACK-1 No</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Lack1Number, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.Bukrs)
                                            @Html.TextBoxFor(model => model.Butxt, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Period</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.HiddenFor(model => model.PeriodMonth)
                                                    @Html.TextBoxFor(model => model.PerionNameEng, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.PeriodYears, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Information
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Level</label>
                                        @Html.HiddenFor(model => model.Lack1Level)
                                        <div class="col-md-8">
                                            @if (Model.Lack1Level == Enums.Lack1Level.Nppbkc)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" name="lackLevelName" checked="checked" value="1" disabled="disabled"> NPPBKC
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" name="lackLevelName" value="2" disabled="disabled"> Plant
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" name="lackLevelName" value="1" disabled="disabled"> NPPBKC
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" name="lackLevelName" checked="checked" value="2" disabled="disabled"> Plant
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.NppbkcId, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Submission Date</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.SubmissionDate, "{0:dd MMM yyyy}", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Received Plant ID</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.LevelPlantId)
                                            @Html.HiddenFor(model => model.LevelPlantName)
                                            @Html.TextBoxFor(model => model.DisplayLevelPlantName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 long">Excisable Goods Type</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.ExGoodsTypeId)
                                            @Html.TextBoxFor(model => model.ExGoodsTypeDesc, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupplierPlant)
                                            @Html.HiddenFor(model => model.SupplierPlantId)
                                            @Html.HiddenFor(model => model.SupplierPlantAddress)
                                            @Html.HiddenFor(model => model.SupplierCompanyCode)
                                            @Html.HiddenFor(model => model.SupplierCompanyName)
                                            @Html.TextBoxFor(model => model.DisplaySupplierPlant, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Waste Amount</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.WasteQty, "{0:N0}", new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.HiddenFor(model => model.WasteUom)
                                                    @Html.TextBoxFor(model => model.WasteUomDesc, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Return Amount</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.ReturnQty, "{0:N0}", new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.HiddenFor(model => model.ReturnUom)
                                                    @Html.TextBoxFor(model => model.ReturnUomDesc, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group not-upload" id="accordionThree" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree" aria-expanded="true" aria-controls="collapse6">
                            Table
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="table-container lack-table" id="generated-data-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionFour" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Status
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Status<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @if (Model.Status == Enums.DocumentStatus.Completed) {
                                                @Html.EnumDropDownListFor(model => model.GovStatus, Model.DocGovStatusList, "Waiting for Gov Approval", new { @class = "form-control" })
                                            }
                                            else {
                                                @Html.EnumDropDownListFor(model => model.GovStatus, Model.DocGovStatusList, "Select", new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divComment">
                                    <div class="row">
                                        <label class="col-md-4">Add Comment<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9 GovReject" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Decree Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.DecreeDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Decree Doc<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <div class="file-upload" id="poa-files">

                                            </div>
                                            <button type="button" class="btn btn-primary full" data-toggle="modal" data-target=".upload-file">Add File</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-7" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading7">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-7" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            Workflow History
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                        <div class="table-container">
                            @Html.Partial("_WorkflowHistoryTable", Model.WorkflowHistory)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in upload-file ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Decree Doc</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="file-decree-doc-container" class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary full add-files">Add Files</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <input type="file" id="DecreeFiles_0_" name="DecreeFiles[0]" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-danger full">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" id="upload-file-sk" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>
