@model Sampoerna.EMS.Website.Models.LACK1.Lack1SummaryReportViewModel

<table id="lack1Table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>LACK-1 Number</th>
            <th>Company Code</th>
            <th>Company Name</th>
            <th>Nppbkc Id</th>
            <th>Plant Id</th>
            <th>Plant Name</th>
            <th>Excisable Goods Type Id</th>
            <th>Excisable Goods Type Desc</th>
            <th>Supplier Plant Id</th>
            <th>Supplier Plant Name</th>
            <th>Period</th>
            <th>Document Status</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Approved Date</th>
            <th>Approved By</th>
            <th>Creator</th>
            <th>Approver</th>
        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td align="center">@row</td>
                    <td>@Html.DisplayFor(model => item.Lack1Number)</td>
                    <td>@Html.DisplayFor(model => item.CompanyCode)</td>
                    <td>@Html.DisplayFor(model => item.CompanyName)</td>
                    <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantId)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantName)</td>
                    <td>@Html.DisplayFor(model => item.ExcisableGoodsTypeId)</td>
                    <td>@Html.DisplayFor(model => item.ExcisableGoodsTypeDesc)</td>
                    <td>@Html.DisplayFor(model => item.SupplierPlantId)</td>
                    <td>@Html.DisplayFor(model => item.SupplierPlantName)</td>
                    <td>@Html.DisplayFor(model => item.Period)</td>

                    <td>@Html.DisplayFor(model => item.DocumentStatus)</td>
                    <td>@Html.DisplayFor(model => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(model => item.CreatedBy)</td>
                    <td>@Html.DisplayFor(model => item.ApprovedDate)</td>
                    <td>@Html.DisplayFor(model => item.ApprovedBy)</td>
                    <td>@Html.DisplayFor(model => item.Creator)</td>
                    <td class="last">@Html.DisplayFor(model => item.Approver)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>
