@model Sampoerna.EMS.Website.Models.LACK1.Lack1SummaryReportViewModel

<table id="lack1Table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>LACK-1 Number</th>
            <th>Excisable Goods Type Id</th>
            <th>Excisable Goods Type Desc</th>
            <th>Receiver Company</th>
            <th>Receiver NPPBKC</th>
            <th>Receiver KPPBC</th>
            <th>Receiver Plant ID</th>
            <th>Receiver Plant Desc</th>
            <th>Supplier Company</th>
            <th>Supplier NPPBKC</th>
            <th>Supplier KPPBC</th>
            <th>Supplier Plant ID</th>
            <th>Supplier Plant Desc</th>
            <th>Period</th>
            <th>Created Date</th>
            <th>Approved Date</th>
            <th>Completed Date</th>
            <th>POA Approved by</th>
            <th>Creator</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td align="center">@row</td>
                    <td>@Html.DisplayFor(model => item.Lack1Number)</td>
                    <td>@Html.DisplayFor(model => item.ExcisableGoodsTypeId)</td>
                    <td>@Html.DisplayFor(model => item.ExcisableGoodsTypeDesc)</td>
                    <td>@Html.DisplayFor(model => item.CompanyName)</td>
                    <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                    <td>@Html.DisplayFor(model => item.KppbcId)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantId)</td>
                    <td>@Html.DisplayFor(model => item.ReceivingPlantName)</td>
                    <td>@Html.DisplayFor(model => item.SupplierCompany)</td>
                    <td>@Html.DisplayFor(model => item.SupplierNppbkc)</td>
                    <td>@Html.DisplayFor(model => item.SupplierKppbc)</td>
                    <td>@Html.DisplayFor(model => item.SupplierPlantId)</td>
                    <td>@Html.DisplayFor(model => item.SupplierPlantName)</td>
                    <td>@Html.DisplayFor(model => item.Period)</td>
                    <td>@Html.DisplayFor(model => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(model => item.ApprovedDate)</td>
                    <td>@Html.DisplayFor(model => item.CompletedDate)</td>
                    <td class="last">@Html.DisplayFor(model => item.Approver)</td>
                    <td>@Html.DisplayFor(model => item.Creator)</td>
                    <td>@Html.DisplayFor(model => item.DocumentStatus)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>
