@model Sampoerna.EMS.Website.Models.LACK1.Lack1DetailTisViewModel

<table id="lack1Table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>Plant ID Receiver</th>
            <th>Plant Desc Receiver</th>
            <th>Plant Supplier ID</th>
            <th>Plant Supplier Description</th>
            <th>CF Code</th>
            <th>CF Description</th>
            <th>Beginning Balance 1st Date</th>
            <th>Beginning Balance UoM</th>
            <th>CK-5 EMS No</th>
            <th>CK-5 Reg No</th>
            <th>CK-5 Reg Date</th>
            <th>CK-5 GR Date</th>
            <th>CK-5 Qty</th>
            <th>Mvt Type</th>
            <th>Usage</th>
            <th>Usage UOM</th>
            <th>Usage Posting Date</th>
            <th>FA Code</th>
            <th>FA Code Desc</th>
            <th>Production Qty</th>
            <th>Production UOM</th>
            <th>Production Posting Date</th>
            <th>Production Date</th>
            <th>Projected Ending Balance</th>
            <th>Projected Ending Balance UOM</th>
        </tr>
    </thead>

    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailList)
            {
                <tr>
                    <td style="vertical-align:top !important" align="center">@row</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.PlantIdReceiver)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.PlantDescReceiver)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.PlantIdSupplier)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.PlantDescSupplier)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.CfCode)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.CfDesc)</td>
                    <td style="vertical-align:top !important">@String.Format("{0:n}", @item.BeginingBalance)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.BeginingBalanceUom)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.Ck5EmsNo)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.Ck5RegNo)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.Ck5RegDate)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.Ck5GrDate)</td>
                    <td style="vertical-align:top !important">@String.Format("{0:n}", @item.Ck5Qty)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.MvtType)</td>
                    <td style="vertical-align:top !important">@String.Format("{0:n}", @item.Usage)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.UsageUom)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.UsagePostingDate)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.FaCode)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.FaCodeDesc)</td>
                    <td style="vertical-align:top !important">@String.Format("{0:n}", @item.ProdQty)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.ProdUom)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.ProdPostingDate)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.ProdDate)</td>
                    <td style="vertical-align:top !important">@String.Format("{0:n}", @item.EndingBalance)</td>
                    <td style="vertical-align:top !important">@Html.DisplayFor(model => item.EndingBalanceUom)</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>
