@model Sampoerna.EMS.Website.Models.LACK1.Lack1IndexPlantViewModel

<table id="lack1Table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> Filter </th>
            <th>Company</th>
            <th>Plant</th>
            <th>Tobacco Goods Type</th>
            <th>Supplier</th>
            <th>Period</th>
            <th>Status</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Action</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td class="action">
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PlantId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TobaccoGoodType)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>



