@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "LACK1"))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>List by NPPBKC</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <input type="button" value="Back" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeCreate")
                        @Html.Partial("_PrintOut")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript">

        var supplierData;
        $(document).ready(function() {

            $('#btnCancel').click(function(e) {
                location.href = '@Url.Action("Index", "LACK1")';
            });

            CheckLevelChecked();
        });

        $('.lackLevel').on('change', function() {
            CheckLevelChecked();
        });

        $('#Bukrs').on('change', function () {
            if ($("#Bukrs").length) {
                var companyCode = $(this).find("option:selected").val();
                $('#NppbkcId option').remove();
                console.log(companyCode);
                if (companyCode == '' || $(this).find("option:selected").val() == '') {
                    $('#NppbkcId').append('<option value="">Select</option>');
                } else {
                    ajaxLoadNppbkcList({ companyCode: companyCode }, '@Url.Action("GetNppbkcListByCompanyCode", "LACK1")');
                }
            }
        });

        function CheckLevelChecked() {
            var levelCheck = $('input[name=lackLevelName]:checked').val();
            //var disabledNppbkc = false;
            var disabledPlant = false;

            if (levelCheck == '1') {
                disabledPlant = true;
                $("#LevelPlantId").prop('selectedIndex', 0);
            } else if (levelCheck == '2') {
                //disabledNppbkc = true;
                $("#NppbkcId").prop('selectedIndex', 0);
            }

            //$("#NppbkcId").attr('disabled', disabledNppbkc);
            $("#LevelPlantId").attr('disabled', disabledPlant);
        }
        
        function ajaxLoadNppbkcList(formData, url) {
            if (formData.companyCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(data) {
                        var list = data;
                        $('#NppbkcId').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#NppbkcId').append('<option value=' + list[i].NPPBKC_ID + '>' + list[i].NPPBKC_ID + '</option>');
                            }
                        }
                    }
                });
            } else
            {
                $('#NppbkcId').append('<option value="">Select</option>');
            }
        }

        function ajaxLoadPlantList(formData, url) {
            if (formData.companyCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data;
                        $('#NppbkcId').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#NppbkcId').append('<option value=' + list[i].NPPBKC_ID + '>' + list[i].NPPBKC_ID + '</option>');
                            }
                        }
                    }
                });
            } else {
                $('#NppbkcId').append('<option value="">Select</option>');
            }
        }

    </script>
}