@using Sampoerna.EMS.Core
@model Sampoerna.EMS.Website.Models.LACK1.Lack1CreateViewModel
@{
    ViewBag.Title = "Create";
}

@section styles{
    <link href="~/Content/css/print.css" rel="stylesheet" />
}

@using (Html.BeginForm("Create", "LACK1", FormMethod.Post, new { @id = "CreateLack1Form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                
                    @if (Model.Lack1Level == Enums.Lack1Level.Nppbkc)
                    {
                        /* LACK-1 Plant Level */
                        <h3>List by NPPBKC</h3>
                    }
                    else if (Model.Lack1Level == Enums.Lack1Level.Plant)
                    {
                        /* LACK-1 Plant Level */
                        <h3>List by Plant</h3>
                    }
                <label class="status">Draft</label>
                <div class="action-button">
                    <input type="button" class="btn btn-blue" onclick="saveClick()" value="Save" />
                    @if (Model.Lack1Level == Enums.Lack1Level.Nppbkc)
                    {
                        /* LACK-1 NPPBKC Level */
                        <input type="button" value="Back" class="btn btn-grey" id="btn-back-nppbkc-list" />
                    }
                    else if (Model.Lack1Level == Enums.Lack1Level.Plant)
                    {
                        /* LACK-1 Plant Level */
                        <input type="button" value="Back" class="btn btn-grey" id="btn-back-plant-list" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeCreate")
                        @Html.Partial("_PrintOut")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="ModalValidation" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Input selection criteria not valid</span>
                </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/thousand-separator.js"></script>
    <script src="~/Scripts/lack1/Lack1Scripts.js"></script>
    <script src="~/Scripts/lack1/Lack1GenerateTable.js"></script>
    <script type="text/javascript">

        $('#Menulack1ListByNppbkc').addClass('@Model.MenuNppbkcAddClassCss');
        $('#MenuLack1ListByPlant').addClass('@Model.MenuPlantAddClassCss');

        $(document).ready(function () {
            
            $('#btn-back-nppbkc-list').click(function (e) {
                location.href = '@Url.Action("Index", "LACK1")';
            });
            
            $('#btn-back-plant-list').click(function (e) {
                location.href = '@Url.Action("ListByPlant", "LACK1")';
            });
            
            $('#Bukrs').on('change', function () {
                BukrsOnChange();
            });
            $('#NppbkcId').on('change', function () {
                NppbkcIdOnChange();
            });
            $('#ExGoodsTypeId').on('change', function () {
                ExGoodsTypeOnChange();
            });
            $('#generated-data-container').html('');
            $('#generated-data-container').append(generateEmptyTable());
        });

        function BukrsOnChange() {
            if ($("#Bukrs").length) {
                var companyCode = $('#Bukrs').find("option:selected").val();
                $('#NppbkcId option').remove();
                console.log(companyCode);
                if (companyCode == '' || $(this).find("option:selected").val() == '') {
                    $('#NppbkcId').append('<option value="">Select</option>');
                } else {
                    $('#Butxt').val($('#Bukrs').find("option:selected").text());
                    ajaxLoadNppbkcList('@Url.Action("GetNppbkcListByCompanyCode", "LACK1")', { companyCode: companyCode });
                }
            }
        }

        function ExGoodsTypeOnChange() {
            if ($("#NppbkcId").length && $("#ExGoodsTypeId").length) {
                var excisableGoodsType = $('#ExGoodsTypeId').find("option:selected").val();
                var excisableGoodsTypeDesc = $('#ExGoodsTypeId').find("option:selected").text();
                $('#ExGoodsTypeDesc').val(excisableGoodsTypeDesc);
                var nppbkcId = $('#NppbkcId').find("option:selected").val();
                console.log(excisableGoodsType + "," + nppbkcId);
                /*load supplier list*/
                $('#SupplierPlantId option').remove();
                if (excisableGoodsType != '' && nppbkcId != '') {
                    ajaxLoadSupplier('@Url.Action("GetSupplierListByParam", "LACK1")', { nppbkcId: nppbkcId, excisableGoodsType: excisableGoodsType });
                } else {
                    $('#SupplierPlantId').append('<option value="">Select</option>');
                }
            }
        }

        function NppbkcIdOnChange() {
            if ($("#NppbkcId").length) {
                var nppbkcId = $('#NppbkcId').find("option:selected").val();
                var attr = $('#LevelPlantId').attr('disabled');
                console.log(attr);
                /* For some browsers, `attr` is undefined; for others,
                 `attr` is false.  Check for both.
                load plant if enable*/
                if (!(typeof attr !== typeof undefined && attr !== false)) {
                    // ...
                    $('#LevelPlantId option').remove();
                    console.log(nppbkcId);
                    if (nppbkcId == '' || $(this).find("option:selected").val() == '') {
                        $('#LevelPlantId').append('<option value="">Select</option>');
                    } else {
                        ajaxLoadPlantList('@Url.Action("GetPlantListByNppbkcId", "LACK1")', { nppbkcId: nppbkcId });
                    }
                }

                /*load excisablegoodstype*/
                ajaxLoadExcisableGoodsType('@Url.Action("GetExcisableGoodsTypeByNppbkcId", "LACK1")', { nppbkcId: nppbkcId });

                /*load supplier list*/
                ajaxLoadSupplier('@Url.Action("GetSupplierListByParam", "LACK1")', { nppbkcId: nppbkcId, excisableGoodsType: '' });

            }
        }

        function AddValidationClass(isValid, objName) {
            if (isValid) {
                $('#' + objName).removeClass('input-validation-error');
                $('#' + objName).addClass('valid');
            } else {
                $('#' + objName).removeClass('valid');
                $('#' + objName).addClass('input-validation-error');
            }
        }

    </script>
}