@{
    ViewBag.Title = "Create";
}

@section styles{
    <link href="~/Content/css/print.css" rel="stylesheet" />
}

@using (Html.BeginForm("Create", "LACK1", FormMethod.Post, new { @id = "CreateLack1Form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>List by NPPBKC</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    @*<input type="submit" class="btn btn-blue" value="Save" />*@
                    <input type="button" class="btn btn-blue" onclick="saveClick()" value="Save"/>
                    <input type="button" value="Back" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.Partial("_HomeCreate")
                        @Html.Partial("_PrintOut")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/thousand-separator.js"></script>
    <script type="text/javascript">

        $('#Menulack1ListByNppbkc').addClass('@Model.MenuNppbkcAddClassCss');
        $('#MenuLack1ListByPlant').addClass('@Model.MenuPlantAddClassCss');

        $(document).ready(function () {
            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("Index", "LACK1")';
            });
            $('#Bukrs').on('change', function () {
                BukrsOnChange();
            });
            $('#NppbkcId').on('change', function () {
                NppbkcIdOnChange();
            });
            $('#ExGoodsType').on('change', function () {
                ExGoodsTypeOnChange();
            });
            $('#generated-data-container').html('');
            $('#generated-data-container').append(generateEmptyTable());
        });

        function BukrsOnChange() {
            if ($("#Bukrs").length) {
                var companyCode = $('#Bukrs').find("option:selected").val();
                $('#NppbkcId option').remove();
                console.log(companyCode);
                if (companyCode == '' || $(this).find("option:selected").val() == '') {
                    $('#NppbkcId').append('<option value="">Select</option>');
                } else {
                    ajaxLoadNppbkcList('@Url.Action("GetNppbkcListByCompanyCode", "LACK1")', { companyCode: companyCode });
                }
            }
        }

        function ExGoodsTypeOnChange() {
            if ($("#NppbkcId").length && $("#ExGoodsType").length) {
                var excisableGoodsType = $('#ExGoodsType').find("option:selected").val();
                var nppbkcId = $('#NppbkcId').find("option:selected").val();
                console.log(excisableGoodsType + "," + nppbkcId);
                //load supplier list
                $('#SupplierPlant option').remove();
                if (excisableGoodsType != '' && nppbkcId != '') {
                    ajaxLoadSupplier('@Url.Action("GetSupplierListByParam", "LACK1")', { nppbkcId: nppbkcId, excisableGoodsType: excisableGoodsType });
                } else {
                    $('#SupplierPlant').append('<option value="">Select</option>');
                }
            }
        }

        function NppbkcIdOnChange() {
            if ($("#NppbkcId").length) {
                var nppbkcId = $('#NppbkcId').find("option:selected").val();
                var attr = $('#LevelPlantId').attr('disabled');
                console.log(attr);
                // For some browsers, `attr` is undefined; for others,
                // `attr` is false.  Check for both.
                //load plant if enable
                if (!(typeof attr !== typeof undefined && attr !== false)) {
                    // ...
                    $('#LevelPlantId option').remove();
                    console.log(nppbkcId);
                    if (nppbkcId == '' || $(this).find("option:selected").val() == '') {
                        $('#LevelPlantId').append('<option value="">Select</option>');
                    } else {
                        ajaxLoadPlantList('@Url.Action("GetPlantListByNppbkcId", "LACK1")', { nppbkcId: nppbkcId });
                    }
                }

                //load excisablegoodstype
                ajaxLoadExcisableGoodsType('@Url.Action("GetExcisableGoodsTypeByNppbkcId", "LACK1")', { nppbkcId: nppbkcId });

                //load supplier list
                ajaxLoadSupplier('@Url.Action("GetSupplierListByParam", "LACK1")', { nppbkcId: nppbkcId, excisableGoodsType: '' });

            }
        }

        function ajaxLoadNppbkcList(url, formData) {
            if (formData.companyCode) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data;
                        $('#NppbkcId').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#NppbkcId').append('<option value=' + list[i].NPPBKC_ID + '>' + list[i].NPPBKC_ID + '</option>');
                            }
                        }
                    }
                });
            } else {
                $('#NppbkcId').append('<option value="">Select</option>');
            }
        }

        function ajaxLoadPlantList(url, formData) {
            if (formData.nppbkcId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data.ReceivePlantList;
                        $('#LevelPlantId').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#LevelPlantId').append('<option value=' + list[i].Value + '>' + list[i].Text + '</option>');
                            }
                        }
                    }
                });
            } else {
                $('#LevelPlantId').append('<option value="">Select</option>');
            }
        }

        function ajaxLoadExcisableGoodsType(url, formData) {
            $('#ExGoodsType option').remove();
            if (formData.nppbkcId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data.ExGoodTypeList;
                        $('#ExGoodsType').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#ExGoodsType').append('<option value=' + list[i].Value + '>' + list[i].Text + '</option>');
                            }
                        }
                    }
                });
            } else {
                $('#ExGoodsType').append('<option value="">Select</option>');
            }
        }

        function ajaxLoadSupplier(url, formData) {
            if (formData.nppbkcId && formData.excisableGoodsType) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data.SupplierList;
                        $('#SupplierPlant').append('<option value="">Select</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#SupplierPlant').append('<option value=' + list[i].Value + '>' + list[i].Text + '</option>');
                            }
                        }
                    }
                });
            } else {
                $('#SupplierPlant option').remove();
                $('#SupplierPlant').append('<option value="">Select</option>');
            }
        }

        function generateDataClick(lackLevel) {
            if (!generateInputValidation()) {
                alert('Input selection criteria not valid.');
                return;
            }
            
            var param = {};
            param.CompanyCode = $('#Bukrs').find("option:selected").val();
            param.Lack1Level = lackLevel;
            param.NppbkcId = $('#NppbkcId').find("option:selected").val();
            param.ExcisableGoodsType = $('#ExGoodsType').find("option:selected").val();
            param.ExcisableGoodsTypeDesc = $('#ExGoodsType').find("option:selected").text();
            param.SupplierPlantId = $('#SupplierPlant').find("option:selected").val();
            param.WasteAmount = parseFloat($('#WasteQty').val());
            param.WasteAmountUom = $('#WasteUom').find("option:selected").val();
            param.ReturnAmount = parseFloat($('#ReturnQty').val());
            param.ReturnAmountUom = $('#ReturnUom').find("option:selected").val();
            param.Noted = $('#Lack1Generated_Noted').val();
            param.CompanyName = $('#Bukrs').find("option:selected").text();

            var plantAttr = $('#LevelPlantId').attr('disabled');
            // For some browsers, `attr` is undefined; for others,
            // `attr` is false.  Check for both.
            //load plant if enable
            if (!(typeof plantAttr !== typeof undefined && plantAttr !== false)) {
                param.ReceivedPlantId = $('#LevelPlantId').find("option:selected").val();
            }

            param.PeriodMonth = parseInt($('#PeriodMonth').find("option:selected").val());
            param.PeriodYear = parseInt($('#PeriodYears').find("option:selected").val());

            $.ajax({
                url: "@Url.Action("Generate", "LACK1")",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ param: param }),
                success: function (response) {
                    $('#generated-data-container').html("");
                    if (response.Success) {
                        var data = response.Data;
                        var tableGenerated = generateTable(data);
                        console.log(tableGenerated);
                        $('#generated-data-container').append(tableGenerated);
                    } else {
                        alert(response.ErrorMessage);
                    }
                }
            });
        }
        
        function generateHeaderTable() {
            var rc =  /*start header*/
                '<thead><tr><th rowspan="2">No<br>Urut</th><th rowspan="2">Saldo<br>Awal</th><th colspan="2">Pemasukan</th><th rowspan="2">Penggunaan</th><th colspan="2">Hasil Produksi BKC</th><th rowspan="2">Saldo<br>Akhir</th><th rowspan="2">Keterangan</th></tr><tr><th>No. & Tgl. CK-5</th><th>Jumlah</th><th>Jenis</th><th>Jumlah</th></tr></thead>';
            /*end of header*/
            return rc;
        }
        
        function generateTable(data) {

            var rc = '<table border="0" class="table table-bordered">' + generateHeaderTable();
            rc = rc + '<tbody><tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>';
            
            if (data.IncomeList.length > 0) {
                var rowIndex = 1;
                var rowCount = data.IncomeList.length;
                rc = rc +
                /*First Record*/
                '<tr><td>' + rowIndex + '</td>' +
                '<td rowspan="' + rowCount + '">' + ThausandSeperator(data.BeginingBalance, 2) + '</td>' +
                '<td>' + data.IncomeList[0].RegistrationNumber + ' - ' + data.IncomeList[0].RegistrationDate + '</td>' +
                '<td>' + ThausandSeperator(data.IncomeList[0].Amount, 2) + '</td>' +
                '<td rowspan="' + rowCount + '">' + ThausandSeperator(data.TotalUsage, 2) + '</td>' +
                '<td>' + generateJenisHasilProduksi(data.ProductionList) + '</td>' +
                '<td>' + generateJumlahHasilProduksi(data.ProductionList) + '</td>' +
                '<td rowspan="' + rowCount + '">' + ThausandSeperator(data.EndingBalance, 2) + '</td>' +
                '<td rowspan="' + (rowCount + 1) + '">' + data.Noted + '</td></tr>';
                /*loop record*/
                for (var i = 1; i < data.IncomeList.length; i++) {
                    rowIndex = rowIndex + 1;
                    var item = '<tr><td>' + rowIndex + '</td><td>' + data.IncomeList[0].RegistrationNumber + ' - ' + data.IncomeList[0].RegistrationDate + '</td>' +
                                '<td>' + data.IncomeList[0].Amount + '</td></tr>';
                    rc.append(item);
                }
                /*end loop record*/

            } else {
                rc = rc +
                /*Only 1 Record*/
                '<tr><td>1</td>' +
                '<td>' + ThausandSeperator(data.BeginingBalance, 2) + '</td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td>' + generateJenisHasilProduksi(data.ProductionList) + '</td>' +
                '<td>' + generateJumlahHasilProduksi(data.ProductionList) + '</td>' +
                '<td>' + ThausandSeperator(data.EndingBalance, 2) + '</td>' +
                '<td>' + data.Noted + '</td></tr>';
            }

            /*footer*/
            rc = rc + '<tr><td></td><td></td><td></td><td>Total:'
                + ThausandSeperator(data.TotalIncome, 2) + '</td><td></td><td></td><td>Total: 150.000.000<br />batang</td><td colspan="2"></td></tr>' +
                '</tbody></table>';

            return rc;
        }
        
        function generateJenisHasilProduksi(data) {
            var rc = "";
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    if (i == data.length) {
                        rc = rc + data.ProductAlias;
                    } else {
                        rc = rc + data.ProductAlias + "<br/>";
                    }
                }
            } else {
                rc = "-";
            }
            return rc;
        }

        function generateJumlahHasilProduksi(data) {
            var rc = "";
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    if (i == data.length) {
                        rc = rc + ThausandSeperator(data.Amount, 2);
                    } else {
                        rc = rc + ThausandSeperator(data.Amount, 2) + " " + data.UomDesc + "<br/>";
                    }
                }
            } else {
                rc = "-";
            }
            return rc;
        }
        
        function generateEmptyTable() {
            var rc = '<table border="0" class="table table-bordered">' + generateHeaderTable();
            rc = rc + '<tbody><tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>';
            rc = rc +
                /*Only 1 Record*/
                '<tr><td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td rowspan="2"></td></tr>';
            /*footer*/
            rc = rc + '<tr><td></td><td></td><td></td><td>Total : -</td><td></td><td></td><td>Total: -</td><td></td></tr>' +
                '</tbody></table>';
            return rc;
        }
        
        function generateInputValidation() {
            var rc = true;
            if ($('#Bukrs').find("option:selected").val() == '') {
                rc = false;
                $('#Bukrs').addClass('input-validation-error');
            }
            if ($('#NppbkcId').find("option:selected").val() == '') {
                rc = false;
                $('#NppbkcId').addClass('input-validation-error');
            }
            if ($('#ExGoodsType').find("option:selected").val() == '') {
                rc = false;
                $('#ExGoodsType').addClass('input-validation-error');
            }
            if ($('#SupplierPlant').find("option:selected").val() == '') {
                rc = false;
                $('#SupplierPlant').addClass('input-validation-error');
            }
            if ($('#PeriodMonth').find("option:selected").val() == '') {
                rc = false;
                $('#PeriodMonth').addClass('input-validation-error');
            }
            if ($('#PeriodYears').find("option:selected").val() == '') {
                rc = false;
                $('#PeriodYears').addClass('input-validation-error');
            }
            if ($('#WasteUom').find("option:selected").val() == '') {
                rc = false;
                $('#WasteUom').addClass('input-validation-error');
            }
            if ($('#ReturnUom').find("option:selected").val() == '') {
                rc = false;
                $('#ReturnUom').addClass('input-validation-error');
            }
            return rc;
        }
        
        function saveClick() {
            if (!generateInputValidation()) {
                alert('Invalid input, please review the input.');
                return;
            }
            $('#CreateLack1Form').submit();
        }

    </script>
}