@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK1.Lack1ItemViewModel
@{
    ViewBag.Title = "LACK-1 Details";
}

@section styles{
    <link href="~/Content/css/print.css" rel="stylesheet" />
}

@using (Html.BeginForm(Model.ControllerAction, "LACK1", FormMethod.Post, new { @id = "DetailsLack1Form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>@ViewBag.Title</h3>
                <label class="status">@Model.StatusDescription</label>
                <div class="action-button">

                    @if (Model.Lack1Type == Enums.LACK1Type.ListByPlant)
                    {
                        /* LACK-1 Plant Level */
                        <input type="button" value="Back" class="btn btn-grey" id="btn-back-plant-list" />
                    }
                    else if (Model.Lack1Type == Enums.LACK1Type.ListByNppbkc)
                    {
                        /* LACK-1 NPPBKC Level */
                        <input type="button" value="Back" class="btn btn-grey" id="btn-back-nppbkc-list" />
                    }
                    else
                    {
                        /* Completed Document */
                        <input type="button" value="Back" class="btn btn-grey" id="btn-back-completed-list" />
                    }
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.Action("PrintPreview", "LACK1", new { id = @Model.Lack1Id, lType = @Model.Lack1Type })')" />
                    @if (Model.AllowApproveAndReject)
                    {
                        <input type="button" class="btn btn-blue" value="Approve" id="btnApprove" />
                        <input type="button" class="btn btn-danger" value="Reject" id="btnReject" />
                    }
                    else
                    {
                        if (Model.AllowManagerReject)
                        {
                            <input type="button" class="btn btn-danger" value="Reject" id="btnReject" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    @Html.AntiForgeryToken()
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        }
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.HiddenFor(model => model.Lack1Type)
                        @Html.Partial("_HomeDetails")
                        @if (Model.Status == Enums.DocumentStatus.Completed)
                        {
                            @Html.Partial("_PrintOut")
                        }
                        @Html.Partial("_ChangeLog")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="Lack1Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3><span id="lblTitleModal">Approval</span> </h3>
            </div>
            <div class="modal-body">
                <span id="lblMessageModal">Approve Documents ?</span>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnConfirm" class="btn btn-blue" value="Yes" />
                <input type="button" id="btnConfirmGovApprove" class="btn btn-blue" value="Yes" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
            </div>
        </div>
    </div>
</div>

<div id="Lack1ModalReject" class="modal fade in reject-doc ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Reject document</h4>
            </div>
            @using (Html.BeginForm("RejectDocument", "LACK1"))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Lack1Id)
                    <div class="form-excise" role="form">
                        <div class="row">
                            <label class="col-md-3">Add Comment<span class="red">*</span></label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="Reject" disabled id="btnConfirmReject" />
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalLack1ValidateGov" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing attach files</span>
                </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/thousand-separator.js"></script>
    <script src="~/Scripts/lack1/Lack1GenerateTable.js"></script>

    <script type="text/javascript">

        $('#MenuLack1CompletedDocument').addClass('@Model.MenuCompletedAddClassCss');
        $('#MenuLack1ListByPlant').addClass('@Model.MenuPlantAddClassCss');
        $('#Menulack1ListByNppbkc').addClass('@Model.MenuNppbkcAddClassCss');

        $(document).ready(function () {

            $('#btn-back-plant-list').click(function (e) {
                location.href = '@Url.Action("ListByPlant", "LACK1")';
            });

            $('#btn-back-nppbkc-list').click(function (e) {
                location.href = '@Url.Action("Index", "LACK1")';
            });

            $('#btn-back-completed-list').click(function (e) {
                location.href = '@Url.Action("ListCompletedDocument", "LACK1")';
            });

            $("#btnApprove").click(function () {

                $('#btnConfirm').show();
                $('#btnConfirmGovApprove').hide();
                $('#btnConfirmGovPartApprove').hide();
                $("#lblTitleModal").text('Approval');
                $("#lblMessageModal").text('Approve Documents ?');
                $('#Lack1Modal').modal('show');

            });

            $("#btnConfirm").click(function () {
                window.location = "@Url.Action("ApproveDocument", "LACK1", new { id = @Model.Lack1Id })";
            });

            $("#btnReject").click(function () {
                $('#btnConfirmReject').attr('disabled', 'disabled');

                $('#Comment').val('');

                $('#Lack1ModalReject').modal('show');

            });

            $('#Comment').bind('input propertychange', function () {

                $('#btnConfirmReject').attr('disabled', 'disabled');
                $('#btnConfirmGovReject').attr('disabled', 'disabled');
                $('#btnConfirmGovPartApprove').attr('disabled', 'disabled');

                if (this.value.length) {
                    $('#btnConfirmReject').removeAttr('disabled');
                    $('#btnConfirmGovReject').removeAttr('disabled');
                    $('#btnConfirmGovPartApprove').removeAttr('disabled');
                }
            });

            $('#generated-data-container').html('');

            var jsonData = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model)));
            console.log(jsonData);
            var generateTableD = generateTable(jsonData);
            $('#generated-data-container').append(generateTableD);

        });

        function printPreview(url) {
            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');
            //ajaxPrintViewSet(url);
        }
        
    </script>
}