@model Sampoerna.EMS.Website.Models.LACK1.Lack1IndexViewModel
@using Sampoerna.EMS.Website.Helpers

@{
    ViewBag.Title = "LACK1";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
            <div class="action-button new">
                <a href="#">
                    <input type="button" class="btn btn-blue" value="NEW" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterListByNppbkc", "LACK1",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables"
                    }, new { @Class = "form-excise", role = "fomr" }))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">NPPBKC ID</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.NppbkcId, Model.NppbkcIdList, "All", new { @class = "form-control selectreset" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">PLANT ID</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.PlantId, Model.PlantIdList, "All", new { @class = "form-control selectreset" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Reported On</label>
                                <div class="col-md-8">
                                    <div class="input-group date">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="last-form">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Poa, Model.PoaList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Creator, Model.CreatorList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-blue full" value="FILTER" />
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="btn-reset-filter" class="btn btn-blue full">RESET</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="contenttable" class="table-container">
                @Html.Partial("_Lack1Table")
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">
        $('#Menulack1ListByNppbkc').addClass('active');
    </script>
}