@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.LACK1.Lack1PrimaryResultsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">LACK-1 Primary Results</h3>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div class="form-excise" role="form">
                    <div class="row">
                        @using (Ajax.BeginForm("SearchPrimaryResults", "Lack1",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                //UpdateTargetId = "contenttable",
                                OnSuccess = "OnSuccess",
                                OnFailure = "OnFailure",
                                OnComplete = "ReloadDataTables"

                            }, new {id="ajaxForm"}))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Date From</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.SearchView.DateFrom, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Date To</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.SearchView.DateTo, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant From</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.SearchView.PlantFrom, Model.SearchView.PlantFromList, new { @class = "form-control selectreset" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plant To</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.SearchView.PlantTo, Model.SearchView.PlantToList, new { @class = "form-control selectreset" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-8">
                                    <input type="button" onclick="OnFilter();" id="btnFilter" class="btn btn-blue full" value="FILTER" />

                                </div>
                                <div class="col-md-2">
                                    <input id="btn-export-to-excel" type="button" class="btn btn-blue full" value="EXPORT" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("ExportPrimaryResults", "LACK1", FormMethod.Post, new { @id = "ExportXlsPrimaryResults" }))
            {
                @Html.HiddenFor(model => model.ExportSearchView.DateFrom)
                @Html.HiddenFor(model => model.ExportSearchView.DateTo)
                @Html.HiddenFor(model => model.ExportSearchView.PlantFrom)
                @Html.HiddenFor(model => model.ExportSearchView.PlantTo)
            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_Lack1PrimaryResultsDetails")
    </div>
</div>

<div id="ModalPrimaryResult" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing CK5 Materials</span>
                </p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div class="loading"></div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/js/vendors/jquery.table2excel.js"></script>
    <script type="text/javascript" language="javascript" class="init">

        $('#MenuLack1OpenDocument').removeClass('open');
        $('#MenuLack1Report').addClass('open');
        $('#MenuLack1PrimaryResultsReport').addClass('active');

        $(document).ready(function () {

            setupDataTables();
            
            $('#btn-export-to-excel').click(function () {
                exportReconciliation();
            });

        });

        function OnSuccess(data) {
            $('.loading').hide();
            $("#contenttable").html(data);
           
            
        }
        
        function OnFailure(xhr, status) {
            $('.loading').hide();
           // alert('Error: ' + xhr.statusText);
           
        }

        function OnFilter() {
            $('.loading').show();
            $('#ajaxForm').submit();
        }

        function ShowAlert() {
            if ($('#errorMessage').text() != '') {
                //alert($('#errorMessage').text());
                $('#modalBodyMessage').text($('#errorMessage').text());
                $('#ModalPrimaryResult').modal('show');
                
            }
        }
        
        function ReloadDataTables() {
            setupDataTables();
            //ShowAlert();
        }
        
        function setupDataTables() {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#lack1Table')) {
                table = $('#lack1Table').DataTable();
                table.destroy();
            }

            table = $('#lack1Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });
         //   table.ext.errMode = 'none';
          

        }

        function exportReconciliation() {
            $('#ExportSearchView_DateFrom').val($('#SearchView_DateFrom').val());
            $('#ExportSearchView_DateTo').val($('#SearchView_DateTo').val());
            $('#ExportSearchView_PlantFrom').val($('#SearchView_PlantFrom').find("option:selected").val());
            $('#ExportSearchView_PlantTo').val($('#SearchView_PlantTo').find("option:selected").val());
            $('#ExportXlsPrimaryResults').submit();
        }

    </script>
}