@model Sampoerna.EMS.Website.Models.PLANT.PlantFormModel
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/scripts.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $('#MenuMasterPlant').addClass('active');
    </script>
}
@{
    ViewBag.Title = "Edit Master Plant";
    var isCheckYes = Model.Detail.IsMainPlant ? new {@checked = "checked"} : null;
    var isCheckNo = Model.Detail.IsMainPlant ? null : new { @checked = "checked" };
}
@using (Html.BeginForm("Edit", "Plant", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Update Master Plan</h3>
                <div class="action-button">
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <a href="@Url.Action("Index", "Plant")" class="btn btn-grey">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Update Master Plant
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <form class="form-excise" role="form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Plant Id</label>
                                                    <div class="col-md-9">
                                                        @Html.HiddenFor(model => model.Detail.PlantId)
                                                        @Html.HiddenFor(model => model.Detail.Werks)
                                                        @Html.DropDownListFor(model => model.Detail.WerksT1001W.PLANT_ID, Model.PlantIdListItems, "Select", new { @class = "form-control", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.Detail.PlantId)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">NPPBKC NO</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.Detail.NppbkcNo, Model.Nppbkc, "Select", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Detail.NppbkcNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Plant Description</label>
                                                    <div class="col-md-9">
                                                        @Html.TextAreaFor(model => model.Detail.PlantDescription, new { @class = "form-control", rows = "5", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.Detail.PlantDescription)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Plant Address</label>
                                                    <div class="col-md-9">
                                                        @Html.TextAreaFor(model => model.Detail.Address, new { @class = "form-control", rows = "5" })
                                                        @Html.ValidationMessageFor(model => model.Detail.Address)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Plant City</label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.City, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Detail.City)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">SKEPTIS</label>
                                                    <div class="col-md-9">
                                                        @Html.TextBoxFor(model => model.Detail.Skeptis, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Detail.Skeptis)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4">Main Plant</label>
                                                    <div class="col-md-2">
                                                        @*@Html.CheckBoxFor(model => model.Detail.IsMainPlant, new { @class = "form-control" })*@
                                                        @Html.RadioButtonFor(model => model.Detail.IsMainPlant, true, isCheckYes)Yes
                                                    </div>
                                                    <div class="col-md-2">
                                                        @Html.RadioButtonFor(model => model.Detail.IsMainPlant, false, isCheckNo)No
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-3">Recieve Material</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownListFor(model => model.Detail.RecievedMaterialTypeId, Model.RecieveMaterialListItems, "Select", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.Detail.RecievedMaterialTypeId)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

