@model Sampoerna.EMS.Website.Models.Material.MaterialCreateViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Material", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3> Master Material</h3>
                <div class="action-button">
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <a href="@Url.Action("Index", "Material")" class="btn btn-grey">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="scroll">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                           Create Master Material
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Material Number<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.MaterialNumber, new { @class = "form-control", maxlength = "18" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Material Group<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.MaterialGroup, new { @class = "form-control", maxlength = "35" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Material Description<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.MaterialDesc, new { @class = "form-control", maxlength = "50", rows = "5" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Purchasing Group<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.PurchasingGroup, new { @class = "form-control", maxlength = "35" })
                                                            @*@Html.ValidationMessageFor(model => model.PurchasingGroup)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Plant<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "select", new { @class = "selectpicker form-control" })
                                                            @*@Html.ValidationMessageFor(model => model.PlantId)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Base UOM<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.UomId, Model.BaseUOM, "select", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Excisable Good Type<span class="red">*</span></label>
                                                        <div class="col-md-8">

                                                            @Html.DropDownListFor(model => model.GoodTypeId, Model.GoodTypeList, "select", new { @class = "form-control" })
                                                            @*@Html.ValidationMessageFor(model => model.GoodTypeId)*@

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Issue Storage Loc<span class="red">*</span></label>
                                                        <div class="col-md-8">

                                                            @Html.TextBoxFor(model => model.IssueStorageLoc, new { @class = "form-control", maxlength = "50" })
                                                            @*@Html.ValidationMessageFor(model => model.IssueStorageLoc)*@

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                Convertion List
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <form class="form-excise" role="form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Converted UOM<span class="red">*</span></label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.Conversion_UOM, Model.Conversion_UOM, "select", new { @class = "form-control" })
                                                                @*@Html.ValidationMessageFor(model => model.Convertion)*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Convertion<span class="red">*</span></label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ConversionValueStr, new { @class = "decimal form-control" })
                                                                @*@Html.ValidationMessageFor(model => model.Convertion)*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                 
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="red">*</span> ) This Field Required
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4 col-md-offset-4">
                                                            <button class="btn btn-blue full">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container-wrap">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div id="contenttable" class="table-container">
                                                                <table id="mydata" class="table cell-border display no-wrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="toggle-row"> Filter </th>
                                                                            <th> Converted UOM </th>
                                                                            <th> Conversion </th>

                                                                        </tr>

                                                                    </thead>
                                                                    <thead class="filters">
                                                                        <tr>
                                                                            <th> Action </th>
                                                                            <th> Converted UOM </th>
                                                                            <th> Conversion </th>

                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        @foreach (var item in Model.MateriaList)
                                                                        {
                                                                            <tr>
                                                                                <td class="action">
                                                                                    <button type="button" id="EditPopUp" class="fa fa-pencil-square-o" data-toggle="modal" data-target=".upload-file" ></button>
                                                                                </td>

                                                                                <td>
                                                                                    @Html.HiddenFor(modelItem => item.STICKER_CODE, new { id = "key" })
                                                                                    <span id="field1">@Html.DisplayFor(modelItem => item.CONVERSION_UOM)</span>

                                                                                </td>
                                                                                <td>
                                                                                    <span id="field2">@Html.DisplayFor(modelItem => item.CONVERSION)</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>

                                                                </table>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                              
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                        <div class="panel-group" id="accordionThree" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Information
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Create By</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.HiddenFor(model => model.CreatedById, new { @class = "form-control" })
                                                            @*@Html.ValidationMessageFor(model => model.CreatedBy)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Changed By</label>
                                                        <div class="col-md-8">

                                                            @Html.TextBoxFor(model => model.ChangedBy, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.HiddenFor(model => model.ChangedById, new { @class = "form-control" })
                                                            @*@Html.ValidationMessageFor(model => model.CreatedBy)*@

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Created On</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(model => model.CreatedDate)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Last Change On</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ChangedDate, new { @class = "form-control", @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(model => model.ChangedDate)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Plant Deletion</label>
                                                        <div class="col-md-8">
                                                            @Html.CheckBoxFor(model => model.IsPlantDelete, new { @class = "checkbox" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Client Deletion</label>
                                                        <div class="col-md-8">
                                                            @Html.CheckBoxFor(model => model.IsClientDelete, new { @class = "checkbox" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </footer>
       @Html.Partial("_EditConvertionList", Model)

}

    @section scripts
    {
        <script src="~/Scripts/js/custom.js"></script>
        <script src="~/Scripts/thousand-separator.js"></script>
        <script type="text/javascript" language="javascript" class="init">
            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#mydata .filters th').each(function () {
                    var idx = $(this).index();
                    if (idx != 0 && idx != 0) {
                        var title = $('#mydata thead th').eq($(this).index()).text();
                        $(this).html('<input type="text" placeholder="Search" style="width:100%" >');

                    }
                });

                // DataTable
                var table = $('#mydata').DataTable();

                // Apply the search
                table.columns().eq(0).each(function (colIdx) {
                    $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                        table
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                    });
                });


            });
            $('#MenuMasterMaterial').addClass('active');

            $('#ConversionValueStr').val(ThausandSeperator($('#ConversionValueStr').val(), 2));


            $('#EditPopUp').click(function () {
                var data = $('#field1').text();
                $('#ddlConversion_UOM').val(data);
                var convertion = $('#field2').text();
                $('#ddlConversion').val(convertion);

                var key = $('#key').val();
                $('#ddlkey').val(key);
                //console.log(key);
            });


            $('#btnsave').click(function () {
                var data = {
                    Id: $('#ddlkey').val(),
                    ConversionUom: $('#ddlConversion_UOM').val(),
                    Conversion: $('#ddlConversion').val()

                };
                window.location.reload();
                var json = JSON.stringify(data);

                $.ajax({
                    url: '/Material/Save',
                    type: 'POST',
                    contentType: 'application/json',
                    data: json,
                    dataType: 'json',
                    success: function () {
                        return window.location.reload();
                    }
                });

                console.log(data);
                console.log(json);
            });

        </script>
    }                                  