@model Sampoerna.EMS.Website.Models.Material.MaterialDetailViewModel
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm("Detail", "Material", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Detail Master Material</h3>
                <div class="action-button">
                    <a href="@Url.Action("Index", "Material")" class="btn btn-grey">Back</a>
                    @if (!(Model.IsDeleted.HasValue ? Model.IsDeleted.Value : false))
                    {
                        <a href="javascript:void(0);" onclick="confirmDeleteData() " class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Material Master
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <form class="form-excise" role="form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Material Number</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.MaterialNumber, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Material Group</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.MaterialGroup, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4 long">Material Description</label>
                                                            <div class="col-md-8">
                                                                @Html.TextAreaFor(model => model.MaterialDesc, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Purchasing Group</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.PurchasingGroup, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Plant</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "select", new { @class = "form-control", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(model => model.PlantId)

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Base UOM</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.UomId, Model.BaseUOM, "select", new { @class = "form-control", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(model => model.UomId)

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Excisable Good Type</label>
                                                            <div class="col-md-8">
                                                                
                                                                    @Html.DropDownListFor(model => model.GoodTypeId, Model.GoodTypeList, "select", new { @class = "form-control", @disabled = "disabled" })
                                                                    @Html.ValidationMessageFor(model => model.GoodTypeId)

                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Issue Storage Loc</label>
                                                            <div class="col-md-8">
                                                                
                                                                    @Html.TextBoxFor(model => model.IssueStorageLoc, new { @class = "form-control", @disabled = "disabled" })

                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Convertion</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.Convertion, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Create By</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @disabled = "disabled" })
                                                                @Html.HiddenFor(model => model.CreatedById, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Changed By</label>
                                                            <div class="col-md-8">
                                                                
                                                                    @Html.TextBoxFor(model => model.ChangedBy, new { @class = "form-control", @disabled = "disabled" })
                                                                    @Html.HiddenFor(model => model.ChangedById, new { @class = "form-control", @disabled = "disabled" })

                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Created On</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @disabled = "disabled" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Last Change On</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.ChangedDate, new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Plant Deletion</label>
                                                            <div class="col-md-8">
                                                                @Html.DisplayFor(model => model.IsPlantDelete, new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Client Deletion</label>
                                                            <div class="col-md-8">
                                                                @Html.DisplayFor(model => model.IsClientDelete, new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="changes">
                        <div class="table-container">
                            @Html.Partial("_ChangesHistoryTable", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!--delete-->
<input id="btn-delete-material" style="display: none" type="submit" class="btn btn-grey" data-toggle="modal" data-target=".delete-modal.poa" value="delete">
<div class="modal main-menu-child fade delete-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteData();">Delete</button>
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>    
}

@section scripts {
    <script type="text/javascript" language="javascript">
        
        var deleteData = function () {
            
                window.location = "@Url.Action("Delete", "Material", new { id = @Model.MaterialNumber })";
            

        };

        
        var confirmDeleteData = function () {
            $('#btn-delete-material').click();

        };
        $('#MenuMasterMaterial').addClass('active');
    </script>
}