@model Sampoerna.EMS.Website.Models.Material.MaterialEditViewModel
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Material", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>Update Master Material</h3>
                <div class="action-button">
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <a href="@Url.Action("Index", "Material")" class="btn btn-grey">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-wrapper">
                    <div class="scroll">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Update Master Material
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form class="form-excise" role="form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Material Number<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.MaterialNumber, new { @class = "form-control", maxlength = "18" })
                                                            @*@Html.ValidationMessageFor(model => model.MaterialNumber)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Material Group<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.MaterialGroup, new { @class = "form-control", maxlength = "35" })
                                                            @*@Html.ValidationMessageFor(model => model.MaterialGroup)*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4 long">Material Description<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.MaterialDesc, new { @class = "form-control", maxlength = "50" })
                                                            @*@Html.ValidationMessageFor(model => model.MaterialDesc)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Purchasing Group<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(model => model.PurchasingGroup, new { @class = "form-control", maxlength = "35" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Plant<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.PlantId, Model.PlantList, "select", new { @class = "selectpicker form-control" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Base UOM<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.DropDownListFor(model => model.UomId, Model.BaseUOM, "select", new { @class = "form-control" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Excisable Good Type<span class="red">*</span></label>
                                                        <div class="col-md-8">

                                                            @Html.DropDownListFor(model => model.GoodTypeId, Model.GoodTypeList, "select", new { @class = "form-control" })


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Issue Storage Loc<span class="red">*</span></label>
                                                        <div class="col-md-8">

                                                            @Html.TextBoxFor(model => model.IssueStorageLoc, new { @class = "form-control", maxlength = "50" })


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Convertion<span class="red">*</span></label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ConversionValueStr, new { @class = "decimal form-control" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Create By</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.HiddenFor(model => model.CreatedById, new { @class = "form-control" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Changed By</label>
                                                        <div class="col-md-8">

                                                            @Html.TextBoxFor(model => model.ChangedBy, new { @class = "form-control", @disabled = "disabled" })
                                                            @Html.HiddenFor(model => model.ChangedById, new { @class = "form-control" })
                                                            @*@Html.ValidationMessageFor(model => model.CreatedBy)*@

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Created On</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(model => model.CreatedDate)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Last Change On</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.ChangedDate, new { @class = "form-control", @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(model => model.ChangedDate)*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="col-md-4">Plant Deletion</label>
                                                        <div class="col-md-6">
                                                            @Html.CheckBoxFor(model => model.IsPlantDelete, new { @class = "" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Client Deletion</label>
                                                            <div class="col-md-6">
                                                                @Html.CheckBoxFor(model => model.IsClientDelete, new { @class = "" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="red">*</span> ) This Field Required
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuMasterMaterial').addClass('active');
    </script>
}