@using Sampoerna.EMS.Core
@model Sampoerna.EMS.Website.Models.Material.MaterialListViewModel

@section scripts {

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuMasterMaterial').addClass('active');

        $(document).ready(function () {
            $('#SearchInput_GoodType').addClass('input-validation-error');

            setupDataTables();           

            @if (TempData[Constans.SubmitType.Save] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Save]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Save] = null;
            }
            else if (TempData[Constans.SubmitType.Update] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Update]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Update] = null;
            }
            else if (TempData[Constans.SubmitType.Delete] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Delete]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Delete] = null;
            }
        });

        function setupDataTables() {
            $('#btn-reset-filter').click(function () {
                $(".selectreset").val($(".selectreset option:first").val());
            });

            $('#btn-filter').click(function () {
                $('.loading').show();
            });

            // Setup - add a text input to each footer cell
            $('#mydata .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0 && idx != 0) {
                    var title = $('#mydata thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" >');

                }
            });

            // DataTable
            var table = $('#mydata').DataTable();

            // Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
            $("#mydata_filter").hide();
            $('#mydata_length').hide();
        }

        function ReloadDataTables() {
            $('.toggle-row').click(function () {

                var filter = $(".filters");
                filter.slideToggle(100).promise().done(function () {

                });
            });
            $('#SearchInput_GoodType').removeClass('input-validation-error');
            setupDataTables();
            $('.loading').hide();
        }

        function ExportXls() {
            $('#GoodType').val($('#SearchInput_GoodType').val());
            $('#ExportToXls').submit();
        }
        
    </script>
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Material Master</h3>
            @if (Model.IsNotViewer){
            <div class="action-button new">
                <a href="@Url.Action("Create", "Material")">
                    <button class="btn btn-blue">NEW</button>
                </a>
            </div>
            }
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">

            <div class="white-wrapper">
                @using (Ajax.BeginForm("FilterMaterialIndex", "Material",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "contenttable",
                        OnComplete = "ReloadDataTables",
                    }, new { @class = "form-excise", role = "form" }))
                {

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-3">Excisable Goods Type</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.GoodType, Model.GoodTypeList, "All", new { @class = " form-control selectreset", id = "SearchInput_GoodType" })
                                </div>
                               
                                <div class="col-md-5">
                                    <div class="col-md-3">
                                        <input id ="btn-filter" type="submit" class="btn btn-blue" value="FILTER" />
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" id="btn-reset-filter" class="btn btn-blue">RESET</button>
                                    </div>
                                    <div class="col-md-3">
                                        <input id="btnExport" type="button" class="btn btn-blue" onclick="ExportXls();" value="EXPORT" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                }
            </div>
            @using (Html.BeginForm("ExportXlsFile", "Material", FormMethod.Post, new { @id = "ExportToXls" }))
            {
                 @Html.HiddenFor(model => model.GoodType)
            }
            <div id="contenttable" class="table-container">
                @Html.Partial("_MaterialList")
            </div>
        </div>
    </div>
</div>

<!--modal-->
<input id="btn-mastermaterial-modal" style="display: none" class="btn btn-blue" data-toggle="modal" data-target=".bs-example-modal-sm" value="Save">

<div class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class ="modal-title">Success</h4>
            </div>
            <div class="modal-body" id="modal-mastermaterial-message">

            </div>
        </div>
    </div>
</div>

<div class="loading"></div>
