@using Sampoerna.EMS.Core
@model Sampoerna.EMS.Website.Models.Material.MaterialListViewModel

@section scripts {


    <script src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuMasterMaterial').addClass('active');
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#mydata .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0 && idx != 0) {
                    var title = $('#mydata thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" >');

                }
            });

            // DataTable
            var table = $('#mydata').DataTable();

            // Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
            $("#mydata_filter").hide();
            $('#mydata_length').hide();

           

            @if (TempData[Constans.SubmitType.Save] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Save]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Save] = null;
            }
            else if (TempData[Constans.SubmitType.Update] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Update]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Update] = null;
            }
            else if (TempData[Constans.SubmitType.Delete] != null)
            {
                @: $('#modal-mastermaterial-message').html('@TempData[Constans.SubmitType.Delete]');
                @: $('#btn-mastermaterial-modal').click();
                @:TempData[Constans.SubmitType.Delete] = null;
            }
        });
    </script>
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Material Master</h3>
            <div class="action-button new">
                <a href="@Url.Action("Create", "Material")">
                    <button class="btn btn-blue">NEW</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">


            <div id="contenttable" class="table-container">

                <table id="mydata" class="table cell-border display no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="toggle-row"> Filter </th>
                            <th> Plant </th>
                            <th> Material Number </th>
                            <th> Material Desc</th>
                            <th> Good Type</th>
                            <th> UOM</th>
                            <th> Plant Deletion </th>
                            <th> Client Deletion </th>
                        </tr>

                    </thead>
                    <thead class="filters">
                        <tr>
                            <th> Action </th>
                            <th> Plant </th>
                            <th> Material Number </th>
                            <th> Material Desc</th>
                            <th> Good Type</th>
                            <th> UOM</th>

                            <th> Plant Deletion </th>
                            <th> Client Deletion </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td class="action">
                                    <a href="@Url.Action("Details", "Material", new { mn = item.MaterialNumber, p= item.PlantId })" data-toggle="tooltip" data-placement="top" title="Detail"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Edit", "Material", new { mn = item.MaterialNumber, p = item.PlantId })" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlantName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoodTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UomName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlantDeletion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientDeletion)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<!--modal-->
<input id="btn-mastermaterial-modal" style="display: none" class="btn btn-blue" data-toggle="modal" data-target=".bs-example-modal-sm" value="Save">

<div class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class ="modal-title">Success</h4>
            </div>
            <div class="modal-body" id="modal-mastermaterial-message">

            </div>
        </div>
    </div>
</div>
