@model Sampoerna.EMS.Website.Models.UserPlantMap.UserPlantMapDetailViewModel


@{
    ViewBag.Title = "Edit User Plant Map";
}
@section styles{
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
}
@using (Html.BeginForm("Edit", "UserPlantMap", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>User Plant Map</h3>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Edit User Plant Map
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-excise" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-md-4">User ID<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.UserPlantMap.UserId, Model.Users, new { @class = "form-control" })
                                                   

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-md-4">NPPBKC<span class="red">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("select-nppbck", Model.Nppbkcs, new { @id = "select-nppbkc-id", @class = "chosen form-control", multiple = "multiple" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-md-4">Plant</label>
                                                    <div class="col-md-8">
                                                        <div class="page-role" id="plant-list">




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                   
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="red">*</span> ) This Field Required
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@section scripts {
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript" language="javascript">
      
        var plantlist = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Plants)));
      
        $(document).ready(function() {
            $('#MenuUserPlantMap').addClass('active');

            $('#btnCancel').click(function(e) {
                location.href = '@Url.Action("Index", "UserPlantMap")';
            });


        });
        var nppbkc = [];
       
        for (var m = 0; m < plantlist.length; m++) {
            nppbkc.push(plantlist[m].NPPBKC_ID);
            $('#plant-list').append(SetPlantList(plantlist[m], m));
        }
       
        $('#select-nppbkc-id').val(nppbkc);

        $(".chosen").chosen();
       
        
        $('.chosen').on('change', function(evt, params) {
             ViewPlant(params.selected);

            if (params.deselected) {
                $('.' + params.deselected).remove();
                var arrlength = plantlist.length;
                var tempArray = [];
                for (var j = 0; j < arrlength; j++) {
                    var m = plantlist[j].NPPBKC_ID;
                    if (m != params.deselected) {
                        tempArray.push(plantlist[j]);
                    }
                }
                plantlist = tempArray;
                $('#plant-list').html('');
                for (var l = 0; l < plantlist.length; l++) {
                    $('#plant-list').append(SetPlantList(plantlist[l], l));
                }
            }

        });

        function ViewPlant(nppbkcid_selected) {
            if (nppbkcid_selected) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPlantByNppbkc", "UserPlantMap")',
                    data: { nppbkcid: nppbkcid_selected },
                    success: function(data) {

                        for (var i = 0; i < data.length; i++) {
                            plantlist.push(data[i]);

                        }
                        $('#plant-list').html('');
                        for (var k = 0; k < plantlist.length; k++) {
                            $('#plant-list').append(SetPlantList(plantlist[k], k));
                        }
                    }
                });
            }
        }

        function SetPlantList(data, index) {

            var view = '<div class="' + data.NPPBCK_ID + '"><input id="Plants_' + index + '__WERKS" name="Plants[' + index + '].WERKS" type="hidden" value="' + data.WERKS + '">' +
                '<input  onchange="setChecked(' + index + ', $(this))" type="checkbox"><input type="hidden" id="Plants_' + index + '__IsChecked" name="Plants[' + index + '].IsChecked">' +
                data.WERKS + '-' + data.NAME1 + '</div>';
            return view;
        }

        function setChecked(index, obj) {
            var isCheck = $(obj[0]).prop('checked');

            $('#Plants_' + index + '__IsChecked').val(isCheck);
        }

    </script>
}