@using iTextSharp.text.pdf.qrcode
@model Sampoerna.EMS.Website.Models.UserPlantMap.UserPlantMapIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Plant Map</h3>
            <div class="action-button new">
                <a href="@Url.Action("Create", "UserPlantMap")">
                    <button class="btn btn-blue">NEW</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div id="contenttable" class="table-container">
                <table id="UserPlantMap" class="table cell-border display no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="toggle-row"> Filter </th>
                            <th>User ID</th>
                            <th>Plant</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <thead class="filters">
                        <tr>
                            <th>Action</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var firstUserName = Model.UserPlantMaps.Count > 0 ? Model.UserPlantMaps[0].UserId : null;

                        }


                        @for (int i = 0; i < Model.UserPlantMaps.Count(); i++)
                        {
                            <tr>

                                <td class="action">
                                    <a href="@Url.Action("Detail", "UserPlantMap", new { id = Model.UserPlantMaps[i].UserId })" data-toggle=" tooltip" data-placement="top" title="Detail"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Edit", "UserPlantMap", new {id = Model.UserPlantMaps[i].UserId })" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserPlantMaps[i].UserId)

                                </td>
                                <td>

                                    @foreach (var plant in Model.UserPlantMaps.Where(x => x.UserId == Model.UserPlantMaps[i].UserId))
                                    {
                                        <p>@(plant.PlantId + "-" + plant.PlantName)</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserPlantMaps[i].IsActive)

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $('#MenuPlantMap').addClass('active');
        $(document).ready(function () {

            // Setup - add a text input to each footer cell
            $('#UserPlantMap .filters th').each(function () {
                var idx = $(this).index();
                if (idx != 0) {
                    var title = $('#UserPlantMap thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" >');

                }
            });

            // DataTable
            var table = $('#UserPlantMap').DataTable();


            // Apply the search

            table.columns().eq(0).each(function (colIdx) {
                $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });

        });
    </script>
}
