@model IEnumerable<Sampoerna.EMS.Website.Models.CompanyViewModel>

    @{
        ViewBag.Title = "Index";

    }
    @section scripts
{
        <link rel="stylesheet" type="text/css" href="../../Scripts/DataTables-1.10.7/media/css/jquery.dataTables.css">
        <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
                      <script type="text/javascript" language="javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../../Scripts/colReorderWithResize.js"></script>
       
        <script type="text/javascript" language="javascript" class="init">
            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#mydata thead th').each(function () {
                    var title = $('#mydata thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });
                
                //DataTable
                $('#mydata').DataTable(
                    {
                        "sDom": "Rlfrtip"
                    });
                
                // Apply the search
                table.columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        that
                            .search(this.value)
                            .draw();
                    });
                });
            });
            
           

        </script>
    }
    <h2>View Data Company</h2>
    <table id="mydata" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Company ID</th>
                <th>BUKRS</th>
                <th>BUKRSTXT</th>
                <th>Date</th>
                <th>Action</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentBukrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentBukrstxt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Me", "Edit", new { id = item.CompanyId })
                        @*@Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
