@model Sampoerna.EMS.Website.Models.PoaDelegation.PoaDelegationFormViewModel


<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="desc">DELEGATION</h3>
            <div class="action-button">
                <input type="button" value="Back" class="btn btn-grey" id="btnBack" />
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">

                            <div class="white-wrapper">

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Detail Delegation
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <form class="form-excise" role="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-3 long">Delegation From</label>
                                                                <div class="col-md-9">
                                                                    @Html.TextBoxFor(model => model.PoaFrom, new { @class = "form-control", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-3 long">Delegation To</label>
                                                                <div class="col-md-9">
                                                                    @Html.TextBoxFor(model => model.PoaTo, new { @class = "form-control", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-3">From Date</label>
                                                                <div class="col-md-9">
                                                                    @Html.EditorFor(model => model.DateFrom)
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-3">To Date</label>
                                                                <div class="col-md-9">
                                                                    @Html.EditorFor(model => model.DateTo)
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>


                                                    <div class="row">
                                                        
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <label class="col-md-3">Reason</label>
                                                                <div class="col-md-9">
                                                                    @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @disabled = "disabled" ,@rows = "5"})
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </form>

                                            </div>
                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="changes">
                        <div class="table-container">
                            @Html.Partial("_ChangesHistoryTable")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {
    
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            $('#MenuPoaDelegation').addClass('active');

            $('#btnBack').click(function (e) {
                location.href = '@Url.Action("Index", "PoaDelegation")';
            });


        });





    </script>
}