@model Sampoerna.EMS.Website.Models.PoaDelegation.PoaDelegationFormViewModel

@using (Html.BeginForm("Edit", "PoaDelegation", FormMethod.Post, new { @class = "form-excise", @id = "SavePoaDelegationForms" }))
{
    @Html.AntiForgeryToken()

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="desc">POA Delegation<span>(Power of Attorney)</span></h3>
                <div class="action-button">
                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnBack" />
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.POA_DELEGATION_ID)
     @Html.HiddenFor(model => model.CREATED_BY)
    @Html.HiddenFor(model => model.CREATED_DATE)
    @Html.HiddenFor(model => model.MODIFIED_BY)
    @Html.HiddenFor(model => model.MODIFIED_DATE)
    
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="information">
                            <div class="tab-wrapper">

                                <div class="white-wrapper">

                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Update POA Delegation
                                                        <i class="fa fa-caret-down"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <form class="form-excise" role="form">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <label class="col-md-3 long">Delegation From<span class="red">*</span></label>
                                                                    <div class="col-md-9">
                                                                        @Html.DropDownListFor(model => model.PoaFrom, Model.ListPoaFrom, "Select", new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <label class="col-md-3 long">Delegation To<span class="red">*</span></label>
                                                                    <div class="col-md-9">
                                                                        @Html.DropDownListFor(model => model.PoaTo, Model.ListPoaTo, "Select", new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <label class="col-md-3">From Date<span class="red">*</span></label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group date">
                                                                            @Html.TextBoxFor(model => model.DateFrom, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <label class="col-md-3">From To<span class="red">*</span></label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-group date">
                                                                            @Html.TextBoxFor(model => model.DateTo, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>


                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <label class="col-md-3">Reason<span class="red">*</span></label>
                                                                    <div class="col-md-9">
                                                                        @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", @rows = "5" })

                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </form>

                                                </div>
                                            </div>

                                        </div>

                                    </div>



                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="changes">
                            <div class="table-container">
                                @Html.Partial("_ChangesHistoryTable")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="ModalPoaDelegation" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <span id="modalBodyMessage">Error</span>
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
                </div>
            </div>
        </div>
    </div>

}
@section scripts {


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            $('#MenuPoaDelegation').addClass('active');

            $('#btnBack').click(function (e) {
                location.href = '@Url.Action("Index", "PoaDelegation")';
            });

            $("#btnSave").click(function () {
                if (ValidatePoaDelegationForm()) {
                    $('#SavePoaDelegationForms').submit();
                }
            });

            OnChangeUserFrom();

        });


        function ValidatePoaDelegationForm() {
            var result = true;
            var blModal = false;

            if ($('#PoaFrom').find("option:selected").val() == '') {
                AddValidationClass(false, 'PoaFrom');
                result = false;
                $('#modalBodyMessage').text('Please fill Delegation From');
                $('#ModalPoaDelegation').modal('show');
                blModal = true;
            }

            if ($('#PoaTo').find("option:selected").val() == '') {
                AddValidationClass(false, 'PoaTo');
                result = false;
                if (!blModal) {
                    $('#modalBodyMessage').text('Please fill Delegation To');
                    $('#ModalPoaDelegation').modal('show');
                }
            }

            if ($('#DateFrom').val() == '') {
                AddValidationClass(false, 'DateFrom');
                result = false;

            }

            if ($('#DateTo').val() == '') {
                AddValidationClass(false, 'DateTo');
                result = false;

            }

            if ($('#Reason').val() == '') {
                AddValidationClass(false, 'Reason');
                result = false;

            }

            if ($('#PoaFrom').find("option:selected").val() == $('#PoaTo').find("option:selected").val()) {
                AddValidationClass(false, 'PoaFrom');
                AddValidationClass(false, 'PoaTo');
                result = false;
                if (!blModal) {
                    $('#modalBodyMessage').text('Delegation From and To Same');
                    $('#ModalPoaDelegation').modal('show');
                }
            }

            if (!result) {
                $('#collapseOne').removeClass('collapse');
                $('#collapseOne').addClass('in');
                $("#collapseOne").css({ height: "auto" });
            }


            return result;
        }

        function AddValidationClass(isValid, objName) {
            if (isValid) {
                $('#' + objName).removeClass('input-validation-error');
                $('#' + objName).addClass('valid');
            } else {
                $('#' + objName).removeClass('valid');
                $('#' + objName).addClass('input-validation-error');
            }
        }

        function OnChangeUserFrom() {
            $("#PoaFrom").change(function () {
                if ($("#PoaFrom").length) {
                    var userFrom = $(this).find("option:selected").val();


                    if (userFrom == '') {
                        var listTo = $('#PoaTo');
                        listTo.empty();
                        var list = '<option value>Select</option>';
                        listTo.html(list);
                    } else {

                        ajaxGetListUser('@Url.Action("GetListUsersRole", "PoaDelegation")', { userId: userFrom });
                    }
                }
            });
        }

        function ajaxGetListUser(url, formData) {
            if (formData.userId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {

                        if (data != null) {

                            var listTo = $('#PoaTo');
                            listTo.empty();

                            var list = '<option value>Select</option>';


                            for (var i = 0; i < data.length; i++) {
                                list += "<option value='" + data[i].UserId + "'>" + data[i].UserId + "</option>";
                            }
                            listTo.html(list);

                            listTo.selectpicker('refresh');
                        }


                    }
                });
            }
        }
    </script>
}