@model Sampoerna.EMS.Website.Models.UOM.UomDetailViewModel


@{
    ViewBag.Title = "Edit UOM";
}

@using (Html.BeginForm("Edit", "Uom", null, FormMethod.Post, new { @class = "form-excise", role = "form" }))
{

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="desc">UoM <span>Unit Of Measurement</span></h3>
                <div class="action-button">
                    <button class="btn btn-blue">Save</button>
                    <input type="button" value="Cancel" class="btn btn-grey" id="btnCancel" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Update Unit Of Measurement
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <form class="form-excise" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-md-2">UoM Code<span class="red">*</span></label>
                                                <div class="col-md-4">
                                                    @Html.TextBox("uom_id", Model.UomId, new { @class = "form-control", @disabled="disabled" })
                                                    @Html.HiddenFor(x=>x.UomId)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-md-2">UoM Description<span class="red">*</span></label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.UomName, new { @class = "form-control", @maxlength = "200" })
                                                 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <label class="col-md-2">Used In EMS</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.IsEms)

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="red">*</span> ) This Field Required
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#MenuUOM').addClass('active');

            $('#btnCancel').click(function (e) {
                location.href = '@Url.Action("Index", "Uom")';
            });

            @*$("#ImportPlantId").autocomplete({
                    source: '@Url.Action("PlantList", "VirtualMappingPlant")',
                    minLength: 1
            });*@
            
          
        });

    </script>
}