@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Plant<span class="red">*</span></label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SourcePlantId, new { @class = "form-control", @maxlength = "4" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.SourcePlantNameManual, new { @class = "form-control", @maxlength = "30" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">NPWP</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SourceNpwpManual, new { @class = "form-control", @maxlength = "30" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">NPPBKC ID</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SourceNppbkcIdManual, new { @class = "form-control", @maxlength = "15" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Company Name</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SourceCompanyNameManual, new { @class = "form-control", @maxlength = "35" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Company Code</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SourceCompanyCodeManual, new { @class = "form-control", @maxlength = "4" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Address</label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.SourceAddressManual, new { @rows = "5", @class = "form-control", @maxlength = "150" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">KPPBC Name, Office ID</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SourceKppbcNameManual, new { @class = "form-control", @maxlength = "150" })

            </div>
        </div>
    </div>

</div>

