@using iTextSharp.text.pdf.qrcode
@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel

<div class="row">
    <div class="col-md-6">
        <div class="row">
            @if (Model.IsMarketReturn)
            {
                 <label class="col-md-4">Plant</label>
            }
            else
            {
                 <label class="col-md-4">Plant<span class="red">*</span></label>
            }
           
            <div class="col-md-8">
                @if (Model.IsDomesticAlcohol)
                {
                    @Html.DropDownListFor(model => model.SourcePlantId, Model.SourcePlantList, "Select", new { @class = "form-control" })

                }
                else if (Model.IsCk5PortToImporter )
                {
                    @Html.TextBoxFor(model=> model.SourcePlantName, new { @class = "form-control" })
                }
                else if (Model.IsCk5ImporterToPlant || Model.IsMarketReturn)
                {
                    @Html.DropDownListFor(model => model.SourcePlantId, Model.SourcePlantList, "Select", new { @class = "form-control", style = "display : none" })
                    var sourcePlantText = Model.SourcePlantId + " - " + Model.SourcePlantName;
                    @Html.TextBox("plantname", sourcePlantText, new { @class = "form-control", @disabled = "true" })

                }
                else
                {
                    @Html.DropDownListFor(model => model.SourcePlantId, Model.SourcePlantList, "Select", new {@class = "form-control"})
                }

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">NPWP</label>
            <div class="col-md-8">
                @if (Model.IsDomesticAlcohol || Model.IsCk5PortToImporter)
                {
                    @Html.TextBoxFor(model => model.SourceNpwp, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.SourceNpwp, new { @readonly = "readonly", @class = "form-control" })
                }

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">NPPBKC ID</label>
            <div class="col-md-8">
                @if (Model.IsCk5PortToImporter)
                {
                    @Html.TextBoxFor(model => model.SourceNppbkcId, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.SourceNppbkcId, new { @disabled = "disabled", @class = "form-control" })
                }
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Company Name</label>
            <div class="col-md-8">
                @if (Model.IsCk5PortToImporter)
                {
                    @Html.TextBoxFor(model => model.SourceCompanyName, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.SourceCompanyName, new {@disabled = "disabled", @class = "form-control"})
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">Address</label>
            <div class="col-md-8">
                @if (Model.IsCk5PortToImporter || Model.IsMarketReturn)
                {
                    @Html.TextAreaFor(model => model.SourceAddress, new { @rows = "5", @class = "form-control" })
                }
                else
                {
                    @Html.TextAreaFor(model => model.SourceAddress, new {@rows = "5", @disabled = "disabled", @class = "form-control"})
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <label class="col-md-4">KPPBC Name, Office ID</label>
            <div class="col-md-8">
                @if (Model.IsCk5PortToImporter)
                {
                    @Html.TextBoxFor(model => model.SourceKppbcName, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.SourceKppbcName, new {@disabled = "disabled", @class = "form-control"})
                    @*<input id="SourceKppbcName" type="text" class="form-control" value="" disabled>*@
                }
            </div>
        </div>
    </div>
</div>