@using Sampoerna.EMS.Core
@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel

@Html.HiddenFor(model => model.SubmissionNumber)
@Html.HiddenFor(model => model.SubmissionDate)


<div role="tabpanel" class="tab-pane active" id="information">
    <div class="tab-wrapper">


        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Origin Plant
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Plant</label>
                                            <div class="col-md-8">
                                                @if (Model.IsCk5PortToImporter && Model.IsDomesticAlcohol)
                                                {
                                                    @Html.TextBoxFor(model => model.SourcePlantName, new { @disabled = false, @class = "form-control" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.SourcePlantId, new { @disabled = false, @class = "form-control" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">NPWP</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SourceNpwp, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">NPPBKC ID</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SourceNppbkcId, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Company Name</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SourceCompanyName, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Address</label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.SourceAddress, new { @row = "5", @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">KPPBC Name, Office ID</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.SourceKppbcName, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            @*}*@

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Destination Plant
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="form-excise" role="form">

                            @if (Model.IsCk5Export)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Destination Country</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DisplayDetailsDestinationCountry, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Company Name</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestCompanyName, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Address</label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.DestAddress, new { @disabled = "disabled", @class = "form-control", @row = "5" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Loading Port</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.LoadingPort, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Loading Port Name & ID</label>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.LoadingPortName, new { @disabled = "disabled", @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.LoadingPortId, new { @disabled = "disabled", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Final Port</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FinalPort, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Final Port Name & ID</label>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.FinalPortName, new { @disabled = "disabled", @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.FinalPortId, new { @disabled = "disabled", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Plant</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestPlantId, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">NPWP</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestNpwp, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">NPPBKC ID</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestNppbkcId, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Company Name</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestCompanyName, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Address</label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.DestAddress, new { @disabled = "disabled", @class = "form-control", @row = "5" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">KPPBC Name, Office ID</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DestKppbcName, new { @disabled = "disabled", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            CK-5 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">CK-5 Type</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Ck5Type, new { @disabled = false, @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                @if (Model.IsCk5ImporterToPlant)
                                {
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Port to Importer Ref</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Ck5RefId, Model.Ck5RefList, "Select", new { @class = "form-control", @disabled="disabled" })

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">KPPBC City</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.KppBcCity, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">@Html.LabelFor(model => model.CeOfficeCode)</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.CeOfficeCode, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Submission Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.SubmissionNumber, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Submission Date</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.SubmissionDate)

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Registration Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.RegistrationNumber, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Registration Date</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.RegistrationDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Goods Type Group</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.GoodTypeName, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Excise Settlement</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ExciseSettlementDesc, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Excise Status</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ExciseStatusDesc, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Request Type</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.RequestTypeDesc, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.IsCk5Manual)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">CK-5 Manual Type</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Ck5ManualTypeString, new { @class = "form-control", @disabled = false })

                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.Ck5ManualType == Enums.Ck5ManualType.Trial)
                                    {
                                        <div class="col-md-6">
                                            <div class="row" id="ck5TrialPbck1Reduce">
                                                <label class="col-md-4">Reduce PBCK-1</label>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(model => model.IsReducePbck1Ck5Trial, new {@class = "checkbox", @disabled="disabled"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                  
                                  
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="panel-group" id="accordion-6" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading6">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-6" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            Notification Data
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Invoice Number</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.InvoiceNumber, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Invoice Date</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.InvoiceDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (!Model.IsCk5Export && !Model.IsCk5PortToImporter)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4 long">PBCK-1 Decree  Number</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PbckDecreeNumber, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">PBCK-1 Decree Date</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.PbckDecreeDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Pbck1 Qty Approved</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Pbck1QtyApproved, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">CK5 Total Qty</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Ck5TotalExciseable, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Remain</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.RemainQuota, new { @disabled = false, @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Carriage Method</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.CarriageMethodDesc, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Grand Total Exciseable</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.GrandTotalExDisplay, new { @disabled = false, @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.PackageUomName, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-group" id="accordion-5" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-5" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            Upload
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">

                        <div class="table-container" id="ck5DetailMaterialTable">
                          
                            <table id="Ck5UploadTable" class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                       
                                        <th>Material Number</th>
                                        <th>Qty</th>
                                        <th>UOM</th>
                                        <th>Convertion</th>
                                        <th>Converted Qty</th>
                                        <th>Converted UOM</th>
                                        <th>HJE</th>
                                        <th>Tariff</th>
                                        <th>Excise Value</th>
                                        <th>USD Value</th>
                                        <th>Note</th>
                                        <th>Message</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                   

                                        @if (Model != null)
                                        {
                                            foreach (var row in Model.UploadItemModels)
                                            {
                                                <tr>
                                                    <td>@row.Brand</td>
                                                    <td>@row.Qty</td>
                                                    <td>@row.Uom</td>
                                                    <td>@row.Convertion</td>
                                                    <td>@row.ConvertedQty</td>
                                                    <td>@row.ConvertedUom</td>
                                                    <td>@row.Hje</td>
                                                    <td>@row.Tariff</td>
                                                    <td>@row.ExciseValue</td>
                                                    <td>@row.UsdValue</td>
                                                    <td>@row.Note</td>
                                                    <td>@row.Message</td>
                                                   
                                                    

                                                </tr>
                                               }
                                        }
                                    
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="panel-group" id="accordion-4" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Additional Information
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="form-excise" role="form">


                            @*@if (!Model.IsCk5Manual)
                            {*@

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.DnNumber, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.DnNumber, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.StoSenderNumber, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.StoSenderNumber, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.StoReceiverNumber, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.StoReceiverNumber, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.StobNumber, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.StobNumber, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.GiDate, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.GiDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.GrDate, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.GrDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            @*}*@

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.SealingNotifNumber, new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.SealingNotifNumber, new { @class = "form-control", @disabled = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.SealingNotifDate, new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.SealingNotifDate)
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.UnSealingNotifNumber, new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.UnSealingNotifNumber, new { @class = "form-control", @disabled = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.UnsealingNotifDate, new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.UnsealingNotifDate)

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (Model.IsMarketReturn)
                            {
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.Back1Number, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Back1Number, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            @Html.LabelFor(model => model.Back1Date, new { @class = "col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Back1Date)

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Status Gov</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.GovStatusDesc, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Requisitioner</label>
                                        <div class="col-md-8">
                                            @*<input type="text" class="form-control" disabled="">*@
                                            @Html.TextBoxFor(model => model.CreatedUser, new { @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Comment</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.CommentGov, new { @rows = "5", @disabled = false, @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                @if (Model.AllowAttachmentCompleted)
                                {
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">CK-5 Doc</label>
                                            <div class="col-md-8">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="file-upload" id="poa-files">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-primary full" data-toggle="modal" data-target=".upload-file">Add File</button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Attachment</label>
                                            <div class="col-md-8">
                                                @*<input type="text" class="form-control" disabled="">*@
                                                @if (Model.Ck5FileUploadModelList != null)
                                                {
                                                    foreach (var file in Model.Ck5FileUploadModelList)
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <i class="fa fa-file"></i>
                                                                <a href="@Url.Content(file.FILE_PATH)">@file.FILE_NAME</a>
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (Model.AllowAttachmentCompleted)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-4">Attachment</label>
                                            <div class="col-md-8">
                                                @*<input type="text" class="form-control" disabled="">*@
                                                @if (Model.Ck5FileUploadModelList != null)
                                                {
                                                    foreach (var file in Model.Ck5FileUploadModelList)
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <i class="fa fa-file"></i>
                                                                <a href="@Url.Content(file.FILE_PATH)">@file.FILE_NAME</a>
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-group" id="accordion-7" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading7">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-7" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            Workflow History
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                        <div class="table-container">
                            @Html.Partial("_WorkflowHistoryTable", Model.WorkflowHistory)
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@* Modal upload dialog *@

<div class="modal fade in upload-file ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">CK5 Attachment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="file-sk-container" class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary full add-files">Add Files</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                @*<input type="file" id="Ck5FileUploadFileList_0_" name="Ck5FileUploadFileList[0]" class="form-control">*@
                                <input type="file" class="file-inputs" data-filename-placement="inside" id="Ck5FileUploadFileList_0_" name="Ck5FileUploadFileList[0]">


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-grey" id="upload-file-sk" data-dismiss="modal">Upload</button>
            </div>
        </div>
    </div>
</div>

@* end Modal upload dialog *@