@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.CK5.CK5SummaryReportsViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Summary Report</h3>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">

                @Html.HiddenFor(model => model.Ck5Type)

                <div class="form-excise" role="form">
                    <div class="row">
                        @*@using (Ajax.BeginForm("SearchSummaryReports", "CK5",
                            new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        OnComplete = "ReloadDataTables"

                    }, new { id = "ajaxForm" }))
                            {*@
                            <input type="hidden" name="TotalDataPerPage" id="TotalDataPerPage" value="10" />
                            <input type="hidden" name="CurrentPage" id="CurrentPage" value="1" />
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Company Soursce</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.CompanyCodeSourceList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.CompanyCodeSource, Model.SearchView.CompanyCodeSourceList, "All", new { @class = "form-control selectreset" }))
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Company Destination</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.CompanyCodeDestList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.CompanyCodeDest, Model.SearchView.CompanyCodeDestList, "All", new { @class = "form-control selectreset" }))

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC ID Source</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.NppbkcIdSourceList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.NppbkcIdSource, Model.SearchView.NppbkcIdSourceList, "All", new { @class = "form-control selectreset" }))

                                     
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">NPPBKC ID Destination</label>
                                    <div class="col-md-8">
                                       
                                        @(Model.SearchView.NppbkcIdDestList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.NppbkcIdDest, Model.SearchView.NppbkcIdDestList, "All", new { @class = "form-control selectreset" }))

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Plant Source</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.PlantSourceList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PlantSource, Model.SearchView.PlantSourceList, "All", new { @class = "form-control selectreset" }))

                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Plant Destination</label>
                                    <div class="col-md-8">
                                       
                                        @(Model.SearchView.PlantDestList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.PlantDest, Model.SearchView.PlantDestList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Date From </label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.DateFromList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.DateFrom, Model.SearchView.DateFromList, "All", new { @class = "form-control selectreset" }))

                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Date To</label>
                                    <div class="col-md-8">
                                     
                                        @(Model.SearchView.DateToList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.DateTo, Model.SearchView.DateToList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Material Number</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.MaterialNumberList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.MaterialNumber, Model.SearchView.MaterialNumberList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Material Description</label>
                                    <div class="col-md-8">
                                        @(Model.SearchView.MaterialDescriptionList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.MaterialDescription, Model.SearchView.MaterialDescriptionList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                     
                                        @(Model.SearchView.PoaList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.Poa, Model.SearchView.PoaList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                     
                                        @(Model.SearchView.CreatorList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                                              : Html.DropDownListFor(model => model.SearchView.Creator, Model.SearchView.CreatorList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Month</label>
                                    <div class="col-md-8">
                                     
                                        @(Model.SearchView.MonthList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                              : Html.DropDownListFor(model => model.SearchView.Month, Model.SearchView.MonthList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-4">Year</label>
                                    <div class="col-md-8">
                                     
                                        @(Model.SearchView.YearList == null ? Html.DropDownList("dropdown-name", Enumerable.Empty<SelectListItem>())
                              : Html.DropDownListFor(model => model.SearchView.Year, Model.SearchView.YearList, "All", new { @class = "form-control selectreset" }))


                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-2 col-md-offset-8">
                                <input type="button" onclick="OnFilter();" id="btnFILTER" class="btn btn-blue full" value="FILTER" />
                            </div>
                            <div class="col-md-2">
                                <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                            </div>


                        @*}*@
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("ExportXlsSummaryReports", "CK5", FormMethod.Post, new { @id = "ExportSummaryReportsForms" }))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">
                                    @*<div id="Ck5Modal" class="modal ems-modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">*@
                                    <div>
                                        @Html.HiddenFor(model => model.Ck5Type)

                                        @Html.HiddenFor(model => model.ExportModel.CompanyCodeSource)
                                        @Html.HiddenFor(model => model.ExportModel.CompanyCodeDest)
                                        @Html.HiddenFor(model => model.ExportModel.NppbkcIdSource)
                                        @Html.HiddenFor(model => model.ExportModel.NppbkcIdDest)
                                        @Html.HiddenFor(model => model.ExportModel.PlantSource)
                                        @Html.HiddenFor(model => model.ExportModel.PlantDest)
                                        @Html.HiddenFor(model => model.ExportModel.DateFrom)
                                        @Html.HiddenFor(model => model.ExportModel.DateTo)
                                        
                                        @Html.HiddenFor(model => model.ExportModel.MaterialNumber)
                                        @Html.HiddenFor(model => model.ExportModel.MaterialDescription)
                                        @Html.HiddenFor(model => model.ExportModel.Poa)
                                        @Html.HiddenFor(model => model.ExportModel.Creator)
                                        @Html.HiddenFor(model => model.ExportModel.Month)
                                        @Html.HiddenFor(model => model.ExportModel.Year)

                                        <div class="row toggle">

                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SubmissionNumber, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "1" })Submission Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SubmissionDate, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })Submission Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Ck5TypeDescription, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "3"})CK5 Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SourcePlantId, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "4" })Origin Plant ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SourcePlant, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "5" })Origin Plant Desc
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.OriginCompanyNppbkc, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "6" })Origin NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.OriginCeOffice, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "7" })Origin KPPBC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.OriginCompany, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "8" })Origin Company
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.OriginCompanyAddress, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "9" })Origin Company Address
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestinationPlantId, new { @checked = "checked", @class = "checkbox checkexport", @datacolumn = "10" })Destination Plant ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestinationPlant, new { @class = "checkbox checkexport", @datacolumn = "11" })Destination Plant Desc
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestinationCeOffice, new { @class = "checkbox checkexport", @datacolumn = "12" })Destination KPPBC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompanyDestination, new { @class = "checkbox checkexport", @datacolumn = "13" })Destination Company
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestinationCountry, new { @class = "checkbox checkexport", @datacolumn = "14" })Destination Country
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.TanggalAju, new { @class = "checkbox checkexport", @datacolumn = "15" })Tanggal AJU
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.NomerAju, new { @class = "checkbox checkexport", @datacolumn = "16" })Nomer AJU
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.TanggalPendaftaran, new { @class = "checkexport", @datacolumn = "17" })Tanggal Pendaftaran
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.NomerPendaftaran, new { @class = "checkbox checkexport", @datacolumn = "18" })Nomer Pendaftaran
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExGoodTypeDesc, new { @class = "checkbox checkexport", @datacolumn = "19" })Excise Goods Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExciseSettlement, new { @class = "checkbox checkexport", @datacolumn = "20" })Excise Settlement
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExciseStatus, new { @class = "checkbox checkexport", @datacolumn = "21" })Excise Status
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.RequestType, new { @class = "checkbox checkexport", @datacolumn = "22" })Request Type
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.UnpaidExciseFacilityNumber, new { @class = "checkbox checkexport", @datacolumn = "23" })Unpaid Excise Facility Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.UnpaidExciseFacilityDate, new { @class = "checkbox checkexport", @datacolumn = "24" })Unpaid Excise Facility Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SealingNotificationDate, new { @class = "checkbox checkexport", @datacolumn = "25" })Sealing Notification Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.SealingNotificationNumber, new { @class = "checkbox checkexport", @datacolumn = "26" })Sealing Notification Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.UnSealingNotificationDate, new { @class = "checkbox checkexport", @datacolumn = "27" })UnSealing Notification Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.UnSealingNotificationNumber, new { @class = "checkbox checkexport", @datacolumn = "28" })UnSealing Notification Number
                                                    </label>
                                                </div>                                                
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.NumberBox, new { @class = "checkbox checkexport", @datacolumn = "29" })Number Box
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ContainPerBox, new { @class = "checkbox checkexport", @datacolumn = "30" })Contain per Box
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ConvertedQty, new { @class = "checkbox checkexport", @datacolumn = "31" })Converted Qty
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ConvertedUom, new { @class = "checkbox checkexport", @datacolumn = "32" })Converted UOM
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.TotalOfExcisableGoods, new { @class = "checkbox checkexport", @datacolumn = "33" })Total of Excisable Goods
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.BanderolPrice, new { @class = "checkbox checkexport", @datacolumn = "34" })Banderol Price
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExciseTariff, new { @class = "checkbox checkexport", @datacolumn = "35" })Excise Tariff
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.ExciseValue, new { @class = "checkbox checkexport", @datacolumn = "36" })Excise Value
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectMaterialNumber, new { @class = "checkbox checkexport", @datacolumn = "37" })Material Code
                                                    </label>
                                                </div>

                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectMaterialDescription, new { @class = "checkbox checkexport", @datacolumn = "38" })Material Description
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestCompanyAddress, new { @class = "checkbox checkexport", @datacolumn = "39" })Last Storage Location
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestCompanyNppbkc, new { @class = "checkbox checkexport", @datacolumn = "40" })Last Storage Location's NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DestCompanyName, new { @class = "checkbox checkexport", @datacolumn = "41" })Last Storage Location's CE Office
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.LoadingPort, new { @class = "checkbox checkexport", @datacolumn = "42" })Loading Port
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.LoadingPortName, new { @class = "checkbox checkexport", @datacolumn = "43" })Loading Port Name
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.StoNumberSender, new { @class = "checkbox checkexport", @datacolumn = "44" })STO Sender Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.StoNumberReciever, new { @class = "checkbox checkexport", @datacolumn = "45" })STO Reciever Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.StoBNumber, new { @class = "checkbox checkexport", @datacolumn = "46" })STOB Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.DnNumber, new { @class = "checkbox checkexport", @datacolumn = "47" })DN Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.GrDate, new { @class = "checkbox checkexport", @datacolumn = "48" })GR Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.GiDate, new { @class = "checkbox checkexport", @datacolumn = "49" })GI Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Status, new { @class = "checkbox checkexport", @datacolumn = "50" })Status
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectPoa, new { @class = "checkbox checkexport", @datacolumn = "51" })POA Approved by
                                                    </label>
                                                </div>
                                                
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.IsSelectCreator, new { @class = "checkbox checkexport", @datacolumn = "52" })Creator
                                                    </label>
                                                </div>
                                                
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.CompletedDate, new { @class = "checkbox checkexport", @datacolumn = "53" })Completed Date
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Lack1, new { @class = "checkbox checkexport", @datacolumn = "54" })Reported to LACK-1 Month
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(model => model.ExportModel.Lack2, new { @class = "checkbox checkexport", @datacolumn = "55" })Reported to LACK-2 Month
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            

                            
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_CK5ListSummaryReport")

    </div>
</div>

<div class="loading"></div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/CK5Scripts.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function() {
            $('#SearchView_Month').addClass('input-validation-error');
            $('#SearchView_Year').addClass('input-validation-error');

            setupDataTables(true);
            //$('#MenuCK5SummaryReports').addClass('active');

            $('#MenuCk5OpenDocument').removeClass('open');

            $('#MenuCk5Report').addClass('open');
            $('#MenuCK5SummaryReports').addClass('active');


            $("#SearchView_Ck5Type").change(function() {
                if ($("#SearchView_Ck5Type").length) {
                    //var ck5Type = $('option:selected', $(this)).text(); //$(this).find("option:selected").val();

                    location.href = '@Url.Action("SummaryReports", "CK5")';


                }

            });

        });

        function setupColumns() {

            var columns = [
                { "data": null, "orderable": false },
                { "data": "SubmissionNumber", "orderable": true },
                { "data": "SubmissionDate", "orderable": true },
                { "data": "Ck5TypeDescription", "orderable": true },
                { "data": "SourcePlantId", "orderable": true },
                { "data": "SourcePlant", "orderable": true },
                { "data": "OriginCompanyNppbkc", "orderable": true },
                { "data": "OriginCeOffice", "orderable": true },
                { "data": "OriginCompany", "orderable": true },
                { "data": "OriginCompanyAddress", "orderable": true },
                { "data": "DestinationPlantId", "orderable": true },
                { "data": "DestinationPlant", "orderable": true },
                { "data": "DestinationCeOffice", "orderable": true },
                { "data": "CompanyDestination", "orderable": true },
                { "data": "DestinationCountry", "orderable": true },
                { "data": "TanggalAju", "orderable": true },
                { "data": "NomerAju", "orderable": true },
                { "data": "TanggalPendaftaran", "orderable": true },
                { "data": "NomerPendaftaran", "orderable": true },
                { "data": "ExGoodTypeDesc", "orderable": true },
                { "data": "ExciseSettlement", "orderable": true },
                { "data": "ExciseStatus", "orderable": true },
                { "data": "RequestType", "orderable": true },
                { "data": "UnpaidExciseFacilityNumber", "orderable": true },
                { "data": "UnpaidExciseFacilityDate", "orderable": true },
                { "data": "SealingNotificationDate", "orderable": true },
                { "data": "SealingNotificationNumber", "orderable": true },
                { "data": "UnSealingNotificationDate", "orderable": true },
                { "data": "UnSealingNotificationNumber", "orderable": true },
                { "data": "NumberBox", "orderable": true },
                { "data": "ContainPerBox", "orderable": true },
                { "data": "ConvertedQty", "orderable": true },
                { "data": "ConvertedUom", "orderable": true },
                { "data": "TotalOfExcisableGoods", "orderable": true },
                { "data": "BanderolPrice", "orderable": true },
                { "data": "ExciseTariff", "orderable": true },
                { "data": "ExciseValue", "orderable": true },
                { "data": "MaterialNumber", "orderable": true },
                { "data": "MaterialDescription", "orderable": true },
                { "data": "DestCompanyAddress", "orderable": true },
                { "data": "DestCompanyNppbkc", "orderable": true },
                { "data": "DestCompanyName", "orderable": true },
                { "data": "LoadingPort", "orderable": true },
                { "data": "LoadingPortName", "orderable": true },
                { "data": "StoNumberSender", "orderable": true },
                { "data": "StoNumberReciever", "orderable": true },
                { "data": "StoBNumber", "orderable": true },
                { "data": "DnNumber", "orderable": true },
                { "data": "GrDate", "orderable": true },
                { "data": "GiDate", "orderable": true },
                { "data": "Status", "orderable": true },
                { "data": "Poa", "orderable": true },
                { "data": "Creator", "orderable": true },
                { "data": "CompletedDate", "orderable": true },
                { "data": "Lack1", "orderable": true },
                { "data": "Lack2", "orderable": false }
            ];

            return columns;


        }


        function setupDataTables(blFirst) {

            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#ck5Table')) {
                table = $('#ck5Table').DataTable();
                table.destroy();
            }

            table = $('#ck5Table').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "sPaginationType": "full_numbers",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    },

                    "rowCallback": function(row, data, index) {

                        var info = $('#ck5Table').DataTable().page.info();
                        $(row).find("td").first().html((info.page * info.length) + index + 1);
                    },
                    "serverSide": true,
                    "processing": true,
                    "paging": true,
                    "deferRender": true,
                    "columns": setupColumns(),
                    "ajax": {
                        "url": "@Url.Action("SearchSummaryReportsAjax", "CK5")",
                        "type": "POST",

                        "data": function(d) {
                            return $.extend({}, d, {
                                "ExtraFilter": {
                                    "SearchView": {
                                        Ck5Type: $("#Ck5Type").val(),

                                        CompanyCodeSource: $('#SearchView_CompanyCodeSource').find("option:selected").val(),

                                        CompanyCodeDest: $('#SearchView_CompanyCodeDest').find("option:selected").val(),

                                        NppbkcIdSource: $('#SearchView_NppbkcIdSource').find("option:selected").val(),

                                        NppbkcIdDest: $('#SearchView_NppbkcIdDest').find("option:selected").val(),

                                        PlantSource: $('#SearchView_PlantSource').find("option:selected").val(),

                                        PlantDest: $('#SearchView_PlantDest').find("option:selected").val(),

                                        DateFrom: $('#SearchView_DateFrom').find("option:selected").val(),

                                        DateTo: $('#SearchView_DateTo').find("option:selected").val(),

                                        Month: $('#SearchView_Month').find("option:selected").val(),

                                        Year: $('#SearchView_Year').find("option:selected").val(),

                                        MaterialNumber: $('#SearchView_MaterialNumber').find("option:selected").val(),
                                        MaterialDescription: $('#SearchView_MaterialDescription').find("option:selected").val(),
                                        Poa: $('#SearchView_Poa').find("option:selected").val(),
                                        Creator: $('#SearchView_Creator').find("option:selected").val(),
                                    }
                                }
                            });
                        }
                    }
                });


            $('#selecctall').change(function() {
                if ($(this).is(':checked')) {
                    $('.checkexport').each(function() {
                        this.checked = true;
                    });
                    for (var i = 0; i < 56; i++) {
                        table.column(i).visible(true);
                    }
                    $('#ck5Table').parents('div.dataTables_wrapper').first().show();


                } else {
                    $('.checkexport').each(function() {
                        this.checked = false;
                    });
                    for (var i = 0; i < 56; i++) {
                        table.column(i).visible(false);
                    }
                    $('#ck5Table').parents('div.dataTables_wrapper').first().hide();
                }
            });

            $('.checkexport').on('click', function(e) {
                // e.preventDefault();
                table.column(0).visible(true);

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());

                $('#ck5Table').parents('div.dataTables_wrapper').first().hide();

                for (var i = 0; i < 56; i++) {
                    if (table.column(i).visible()) {
                        $('#ck5Table').parents('div.dataTables_wrapper').first().show();
                        return;
                    }
                }

            });

            if (blFirst) {
                for (var i = 11; i < 56; i++) {
                    table.column(i).visible(false);
                }
            } else {
                $('.checkexport').each(function() {

                    // Get the column API object
                    var column = table.column($(this).attr('datacolumn'));

                    // Toggle the visibility
                    column.visible(false);
                    if ($(this).is(':checked')) {
                        // Toggle the visibility
                        column.visible(true);
                    }

                });
            }
        }

        function ReloadDataTables() {
            setupDataTables(false);
            setpaginglink();
            $('#SearchView_Month').removeClass('input-validation-error');
            $('#SearchView_Year').removeClass('input-validation-error');
        }

        function setpaginglink() {

        }

        function OnFilter() {
            var table = $('#ck5Table').DataTable();
            
            table.ajax.reload();
        }


        function OnReset() {

            $(".selectreset").val($(".selectreset option:first").val());
        }

        $("#btnExport").click(function() {
            // $('#Ck5Modal').modal('show');
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();
        });

        function GetSearchSummaryReports() {
            $('#ExportModel_CompanyCodeSource').val($('#SearchView_CompanyCodeSource').find("option:selected").val());
            $('#ExportModel_CompanyCodeDest').val($('#SearchView_CompanyCodeDest').find("option:selected").val());

            $('#ExportModel_NppbkcIdSource').val($('#SearchView_NppbkcIdSource').find("option:selected").val());
            $('#ExportModel_NppbkcIdDestt').val($('#SearchView_NppbkcIdDest').find("option:selected").val());
            $('#ExportModel_PlantSource').val($('#SearchView_PlantSource').find("option:selected").val());
            $('#ExportModel_PlantDest').val($('#SearchView_PlantDest').find("option:selected").val());
            $('#ExportModel_DateFrom').val($('#SearchView_DateFrom').find("option:selected").val());
            $('#ExportModel_DateTo').val($('#SearchView_DateTo').find("option:selected").val());

            $('#ExportModel_MaterialNumber').val($('#SearchView_MaterialNumber').find("option:selected").val());
            $('#ExportModel_MaterialDescription').val($('#SearchView_MaterialDescription').find("option:selected").val());
            $('#ExportModel_Poa').val($('#SearchView_Poa').find("option:selected").val());
            $('#ExportModel_Creator').val($('#SearchView_Creator').find("option:selected").val());
            $('#ExportModel_Month').val($('#SearchView_Month').find("option:selected").val());
            $('#ExportModel_Year').val($('#SearchView_Year').find("option:selected").val());

        }


        $("#btnConfirm").click(function() {
            GetSearchSummaryReports();
            $('#ExportSummaryReportsForms').submit();


        });

    </script>
}
