@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("SaveCK5", "CK5", FormMethod.Post, new { @id = "SaveCk5Forms" }))
{
     @Html.AntiForgeryToken()
    
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Ck5Type.ToString()</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                       
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.HiddenFor(model => model.Ck5Type)
                        
                        @Html.HiddenFor(model => model.KppBcCity)
                        @Html.HiddenFor(model => model.CeOfficeCode)

                        @Html.HiddenFor(model => model.SubmissionNumber)
                     
                        @Html.HiddenFor(model => model.SourceNpwp)
                        @Html.HiddenFor(model => model.SourceNppbkcId)
                        @Html.HiddenFor(model => model.SourceCompanyCode)
                      
                        @Html.HiddenFor(model => model.SourceKppbcName)
                        @Html.HiddenFor(model => model.SourcePlantName)
                        
                        @if (!Model.IsCk5PortToImporter)
                        {
                              @Html.HiddenFor(model => model.SourceCompanyName)
                              @Html.HiddenFor(model => model.SourceAddress)
                        }
                        
                        @Html.HiddenFor(model => model.DestNpwp)
                        @Html.HiddenFor(model => model.DestNppbkcId)
                        @Html.HiddenFor(model => model.DestCompanyCode)
                       
                        @Html.HiddenFor(model => model.DestKppbcName)
                        @Html.HiddenFor(model => model.DestPlantName)
                     
                        @if (!Model.IsCk5Export)
                        {
                            @Html.HiddenFor(model => model.DestCompanyName)
                            @Html.HiddenFor(model => model.DestAddress)
                        }
                        
                        @Html.HiddenFor(model => model.PbckDecreeId)
                        @Html.HiddenFor(model => model.PbckDecreeNumber)
                        @Html.HiddenFor(model => model.Pbck1QtyApproved)
                        @Html.HiddenFor(model => model.Ck5TotalExciseable)
                        @Html.HiddenFor(model => model.RemainQuota)
                        @Html.HiddenFor(model => model.PbckUom)
                        
                        @Html.HiddenFor(model => model.IsCk5Export)
                        @Html.HiddenFor(model => model.IsCk5PortToImporter)

                        @Html.Partial("_CK5InformationCreate")
                        @Html.Partial("_CK5Printout")
                        @Html.Partial("_CK5UploadCreate")
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div id="ModalCk5Material" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing CK5 Materials</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div id="ModalCk5PBCK1Quota" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Please fill Source and Destination plant</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/CK5Scripts.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        OnReadyFunction('@Model.Ck5Type.ToString()');

        var sourcePlant = $('#SourcePlantId').find("option:selected").val();

        if (sourcePlant != '') {
            //enable upload
            $('#btnUploadInfo').enable(true);
            $('#CK5UploadSubmitBtn').enable(true);
        }

        $("select#RequestType option[value='Dibayar']").replaceWith("<optgroup label='Dibayar'>");
        $("select#RequestType option[value='TidakDipungut']").replaceWith("<optgroup label='Tidak Dipungut'>");
        $("select#RequestType option[value='Dibebaskan']").replaceWith("<optgroup label='Dibebaskan'>");
        $("select#RequestType option[value='Lainnya']").replaceWith("<optgroup label='Lainnya'>");

        $("#btnSave").click(function () {

            if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
                $('#SaveCk5Forms').submit();
            }
        });

        $('#CK5UploadSubmitBtn').click(function () {
            GenerateXlsCk5Material('@Url.Action("UploadFile", "CK5")', '@Model.Ck5Type.ToString()');
        });

    });


    $("#DestPlantId").change(function () {
        if ($("#DestPlantId").length) {
            //alert($('#SubmissionDate').val());
            var isPortToImporter = false;
            if ('@Model.Ck5Type.ToString()' == "PortToImporter") {
                isPortToImporter = true;
                RemoveTable();
            }


            var destPlant = $(this).find("option:selected").val();

            if (destPlant == '') {
                $("input[name='DestNpwp']").val('');
                $("input[name='DestNppbkcId']").val('');
                $("input[name='DestCompanyCode']").val('');
                $("input[name='DestCompanyName']").val('');
                $("*[name='DestAddress']").val('');
                $("input[name='DestKppbcName']").val('');
                $("input[name='DestPlantName']").val('');

                $("input[name='PbckDecreeId']").val('');
                $("input[name='PbckDecreeNumber']").val('');
                $("input[name='PbckDecreeDate']").val('');
                $("input[name='Pbck1QtyApproved']").val('0');
                $("input[name='Ck5TotalExciseable']").val('0');
                $("input[name='RemainQuota']").val('0');
                $("input[name='PbckUom']").val('');

                if (isPortToImporter) {
                    $("input[name='KppBcCity']").val('');
                    $("input[name='CeOfficeCode']").val('');
                }
            } else {

                if (isPortToImporter) {
                    //alert(destPlant);
                    ajaxGetDestPlantDetailsPortToImporter('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: destPlant, ck5Type: '@Model.Ck5Type' });
                } else {


                    var submissionDate = $('#SubmissionDate').val();
                    if (submissionDate == '')
                        submissionDate = '@DateTime.Now';

                    var sourcePlant = $("#SourcePlantId").find("option:selected").val();
                    var goodTypeGroupId = $("#GoodType").val();
                    var sourceNppbkcId = $("#SourceNppbkcId").val();

                    ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodTypeGroupId: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });

                }

            }
        }
    });

    $('#SubmissionDate').change(function () {
        var goodTypeGroupId = $("#GoodType").val();
        var sourcePlant = $("#SourcePlantId").find("option:selected").val();
        var destPlant = $("#DestPlantId").find("option:selected").val();
        var sourceNppbkcId = $("#SourceNppbkcId").val();
        if (destPlant == '' || sourcePlant == '' || destPlant == '') {
            $("input[name='PbckDecreeId']").val('');
            $("input[name='PbckDecreeNumber']").val('');
            $("input[name='PbckDecreeDate']").val('');
            $("input[name='Pbck1QtyApproved']").val('0');
            $("input[name='Ck5TotalExciseable']").val('0');
            $("input[name='RemainQuota']").val('0');
            $("input[name='PbckUom']").val('');
        } else {
            var submissionDate = $('#SubmissionDate').val();
            if (submissionDate == '')
                submissionDate = '@DateTime.Now';


            ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });

        }
    });

    $("#GoodType").change(function () {
        var goodTypeGroupId = $("#GoodType").val();
        var sourcePlant = $("#SourcePlantId").find("option:selected").val();
        var destPlant = $("#DestPlantId").find("option:selected").val();
        var sourceNppbkcId = $("#SourceNppbkcId").val();
        if (destPlant == '' || sourcePlant == '' || destPlant == '') {
            $("input[name='PbckDecreeId']").val('');
            $("input[name='PbckDecreeNumber']").val('');
            $("input[name='PbckDecreeDate']").val('');
            $("input[name='Pbck1QtyApproved']").val('0');
            $("input[name='Ck5TotalExciseable']").val('0');
            $("input[name='RemainQuota']").val('0');
            $("input[name='PbckUom']").val('');
        } else {
            var submissionDate = $('#SubmissionDate').val();
            if (submissionDate == '')
                submissionDate = '@DateTime.Now';


            ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });

        }

    });

    $("#SourcePlantId").change(function () {
        if ($("#SourcePlantId").length) {
            var sourcePlant = $(this).find("option:selected").val();

            //remove table
            try {
                RemoveTable();
            } catch (e) {

            }
            if (sourcePlant == '') {
                $("input[name='SourceNpwp']").val('');
                $("input[name='SourceNppbkcId']").val('');
                $("input[name='SourceCompanyCode']").val('');
                $("input[name='SourceCompanyName']").val('');
                $("*[name='SourceAddress']").val('');
                $("input[name='SourceKppbcName']").val('');
                $("input[name='SourcePlantName']").val('');
                //enable upload
                $('#btnUploadInfo').enable(false);
                $('#CK5UploadSubmitBtn').enable(false);

                $("input[name='KppBcCity']").val('');
                $("input[name='CeOfficeCode']").val('');


            } else {

                ajaxGetPlantDetails('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: sourcePlant, ck5type: '@Model.Ck5Type' });
            }
        }
    });

</script>
}