@model Sampoerna.EMS.Website.Models.CK5.CK5CreateViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("SaveCK5", "CK5"))
{
    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Ck5Type.ToString()</h3>
                <label class="status">Draft</label>
                <div class="action-button">
                    @*<button class="btn btn-blue">Save</button>
                        <button class="btn btn-grey">Print Preview</button>*@
                    <input type="submit" class="btn btn-blue" value="Save" />
                    <input type="button" class="btn btn-grey" value="Print Preview" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                        @*<li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>*@
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        @Html.Partial("_CK5InformationCreate")

                        @Html.Partial("_CK5Printout")
                        @Html.Partial("_CK5UploadCreate")
                        @*@Html.Partial("_CK5ChangeLog")*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#MenuCK5Domestic').addClass('active');
    });

    $(document).ready(function () {
        
        $('#btnUploadInfo').click(function () {
            
            $('#home-tab').removeClass('active');
            $('#upload-tab').addClass('active');
            
            $('#information').removeClass('active');
            $('#upload').addClass('active');
           
        });

        
        $('#CK5UploadSave').click(function () {
            var datarows = GetTableData($('#Ck5UploadTable'));
            var columnLength = $('#ck5TableItem').find("thead tr:first th").length;
            $('#ck5TableItem tbody').html('');
            for (var i = 0; i < datarows.length; i++) {
                var data = '<tr>';
                if (columnLength > 0) {
                    data += '<td> <input name="UploadItemModels[' + i + '].Brand" type="hidden" value = "' + datarows[i][0] + '">' + datarows[i][0] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Qty" type="hidden" value = "' + datarows[i][1] + '">' + datarows[i][1] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Uom" type="hidden" value = "' + datarows[i][2] + '">' + datarows[i][2] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Convertion" type="hidden" value = "' + datarows[i][3] + '">' + datarows[i][3] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Description" type="hidden" value = "' + datarows[i][4] + '">' + datarows[i][4] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].ConvertedQty" type="hidden" value = "' + datarows[i][5] + '">' + datarows[i][5] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].ConvertedUom" type="hidden" value = "' + datarows[i][6] + '">' + datarows[i][6] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Hje" type="hidden" value = "' + datarows[i][7] + '">' + datarows[i][7] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Tariff" type="hidden" value = "' + datarows[i][8] + '">' + datarows[i][8] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].ExciseValue" type="hidden" value = "' + datarows[i][9] + '">' + datarows[i][9] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].UsdValue " type="hidden" value = "' + datarows[i][10] + '">' + datarows[i][10] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Note" type="hidden" value = "' + datarows[i][11] + '">' + datarows[i][11] + '</td>';
                    data += '<td> <input name="UploadItemModels[' + i + '].Message" type="hidden" value = "' + datarows[i][12] + '">' + datarows[i][12] + '</td>';
                }
                data += '</tr>';
                $('#ck5TableItem tbody').append(data);
            }

            //$('#GrandTotalEx').val($('#GrandTotalList').val());
            $('#upload-tab').removeClass('active');
            $('#home-tab').addClass('active');

            $('#information').addClass('active');
            $('#upload').removeClass('active');
           
            $('#collapse5').addClass('in');
        });
    });

    function IsValidDataUpload() {
        
        var datarows = GetTableData($('#Ck5UploadTable'));
        
        for (var i = 0; i < datarows.length; i++) {
            if (datarows[i][12].length > 0)
                return false;
               
        }

        return true;
    }
    $('#CK5UploadSubmitBtn').click(function () {

        var fileName = $('[name="itemExcelFile"]').val().trim();
        var pos = fileName.lastIndexOf('.');
        var extension = (pos <= 0) ? '' : fileName.substring(pos);
        if (extension != '.xlsx') {
            alert('Please browse a correct excel file to upload');
            return false;
        }
     
        var formData = new FormData();
        var totalFiles = document.getElementById("itemExcelFile").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("itemExcelFile").files[i];

            formData.append("itemExcelFile", file);
            formData.append("plantId", $('#SourcePlantId').val());
        }
        $.ajax({
            type: "POST",
            url: '/CK5/UploadFile',
            data: formData,
            dataType: 'html',
            contentType: false,
            processData: false,
            success: function (response) {
                    $('#ProdConvContent').html("");
                    $('#ProdConvContent').html(response);
                    if (IsValidDataUpload())
                        $('#CK5UploadSave').enable();
            },
            error: function (error) {
                alert("errror " + error);
            }
        });
    });
        
    function ajaxCallSave(url, formData) {
            if (formData.model) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#pbck1Date').val(data);
                    }
                });
            }
        }

        $("#PbckDecreeId").change(function () {
            if ($("#PbckDecreeId").length) {
                var pbck1 = $(this).find("option:selected").val();
                if (pbck1 == '') {
                    $('#pbck1Date').val('');
                } else {
                    ajaxGetPbck1Date('@Url.Action("Pbck1DatePartial", "CK5")', { pbck1Id: pbck1 });
                }
            }

        });

        function ajaxGetPbck1Date(url, formData) {
            if (formData.pbck1Id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#pbck1Date').val(data);
                    }
                });
            }
        }

        $("#DestPlantId").change(function () {
            if ($("#DestPlantId").length) {
                var destPlant = $(this).find("option:selected").val();
                if (destPlant == '') {
                    $('#DestNpwp').val('');
                    $('#DestNppbkcId').val('');
                    $('#DestCompanyName').val('');
                    $('#DestAddress').val('');
                    $('#DestKppbcName').val('');
                } else {
                    ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: destPlant });
                }
            }
        });

        function ajaxGetDestPlantDetails(url, formData) {
            if (formData.plantId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#DestNpwp').val(data.PlantNpwp);
                        $('#DestNppbkcId').val(data.NPPBCK_ID);
                        $('#DestCompanyName').val(data.CompanyName);
                        $('#DestAddress').val(data.CompanyAddress);
                        $('#DestKppbcName').val(data.KppBcName);
                    }
                });
            }
        }

        function RemoveTable() {
            
            $('#ck5TableItem tbody').html('');
            $('#Ck5UploadTable tbody').html('');

        }
        $("#SourcePlantId").change(function () {
            if ($("#SourcePlantId").length) {
                var sourcePlant = $(this).find("option:selected").val();

                //remove table
                RemoveTable();
                
                if (sourcePlant == '') {
                    $('#SourceNpwp').val('');
                    $('#SourceNppbkcId').val('');
                    $('#SourceCompanyName').val('');
                    $('#SourceAddress').val('');
                    $('#SourceKppbcName').val('');
                    
                    //enable upload
                    $('#btnUploadInfo').enable(false);
                    $('#CK5UploadSubmitBtn').enable(false);

                   
                } else {
                    ajaxGetPlantDetails('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: sourcePlant });
                }
            }
        });

        function ajaxGetPlantDetails(url, formData) {
            if (formData.plantId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#SourceNpwp').val(data.PlantNpwp);
                        $('#SourceNppbkcId').val(data.NPPBCK_ID);
                        $('#SourceCompanyName').val(data.CompanyName);
                        $('#SourceAddress').val(data.CompanyAddress);
                        $('#SourceKppbcName').val(data.KppBcName);
                        
                        //enable upload
                        $('#btnUploadInfo').enable();
                        $('#CK5UploadSubmitBtn').enable();
                        
                    }
                });
            }
        }


        $("#KppBcCity").change(function () {
            if ($("#KppBcCity").length) {
                var kppBcCity = $(this).find("option:selected").val();
                if (kppBcCity == '') {
                    $('#CeOfficeCode').val('');
                } else {
                    ajaxGetCeOfficeCode('@Url.Action("CeOfficeCodePartial", "CK5")', { kppBcCityId: kppBcCity });
                }
            }

        });

        function ajaxGetCeOfficeCode(url, formData) {
            if (formData.kppBcCityId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        $('#CeOfficeCode').val(data);
                    }
                });
            }
        }

    </script>
}