@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel


@using (Html.BeginForm("Edit", "CK5", FormMethod.Post, new { @id = "EditCk5Forms" }))
{
    @Html.AntiForgeryToken()

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Ck5Type.ToString()</h3>
                <label class="status">@Model.DocumentStatusDescription</label>
                <div class="action-button">

                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                    <input type="button" class="btn btn-danger" value="Cancel" id="btnCancelDocument" />
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.EncryptedAction("PrintPreview", "CK5", new { id = @Model.Ck5Id })')" />

                    <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.HiddenFor(model => model.Ck5Id)
                        @Html.HiddenFor(model => model.Ck5Type)
                        @Html.HiddenFor(model => model.DocumentStatusDescription)
                        @Html.HiddenFor(model => model.DocumentStatus)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.DocumentStatus)

                        @Html.HiddenFor(model => model.KppBcCity)
                        @Html.HiddenFor(model => model.CeOfficeCode)


                        @Html.HiddenFor(model => model.SubmissionNumber)



                        @Html.HiddenFor(model => model.SourceNpwp)
                        @Html.HiddenFor(model => model.SourceNppbkcId)
                        @Html.HiddenFor(model => model.SourceCompanyCode)
                        @Html.HiddenFor(model => model.SourceKppbcName)
                        @Html.HiddenFor(model => model.SourcePlantName)

                        @if (Model.IsCk5PortToImporter)
                        {
                            @Html.HiddenFor(model => model.SourcePlantId)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.SourceCompanyName)
                            @Html.HiddenFor(model => model.SourceAddress)
                        }

                        @Html.HiddenFor(model => model.DestNpwp)
                        @Html.HiddenFor(model => model.DestNppbkcId)
                        @Html.HiddenFor(model => model.DestCompanyCode)
                        @Html.HiddenFor(model => model.DestKppbcName)
                        @Html.HiddenFor(model => model.DestPlantName)
                        
                        @if (!Model.IsCk5Export)
                        {
                            @Html.HiddenFor(model => model.DestCompanyName)
                            @Html.HiddenFor(model => model.DestAddress)
                        }



                        @Html.HiddenFor(model => model.PbckDecreeId)
                        @Html.HiddenFor(model => model.PbckDecreeNumber)
                        @Html.HiddenFor(model => model.Pbck1QtyApproved)
                        @Html.HiddenFor(model => model.Ck5TotalExciseable)
                        @Html.HiddenFor(model => model.RemainQuota)

                        @Html.HiddenFor(model => model.IsCk5Export)
                        @Html.HiddenFor(model => model.IsCk5PortToImporter)
                        @Html.HiddenFor(model => model.CountryName)

                        @Html.HiddenFor(model => model.Command)

                        @Html.Partial("_CK5InformationEdit")
                        @Html.Partial("_CK5Printout")
                        @Html.Partial("_CK5UploadEdit")
                        @Html.Partial("_CK5ChangeLog")



                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="ModalCk5Material" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing CK5 Materials</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div id="Ck5Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>Submit</h3>
            </div>
            <div class="modal-body">
                Submit Documents  ?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnSubmitConfirm" class="btn btn-blue" value="Yes" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
            </div>
        </div>
    </div>
</div>

<div id="Ck5ModalCancel" class="modal fade in reject-doc ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Cancel document</h4>
            </div>
            @using (Html.BeginForm("CancelDocument", "CK5"))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Ck5Id)
                    <div class="form-excise" role="form">
                        <div class="row">
                            <label class="col-md-3">Add Comment<span class="red">*</span></label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9 GovCancel" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="Cancel" disabled id="btnConfirmCancel" />
                </div>
            }
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/CK5Scripts.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        OnReadyFunction('@Model.Ck5Type.ToString()');
        //enable upload
        $('#btnUploadInfo').enable();
        $('#CK5UploadSubmitBtn').enable();

        $("#KppBcCity option").each(function () {
            if ($(this).text() == $("input[name='KppBcCityName']").val()) {
                $(this).attr('selected', 'selected');
            }
        });


        $("#btnCancelDocument").click(function () {
            $('#btnConfirmCancel').attr('disabled', 'disabled');

            $('#Comment').val('');

            $('#Ck5ModalCancel').modal('show');

        });

        $('#Comment').bind('input propertychange', function () {

            $('#btnConfirmCancel').attr('disabled', 'disabled');

            if (this.value.length) {
                $('#btnConfirmCancel').removeAttr('disabled');
            }
        });

        $("select#RequestType option[value='Dibayar']").replaceWith("<optgroup label='Dibayar'>");
        $("select#RequestType option[value='TidakDipungut']").replaceWith("<optgroup label='Tidak Dipungut'>");
        $("select#RequestType option[value='Dibebaskan']").replaceWith("<optgroup label='Dibebaskan'>");
        $("select#RequestType option[value='Lainnya']").replaceWith("<optgroup label='Lainnya'>");

        $('#btn-changelog-export-xls').click(function () {
            location.href = '@Url.Action("ExportXls", "CK5", new {ck5Id = Model.Ck5Id})';
        });

        $("#btnSave").click(function () {

            if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
                $('#Command').val('Save');
                $('#EditCk5Forms').submit();
            }

        });

        $('#CK5UploadSubmitBtn').click(function () {
            GenerateXlsCk5Material('@Url.Action("UploadFile", "CK5")');
        });
    });

    var plantOriginal = '@Model.SourcePlantId';

    $("#DestPlantId").change(function () {
        if ($("#DestPlantId").length) {
            var destPlant = $(this).find("option:selected").val();
            var isPortToImporter = false;
            if ('@Model.Ck5Type.ToString()' == "PortToImporter") {
                isPortToImporter = true;
                RemoveTable();
            }

            if (destPlant == '') {
                $("input[name='DestNpwp']").val('');
                $("input[name='DestNppbkcId']").val('');
                $("input[name='DestCompanyCode']").val('');
                $("input[name='DestCompanyName']").val('');
                $("*[name='DestAddress']").val('');
                $("input[name='DestKppbcName']").val('');
                $("input[name='DestPlantName']").val('');

                $("input[name='PbckDecreeId']").val('');
                $("input[name='PbckDecreeNumber']").val('');
                $("input[name='PbckDecreeDate']").val('');
                $("input[name='Pbck1QtyApproved']").val('0');
                $("input[name='Ck5TotalExciseable']").val('0');
                $("input[name='RemainQuota']").val('0');

                $("input[name='PbckUom']").val('');

            } else {

                if (isPortToImporter) {
                    //alert(destPlant);
                    ajaxGetDestPlantDetailsPortToImporter('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: destPlant, ck5Type: '@Model.Ck5Type' });
                } else {
                    var submissionDate = $('#SubmissionDate').val();
                    if (submissionDate == '')
                        submissionDate = '@DateTime.Now';

                    var sourcePlant = $("#SourcePlantId").find("option:selected").val();
                    var _goodtypegroupid = $("#GoodType").val();
                    //var Ck5_Type = $("#Ck5Type").val();
                    var sourceNppbkcId = $("#SourceNppbkcId").val();

                    ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: _goodtypegroupid });

                }
            }
        }
    });

    $("#GoodType").change(function () {
        var _goodtypegroupid = $("#GoodType").val();
        var sourcePlant = $("#SourcePlantId").find("option:selected").val();
        var destPlant = $("#DestPlantId").find("option:selected").val();
        var sourceNppbkcId = $("#SourceNppbkcId").val();
        var Ck5_Type = $("#Ck5Type").val();
        if (destPlant == '' || sourcePlant == '' || destPlant == '') {
            $("input[name='PbckDecreeId']").val('');
            $("input[name='PbckDecreeNumber']").val('');
            $("input[name='PbckDecreeDate']").val('');
            $("input[name='Pbck1QtyApproved']").val('0');
            $("input[name='Ck5TotalExciseable']").val('0');
            $("input[name='RemainQuota']").val('0');
            $("input[name='PbckUom']").val('');
        } else {
            var submissionDate = $('#SubmissionDate').val();
            if (submissionDate == '')
                submissionDate = '@DateTime.Now';
            

            ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: _goodtypegroupid });
            
        }

    });

    $('#SubmissionDate').change(function () {
        var submissionDate = $('#SubmissionDate').val();
        if (submissionDate == '')
            submissionDate = '@DateTime.Now';

        var sourcePlant = $("#SourcePlantId").find("option:selected").val();
        var goodTypeGroupId = $("#GoodType").val();
        var sourceNppbkcId = $("#SourceNppbkcId").val();

        ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodTypeGroupId: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });
    });

    $("#SourcePlantId").change(function () {
        if ($("#SourcePlantId").length) {
            var sourcePlant = $(this).find("option:selected").val();
            //var submissionDate = $('#SubmissionDate').val();
            //remove table
            RemoveTable();

            if (sourcePlant == '') {
                $("input[name='SourceNpwp']").val('');
                $("input[name='SourceNppbkcId']").val('');
                $("input[name='SourceCompanyCode']").val('');
                $("input[name='SourceCompanyName']").val('');
                $("*[name='SourceAddress']").val('');
                $("input[name='SourceKppbcName']").val('');
                $("input[name='SourcePlantName']").val('');
                //enable upload
                $('#btnUploadInfo').enable(false);
                $('#CK5UploadSubmitBtn').enable(false);

                $("input[name='KppBcCity']").val('');
                $("input[name='CeOfficeCode']").val('');


            } else {


                ajaxGetPlantDetails('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: sourcePlant, ck5type: '@Model.Ck5Type' });

                ChangeBackSourceMaterial(sourcePlant, '@Url.Action("GetOriginalPlant", "CK5")');
            }
        }
    });


    $("#btnSubmitDocument").click(function () {
        $('#Ck5Modal').modal('show');

    });

    $("#btnSubmitConfirm").click(function () {
        @*window.location = "@Url.Action("SubmitDocument", "CK5", new { id = @Model.Ck5Id })";*@
        if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
            $('#Command').val('Submit');
            $('#EditCk5Forms').submit();
        }
    });

    $("#CountryCode").change(function () {
        if ($("#CountryCode").length) {
            var countryName = $('option:selected', $(this)).text();
            if (countryName == '') {
                $("input[name='CountryName']").val('');

            } else {
                $("input[name='CountryName']").val(countryName);

            }
        }

    });

    function printPreview(url) {

        window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

    }
    </script>
}