@using Sampoerna.EMS.Core
@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.CK5.CK5FormViewModel


@using (Html.BeginForm("Edit", "CK5", FormMethod.Post, new { @id = "EditCk5Forms" }))
{
    @Html.AntiForgeryToken()

    <div class="container-wrap title-page">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Ck5Type.ToString()  &nbsp; #@Model.SubmissionNumber</h3>
                <label class="status">@Model.DocumentStatusDescription</label>
                <div class="action-button">

                    <input type="button" id="btnSave" class="btn btn-blue" value="Save" />
                    <input type="button" class="btn btn-danger" value="Cancel" id="btnCancelDocument" />
                    <input type="button" class="btn btn-grey" value="Print Preview" onclick="printPreview('@Url.EncryptedAction("PrintPreview", "CK5", new { id = @Model.Ck5Id })')" />
                    <input type="button" value="Back" class="btn btn-grey" id="btnBack" />
                    <input type="button" id="btnSubmitDocument" class="btn btn-blue" value="Submit" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="home-tab" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                        <li role="presentation"><a href="#printout" aria-controls="printout" role="tab" data-toggle="tab">Print Out</a></li>
                        <li role="presentation" id="upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                        <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        @Html.HiddenFor(model => model.Ck5Id)
                        @Html.HiddenFor(model => model.Ck5Type)
                        @Html.HiddenFor(model => model.DocumentStatusDescription)
                        @Html.HiddenFor(model => model.DocumentStatus)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.DocumentStatus)

                        @Html.HiddenFor(model => model.KppBcCity)
                        @Html.HiddenFor(model => model.CeOfficeCode)


                        @Html.HiddenFor(model => model.SubmissionNumber)




                        

                        @if (Model.IsCk5PortToImporter)
                        {
                            @Html.HiddenFor(model => model.SourcePlantId)
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.SourceNpwp)
                            @Html.HiddenFor(model => model.SourceNppbkcId)
                            @Html.HiddenFor(model => model.SourceCompanyCode)
                            @Html.HiddenFor(model => model.SourceKppbcName)
                            @Html.HiddenFor(model => model.SourcePlantName)
                            @*else
                            {*@
                            @Html.HiddenFor(model => model.SourceCompanyName)
                            @Html.HiddenFor(model => model.SourceAddress)
                            @*}*@
                        }
                        

                        @Html.HiddenFor(model => model.DestNpwp)
                        @Html.HiddenFor(model => model.DestNppbkcId)
                        @Html.HiddenFor(model => model.DestCompanyCode)
                        @Html.HiddenFor(model => model.DestKppbcName)
                        @Html.HiddenFor(model => model.DestPlantName)

                        @if (!Model.IsCk5Export)
                        {
                            @Html.HiddenFor(model => model.DestCompanyName)
                            @Html.HiddenFor(model => model.DestAddress)
                        }



                        @Html.HiddenFor(model => model.PbckDecreeId)
                        @Html.HiddenFor(model => model.PbckDecreeNumber)
                        @Html.HiddenFor(model => model.Pbck1QtyApproved)
                        @Html.HiddenFor(model => model.Ck5TotalExciseable)
                        @Html.HiddenFor(model => model.RemainQuota)

                        <!-- ===Fixing Bug CK5 no. 109==== -->
                        @Html.HiddenFor(model => model.PbckUom)
                        <!-- ============================= -->
                        @Html.HiddenFor(model => model.IsCk5Export)
                        @Html.HiddenFor(model => model.IsCk5PortToImporter)
                        @Html.HiddenFor(model => model.IsCk5ImporterToPlant)
                        @Html.HiddenFor(model => model.CountryName)

                        @Html.HiddenFor(model => model.Command)

                        @Html.Partial("_CK5InformationEdit")
                        @Html.Partial("_CK5Printout")
                        @Html.Partial("_CK5UploadEdit")
                        @Html.Partial("_CK5ChangeLog")



                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="ModalCk5Material" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span id="modalBodyMessage">Missing CK5 Materials</span>
                </p>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>

<div id="Ck5Modal" class="modal main-menu-child fade active-modal poa" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>Submit</h3>
            </div>
            <div class="modal-body">
                Submit Documents  ?
            </div>
            <div class="modal-footer">
                <input type="button" id="btnSubmitConfirm" class="btn btn-blue" value="Yes" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="No" />
            </div>
        </div>
    </div>
</div>

<div id="Ck5ModalCancel" class="modal fade in reject-doc ems-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Cancel document</h4>
            </div>
            @using (Html.BeginForm("CancelDocument", "CK5"))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Ck5Id)
                    <div class="form-excise" role="form">
                        <div class="row">
                            <label class="col-md-3">Add Comment<span class="red">*</span></label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Comment, new { @rows = "5", @class = "col-md-9 GovCancel" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="Cancel" disabled id="btnConfirmCancel" />
                </div>
            }
        </div>
    </div>
</div>

<div id="Ck5UploadModal" class="modal ems-modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="lblTitleInputManual">Add Row</span></h4>
            </div>
            <div class="modal-body form-excise">
                <p></p>
                <input id="uploadMaterialId" type="hidden" value="">
                <input id="uploadMaterialRow" type="hidden" value="">
                <input id="uploadMaterialDesc" type="hidden" value="">
                <div class="row">
                    <div class="col-md-6">
                        <label>Plant</label>
                        <input class="form-control" id="uploadMaterialPlant" type="text" value="" disabled>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Material Number<span class="red">*</span></label>
                        <select class="form-control" id="uploadMaterialNumber">
                            <option value="">Select</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label>Qty<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.MaterialQty, new { @class = "form-control", @id = "uploadMaterialQty" })

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>HJE</label>
                        @Html.TextBoxFor(model => model.MaterialQty, new { @class = "form-control", @id = "uploadMaterialHje", @disabled = "disabled" })
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4">Tariff</label>
                        @Html.TextBoxFor(model => model.MaterialQty, new { @class = "form-control", @id = "uploadMaterialTariff", @disabled = "disabled" })

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>UOM<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.PackageUomName, Model.PackageUomList, "Select", new { @class = "form-control", @id = "uploadMaterialUom" })

                    </div>
                    <div class="col-md-6">
                        <label>Convertion<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.MaterialQty, new { @class = "form-control", @id = "uploadMaterialConvertion" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Converted UOM<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.PackageUomName, Model.PackageConvertedUomList, "Select", new { @class = "form-control", @id = "uploadConvertedUom" })

                    </div>

                    <div class="col-md-6">
                        <label>USD Value</label>
                        @Html.TextBoxFor(model => model.MaterialQty, new { @class = "form-control", @id = "uploadUsdValue" })

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Note</label>
                        <textarea class="form-control" id="uploadNote" cols="20" rows="5" maxlength="100"></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="button" class="btn btn-blue" value="Save" id="btnSaveMaterial" />
                <input type="button" class="btn btn-blue" value="Update" id="btnUpdateMaterial" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script src="~/Scripts/CK5Scripts.js"></script>
    <script src="~/Scripts/CK5InputManual.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('#btnBack').click(function(e) {

                if ('@Model.Ck5Type' == '@Enums.CK5Type.Domestic.ToString()')
                    location.href = '@Url.Action("Index", "CK5")';
                else if ('@Model.Ck5Type' == '@Enums.CK5Type.Intercompany.ToString()' || '@Model.Ck5Type' == '@Enums.CK5Type.DomesticAlcohol.ToString()')
                    location.href = '@Url.Action("Index", "CK5")';
                else if ('@Model.Ck5Type' == '@Enums.CK5Type.Export.ToString()')
                    location.href = '@Url.Action("CK5Export", "CK5")';
                else if ('@Model.Ck5Type' == '@Enums.CK5Type.PortToImporter.ToString()' || '@Model.Ck5Type' == '@Enums.CK5Type.ImporterToPlant.ToString()')
                    location.href = '@Url.Action("CK5Import", "CK5")';
                else if ('@Model.Ck5Type' == '@Enums.CK5Type.Manual.ToString()')
                    location.href = '@Url.Action("CK5Manual", "CK5")';
                else if ('@Model.Ck5Type' == '@Enums.CK5Type.MarketReturn.ToString()')
                    location.href = '@Url.Action("CK5MarketReturn", "CK5")';

            });


            OnReadyFunction('@Model.Ck5Type.ToString()');
            //enable upload
            $('#btnUploadInfo').enable();
            $('#CK5UploadSubmitBtn').enable();

            $("#KppBcCity option").each(function() {
                if ($(this).text() == $("input[name='KppBcCityName']").val()) {
                    $(this).attr('selected', 'selected');
                }
            });


            $("#btnCancelDocument").click(function() {
                $('#btnConfirmCancel').attr('disabled', 'disabled');

                $('#Comment').val('');

                $('#Ck5ModalCancel').modal('show');

            });

            $('#Comment').bind('input propertychange', function() {

                $('#btnConfirmCancel').attr('disabled', 'disabled');

                if (this.value.length) {
                    $('#btnConfirmCancel').removeAttr('disabled');
                }
            });

            $("select#RequestType option[value='Dibayar']").replaceWith("<optgroup label='Dibayar'>");
            $("select#RequestType option[value='TidakDipungut']").replaceWith("<optgroup label='Tidak Dipungut'>");
            $("select#RequestType option[value='Dibebaskan']").replaceWith("<optgroup label='Dibebaskan'>");
            $("select#RequestType option[value='Lainnya']").replaceWith("<optgroup label='Lainnya'>");

            $('#btn-changelog-export-xls').click(function() {
                location.href = '@Url.Action("ExportXls", "CK5", new {ck5Id = Model.Ck5Id})';
            });

            $("#btnSave").click(function() {

                if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
                    $('#Command').val('Save');
                    $('#EditCk5Forms').submit();
                }

            });

            $('#CK5UploadSubmitBtn').click(function() {
                GenerateXlsCk5Material('@Url.Action("UploadFile", "CK5")');
            });

            var sourcePlant = $("#SourcePlantId").find("option:selected").val();

            $("#uploadMaterialPlant").val(sourcePlant);

            ajaxGetListMaterial('@Url.Action("GetListMaterials", "CK5")', { plantId: sourcePlant, ck5type: '@Model.Ck5Type' });

            OnChangeDestinationPlant();
            OnChangeSourcePlant();

            if ('@Model.Ck5Type.ToString()' == '@Enums.CK5Type.Manual.ToString()') {
               
                if ('@Model.Ck5ManualType.ToString()' == '@Enums.Ck5ManualType.Trial.ToString()') {
                   
                    $('#IsFreeTextSource').attr("disabled", true);
                    $('#IsFreeTextDestination').attr("disabled", true);
                    if ('@Model.IsReducePbck1Ck5Trial' == 'True') {
                        $('#IsReducePbck1Ck5Trial').prop('checked', true);
                    }

                } else if ('@Model.IsFreeTextSource' == 'True') {
                    $('#IsFreeTextDestination').attr("disabled", true);
                   
                } else if ('@Model.IsFreeTextDestination' == 'True') {
                    $('#IsFreeTextSource').attr("disabled", true);
                }
            }

        });

        function OnChangeDestinationPlant() {
            $("#DestPlantId").change(function () {
                ResetPbck1Link();
                if ($("#DestPlantId").length) {
                    var destPlant = $(this).find("option:selected").val();
                    var isUseDest = false;
                    if ('@Model.Ck5Type.ToString()' == "PortToImporter" || '@Model.Ck5Type.ToString()' == "DomesticAlcohol") {
                        isUseDest = true;
                        RemoveTable();
                    } else if ('@Model.Ck5Type.ToString()' == '@Enums.CK5Type.Manual.ToString()') {
                        if ($('#IsFreeTextSource').is(':checked')) {
                            isUseDest = true;
                            RemoveTable();
                        }
                    }

                    if (destPlant == '') {
                        $("input[name='DestNpwp']").val('');
                        $("input[name='DestNppbkcId']").val('');
                        $("input[name='DestCompanyCode']").val('');
                        $("input[name='DestCompanyName']").val('');
                        $("*[name='DestAddress']").val('');
                        $("input[name='DestKppbcName']").val('');
                        $("input[name='DestPlantName']").val('');

                        $("input[name='PbckDecreeId']").val('');
                        $("input[name='PbckDecreeNumber']").val('');
                        $("input[name='PbckDecreeDate']").val('');
                        $("input[name='Pbck1QtyApproved']").val('0');
                        $("input[name='Ck5TotalExciseable']").val('0');
                        $("input[name='RemainQuota']").val('0');

                        $("input[name='PbckUom']").val('');

                        if (isUseDest) {
                            $("input[name='KppBcCity']").val('');
                            $("input[name='CeOfficeCode']").val('');
                        }

                    } else {


                        var submissionDate = $('#SubmissionDate').val();
                        if (submissionDate == '')
                            submissionDate = '@DateTime.Now';

                        var sourcePlant = $("#SourcePlantId").find("option:selected").val();
                        var goodTypeGroupId = $("#GoodType").val();
                        //var Ck5_Type = $("#Ck5Type").val();
                        var sourceNppbkcId = $("#SourceNppbkcId").val();

                        ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });


                    }
                }
            });
        }


        $("#GoodType").change(function () {
            ResetPbck1Link();
            var goodTypeGroupId = $("#GoodType").val();
            var sourcePlant = $("#SourcePlantId").find("option:selected").val();
            var destPlant = $("#DestPlantId").find("option:selected").val();
            var sourceNppbkcId = $("#SourceNppbkcId").val();
            var Ck5_Type = $("#Ck5Type").val();
            if (destPlant == '' || sourcePlant == '' || destPlant == '') {
                $("input[name='PbckDecreeId']").val('');
                $("input[name='PbckDecreeNumber']").val('');
                $("input[name='PbckDecreeDate']").val('');
                $("input[name='Pbck1QtyApproved']").val('0');
                $("input[name='Ck5TotalExciseable']").val('0');
                $("input[name='RemainQuota']").val('0');
                $("input[name='PbckUom']").val('');
            } else {
                var submissionDate = $('#SubmissionDate').val();
                if (submissionDate == '')
                    submissionDate = '@DateTime.Now';


                ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });

            }

        });

        $('#SubmissionDate').change(function () {
            ResetPbck1Link();
            var goodTypeGroupId = $("#GoodType").val();
            var sourcePlant = $("#SourcePlantId").find("option:selected").val();
            var destPlant = $("#DestPlantId").find("option:selected").val();
            var sourceNppbkcId = $("#SourceNppbkcId").val();
            if (destPlant == '' || sourcePlant == '' || destPlant == '') {
                $("input[name='PbckDecreeId']").val('');
                $("input[name='PbckDecreeNumber']").val('');
                $("input[name='PbckDecreeDate']").val('');
                $("input[name='Pbck1QtyApproved']").val('0');
                $("input[name='Ck5TotalExciseable']").val('0');
                $("input[name='RemainQuota']").val('0');
                $("input[name='PbckUom']").val('');
            } else {
                var submissionDate = $('#SubmissionDate').val();
                if (submissionDate == '')
                    submissionDate = '@DateTime.Now';


                ajaxGetDestPlantDetails('@Url.Action("GetSourcePlantDetailsAndPbckItem", "CK5")', { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId, ck5Type: '@Model.Ck5Type' });

            }
        });

        function OnChangeSourcePlant() {
            $("#SourcePlantId").change(function () {
                ResetPbck1Link();
                if ($("#SourcePlantId").length) {
                    var sourcePlant = $(this).find("option:selected").val();

                    RemoveTable();

                    if (sourcePlant == '') {
                        $("input[name='SourceNpwp']").val('');
                        $("input[name='SourceNppbkcId']").val('');
                        $("input[name='SourceCompanyCode']").val('');
                        $("input[name='SourceCompanyName']").val('');
                        $("*[name='SourceAddress']").val('');
                        $("input[name='SourceKppbcName']").val('');
                        $("input[name='SourcePlantName']").val('');
                        //enable upload
                        $('#btnUploadInfo').enable(false);
                        $('#CK5UploadSubmitBtn').enable(false);

                        $("input[name='KppBcCity']").val('');
                        $("input[name='CeOfficeCode']").val('');


                    } else {


                        ajaxGetPlantDetails('@Url.Action("GetSourcePlantDetails", "CK5")', { plantId: sourcePlant, ck5type: '@Model.Ck5Type' });

                        ChangeBackSourceMaterial(sourcePlant, '@Url.Action("GetOriginalPlant", "CK5")');
                    }
                }
            });
        }


        $("#btnSubmitDocument").click(function() {
            if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
                $('#Ck5Modal').modal('show');
            }

        });

        $("#btnSubmitConfirm").click(function() {
                        @*window.location = "@Url.Action("SubmitDocument", "CK5", new { id = @Model.Ck5Id })";*@
            if (ValidateCk5Form('@Model.Ck5Type.ToString()')) {
                console.log('masuk');
                $('#Command').val('Submit');
                $('#EditCk5Forms').submit();
            }
        });

        $("#CountryCode").change(function() {
            if ($("#CountryCode").length) {
                var countryName = $('option:selected', $(this)).text();
                if (countryName == '') {
                    $("input[name='CountryName']").val('');

                } else {
                    $("input[name='CountryName']").val(countryName);

                }
            }

        });

        function printPreview(url) {

            window.open(url, 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');

        }

        $("#btnAddRow").click(function() {
            var sourcePlant = $("#SourcePlantId").find("option:selected").val();

            if ('@Model.Ck5Type.ToString()' == "PortToImporter" || '@Model.Ck5Type.ToString()' == "DomesticAlcohol") {
                sourcePlant = $("#DestPlantId").find("option:selected").val();
            } else if ('@Model.Ck5Type.ToString()' == '@Enums.CK5Type.Manual.ToString()') {
                if ($('#IsFreeTextSource').is(':checked')) {
                    sourcePlant = $("#DestPlantId").find("option:selected").val();
                }
            }

            $("#uploadMaterialPlant").val(sourcePlant);
            var goodTypeGroupId = $("#GoodType").val();
            ajaxGetListMaterial('@Url.Action("GetListMaterialByGroupType", "CK5")', { plantId: sourcePlant, goodTypeGroup: goodTypeGroupId });

            $('#btnSaveMaterial').show();
            $('#btnUpdateMaterial').hide();

            ClearInputForm();
            ClearValidation();
            $("#lblTitleInputManual").text('New Input');

            $('#Ck5UploadModal').modal('show');
        });

        $("#btnSaveMaterial").click(function() {
            var materialInput = {};
            var materialNumber = $('#uploadMaterialNumber').val();
            var sourcePlant = $("#SourcePlantId").find("option:selected").val();

            if ('@Model.Ck5Type.ToString()' == "PortToImporter" || '@Model.Ck5Type.ToString()' == "DomesticAlcohol") {
                sourcePlant = $("#DestPlantId").find("option:selected").val();
            } else if ('@Model.Ck5Type.ToString()' == '@Enums.CK5Type.Manual.ToString()') {
                if ($('#IsFreeTextSource').is(':checked')) {
                    sourcePlant = $("#DestPlantId").find("option:selected").val();
                }
            }
            var goodTypeGroupId = $("#GoodType").val();
            var convertedUom = $('#uploadConvertedUom').val();

            //materialInput.materialNumber = materialNumber;
            //materialInput.plantId = sourcePlant;
            //materialInput.goodTypeGroup = goodTypeGroupId;
            //materialInput.convertedUom = convertedUom;
            materialInput.Plant = sourcePlant;
            materialInput.Brand = materialNumber;
            materialInput.Qty = $('#uploadMaterialQty').val();
            materialInput.Uom = $('#uploadMaterialUom').val();
            materialInput.Convertion = $('#uploadMaterialConvertion').val();
            materialInput.ConvertedUom = convertedUom;
            materialInput.UsdValue = $('#uploadUsdValue').val();
            materialInput.Note = $('#uploadNote').val();

            materialInput.ExGoodsType = goodTypeGroupId;
            ajaxValidateMaterial('@Url.Action("ValidateMaterial", "CK5")', { input: materialInput }, function(data) {
                AddRow('@Url.Action("GetListMaterialByGroupType", "CK5")', data);

            });
        });

        $("#uploadMaterialNumber").change(function() {
            if ($("#uploadMaterialNumber").length) {
                var materialNumber = $(this).find("option:selected").val();


                if (materialNumber == '') {
                    $("#uploadMaterialHje").val('0');
                    $("#uploadMaterialTariff").val('0');

                } else {
                    var sourcePlant = $("#SourcePlantId").find("option:selected").val();

                    ajaxGetMaterialHjeAndTariff('@Url.Action("GetMaterialHjeAndTariff", "CK5")', { plantId: sourcePlant, materialNumber: materialNumber });
                }
            }
        });

        $("#btnUpdateMaterial").click(function() {

            var materialInput = {};
            var materialNumber = $('#uploadMaterialNumber').val();
            var sourcePlant = $("#SourcePlantId").find("option:selected").val();

            if ('@Model.Ck5Type.ToString()' == "PortToImporter" || '@Model.Ck5Type.ToString()' == "DomesticAlcohol") {
                sourcePlant = $("#DestPlantId").find("option:selected").val();
            } else if ('@Model.Ck5Type.ToString()' == '@Enums.CK5Type.Manual.ToString()') {
                if ($('#IsFreeTextSource').is(':checked')) {
                    sourcePlant = $("#DestPlantId").find("option:selected").val();
                }
            }

            var goodTypeGroupId = $("#GoodType").val();
            var convertedUom = $('#uploadConvertedUom').val();

            //materialInput.materialNumber = materialNumber;
            //materialInput.plantId = sourcePlant;
            //materialInput.goodTypeGroup = goodTypeGroupId;
            //materialInput.convertedUom = convertedUom;
            materialInput.Plant = sourcePlant;
            materialInput.Brand = materialNumber;
            materialInput.Qty = $('#uploadMaterialQty').val();
            materialInput.Uom = $('#uploadMaterialUom').val();
            materialInput.Convertion = $('#uploadMaterialConvertion').val();
            materialInput.ConvertedUom = convertedUom;
            materialInput.UsdValue = $('#uploadUsdValue').val();
            materialInput.Note = $('#uploadNote').val();

            materialInput.ExGoodsType = goodTypeGroupId;
            ajaxValidateMaterial('@Url.Action("ValidateMaterial", "CK5")', { input: materialInput }, function(data) {
                UpdateRow(data);

            });
        });

        $("#Ck5RefId").change(function() {
            var refId = $("#Ck5RefId").val();

            if (refId != null) {
                window.location.href = '@Url.Action("Edit", "CK5")' + "?refId=" + refId;
            }
        });


        //manual
        $("#IsFreeTextSource").on('change', function() {
            var isFreeText = false;
            $('#IsFreeTextDestination').removeAttr("disabled");
            if ($(this).is(':checked')) {
                isFreeText = true;
                $('#IsFreeTextDestination').attr("disabled", true);
            }
            ajaxGetManualView('@Url.Action("GetManualViewSource", "CK5")', { isFreeTextSource: isFreeText });
        });

        function ajaxGetManualView(url, formData) {

            $.ajax({
                type: 'GET',
                url: url,
                data: formData,
                success: function(data) {
                    $("#divSourcePlant").html(data);
                    OnChangeSourcePlant();


                }
            });

        }


        $("#IsFreeTextDestination").on('change', function() {
            var isFreeText = false;
            $('#IsFreeTextSource').removeAttr("disabled");
            if ($(this).is(':checked')) {
                isFreeText = true;
                $('#IsFreeTextSource').attr("disabled", true);
            }

            ajaxGetManualViewDestination('@Url.Action("GetManualViewDestination", "CK5")', { isFreeText: isFreeText });
        });

        function ajaxGetManualViewDestination(url, formData) {


            $.ajax({
                type: 'GET',
                url: url,
                data: formData,
                success: function(data) {
                    $("#divDestinationPlant").html(data);

                    OnChangeDestinationPlant();


                }
            });

        }

        $("#Ck5ManualType").change(function() {
            if ($("#Ck5ManualType").length) {
                var manualType = $(this).find("option:selected").val();
                if (manualType == '@Enums.Ck5ManualType.Trial.ToString()') {

                    if ($('#IsFreeTextSource').is(':checked')) {
                        $('#IsFreeTextSource').prop('checked', false);
                        //get original view
                        ajaxGetManualView('@Url.Action("GetManualViewSource", "CK5")', { isFreeTextSource: false });
                    }

                    if ($('#IsFreeTextDestination').is(':checked')) {
                        $('#IsFreeTextDestination').prop('checked', false);
                        //get original view
                        ajaxGetManualViewDestination('@Url.Action("GetManualViewDestination", "CK5")', { isFreeText: false });
                    }

                    $('#IsFreeTextSource').attr("disabled", true);
                    $('#IsFreeTextDestination').attr("disabled", true);
                    $('#ck5TrialPbck1Reduce').show();

                } else {
                    $('#IsFreeTextSource').removeAttr("disabled");
                    $('#IsFreeTextDestination').removeAttr("disabled");
                    $('#ck5TrialPbck1Reduce').hide();
                    $('#IsReducePbck1Ck5Trial').prop('checked', false);
                }
            }
        });

        $("#IsReducePbck1Ck5Trial").on('change', function () {

            if ($(this).is(':checked')) {
                RemoveTable();
                $('#IsReducePbck1Ck5Trial').prop('checked', false);

                var goodTypeGroupId = $("#GoodType").val();
                var sourcePlant = $("#SourcePlantId").find("option:selected").val();
                var destPlant = $("#DestPlantId").find("option:selected").val();
                var sourceNppbkcId = $("#SourceNppbkcId").val();
                var submissionDate = $('#SubmissionDate').val();
                if (submissionDate == '')
                    submissionDate = '@DateTime.Now';


                if (sourcePlant == "") {
                    AddValidationClass(false, 'SourcePlantId');
                    $('#modalBodyMessage').text('Please Select Source Plant First');
                    $('#ModalCk5Material').modal('show');
                    return;
                }

                if (destPlant == "") {
                    AddValidationClass(false, 'DestPlantId');
                    $('#modalBodyMessage').text('Please Select Destination Plant First');
                    $('#ModalCk5Material').modal('show');
                    return;
                }

                if (goodTypeGroupId == "") {
                    AddValidationClass(false, 'GoodType');
                    $('#modalBodyMessage').text('Please Select Excise Goods Type First');
                    $('#ModalCk5Material').modal('show');
                    return;
                }

                var formData = { sourcePlantId: sourcePlant, destPlantId: destPlant, sourceNppbkcId: sourceNppbkcId, submissionDate: submissionDate, goodtypegroupid: goodTypeGroupId };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetQuotaPbckItemManualTrial", "CK5")',
                    data: formData,
                    success: function (data) {
                        //alert(data.Pbck1Id);
                        if (data.Pbck1Id == null) {
                            $('#modalBodyMessage').text('Pbck1 Not Found');
                            $('#ModalCk5Material').modal('show');
                            return;
                        } else {
                            $("input[name='PbckDecreeId']").val(data.Pbck1Id);
                            $("input[name='PbckDecreeNumber']").val(data.Pbck1Number);
                            $("input[name='PbckDecreeDate']").val(data.Pbck1DecreeDate);
                            $("input[name='Pbck1QtyApproved']").val(data.Pbck1QtyApproved);
                            $("input[name='Ck5TotalExciseable']").val(data.Ck5TotalExciseable);
                            $("input[name='RemainQuota']").val(data.RemainQuota);
                            $("input[name='PbckUom']").val(data.PbckUom);
                            $('#IsReducePbck1Ck5Trial').prop('checked', true);
                        }
                    }
                });
            } else {
                $("input[name='PbckDecreeId']").val('');
                $("input[name='PbckDecreeNumber']").val('');
                $("input[name='PbckDecreeDate']").val('');
                $("input[name='Pbck1QtyApproved']").val('0');
                $("input[name='Ck5TotalExciseable']").val('0');
                $("input[name='RemainQuota']").val('0');
                $("input[name='PbckUom']").val('');
            }

        });
    </script>
}