
@model Sampoerna.EMS.Website.Models.CK5.CK5IndexViewModel

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="lblTitle">Domestic</h3>
            <div class="action-button new">
                <a id="newDomestic" href="@Url.Action("CreateDomestic", "CK5")"><button class="btn btn-blue">NEW</button></a>
                <a id="newIntercompany" href="@Url.Action("CreateIntercompany", "CK5")"><button class="btn btn-blue">NEW</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#domestic" aria-controls="domestic" onclick="ChangeTitle('Domestic');" role="tab" data-toggle="tab">Domestic</a></li>
                    <li role="presentation"><a href="#intercompany" aria-controls="intercompany" onclick="ChangeTitle('Intercompany');" role="tab" data-toggle="tab">Intercompany</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="domestic">
                        <div class="tab-wrapper">
                            @using (Ajax.BeginForm("Filter", "CK5",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contenttable",
                                    OnComplete = "ReloadDataTables"

                                }))
                            {
                               @Html.Partial("_CK5Search")

                            }

                            <div id="contenttable" class="table-container">
                                @Html.Partial("_CK5TablePartial")
                            </div>

                        </div>
                    </div>

                    <!-- Tab panes -->

                    <div role="tabpanel" class="tab-pane" id="intercompany">
                        <div class="tab-wrapper">
                            @using (Ajax.BeginForm("Intercompany", "CK5",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contenttableIntercompany",
                                    OnComplete = "ReloadDataTablesIntercompany"

                                }))
                            {
                                @Html.Partial("_CK5Search")

                            }

                            <div id="contenttableIntercompany" class="table-container">
                                @Html.Partial("_CK5IntercompanyTablePartial")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts {
       <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" language="javascript" src="~/Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" class="init">

            $(document).ready(function() {
                $('#MenuCK5Domestic').addClass('active');
                $('#newDomestic').show();
                $('#newIntercompany').hide();

                setupDataTables();
                setupDataTablesIntercompany();


            });


    function setupDataTables() {

        // DataTable
        var table = null;
        if ($.fn.dataTable.isDataTable('#ck5Table')) {
            table = $('#ck5Table').DataTable();
            table.destroy();
        }

        table = $('#ck5Table').DataTable(
              {
                  "sDom": "Rlfrtip",
                  "language": {
                      "zeroRecords": "No records found",
                      "infoFiltered": "(filtered from _MAX_ total records)"
                  }
              });

        //table = $('#ck5Table').DataTable(
        //    {
        //        "sDom": "Rlfrtip",
        //        "language": {
        //           // "lengthMenu": "Display _MENU_ records per page",
        //            "zeroRecords": "No records found",
        //            "info": "Showing page _PAGE_ of _PAGES_",
        //            "infoFiltered": "(filtered from _MAX_ total records)",
        //            "scrollY": "220px",
        //            "scrollCollapse": true,
        //            "order": [[1, "asc"]],
        //            "paging": true
        //        }
        //    });

        //// Setup - add a text input to each footer cell
        //$('#ck5Table .filters th').each(function () {
        //    var idx = $(this).index();
        //    if (idx != 0 && idx != 0) {
        //        var title = $('#ck5Table thead th').eq($(this).index()).text();
        //        $(this).html('<input type="text" placeholder="Search" style="width:100%" >');

        //    }
        //});
        $('#ck5Table .filters th').each(function () {
            var idx = $(this).index();
            if (idx != 0) {
                $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
            }
        });

        // DataTable
        //var tableck5 = $('#ck5Table').DataTable();

        // Apply the search
        //tableck5.columns().eq(0).each(function (colIdx) {
        //    $('input', $('.filters th')[colIdx]).on('keyup change', function () {
        //        table
        //            .column(colIdx)
        //            .search(this.value)
        //            .draw();
        //    });
        //});
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        
        //$("#ck5Table_filter").hide();
        //$('#ck5Table_length').hide();
        //$('#ck5Table_info').hide();
        
        // $("#ck5Table_filter").hide();
    }

    function ReloadDataTables() {
        setupDataTables();
    }

    function ReloadDataTablesIntercompany() {
        setupDataTablesIntercompany();
    }

    function setupDataTablesIntercompany() {

        // DataTable
        var table = null;
        if ($.fn.dataTable.isDataTable('#ck5TableIntercompany')) {
            table = $('#ck5TableIntercompany').DataTable();
            table.destroy();
        }

      
        table = $('#ck5TableIntercompany').DataTable(
             {
                 "sDom": "Rlfrtip",
                 "language": {
                     "zeroRecords": "No records found",
                     "infoFiltered": "(filtered from _MAX_ total records)"
                 }
             });
        
        $('#ck5TableIntercompany .filters th').each(function () {
            var idx = $(this).index();
            if (idx != 0) {
                $(this).html('<input type="text" placeholder="Search" style="width:100%" />');
            }
        });
        
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

        //$("#ck5TableIntercompany_filter").hide();
        //$('#ck5TableIntercompany_length').hide();
        //$('#ck5TableIntercompany_info').hide();
    }

    function showNewButton() {

    }

    function ChangeTitle(title) {
        $('#lblTitle').text(title);
        if (title == 'Domestic') {
            $('#newDomestic').show();
            $('#newIntercompany').hide();
        } else {
            $('#newDomestic').hide();
            $('#newIntercompany').show();

        }
    }
    
    function OnReset() {
    
        $(".selectreset").val($(".selectreset option:first").val());
    }

</script>

    }
