@using Sampoerna.EMS.Website.Helpers
@model Sampoerna.EMS.Website.Models.HeaderFooter.HeaderFooterItemViewModel

@{
    ViewBag.Title = "Header Footer";
}
<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>Header Footer </h3>
            <div class="action-button">
                <input type="button" value="Back" class="btn btn-grey" id="btnCancel" />
                @if (!Model.Detail.IS_DELETED)
                {
                     <a href="javascript:void(0);" onclick="confirmDeleteHeaderfooter() " class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#changes" aria-controls="changes" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="information">
                        <div class="tab-wrapper">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Detail Header Footer
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="form-excise" role="form">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Company Code</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.Detail.COMPANY_ID, new { disabled = "disabled", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Company Name</label>
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.Detail.COMPANY_NAME, new { disabled = "disabled", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4 long">Company Footer</label>
                                                            <div class="col-md-8">
                                                                @Html.TextAreaFor(model => model.Detail.FOOTER_CONTENT, new { @class = "form-control", rows = "5", id = "Detail_FOOTER_CONTENT",disabled="disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <label class="col-md-4">Header Image</label>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @if (!string.IsNullOrEmpty(Model.Detail.HEADER_IMAGE_PATH))
                                                                    {
                                                                        <img id="imgPrev" src="@Url.Content(Model.Detail.HEADER_IMAGE_PATH)" width="150" alt="no image available" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img id="imgPrev" src="#" width="150" alt="no image available" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-container">
                                        <table id="Detail_HeaderFooterMapList" class="table table-bordered table-striped js-options-table">
                                            <thead>
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Header</th>
                                                    <th>Footer</th>
                                                    <th>Preview</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int idx = 0; idx < Model.Detail.HeaderFooterMapList.Count; idx++)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.HiddenFor(x => x.Detail.HeaderFooterMapList[idx].FORM_TYPE_ID)
                                                            @Html.Label(Model.Detail.HeaderFooterMapList[idx].FORM_TYPE_DESC)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(x => x.Detail.HeaderFooterMapList[idx].IS_HEADER_SET)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(x => x.Detail.HeaderFooterMapList[idx].IS_FOOTER_SET)
                                                        </td>
                                                        <td class="last">
                                                            <input type="button" class="btn btn-grey" value="Print Preview" onclick="window.open('@Url.Action("PrintOut", "HeaderFooter", new { id = Model.Detail.HEADER_FOOTER_ID, isHeaderSet = true, isFooterSet = true })', 'popup', 'width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no');" />
                                                            
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="changes">
                        <div class="table-container">
                            @Html.Partial("_ChangesHistoryTable", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--delete-->
<input id="btn-delete-headerfooter" style="display: none" type="submit" class="btn btn-grey" data-toggle="modal" data-target=".delete-modal.headerfooter" value="delete">
<div class="modal ems-modal fade delete-modal headerfooter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="headerfooterDelete();">Delete</button>
                <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {

        $('.check-box').attr('disabled', 'disabled');

        $('#btnCancel').click(function (e) {
            location.href = '@Url.Action("Index", "HeaderFooter")';
            });

            $('#MenuHeaderFooter').addClass('active');
        });

        function printPreview(idx, id) {

            var elementHeaderId = '#Detail_HeaderFooterMapList_' + idx + '__IS_HEADER_SET';
            var elementFooterId = '#Detail_HeaderFooterMapList_' + idx + '__IS_FOOTER_SET';

            var isHeaderSet = $(elementHeaderId).is(':checked');
            var isFooterSet = $(elementFooterId).is(':checked');

            var url = '/HeaderFooter/PrintPreview/' + id + '?isHeaderSet=' + isHeaderSet + '&isFooterSet=' + isFooterSet;
            window.open(url, '_blank', 'width=1200,height=600');

        }

       var headerfooterDelete = function () {
               window.location = "@Url.Action("Delete", "HeaderFooter", new {id = @Model.Detail.HEADER_FOOTER_ID})";
       };
        var confirmDeleteHeaderfooter = function () {
            $('#btn-delete-headerfooter').click();
        };

    </script>
}
