@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1ItemViewModel
@using Sampoerna.EMS.Website.Helpers

<div role="tabpanel" class="tab-pane active" id="home">
    <div class="tab-wrapper">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            PBCK-1 Detail
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">PBCK-1 No</label>
                                        <div class="col-md-9">
                                            @Html.HiddenFor(model => model.Detail.IsSaveSubmit)
                                            @Html.HiddenFor(model => model.Detail.Pbck1Number)
                                            @Html.HiddenFor(model => model.Detail.Status)
                                            @Html.TextBoxFor(model => model.Detail.Pbck1Number, new { @class = "form-control", @disabled = "disabled", @id = "pbck1-number-display" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">PBCK Type<span class="red">*</span></label>
                                        <div class="col-md-9">
                                            @Html.EnumDropDownListFor(model => model.Detail.Pbck1Type, Model.Pbck1Types, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">References</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.Detail.Pbck1Reference, Model.PbckReferenceList, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">Reported On<span class="red">*</span></label>
                                        <div class="col-md-9">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.ReportedOn, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">Period From<span class="red">*</span></label>
                                        <div class="col-md-9">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.PeriodFrom, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-3">Period To<span class="red">*</span></label>
                                        <div class="col-md-9">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.PeriodTo, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-2" role="tablist-2" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab-2" id="headingTwo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Information
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel-2" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">NPPBKC ID<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Detail.NppbkcId, Model.NppbkcList, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Company</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.Detail.NppbkcCompanyName)
                                            @Html.HiddenFor(model => model.Detail.NppbkcCompanyCode)
                                            @Html.HiddenFor(model => model.Detail.NppbkcKppbcId)
                                            @Html.TextBoxFor(model => model.Detail.NppbkcCompanyName, new { @class = "form-control", @disabled = "disabled", @id = "displayCompanyName" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">POA</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.Detail.PoaList)
                                            @Html.TextAreaFor(model => model.Detail.PoaList, new { @class = "form-control", @disabled = "disabled", @id = "displayPoaList" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier Port</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.Detail.SupplierPortName)
                                            @Html.DropDownListFor(model => model.Detail.SupplierPortId, Model.SupplierPortList, "None", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">External supplier port</label>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <input type="checkbox" id="externalSupPort" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier Plant<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupInfo.SupplierPlantName)
                                            @Html.HiddenFor(model => model.SupInfo.SupplierPlantWerks)
                                            @Html.HiddenFor(model => model.Detail.SupplierPlantWerks)
                                            <div id="supp-plant">
                                                @Html.TextBoxFor(model => model.Detail.SupplierPlant, new { @class = "form-control txtplant" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier NPPBKC</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupInfo.SupplierNppkbc)
                                            @Html.HiddenFor(model => model.Detail.HiddenSupplierNppbkcId)
                                            @Html.TextBoxFor(model => model.Detail.SupplierNppbkcId, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier Address</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupInfo.SupplierAddress)
                                            @Html.HiddenFor(model => model.Detail.HiddendSupplierAddress)
                                            @Html.TextAreaFor(model => model.Detail.SupplierAddress, new { rows = "5", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier KPPBC</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupInfo.SupplierKppkbc)
                                            @Html.HiddenFor(model => model.Detail.HiddenSupplierKppbcId)
                                            @Html.HiddenFor(model => model.Detail.SupplierKppbcId)
                                            @Html.TextBoxFor(model => model.Detail.SupplierKppbcName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Supplier Phone</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.SupInfo.SupplierPhone)
                                            @Html.TextBoxFor(model => model.Detail.SupplierPhone, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-3" role="tablist-3" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab-3" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Additional
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel-3" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 long">Exciseable Goods Description<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.Detail.GoodTypeDesc)
                                            @Html.DropDownListFor(model => model.Detail.GoodType, Model.GoodTypeList, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 long">Plan Produtcion From<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.PlanProdFrom, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Plan Production to<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.PlanProdTo, "{0:dd MMM yyyy}", new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">LACK-1 From<span class="red">*</span></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Detail.Lack1FromMonthId, Model.MonthList, "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Detail.Lack1FormYear, Model.YearList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">LACK-1 To<span class="red">*</span></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Detail.Lack1ToMonthId, Model.MonthList, "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Detail.Lack1ToYear, Model.YearList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Request Qty<span class="red">*</span></label>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.Detail.RequestQty)
                                            @Html.TextBoxFor(model => model.Detail.RequestQty, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.Detail.RequestQtyUomId)
                                            @Html.DropDownListFor(model => model.Detail.RequestQtyUomId, Model.UomList, "Select", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Latest Saldo</label>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.Detail.LatestSaldo)
                                            @Html.TextBoxFor(model => model.Detail.LatestSaldo, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.Detail.LatestSaldoUomId)
                                            @Html.DropDownListFor(model => model.Detail.LatestSaldoUomId, Model.UomList, "Select", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-group" id="accordion-6" role="tablist-4" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab-4" id="heading6">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-6" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            Production Converted
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel-4" aria-labelledby="heading6">
                    <div class="panel-body">
                        <input id="btn-prod-conv-upload" type="button" class="btn btn-blue" value="Upload" />
                        <div class="table-container">
                            <table id="Detail_Pbck1ProdConverter" name="Detail.Pbck1ProdConverter" class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th style="display: none">Product Code</th>
                                        <th style="display: none">Converter Uom</th>
                                        <th>Product Type Alias</th>
                                        <th>Product Type</th>
                                        <th>Converted Output</th>
                                        <th>Converted Uom</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Detail.Pbck1ProdConverter.Count; i++)
                                    {
                                        var item = Model.Detail.Pbck1ProdConverter[i];
                                        <tr>
                                            <td style="display:none"><input name="Detail.Pbck1ProdConverter[@i].ProductCode" type="hidden" value="@item.ProductCode" />@item.ProductCode</td>
                                            <td style="display:none"><input name="Detail.Pbck1ProdConverter[@i].ConverterUom" type="hidden" value="@item.ConverterUom" />@item.ConverterUom</td>
                                            <td><input name="Detail.Pbck1ProdConverter[@i].ProdTypeAlias" type="hidden" value="@item.ProdTypeAlias" />@item.ProdTypeAlias</td>
                                            <td><input name="Detail.Pbck1ProdConverter[@i].ProdTypeName" type="hidden" value="@item.ProdTypeName" />@item.ProdTypeName</td>
                                            <td><input name="Detail.Pbck1ProdConverter[@i].ConverterOutput" type="hidden" value="@item.ConverterOutput" />@item.ConverterOutput</td>
                                            <td><input name="Detail.Pbck1ProdConverter[@i].ConverterUomId" type="hidden" value="@item.ConverterUomId" />@item.ConverterUomId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-group" id="accordion-5" role="tablist-4" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab-4" id="heading5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-5" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            Production Plan
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel-4" aria-labelledby="heading5">
                    <div class="panel-body">
                        <input id="btn-prod-plan-upload" type="button" class="btn btn-blue" value="Upload" />
                        <div class="table-container">
                            <table id="Detail_Pbck1ProdPlan" name="Detail.Pbck1ProdPlan" class="table table-bordered table-striped js-options-table">
                                <thead>
                                    <tr>
                                        <th style="display: none">Product Code</th>
                                        <th style="display: none">Product Type Name</th>
                                        <th style="display: none">Month Id</th>
                                        <th>Month</th>
                                        <th>Product Type Alias</th>
                                        <th>Amount</th>
                                        <th>BKC Required</th>
                                        <th>BKC Required Uom</th>
                                        <th style="display: none">BKC Required Uom Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Detail.Pbck1ProdPlan.Count; i++)
                                    {
                                        var item = Model.Detail.Pbck1ProdPlan[i];
                                        <tr>
                                            <td style="display:none"><input name="Detail.Pbck1ProdPlan[@i].ProductCode" type="hidden" value="@item.ProductCode" />@item.ProductCode</td>
                                            <td style="display:none"><input name="Detail.Pbck1ProdPlan[@i].ProdTypeName" type="hidden" value="@item.Month" />@item.ProdTypeName</td>
                                            <td style="display:none"><input name="Detail.Pbck1ProdPlan[@i].Month" type="hidden" value="@item.Month" />@item.Month</td>
                                            <td><input name="Detail.Pbck1ProdPlan[@i].MonthName" type="hidden" value="@item.MonthName" />@item.MonthName</td>
                                            <td><input name="Detail.Pbck1ProdPlan[@i].ProdTypeAlias" type="hidden" value="@item.ProdTypeAlias" />@item.ProdTypeAlias</td>
                                            <td><input name="Detail.Pbck1ProdPlan[@i].Amount" type="hidden" value="@item.Amount" />@item.Amount</td>
                                            <td><input name="Detail.Pbck1ProdPlan[@i].BkcRequired" type="hidden" value="@item.BkcRequired" />@item.BkcRequired</td>
                                            <td><input name="Detail.Pbck1ProdPlan[@i].BkcRequiredUomId" type="hidden" value="@item.BkcRequiredUomId" />@item.BkcRequiredUomId</td>
                                            <td style="display:none"><input name="Detail.Pbck1ProdPlan[@i].BkcRequiredUomName" type="hidden" value="@item.BkcRequiredUomName" />@item.BkcRequiredUomName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-group" id="accordion-4" role="tablist-4" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab-4" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Other
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel-4" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="form-excise" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Status Gov</label>
                                        <div class="col-md-8">
                                            @Html.EnumDropDownListFor(model => model.Detail.StatusGov, Model.StatusGovList, "Select", new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Decree Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.Detail.DecreeDate, "{0:dd MMM yyyy}", new { @class = "form-control", @disabled = "disabled" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Qty Approved</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Detail.QtyApproved, new { @class = "decimal form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Decree Doc</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled="disabled">
                                                <span class=" input-group-addon file-input btn btn-primary btn-file">
                                                    Browse <input type="file" multiple disabled="disabled">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-group" id="accordion-7" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading7">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-7" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            Workflow History
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                        <div class="table-container">
                            @Html.Partial("_WorkflowHistoryTable", Model.WorkflowHistory)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="red">*</span> ) This Field Required
        </div>
    </div>
</div>
