@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringMutasiViewModel

<div id="table-mutasi-preview">
    <table id="monitoringMutasi" class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th>No</th>
                <th>PBCK-1 Number</th>
                <th>Total PBCK-1 Quota</th>
                <th>PBCK-1 Quota remaining</th>
                <th>CK-5 Number</th>
                <th>Total Ex Good Type</th>
                @*<th>CK5-Type</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                int row = 1;

                foreach (var item in Model.DetailsList)
                 {
                     <tr>
                         <td>
                             @row
                         </td>
                         <td>
                             @Html.DisplayFor(model => item.Pbck1Number)
                         </td>
                         <td>
                             @Html.DisplayFor(model => item.TotalPbck1Quota)
                         </td>
                         <td>
                             @Html.DisplayFor(model => item.QuotaRemaining)
                         </td>
                         <td>
                             @if (item.Ck5List.Any())
                             {
                                 foreach (var ck5 in item.Ck5List)
                                 {
                                     @ck5.DocumentNumber <br />
                                 }
                             }
                             else
                             {
                                 <text>-</text>
                             }
                            
                         </td>
                         <td>
                             @if (item.Ck5List.Any())
                             {
                                 foreach (var ck5 in item.Ck5List)
                                 {
                                     @ck5.Qty <br />
                                 }
                             }
                             else
                             {
                                 <text>-</text>
                             }

                         </td>
                         @*<td>
                             @if (item.Ck5List.Any())
                             {
                                 foreach (var ck5 in item.Ck5List)
                                 {
                                     @ck5.Ck5Type <br />
                                 }
                             }
                             else
                             {
                                 <text>-</text>
                             }

                         </td>*@

                     </tr>
                     row = row + 1;
                 }
            }
        </tbody>

    </table>
</div>