@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringUsageViewModel

<table id="pbckTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>PBCK-1 Decree</th>
            <th>Company</th>
            <th>NPPBKC</th>
            <th>KPPBC</th>
            <th>PBCK-1 Period</th>
            <th>Excisable Goods Quota</th>
            <th>Additional Excisable Goods Quota</th>
            <th>Previous Years Final Balance</th>
            <th>Total PBCK-1 Quota</th>
            <th>Received</th>
            <th>Quota Remaining</th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td>@row</td>
                    <td>@item.Pbck1Number</td>
                    <td>@item.NppbkcCompanyName</td>
                    <td>@item.NppbkcId</td>
                    <td>@item.NppbkcKppbcId</td>
                    <td>@item.PeriodFrom.ToString("dd MMM yyyy") - @item.PeriodTo.Value.ToString("dd MMM yyyy")</td>
                    <td>@item.ExGoodsQuota.Value.ToString("##.###")</td>
                    <td>@item.AdditionalExGoodsQuota.ToString("##.###")</td>
                    <td>@item.PreviousFinalBalance.ToString("##.###")</td>
                    <td>@item.TotalPbck1Quota.ToString("##.###")</td>
                    <td>@item.Received.ToString("##.###")</td>
                    <td>@item.QuotaRemaining.ToString("##.###")</td>
                </tr>
                    row = row + 1;
            }
        }
    </tbody>
</table>
