@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringUsageViewModel
@using Sampoerna.EMS.Core;

<table id="pbckTable" class="table-condensed display compact nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>PBCK-1 Number</th>
            <th>Import</th>
            <th>Excisable Goods Type</th>
            <th>Receiver Company</th>
            <th>Receiver NPPBKC</th>
            <th>Receiver KPPBC</th>
            <th>Supplier Company</th>
            <th>Supplier NPPBKC</th>
            <th>Supplier KPPBC</th>
            <th>Supplier Plant ID</th>
            <th>Supplier Plant Desc</th>
            <th>PBCK-1 Period</th>
            <th>Qty UOM</th>
            <th>Excisable Goods Quota</th>
            <th>Additional Excisable Goods Quota</th>
            <th>Latest Saldo</th>
            <th>Total PBCK-1 Quota</th>
            <th>Received Quantity</th>
            <th>Remaining Quota</th>
            <th>POA Approved by</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td align="center">@row</td>
                    <td>@item.Pbck1Number</td>
                    <td align="center">@item.IsNppbkcImport</td>
                    <td>@item.ExcGoodsType</td>
                    <td>@item.NppbkcCompanyName</td>
                    <td>@item.NppbkcId</td>
                    <td>@item.NppbkcKppbcName</td>
                    <td>@item.SupCompany</td>
                    <td>@item.SupNppbkc</td>
                    <td>@item.SupKppbc</td>
                    <td>@item.SupPlant</td>
                    <td>@item.SupPlantDesc</td>
                    <td>@item.PeriodFrom.ToString("dd MMM yyyy") - @item.PeriodTo.Value.ToString("dd MMM yyyy")</td>
                    <td>@item.QtyUom</td>
                    @if (item.ExGoodsQuota == null)
                    {
                        <td align="right"></td>
                    }else{
                        <td align="right">@String.Format("{0:n}", @item.ExGoodsQuota.Value)</td>
                    }
                @{
                    if (@item.Pbck1Type == Enums.PBCK1Type.New)
                    {
                        <td align="right">@String.Format("{0:n}", @item.AdditionalExGoodsQuota)</td>
                    }
                    else
                    {
                        <td align="right">@String.Format("{0:n}", @item.AdditionalExGoodsQuota)</td>
                    }
                }
                    
                    <td align="right">@String.Format("{0:n}", @item.PreviousFinalBalance)</td>
                    <td align="right">@String.Format("{0:n}", @item.TotalPbck1Quota)</td>
                    <td align="right">@String.Format("{0:n}", @item.Received)</td>
                    <td align="right">@String.Format("{0:n}", @item.QuotaRemaining)</td>
                    <td>@item.Poa</td>
                    <td>@item.Creator</td>
                </tr>
                row = row + 1;
            }
        }
    </tbody>
</table>



