@using Sampoerna.EMS.Core
@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1SummaryReportViewModel

<table id="pbckTable" class="table-condensed display compact nowrap" width="100%">
    <thead>
        <tr>
            @*<th>Action</th>*@
            <th class="toggle-row"> No </th>
            <th>PBCK-1 Number</th>
            <th>Decree Date</th>
            <th>Status</th>
            <th>Import</th>
            <th>PBCK-1 Type</th>
            <th>Receiver Company</th>
            <th>Receiver NPPBKC</th>
            <th>Receiver Address</th>
            <th>Receiver KPPBC</th>
            <th>Supplier Company</th>
            <th>Supplier NPPBKC</th>
            <th>Supplier KPPBC</th>
            <th>Supplier Address</th>
            <th>Supplier Plant ID</th>
            <th>Supplier Plant Desc</th>
            <th>Excisable Goods Type</th>
            <th>Qty UOM</th>
            <th>Plan Prod From</th>
            <th>Plan Prod To</th>
            <th>Period From</th>
            <th>Period To</th>
            <th>Reported On</th>
            <th>Latest Saldo</th>
            <th>Request Qty</th>
            <th>Status Gov</th>
            <th>Approved Qty</th>
            <th>POA Approved by</th>
            <th>Creator</th>
            <th>Completed Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                    <tr>
                        <td align="center">@row</td>
                        <td>@Html.DisplayFor(model => item.Pbck1Number)</td>
                        <td>
                            @if (item.DecreeDate == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.DecreeDate.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                        <td>
                            @item.StatusName
                        </td>
                        <td align="center">
                            @if (item.IsNppbkcImport)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td>
                            @item.Pbck1Type
                        </td>
                        <td>@Html.DisplayFor(model => item.NppbkcCompanyName)</td>
                        <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                        <td style="padding: 20px">
                            <ol>
                                @foreach (var plant in item.NppbkcPlants)
                                {
                                    <li>@plant.ADDRESS</li>
                                }
                            </ol>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NppbkcKppbcName)
                        </td>
                        <td>
                            @item.SupplierCompany
                        </td>
                        <td>
                            @item.SupplierNppbkcId
                        </td>
                        <td>
                            <!-- Fixing Bug PBCK1 No. 168 -->
                            @item.SupplierKppbcName
                        </td>
                        <td>
                            @item.SupplierAddress
                        </td>
                        <td>
                            @item.SupplierPlantWerks
                        </td>
                        <td>
                            @item.SupplierPlant
                        </td>
                        <td>
                            @item.GoodTypeDesc
                        </td>
                        <td>
                            @item.RequestQtyUomName
                        </td>
                        <td>
                            @if (item.PlanProdFrom == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.PlanProdFrom.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                        <td>
                            @if (item.PlanProdTo == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.PlanProdTo.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                        <td>
                            @item.PeriodFrom.ToString("dd-MMMM-yyyy")
                        </td>
                        <td>
                            @if (item.PeriodTo == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.PeriodTo.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                        <td>
                            @if (item.ReportedOn == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.ReportedOn.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                        <td align="right">
                            @String.Format("{0:n}", @item.LatestSaldo)
                        </td>
                        <td align="right" style="padding: 20px">
                            @String.Format("{0:n}", @item.RequestQty)
                        </td>
                        <td>
                            @item.StatusGov
                        </td>
                        <td align="right">
                            @String.Format("{0:n}", @item.QtyApproved)
                        </td>
                        <td>
                            @if (String.IsNullOrEmpty(item.ApprovedByPoaId))
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span>@item.ApprovedByPoaId</span>
                            }
                        </td>
                        <td>
                            @item.CreatedById
                        </td>
                        <td>
                            @if (item.CompletedDate == null)
                            {
                                <text>-</text>
                            }
                            else
                            {
                                @item.CompletedDate.Value.ToString("dd-MMMM-yyyy")
                            }
                        </td>
                    </tr>
                            row = row + 1;
            }
}
    </tbody>
</table>