@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1SummaryReportViewModel

<table id="pbckTable" class="table-condensed display compact nowrap" width="100%">
    <thead>
        <tr>
            <th class="toggle-row"> No </th>
            <th>Original Company</th>
            <th>Original NPPBKC</th>
            <th>Original Address</th>
            <th>Original KPPBC</th>
            <th>PBCK-1 Number</th>
            <th>Status</th>
            <th>Supplier NPPBKC</th>
            <th>Supplier KPPBC</th>
            <th>Supplier Address</th>
            <th>Supplier Company</th>
            <th>Exc. Goods Amount</th>
            <th>PBCK Type</th>
            <th>Supplier Port</th>
            <th>Supplier Plant</th>
            <th>Exciseable Goods</th>
            <th>Plan Prod From</th>
            <th>Plan Prod To</th>
            <th>Supplier Phone</th>
            <th>POA</th>
            <th>PBCK-1 Reference</th>
            <th>LACK-1 From</th>
            <th>LACK-1 To</th>
            <th>Latest Saldo</th>
            <th>Uom LACK-1</th>
            <th>Period From</th>
            <th>Period To</th>
            <th>Reported On</th>
            <th>Request Qty</th>
            <th>Uom Request Qty</th>
            <th>Status Gov</th>
            <th>Qty Approved</th>
            <th>Decree Date</th>
            <th>PBCK For Import</th>
            <th>External supplier port</th>
            <th>POA Approve</th>
            <th>Manager Approve</th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 1;

            foreach (var item in Model.DetailsList)
            {
                <tr>
                    <td>@row</td>
                    <td>@Html.DisplayFor(model => item.NppbkcCompanyName)</td>
                    <td>@Html.DisplayFor(model => item.NppbkcId)</td>
                    <td style="padding: 20px">
                        <ol>
                            @foreach (var plant in item.NppbkcPlants)
                            {
                                <li>@plant.ADDRESS</li>
                            }
                        </ol>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.NppbkcKppbcName)
                    </td>
                    <td>@Html.DisplayFor(model => item.Pbck1Number)</td>
                    <td>
                        @item.StatusName
                    </td>
                    <td>
                        @item.SupplierNppbkcId
                    </td>
                    <td>
                        <!-- Fixing Bug PBCK1 No. 168 -->
                        @item.SupplierKppbcName
                    </td>
                    <td>
                        @item.SupplierAddress
                    </td>
                    <td>
                        @item.SupplierCompany
                    </td>
                    <td align="right">
                        @String.Format("{0:n}", @item.QtyApproved)
                    </td>
                    <td>
                        @item.Pbck1Type
                    </td>
                    <td>
                        @item.SupplierPortName
                    </td>
                    <td>
                        @item.SupplierPlant
                    </td>
                    <td>
                        @item.GoodTypeDesc
                    </td>
                    <td>
                        @if (item.PlanProdFrom == null)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @item.PlanProdFrom.Value.ToString("dd-MMMM-yyyy")
                        }
                    </td>
                    <td>
                        @if (item.PlanProdTo == null)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @item.PlanProdTo.Value.ToString("dd-MMMM-yyyy")
                        }
                    </td>
                    <td>
                        @item.SupplierPhone
                    </td>
                    <td>
                        <ol>
                            @foreach (var poa in item.PoaList)
                            {
                                <li>@poa</li>
                            }
                        </ol>
                    </td>
                    <td>
                        @item.Pbck1ReferenceNumber
                    </td>
                    <td>
                        @item.Lack1FromMonthName  @item.Lack1FormYear
                    </td>
                    <td>
                        @item.Lack1ToMonthName @item.Lack1ToYear
                    </td>
                    <td align="right">
                        @String.Format("{0:n}", @item.LatestSaldo)
                    </td>
                    <td>
                        @item.LatestSaldoUomName
                    </td>
                    <td>
                        @item.PeriodFrom.ToString("dd-MMMM-yyyy")
                    </td>
                    <td>
                        @if (item.PeriodTo == null)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @item.PeriodTo.Value.ToString("dd-MMMM-yyyy")
                        }
                    </td>
                    <td>
                        @if (item.ReportedOn == null)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @item.ReportedOn.Value.ToString("dd-MMMM-yyyy")
                        }
                    </td>
                    <td align="right" style="padding: 20px">
                        @String.Format("{0:n}", @item.RequestQty)
                    </td>
                    <td>
                        @item.RequestQtyUomName
                    </td>
                    <td>
                        @item.StatusGov
                    </td>
                    <td align="right" style="padding: 20px">
                        @String.Format("{0:n}", @item.QtyApproved) @item.RequestQtyUomName
                    </td>
                    <td>
                        @if (item.DecreeDate == null)
                        {
                            <text>-</text>
                        }
                        else
                        {
                            @item.DecreeDate.Value.ToString("dd-MMMM-yyyy")
                        }
                    </td>
                    <td>
                        @if (item.IsNppbkcImport)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @if (item.IsExternalSupplier)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @if (String.IsNullOrEmpty(item.ApprovedByPoaId))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span>@item.ApprovedByPoaId</span>
                        }
                    </td>
                    <td>
                        @if (String.IsNullOrEmpty(item.ApprovedByManagerId))
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span>@item.ApprovedByManagerId</span>
                        }
                    </td>
                </tr>
                        row = row + 1;
            }
        }
    </tbody>
</table>