@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1ItemViewModel

    <table id="prod-conv-table" class="table table-bordered table-striped js-options-table">
        <thead>
            <tr>
                <th style="display: none"></th>
                <th>Product Type Alias</th>
                <th>Product Type</th>
                <th>Converted Output</th>
                <th>Converted Uom</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var row in Model.ProductConversions)
                {
                    <tr>
                        <td style="display: none">@row.ProductCode</td>
                        <td>@row.ProductTypeAlias</td>
                        <td>@row.ProductType</td>
                        <td>@row.ConverterOutput</td>
                        <td>@row.ConverterUom</td>
                    </tr>
                }
            }
        </tbody>
    </table>


