@model Sampoerna.EMS.Website.Models.PBCK1.PBCK1ItemViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>PBCK-1 Form</h3>
            <label class="status">Draft</label>
            <div class="action-button">
                <button class="btn btn-blue">Save</button>
                <button class="btn btn-grey">Print Preview</button>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="home-tab"class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Information</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Print Out</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Upload Production Plan</a></li>
                    <li role="presentation" id="prod-plan-upload-tab"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload Production Converted</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Changes Log</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    @Html.Partial("_HomeCreate", Model)
                    @Html.Partial("_PrintOut")
                    @Html.Partial("_ProdPlanUpload", Model)
                    @Html.Partial("_ProdConvUpload", Model)
                    @Html.Partial("_ChangeLog")
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/UploadExcel.js"></script>
    <script type="text/javascript">
        
        var supplierData;
        $(document).ready(function() {
            $('#prod-conv-save').click(function() {
                var datarows = GetTableData($('#prod-conv-table'));
                var columnLength = $('#pbck1-prod-conv-item').find("thead tr:first th").length;
                $('#pbck1-prod-conv-item tbody').html('');
                for (var i = 0; i < datarows.length; i++) {
                    var data = '<tr>';
                    if (columnLength > 0) {
                        data += '<td style="display:none">' + datarows[i][0] + '</td>';
                        data += '<td>' + datarows[i][1] + '</td>';
                        data += '<td>' + datarows[i][2] + '</td>';
                        data += '<td>' + datarows[i][3] + '</td>';
                        data += '<td>' + datarows[i][4] + '</td>';
                    }
                    data += '</tr>';
                    console.log(data);
                    $('#pbck1-prod-conv-item tbody').append(data);
                }
                $('#prod-plan-upload-tab').removeClass('active');
                $('#home-tab').addClass('active');
                $('#home').addClass('active');
                $('#upload').removeClass('active');
            });
            $('#prod-plan-save').click(function() {
                GetTableData($('#prod-plan-table'));
            });

            $('#ProdConvSubmitBtn').click(function() {
                var fileName = $('[name="ProdConvExcelfile"]').val().trim();
                var pos = fileName.lastIndexOf('.');
                var extension = (pos <= 0) ? '' : fileName.substring(pos);
                if (extension != '.xlsx') {
                    alert('Please browse a correct excel file to upload');
                    return false;
                }
                $('#FormProdConv').ajaxSubmit(function(data) {
                    $('#ProdConvContent').html("");
                    $('#ProdConvContent').html(data);

                });
                return false;
            });
            $('#ProdPlanSubmitBtn').click(function() {
                var fileName = $('[name="ProdPlanExcelfile"]').val().trim();
                var pos = fileName.lastIndexOf('.');
                var extension = (pos <= 0) ? '' : fileName.substring(pos);
                if (extension != '.xlsx') {
                    alert('Please browse a correct excel file to upload');
                    return false;
                }
                $('#FormProdPlan').ajaxSubmit(function(data) {
                    $('#ProdPlanContent').html("");
                    $('#ProdPlanContent').html(data);

                });
                return false;
            });
            
            ajaxLoadSupplierPlant();
            
        });
        
        $("#Detail_SUPPLIER_PORT_ID").change(function () {
            if ($("#Detail_SUPPLIER_PORT_ID").length) {
                var plant_id = $(this).find("option:selected").val();
                console.log(plant_id);
                $('#Detail_SUPPLIER_PLANT').remove();
                if (plant_id == '') {
                    //
                    $('#supp-plant').html('<input class="form-control" id="Detail_SUPPLIER_PLANT" name="Detail.SUPPLIER_PLANT" type="text" />');
                } else {
                    loadSupplierPlant();
                }
            }

        });
        
        function ajaxLoadSupplierPlant() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSupplierPlant", "PBCK1")',
                success: function (data) {
                    supplierData = data;
                }
            });
        }
        
        function loadSupplierPlant() {
            var list = supplierData;
            if (list.length > 0) {
                var htmlSelect = '';
                htmlSelect += '<select class="form-control" id="Detail_SUPPLIER_PLANT" name="Detail.SUPPLIER_PLANT">';
                for (var i = 0; i < list.length; i++) {
                    htmlSelect += '<option value=' + list[i].Value + '>' + list[i].Text + '</option>';
                }
                htmlSelect += '</select>';
                $('#supp-plant').html(htmlSelect);
            }
        }

    </script>
}