@model Sampoerna.EMS.Website.Models.PBCK1ViewModel

@section styles
{
    <link rel="stylesheet" type="text/css" href="../../Scripts/DataTables-1.10.7/media/css/jquery.dataTables.css">
}

@section scripts {
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="../../Scripts/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#pbckTable').DataTable(
                {
                    "sDom": "Rlfrtip",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "No records found",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });
        });
    </script>
}

@{
    ViewBag.Title = "PBCK 1";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
            <div class="action-button new">
                <a href="@Url.Action("Create", "PBCK1")"><button class="btn btn-blue">NEW</button></a>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <form class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">NPPBKC ID</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>0703.1.3.204</option>
                                        <option>0703.1.3.205</option>
                                        <option>0703.1.3.206</option>
                                        <option>0703.1.3.207</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Type</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>New</option>
                                        <option>Additional</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Year</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>2015</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="last-form">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>001 - Creator 1</option>
                                            <option>002 - Creator 2</option>
                                            <option>003 - Creator 3</option>
                                            <option>004 - Creator 4</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>001 - Creator 1</option>
                                            <option>002 - Creator 2</option>
                                            <option>003 - Creator 3</option>
                                            <option>004 - Creator 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-blue full" onclick="location.href='@Html.Action("Index", "PBCK1", Model.SearchInput)'">FILTER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="contenttable" class="table-container">
                <table id="pbckTable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>No</th>
                            <th>Type</th>
                            <th>Year</th>
                            <th>NPPBKC ID</th>
                            <th>No</th>
                            <th>Proposed Ammount</th>
                            <th>Last Update</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rownum = 1;
                        }
                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td class="action">
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td>@rownum</td>
                                <td>@Html.DisplayFor(model => item.GOODTYPE.EXT_TYP_DESC)</td>
                                <td>
                                    @if (item.PERIOD_FROM != null)
                                    {
                                        @Html.DisplayFor(model => item.PERIOD_FROM.Value.Year)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.NPPBKC_ID)
                                </td>
                                <td>
                                    @if (item.NPPBKC != null)
                                    {
                                        @Html.DisplayFor(model => item.NPPBKC.NPPBKC_NO)
                                    }
                                </td>
                                <td>@Html.DisplayFor(model => item.REQUEST_QTY)</td>
                                <td>
                                    @if (item.APPROVED_USER != null)
                                    {
                                        @item.APPROVED_USER.USERNAME<br />@Html.DisplayFor(model => item.APPROVED_DATE)
                                    }
                                </td>
                                <td class="last">@Html.DisplayFor(model => item.STATUS_NAME)</td>
                            </tr>
                                    rownum++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>