@model Sampoerna.EMS.Website.Models.PBCK1ViewModel

@{
    ViewBag.Title = "PBCK 1";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
            <div class="action-button new">
                <a href="#"><button class="btn btn-blue">NEW</button></a>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <form class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">NPPBKC ID</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>0703.1.3.204</option>
                                        <option>0703.1.3.205</option>
                                        <option>0703.1.3.206</option>
                                        <option>0703.1.3.207</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Type</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>New</option>
                                        <option>Additional</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4">Year</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option>2015</option>
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="last-form">
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>001 - POA 1</option>
                                            <option>002 - POA 2</option>
                                            <option>003 - POA 3</option>
                                            <option>004 - POA 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>001 - Creator 1</option>
                                            <option>002 - Creator 2</option>
                                            <option>003 - Creator 3</option>
                                            <option>004 - Creator 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-blue full">FILTER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-container">
                <table class="table table-bordered table-striped js-options-table fix-header">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>No</th>
                            <th>Type</th>
                            <th>Year</th>
                            <th>NPPBKC ID</th>
                            <th>No</th>
                            <th>Proposed Ammount</th>
                            <th>Last Update</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rownum = 1;
                        }
                        @foreach (var item in Model.Details)
                        {
                            <tr>
                                <td class="action">
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                                <td>@rownum</td>
                                <td>@Html.DisplayFor(model => item.GOODTYPE.EXT_TYP_DESC)</td>
                                <td>
                                    @if (item.PERIOD_FROM != null)
                                    {
                                        @Html.DisplayFor(model => item.PERIOD_FROM.Value.Year)
                                    }
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.NPPBKC_ID)
                            </td>
                            <td>
                                @if (item.NPPBKC != null)
                                {
                                    @Html.DisplayFor(model => item.NPPBKC.NPPBKC_NO)
                                }
                            </td>
                            <td>@Html.DisplayFor(model => item.REQUEST_QTY)</td>
                                <td>
                                    @if (item.APPROVED_USER != null) {
                                        @item.APPROVED_USER.USERNAME<br />@Html.DisplayFor(model => item.APPROVED_DATE)
                                    }
                                </td>
                            <td>@Html.DisplayFor(model => item.STATUS)</td>
                        </tr>
                                rownum++;
                        }
                    </tbody>
                </table>
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
                <div class="goto">
                    <span>Go to Page</span> <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>
</div>