@using DocumentFormat.OpenXml.Office.CustomUI
@model Sampoerna.EMS.Website.Models.PBCK1.Pbck1MonitoringMutasiViewModel

@{
    ViewBag.Title = "Monitoring Detail";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-wrapper">
                <div class="form-excise" role="form">
                    <div class="row">
                        @using (Ajax.BeginForm("FilterMutasiIndex", "Pbck1",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "contenttable",
                            OnComplete = "ReloadDataTables"

                        }))
                        {
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5">PBCK-1 Number</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.pbck1Number, Model.pbck1NumberList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Period</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.yearFrom, Model.yearFromList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.yearTo, Model.yearToList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5">Supplier Plant</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.supPlant, Model.supPlantList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Supplier Company</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.supComp, Model.supCompList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Original NPPBKC</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.oriNppbkc, Model.oriNppbkcList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-5">Original KPPBC</label>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(model => model.oriKppbc, Model.oriKppbcList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">POA</label>
                                    <div id="divPoaList" class="col-md-8 ui-widget">
                                        <select id="SearchInput_POA" name="SearchInput.POA" class="form-control selectreset">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">Creator</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.creator, Model.creatorList, "All", new { @class = "form-control selectreset" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-md-offset-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="btnFILTER" type="submit" class="btn btn-blue full" value="FILTER">
                                    </div>
                                    <div class="col-md-6">
                                        <input id="btnExport" type="button" class="btn btn-blue full" value="EXPORT" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("ExportMonitoringMutasi", "Pbck1", FormMethod.Post, new { @id = "ExportMonitoringMutasi" }))
            {
                <div class="white-wrapper toggle-wrapper">
                    <div class="form-excise" role="form">
                        <div class="row">

                            <div class="last-form">
                                <div class="col-md-12">
                                    <div>
                                        @Html.Hidden("FilterPbck1Number")
                                        @Html.Hidden("FilterYearFrom")
                                        @Html.Hidden("FilterYearTo")
                                        @Html.Hidden("FilterSupPlant")
                                        @Html.Hidden("FilterSupComp")
                                        @Html.Hidden("FilterOriNppbkc")
                                        @Html.Hidden("FilterOriKppbc")
                                        @Html.Hidden("FilterPoa")
                                        @Html.Hidden("FilterCreator")

                                        <div class="row toggle">
                                            <div class="toggle-title">
                                                Toggle column <i class="fa fa-chevron-down"></i>
                                            </div>

                                            <div class="toggle-component">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="selecctall" /><b>Select All</b>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("Pbck1Number", new { id = "checkboxDefault1", @checked = "checked", @class = "checkbox checkexport", datacolumn = "1" })Pbck-1 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("TotalPbck1Quota", new { @id = "checkboxDefault2", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "2" })Total PBCK-1 Quota
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("QuotaRemaining", new { @id = "checkboxDefault3", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "3" })Remaining PBCK-1 Quota
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("Received", new { @id = "checkboxDefault4", @class = "checkbox checkexport", @datacolumn = "4" })Total Qty of CK-5
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("DocNumberCk5", new { @id = "checkboxDefault5", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "5" })Detail CK-5 Number
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("GrandTotalExciseable", new { @id = "checkboxDefault6", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "6" })Detail Qty of CK-5
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("UoM", new { @id = "checkboxDefault7", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "7" })Qty UOM
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("PoaCheck", new { @id = "checkboxDefault8", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "8" })POA Approved by
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("CreatorCheck", new { @id = "checkboxDefault9", @checked = "checked", @class = "checkbox checkexport", @datacolumn = "9" })Creator
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("SupPlantCheck", new { @id = "checkboxDefault10", @class = "checkbox checkexport", @datacolumn = "10" })Supplier Plant ID
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("SupCompCheck", new { @id = "checkboxDefault11", @class = "checkbox checkexport", @datacolumn = "11" })Supplier Company
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("OriNppbkcCheck", new { @id = "checkboxDefault12", @class = "checkbox checkexport", @datacolumn = "12" })Supplier NPPBKC
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBox("OriKppbcCheck", new { @id = "checkboxDefault13", @class = "checkbox checkexport", @datacolumn = "13" })Supplier KPPBC
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="table-container">
        @Html.Partial("_MutasiList")
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            setupDataTables();
            $('#MenuPbck1OpenDocument').removeClass('open');

            $('#MenuPbck1Report').addClass('open');

            $('#MenuPBCK1MonitoringMutasi').addClass('active');

            $('#selecctall').prop('checked', false);
            $('.checkexport').each(function () {
                this.checked = false;
            });
           
            $('#checkboxDefault1').prop('checked', true);
            $('#checkboxDefault2').prop('checked', true);
            $('#checkboxDefault3').prop('checked', true);
            $('#checkboxDefault5').prop('checked', true);
            $('#checkboxDefault6').prop('checked', true);
            $('#checkboxDefault7').prop('checked', true);
            $('#checkboxDefault8').prop('checked', true);
            $('#checkboxDefault9').prop('checked', true);
        });

        function setupDataTables() {
            // DataTable
            var table = null;
            if ($.fn.dataTable.isDataTable('#monitoringMutasi')) {
                table = $('#monitoringMutasi').DataTable();
                table.destroy();
            }

            table = $('#monitoringMutasi').DataTable(
                {
                    "order": [[0, 'asc'], [3, 'asc']],
                    "sDom": "Rlfrtip",
                    "language": {
                        "zeroRecords": "No records found",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });

            $('#btnFILTER').on('click', function (e) {
                $('#selecctall').prop('checked', false);
                $('.checkexport').each(function () {
                    this.checked = false;
                });
                $('#checkboxDefault1').prop('checked', true);
                $('#checkboxDefault2').prop('checked', true);
                $('#checkboxDefault3').prop('checked', true);
                $('#checkboxDefault5').prop('checked', true);
                $('#checkboxDefault6').prop('checked', true);
                $('#checkboxDefault7').prop('checked', true);
                $('#checkboxDefault8').prop('checked', true);
                $('#checkboxDefault9').prop('checked', true);
            });

            $('.checkexport').on('click', function (e) {
                //e.preventDefault();
                
                table.column(0).visible(true);

                // Get the column API object
                var column = table.column($(this).attr('datacolumn'));

                // Toggle the visibility
                column.visible(!column.visible());
                $('#monitoringMutasi').parents('div.dataTables_wrapper').first().show();
            });
            //for (var i = 1; i < 4; i++) {
            //    table.column(i).visible(false);

            //}
            table.column(4).visible(false);
            table.column(10).visible(false);
            table.column(11).visible(false);
            table.column(12).visible(false);
            table.column(13).visible(false);
          
            $('#selecctall').change(function () {
                if ($(this).is(':checked')) {
                    $('.checkexport').prop('checked', this.checked);
                    // Show a column
                    $('#monitoringMutasi').parents('div.dataTables_wrapper').first().show();
                    var table = $('#monitoringMutasi').DataTable();
                    for (var i = 0; i < 14; i++) {
                        table.column(i).visible(true);

                    }
                    table.column(0).visible(true);
                   // Show a column
                    $('#monitoringMutasi').parents('div.dataTables_wrapper').first().show();

                } else {
                    $('.checkexport').each(function () {
                        this.checked = false;

                    });
                    var table = $('#monitoringMutasi').DataTable();
                    for (var i = 0; i < 14; i++) {
                        table.column(i).visible(false);

                    }
                    $('#monitoringMutasi').parents('div.dataTables_wrapper').first().hide();
                }
            });
        }

        function ReloadDataTables() {
            setupDataTables();
        }

        $("#btnExport").click(function () {
            $('#FilterPbck1Number').val($('#pbck1Number').find("option:selected").val());
            $('#FilterYearFrom').val($('#yearFrom').find("option:selected").val());
            $('#FilterYearTo').val($('#yearTo').find("option:selected").val());
            $('#FilterSupPlant').val($('#supPlant').find("option:selected").val());
            $('#FilterSupComp').val($('#supComp').find("option:selected").val());
            $('#FilterOriNppbkc').val($('#oriNppbkc').find("option:selected").val());
            $('#FilterOriKppbc').val($('#oriKppbc').find("option:selected").val());
            $('#FilterPoa').val($('#poa').find("option:selected").val());
            $('#FilterCreator').val($('#creator').find("option:selected").val());
            $('#ExportMonitoringMutasi').submit();
        });

        $('#oriNppbkc').change(function () {
            var nbck = $(this).val();
            $('#SearchInput_POA option').remove();
            console.log(nbck);
            if (nbck == '' || $(this).val() == '') {
                $('#SearchInput_POA').append('<option value="">All</option>');
            } else {
                ajaxSelectNppbck('@Url.Action("PoaListPartial", "PBCK1")', { nppbkcId: nbck });
            }
        });

        function ajaxSelectNppbck(url, formData) {
            if (formData.nppbkcId) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (data) {
                        var list = data.SearchInput.PoaList;
                        $('#SearchInput_POA').append('<option value="">All</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#SearchInput_POA').append('<option value=' + list[i].Value + '>' + list[i].Text + '</option>');
                            }
                        }
                    }
                });
            }
        }

    </script>
}

